Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

04-10-2017
  Product/API/ApplicationCore/Factory/BaseModelFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/JobApplicationFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190408171011_Added JobApplication.Designer.cs
  Product/API/Migrations/20190408171011_Added JobApplication.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobApplication.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/JobApplicationApplicantViewDto.cs
  Product/UpDiddyLib/Dto/JobApplicationDto.cs
  Product/UpDiddyLib/Dto/JobApplicationRecruiterView.Dto.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Web configized url prefixes
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

hotfix: fix to jwt retrieval of session storage
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines.yml

Task 417 Complete
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

continued work on integration with butter. Stuck on if menu item is get path instead of menu item object
  Product/WebApp/ViewComponents/LayoutViewComponent.cs
  Product/WebApp/ViewComponents/LinkedInSyncViewComponent.cs
  Product/WebApp/ViewModels/Components/Layout/MenuItemViewModel.cs
  Product/WebApp/ViewModels/Components/Layout/MenuRootViewModel.cs
  Product/WebApp/Views/Shared/Components/Layout/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines.yml

deprecated fname/lname in dbo.Contact
  Product/API/ApplicationCore/Factory/CampaignPhaseFactory.cs
  Product/API/ApplicationCore/Factory/ContactActionFactory.cs
  Product/API/ApplicationCore/Factory/PartnerContactActionFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Services/WozInterface.cs
  Product/API/Controllers/ContactController.cs
  Product/API/Controllers/MarketingController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190410152451_xref model objects for partner contact.Designer.cs
  Product/API/Migrations/20190410152451_xref model objects for partner contact.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Campaign.cs
  Product/API/Models/CampaignContact.cs
  Product/API/Models/CampaignPartnerContact.cs
  Product/API/Models/PartnerContactAction.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/ContactDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/CampaignSignUpBandViewModel.cs
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Campaign/SignUp.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/Angular.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/AngularEightWeek.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/BarnettInternational.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/FriendsOfAllegis.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/React.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/ReactAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/ReactEightWeek.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

renamed layoutViewComponent to Public site component, and introduced cache and buttercms services in webapp
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
  Product/WebApp/Services/CacheService.cs
  Product/WebApp/Services/ICacheService.cs
  Product/WebApp/Startup.cs
  Product/WebApp/ViewComponents/LayoutViewComponent.cs
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
  Product/WebApp/ViewModels/Components/Layout/CareerCirclePublicSiteNavigationViewModel.cs
  Product/WebApp/ViewModels/Components/Layout/MenuItemViewModel.cs
  Product/WebApp/ViewModels/Components/Layout/MenuRootViewModel.cs
  Product/WebApp/Views/Shared/Components/Layout/Default.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines.yml

added authenticated part to nav
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
  Product/WebApp/ViewModels/Components/Layout/MenuItemViewModel.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Authenticated.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines.yml

added logic to handle only showing some links after authentication
  Product/WebApp/ViewModels/Components/Layout/MenuItemViewModel.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
Due: azure-pipelines.yml

removed unused controller
  Product/WebApp/Controllers/LayoutController.cs
Due: azure-pipelines.yml

hotfix: update msal nuget package
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines.yml

hotfix: added MsalUIRequiredException catch per sample
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines.yml

hotfix: made simple layout used for loggingin page
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/Views/_ViewStart.cshtml
Due: azure-pipelines.yml

hotfix: attempt to preserver httpcontext in scoped service
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

refactors and introduced error navigation
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
  Product/WebApp/Startup.cs
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
  Product/WebApp/ViewModels/Components/Layout/PublicSiteNavigationMenuItemViewModel.cs
  Product/WebApp/ViewModels/Components/Layout/PublicSiteNavigationViewModel.cs
  Product/WebApp/ViewModels/Components/Layout/RoleViewModel.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Authenticated.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Error.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/ErrorAuthenticated.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

added divider ability amoungst menu dropdown items
  Product/WebApp/ViewModels/Components/Layout/PublicSiteNavigationMenuItemViewModel.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Authenticated.cshtml
Due: azure-pipelines.yml

moved email functionality to ButterService
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
Due: azure-pipelines.yml

work in progress
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/ApplicationCore/Factory/LeadStatusFactory.cs
  Product/API/Controllers/LeadController.cs
Due: azure-pipelines-api.yml

04-11-2019
  Product/API/Controllers/LookupDataController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/JobPostingViewModel.cs
  Product/WebApp/Views/Talent/JobPosting.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: added redirect middleware, attempt for ios fix
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

hotfix: added additional guard for bearertoken add (fix for nuget)
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

hotfix: attempt to fix groups check #2
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

hotfix: removed duplicate DI of http context accessor
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

hotfix: force groups to be retrieved, not use session
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
Due: azure-pipelines.yml

hotfix: move authorization under mvc
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

hotfix: revert nuget pacakge for Microsoft.Identity.Client
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines.yml

hotfix: Microsoft.Identity.Client nuget package update to version 3 preview
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Models/MSALStaticCache.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines.yml

test: seeing if authorization is the problem
  Product/WebApp/Controllers/AdminController.cs
Due: azure-pipelines.yml

hotfix: context accessor test
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

updated msalsessionclass
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Models/MSALSessionCache.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
Due: azure-pipelines.yml

changed out caching objects
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Models/MSALSessionCache.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
Due: azure-pipelines.yml

added isAuthenticated check back
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

refactored lead intake endpoint
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/Controllers/LeadController.cs
  Product/API/Helpers/JsonResultWithStatus.cs
  Product/UpDiddyLib/Dto/Marketing/LeadRequestDto.cs
  Product/UpDiddyLib/Dto/Marketing/LeadResponseDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

04-15-2019
  Product/API/ApplicationCore/Factory/RecruiterCompanyFactory.cs
  Product/API/ApplicationCore/JobApplicationFactory.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190415170636_Added RecruiterCompany.Designer.cs
  Product/API/Migrations/20190415170636_Added RecruiterCompany.cs
  Product/API/Migrations/20190415171209_changed table names.Designer.cs
  Product/API/Migrations/20190415171209_changed table names.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/RecruiterCompany.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/RecruiterCompanyDto.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/JobPostingViewModel.cs
  Product/WebApp/Views/Talent/JobPosting.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

welcome email for lead gen channel
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190415182746_ppl campaign and phase.Designer.cs
  Product/API/Migrations/20190415182746_ppl campaign and phase.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Campaign/TargetedPages/Welcome.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

restyling error pages
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Forbidden.cshtml
  Product/WebApp/client/scss/_error.scss
Due: azure-pipelines.yml

task-481: Subscriber service added, resume and resume transfer method to service implemented
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Models/PartnerContact.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

hotfix: fixing session controller token endpoint
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines.yml

task-481: EF descending order added for file retrieval
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

modified style on simple pages, minor tweak to Barnett LP
  Product/WebApp/Views/Campaign/TargetedPages/BarnettInternational.cshtml
  Product/WebApp/Views/Home/404.cshtml
  Product/WebApp/Views/Home/LoggingIn.cshtml
  Product/WebApp/Views/Session/SignedOut.cshtml
  Product/WebApp/Views/Shared/Error.cshtml
  Product/WebApp/client/scss/_error.scss
Due: azure-pipelines.yml
