Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

Intermediate
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190318152500_Adding JobPostings.Designer.cs
  Product/API/Migrations/20190318152500_Adding JobPostings.cs
  Product/API/Migrations/20190318153313_Fixed JobPosting Company.Designer.cs
  Product/API/Migrations/20190318153313_Fixed JobPosting Company.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Company.cs
  Product/API/Models/EmploymentType.cs
  Product/API/Models/Industry.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/SecurityClearance.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/EmploymentTypeDto.cs
  Product/UpDiddyLib/Dto/IndustryDto.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/SecurityClearanceDto.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

Upped Default Polly Timeout
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-320: mom project page added, band updated for better responsiveness
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/Views/Home/ExpressSignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/campaign/_mom.scss
  Product/WebApp/wwwroot/images/handshake-hero.jpg
Due: azure-pipelines.yml

task-317: wozu landing page added
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Campaign/WozU.cshtml
  Product/WebApp/client/scss/_signup-flow.scss
  Product/WebApp/client/scss/campaign/_community.scss
  Product/WebApp/client/scss/components/_toast.scss
  Product/WebApp/wwwroot/images/networking-hero.jpg
Due: azure-pipelines.yml

hotfix: bug fix on community page
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

hotfix: refactor of talent search params to query params
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

PartnerReferrer table added
  Product/API/Migrations/20190319160955_partner_referrer_init.Designer.cs
  Product/API/Migrations/20190319160955_partner_referrer_init.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Partner.cs
  Product/API/Models/PartnerReferrerLookup.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

Updated View and SubscriberSourceDTO
  Product/API/Migrations/20190319165517_Updated SubscriberSources View.Designer.cs
  Product/API/Migrations/20190319165517_Updated SubscriberSources View.cs
  Product/UpDiddyLib/Dto/SubscriberSourceDto.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

Mapped fields in model, updated dropdown and updated view (spacing)
  Product/API/Models/v_SubscriberSources.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: adjustments to wozu and community landing pages
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Campaign/WozU.cshtml
Due: azure-pipelines.yml

hotfix: small adjustments in styling and content for landing pages
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/Views/Campaign/WozU.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/scss/campaign/_community.scss
  Product/WebApp/client/scss/components/authentication/_sign-up.scss
Due: azure-pipelines.yml

hotfix: styling adjustment for checkbox
  Product/WebApp/client/scss/components/authentication/_sign-up.scss
Due: azure-pipelines.yml

Job posting create endpoint complete
  Product/API/ApplicationCore/Factory/CompanyFactory.cs
  Product/API/ApplicationCore/Factory/EmploymentTypeFactory.cs
  Product/API/ApplicationCore/Factory/IndustryFactory.cs
  Product/API/ApplicationCore/Factory/SecurityClearanceFactory.cs
  Product/API/Controllers/JobController.cs
  Product/API/Migrations/20190320113329_Removed EmploymentType List.Designer.cs
  Product/API/Migrations/20190320113329_Removed EmploymentType List.cs
  Product/API/Migrations/20190320120451_Added basemodel stuff to industry and security clearance.Designer.cs
  Product/API/Migrations/20190320120451_Added basemodel stuff to industry and security clearance.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/EmploymentType.cs
  Product/API/Models/Industry.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/SecurityClearance.cs
  Product/UpDiddyLib/Dto/IndustryDto.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/SecurityClearanceDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: adjustments to mom project hero image positioning and /join click event
  Product/WebApp/ViewModels/Components/Buttons/ActionButtonViewModel.cs
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
  Product/WebApp/client/scss/campaign/_mom.scss
Due: azure-pipelines.yml

hotfix: migration adjustment (name of db was in raw sql)
  Product/API/Migrations/20190314182009_email_verification_initial.cs
Due: azure-pipelines-api.yml

03202019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Migrations/20190320132012_Changed property names to CloudTalent.Designer.cs
  Product/API/Migrations/20190320132012_Changed property names to CloudTalent.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPosting.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/JobPostingDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: search fulltext sql improvement via SQL
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190321012939_subscriber_search_fulltext_improvement.Designer.cs
  Product/API/Migrations/20190321012939_subscriber_search_fulltext_improvement.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfeature: admin widget reports
  Product/API/Controllers/ReportController.cs
  Product/API/Migrations/20190320190501_v_SubscriberSignUpPartnerReference_init.Designer.cs
  Product/API/Migrations/20190320190501_v_SubscriberSignUpPartnerReference_init.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_SubscriberSignUpPartnerReference.cs
  Product/UpDiddyLib/Dto/Reporting/BasicCountReportDto.cs
  Product/UpDiddyLib/Dto/Reporting/SubscriberReportDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: wrapped view create in exec
  Product/API/Migrations/20190320190501_v_SubscriberSignUpPartnerReference_init.cs
Due: azure-pipelines-api.yml

hotfix: ios fix for express sign up
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

hot fix for IOS
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines.yml

hotfix: homecontroller passes api error to javascript to properly present
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

changed mom project to have sign up component and added campaign expiration verbiage
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
Due: azure-pipelines.yml

hotfix: wozu typo fix
  Product/WebApp/Views/Campaign/WozU.cshtml
Due: azure-pipelines.yml

task-358: Smarter/better handling of Subscriber clicking verify link twice
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/EmailVerification/Conflict.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added subscriber tracking
  Product/API/Migrations/20190325185127_subscriber action tracking.Designer.cs
  Product/API/Migrations/20190325185127_subscriber action tracking.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberAction.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

normalized entity type
  Product/API/Migrations/20190325191351_nullable entity id on subscriber action.Designer.cs
  Product/API/Migrations/20190325191351_nullable entity id on subscriber action.cs
  Product/API/Migrations/20190325192102_normalized entity type.Designer.cs
  Product/API/Migrations/20190325192102_normalized entity type.cs
  Product/API/Migrations/20190325192300_entity type adjustments.Designer.cs
  Product/API/Migrations/20190325192300_entity type adjustments.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/EntityType.cs
  Product/API/Models/SubscriberAction.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

add entity types
  Product/API/Migrations/20190325193747_add entity types.Designer.cs
  Product/API/Migrations/20190325193747_add entity types.cs
Due: azure-pipelines-api.yml

Added offer table and added logourl to partners
  Product/API/Migrations/20190325201835_adding offer table and logourl to partner.Designer.cs
  Product/API/Migrations/20190325201835_adding offer table and logourl to partner.cs
  Product/API/Models/Offer.cs
  Product/API/Models/Partner.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/OfferDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added logo url to partner dto
  Product/UpDiddyLib/Dto/PartnerDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed csproj and added virtual link in offerDto to partnerDto
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/OfferDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed partnerDto virtual reference from offerDto
  Product/UpDiddyLib/Dto/OfferDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed pre-loading offer in offer table
  Product/API/Migrations/20190325201835_adding offer table and logourl to partner.cs
Due: azure-pipelines-api.yml

story-355: Express sign up triggers email validation
  Product/API/Controllers/SubscriberController.cs
  Product/API/Models/EmailVerification.cs
  Product/API/Models/Subscriber.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

03/25/2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190322114156_Added google indexing status info.Designer.cs
  Product/API/Migrations/20190322114156_Added google indexing status info.cs
  Product/API/Migrations/20190322122826_Made JobPosting Guid Required.Designer.cs
  Product/API/Migrations/20190322122826_Made JobPosting Guid Required.cs
  Product/API/Migrations/20190322145246_Building out Companies for Cloud Talent.Designer.cs
  Product/API/Migrations/20190322145246_Building out Companies for Cloud Talent.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Company.cs
  Product/API/Models/JobPosting.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/UpDiddyLib/UpDiddyLib.csproj
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-338: sign-up flow address and city width adjustment and style adjustments
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/client/js/modules/signup-flow.js
  Product/WebApp/client/scss/_signup-flow.scss
Due: azure-pipelines.yml

initial commit
  Product/API/Controllers/OffersController.cs
  Product/UpDiddyLib/Dto/OfferDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/OffersViewModel.cs
  Product/WebApp/Views/Home/Offers.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added language for disclaimer on offers
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Offers.cshtml
Due: azure-pipelines.yml

03-26-2019
  Product/API/ApplicationCore/Factory/EducationLevelFactory.cs
  Product/API/ApplicationCore/Factory/ExperienceLevelFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190326114527_Additional JobPosting properties.Designer.cs
  Product/API/Migrations/20190326114527_Additional JobPosting properties.cs
  Product/API/Migrations/20190326143509_Adding Experience Level.Designer.cs
  Product/API/Migrations/20190326143509_Adding Experience Level.cs
  Product/API/Migrations/20190326162400_Adding Education Level.Designer.cs
  Product/API/Migrations/20190326162400_Adding Education Level.cs
  Product/API/Migrations/20190326165205_Made navigation propertie virtual.Designer.cs
  Product/API/Migrations/20190326165205_Made navigation propertie virtual.cs
  Product/API/Migrations/20190326171107_Fixed Guid.Designer.cs
  Product/API/Migrations/20190326171107_Fixed Guid.cs
  Product/API/Migrations/20190326191122_Fixed experience level class typo.Designer.cs
  Product/API/Migrations/20190326191122_Fixed experience level class typo.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/EducationLevel.cs
  Product/API/Models/ExperienceLevel.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/EducationLevelDto.cs
  Product/UpDiddyLib/Dto/ExperienceLevelDto.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/SubscriberViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Talent/Subscriber.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml
