Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines-taccwebapp.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - task: UseNode@1
    inputs:
      version: 10.12.0
  - script: 'npm install gulp@^3.9.1
  
      '
    displayName: Install Gulp
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

addressed some comments
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Models/G2Test.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added exception handling to isolate production job application error - job app saved but no email is being received as a result
  Product/API/ApplicationCore/Services/JobApplicationService.cs
Due: azure-pipelines-api.yml

added additional logging to isolate the error and changed potential null object evaluation to avoid null ref error
  Product/API/ApplicationCore/Services/JobApplicationService.cs
Due: azure-pipelines-api.yml

changed logic and using bferree... as a default value when object is null to see if email is sent
  Product/API/ApplicationCore/Services/JobApplicationService.cs
Due: azure-pipelines-api.yml

changed default email address to webmaster
  Product/API/ApplicationCore/Services/JobApplicationService.cs
Due: azure-pipelines-api.yml

additional security around profile comments
  Product/API/ApplicationCore/Repository/CommentRepository.cs
  Product/API/Migrations/20200314173153_g2 security measures.Designer.cs
  Product/API/Migrations/20200314173153_g2 security measures.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

fix missing recruiter on scraped jobs, corrected job url and job seeker url in template
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

wip for permanent recruiter and job application fixes
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

fixed update in job data mining
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

pulling dev
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Migrations/20200316113749_Adding AzureIndexStatus Table Type.Designer.cs
  Product/API/Migrations/20200316113749_Adding AzureIndexStatus Table Type.cs
  Product/API/Migrations/20200316171405_updated [System_Update_AzureG2Status] SPROC.Designer.cs
  Product/API/Migrations/20200316171405_updated [System_Update_AzureG2Status] SPROC.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/AzureIndexDOCResults.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/AzureIndexResult.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

made job application email send logic fault-tolerant and easier to troubleshoot if something goes wrong
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Updated G2 Search to use CityGuid
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

work in progress for skills, comments, and wishlists
  Product/API/ApplicationCore/Interfaces/Business/G2/IWishlistService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IWishlistRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Repository/WishlistRepository.cs
  Product/API/ApplicationCore/Services/G2/WishlistService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200317191423_profile skill update.Designer.cs
  Product/API/Migrations/20200317191423_profile skill update.cs
  Product/API/Migrations/20200317200913_security constraints for profile wishlists.Designer.cs
  Product/API/Migrations/20200317200913_security constraints for profile wishlists.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

Update system_create_g2profiles
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200317173505_updated [System_Create_G2Profiles] .Designer.cs
  Product/API/Migrations/20200317173505_updated [System_Create_G2Profiles] .cs
Due: azure-pipelines-api.yml

removed todo comment
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
Due: azure-pipelines-api.yml

sproc updated
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/Migrations/20200318104322_updated [System_Create_G2Profiles] to init booleans to null.Designer.cs
  Product/API/Migrations/20200318104322_updated [System_Create_G2Profiles] to init booleans to null.cs
Due: azure-pipelines-api.yml

tags and profileTags
  Product/API/ApplicationCore/Interfaces/Business/ITagService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITagRepository.cs
  Product/API/ApplicationCore/Repository/TagRepository.cs
  Product/API/ApplicationCore/Services/TagService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Controllers/V2/TagController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200318150837_profile tags.Designer.cs
  Product/API/Migrations/20200318150837_profile tags.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileTagDto.cs
  Product/UpDiddyLib/Domain/Models/TagDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

cleaned up code naming conventions and org
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

removed bad comment
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
Due: azure-pipelines-api.yml

wip for fixing recruiter and company relationship
  Product/API/ApplicationCore/Repository/RecruiterRepository.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/Company.cs
  Product/API/Models/Recruiter.cs
  Product/UpDiddyLib/Domain/Models/RecruiterInfoDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

missed a few files
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
Due: azure-pipelines-api.yml

removed superflous comment
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

completed changes and testing for recruiter:company relationship change
  Product/API/ApplicationCore/Interfaces/Repository/IRecruiterRepository.cs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Repository/RecruiterRepository.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

sql migrations for recruiter company relationship change
  Product/API/Migrations/20200319192212_recruiter company relationship updates.Designer.cs
  Product/API/Migrations/20200319192212_recruiter company relationship updates.cs
Due: azure-pipelines-api.yml

changed relationship between profile and employment type, corrected schema for G2 stored procedures
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200320183353_employment type and profile.Designer.cs
  Product/API/Migrations/20200320183353_employment type and profile.cs
  Product/API/Migrations/20200320194628_view and sproc changes for employment type and profile.Designer.cs
  Product/API/Migrations/20200320194628_view and sproc changes for employment type and profile.cs
  Product/API/Models/G2/Profile.cs
  Product/API/Models/G2/ProfileEmploymentType.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

adjustments for Azure Search index
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Changed Trigger to staging branch
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-api-uat.yml
Due: none

added uat pipeline
  azure-pipelines-api-uat.yml
Due: none

pushing update test
  text.txt
Due: none

work in progress for new location endpoints (country, state, city, and postal)
  Product/API/ApplicationCore/Interfaces/Business/ICityService.cs
  Product/API/ApplicationCore/Interfaces/Business/IPostalService.cs
  Product/API/ApplicationCore/Interfaces/Business/IStateService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICityRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPostalRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStateRepository.cs
  Product/API/ApplicationCore/Repository/CityRepository.cs
  Product/API/ApplicationCore/Repository/PostalRepository.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Services/CityService.cs
  Product/API/ApplicationCore/Services/PostalService.cs
  Product/API/ApplicationCore/Services/StateService.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/LocationsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/CityDetailDto.cs
  Product/UpDiddyLib/Domain/Models/PostalDetailDto.cs
  Product/UpDiddyLib/Domain/Models/StateDetailDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

pipeline work
  Product/API/appsettings.Dev.json
  Product/API/appsettings.DevOpsTest.json
  Product/API/appsettings.Mock.json
  Product/API/appsettings.UAT.json
  azure-pipelines-api-dev.yml
  azure-pipelines-api-devopstest.yml
  azure-pipelines-api-mock.yml
  azure-pipelines-api.staging.yml
Due: azure-pipelines-api.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
