Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Updated azure-pipelines-api.yml - reverted and keeping sdk 2.2.x to fix dotnet ef build error when azure devops went to dotnet core 3.x
  azure-pipelines-api.yml
Due: none

fixing pipeline to not use dotnetcore 3 due to breaking dotnet ef command
  azure-pipelines-api.yml
Due: none

committing progress
  Product/API/ApplicationCore/Interfaces/Business/IFileDownloadTrackerService.cs
  Product/API/ApplicationCore/Services/FileDownloadTrackerService.cs
  Product/API/Controllers/FileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Dto/BasicResponseDto.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/FileController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/Views/File/Error.cshtml
  Product/WebApp/Views/File/Index.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added secondary topic to course
  Product/API/Controllers/CourseController.cs
  Product/API/Migrations/20191010162959_added secondary topic to course.Designer.cs
  Product/API/Migrations/20191010162959_added secondary topic to course.cs
  Product/API/Models/Course.cs
  Product/UpDiddyLib/Dto/CourseDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/FileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/File/Error.cshtml
  Product/WebApp/Views/File/Index.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/client/scss/_file.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

consolidating site authentication pages
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Startup.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AccountController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ViewModels/SignInViewModel.cs
  Product/WebApp/Views/Account/Login.cshtml
  Product/WebApp/Views/Session/AccessDenied.cshtml
  Product/WebApp/Views/Session/Claims.cshtml
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Session/SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Bug fixes related to existing users
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

done
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Services/CacheService.cs
  Product/WebApp/ViewModels/ButterCMS/TopicsLandingPageViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/TrainingTopicViewModel.cs
  Product/WebApp/Views/Topics/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Removed superfluous comments
  Product/WebApp/Services/CacheService.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

cody tidy
  Product/WebApp/ViewModels/ButterCMS/TrainingTopicViewModel.cs
  Product/WebApp/Views/Topics/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/Controllers/TraitifyController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/client/js/modules/traitify.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Adding zerobounce to creating new accounts
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

adding zerobounce to creating user
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

checking in progress
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/client/js/modules/traitify.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

working on migration workflow from adb2c to auth0
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/Identity/Communication/GetUserResponse.cs
  Product/API/ApplicationCore/Services/Identity/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Controllers/Resources/UserCredentialsResource.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/User/CreateUserDto.cs
  Product/UpDiddyLib/Dto/User/UserDto.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Session/SignIn.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

migration partially working
  Product/API/ApplicationCore/Interfaces/IAPIGateway.cs
  Product/API/ApplicationCore/Services/AzureAPIManagement/ManagementAPI.cs
  Product/API/ApplicationCore/Services/Identity/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/Controllers/IdentityController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

user migration functional; requires additional testing
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Startup.cs
  Product/WebApp/Authorization/HasScopeHandler.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Session/AccessDenied.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed dead code
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

returning badrequest to client and changing download wait time to 3000ms
  Product/WebApp/Controllers/FileController.cs
  Product/WebApp/Views/File/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

merge with dev
  Product/API/ApplicationCore/Interfaces/Business/IFileDownloadTrackerService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Services/FileDownloadTrackerService.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/FileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20191015154040_Adding GroupId to FileDownloadTracker table.Designer.cs
  Product/API/Migrations/20191015154040_Adding GroupId to FileDownloadTracker table.cs
  Product/API/Models/FileDownloadTracker.cs
  Product/UpDiddyLib/Dto/FileDownloadTrackerDto.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/Controllers/FileController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Controllers/MarketingController.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Controllers/UserController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Implementing Jim's changes for subscriberSource and referralCode for existing user workflow
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/CampaignController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

sync email verification with auth0 rule
  Product/API/ApplicationCore/Services/Identity/User.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/Authorization/HasScopeHandler.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed auth0 email verification from front-end
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/WebApp/Views/Traitify/Partials/SignUp-Confirm.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

style and troubleshooting cookie policy
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Session/SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/WebApp/Controllers/TraitifyController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

made sort order optional
  Product/WebApp/ViewModels/ButterCMS/TrainingTopicViewModel.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/CampaignController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

signup workflow functional (needs more testing and cleanup of unused code)
  Product/API/ApplicationCore/Services/Identity/User.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/User/CreateUserDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Campaign/SignUp.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/Angular.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/AngularEightWeek.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/BarnettInternational.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/FriendsOfAllegis.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/React.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/ReactAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/ReactEightWeek.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/Welcome.cshtml
  Product/WebApp/Views/CampaignLandingPage.cshtml
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

bug 1348 - Removing zerobounce from signup
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

Update azure-pipelines-api.production.yml for Azure Pipelines - revert to .net core 2.2
  azure-pipelines-api.production.yml
Due: none

Update azure-pipelines-api.production.yml for Azure Pipelines - see API update - reverting to .netcore 2.2
  azure-pipelines-api.production.yml
Due: none

removing legacy code, implementing roles in auth0, updating email verification logic
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Services/BraintreeService.cs
  Product/API/ApplicationCore/Services/Identity/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/CampaignsController.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Controllers/NotificationsController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/PartnersController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/RecruiterDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Campaign/Barnett.cshtml
  Product/WebApp/Views/Campaign/ClinicalResearchFastrack.cshtml
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Campaign/ItProTv.cshtml
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/Views/Campaign/SignUp.cshtml
  Product/WebApp/Views/Campaign/WozU.cshtml
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/js/core/components/authentication/_signin.js
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Updated _JobPosting.cshtml - removed change to revert URL form for job application button
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Repository/ITraitifyCourseTopicBlendMappingRepository.cs
  Product/API/ApplicationCore/Repository/TraitifyCourseTopicBlendMappingRepository.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20191018193301_TraitifyCourseTopicBlendMapping.Designer.cs
  Product/API/Migrations/20191018193301_TraitifyCourseTopicBlendMapping.cs
  Product/API/Models/TraitifyCourseTopicBlendMapping.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/WebApp/Controllers/TraitifyController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/TraitifyController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/client/js/modules/traitify.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
