Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

switch to enroll hotfix
  Product/API/ApplicationCore/Interfaces/Business/INotificationService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberNotificationService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/ApplicationCore/Services/SubscriberNotificationService.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

code complete
  Product/API/ApplicationCore/Interfaces/Business/ICourseEnrollmentService.cs
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20191223172656_update System_Get_SubscriberCourses.Designer.cs
  Product/API/Migrations/20191223172656_update System_Get_SubscriberCourses.cs
  Product/UpDiddyLib/Domain/Models/SubscriberCourseDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

work in progress on automated azure api testing
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/TestFiles/AzureApi-OpenApi.json
Due: none

code complete:
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/NotificationsController.cs
Due: azure-pipelines-api.yml

code complete
  Product/API/Controllers/V2/CoursesController.cs
Due: azure-pipelines-api.yml

work in progress for automated testing of azure api endpoints
  Product/API.Tests/AzureAPITests.cs
Due: none

code complete
  Product/API/ApplicationCore/Interfaces/Business/INotificationService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberNotificationService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/ApplicationCore/Services/SubscriberNotificationService.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/API/Migrations/20191226122542_adding [System_Get_Notifications] sproc.Designer.cs
  Product/API/Migrations/20191226122542_adding [System_Get_Notifications] sproc.cs
  Product/API/Migrations/20191226170554_adding [System_Get_SubscriberNotifications] sproc.Designer.cs
  Product/API/Migrations/20191226170554_adding [System_Get_SubscriberNotifications] sproc.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

checking in ability to update HasOnboarded property
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/UpDiddyLib/Domain/Models/SubscribeProfileBasicDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

work in progress for automated azure api testing
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/DemoTests.cs
  Product/API.Tests/Helpers/ConfigurationHelper.cs
  Product/API.Tests/Helpers/MemberDataSerializer.cs
  Product/API.Tests/Helpers/Utilities.cs
  Product/API.Tests/TestFiles/AzureApi-OpenApi.json
  Product/API.Tests/appsettings.json
Due: none

Fix for profile update endpoint so missing properties does not null out entity
  Product/API/ApplicationCore/Services/ProfileService.cs
Due: azure-pipelines-api.yml

Course search enchancments code complete
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/UpDiddyLib/Domain/Models/CourseSearchResult.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Subscriber view tracking bug fix
  Product/API/ApplicationCore/Services/TalentService.cs
Due: azure-pipelines-api.yml

fix for subscriber profile update endpoint
  Product/API/ApplicationCore/Services/ProfileService.cs
Due: azure-pipelines-api.yml

fix for job favorite showing bad company logo url
  Product/API/ApplicationCore/Repository/JobPostingFavoriteRepository.cs
Due: azure-pipelines-api.yml

Added Vendor Course Url
  Product/API/Migrations/20191227212719_adding vendor course url.Designer.cs
  Product/API/Migrations/20191227212719_adding vendor course url.cs
  Product/UpDiddyLib/Domain/Models/SubscriberCourseDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

additional work in progress towards data-driven unit tests
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/appsettings.json
Due: none

fix complete
  Product/API/ApplicationCore/Services/SubscriberNotificationService.cs
Due: azure-pipelines-api.yml

Modified guard for creating filter expression
  Product/API/ApplicationCore/Services/CourseService.cs
Due: azure-pipelines-api.yml

checking in new property 'ExternalUrl' for courses
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20191230145239_Course_ExternalUrl_column.Designer.cs
  Product/API/Migrations/20191230145239_Course_ExternalUrl_column.cs
  Product/API/Migrations/20191230145410_Course_ExternalUrl_sproc.Designer.cs
  Product/API/Migrations/20191230145410_Course_ExternalUrl_sproc.cs
  Product/API/Models/Course.cs
  Product/UpDiddyLib/Domain/Models/CourseDetailDto.cs
  Product/UpDiddyLib/Domain/Models/RelatedCourseDto.cs
  Product/UpDiddyLib/Dto/CourseDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Fix for SendReferralEmail method not sending email
  Product/API/ApplicationCore/Services/CourseService.cs
Due: azure-pipelines-api.yml

checking in fix for migration related to course externalUrl property
  Product/API/Migrations/20191230145410_Course_ExternalUrl_sproc.cs
Due: azure-pipelines-api.yml

Rerouted profile courses to be consistent
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

Checking in endpoint for check job application and fix for subscriber tracking
  Product/API/ApplicationCore/Factory/SubscriberActionFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobApplicationService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobApplicationRepository.cs
  Product/API/ApplicationCore/Repository/JobApplicationRepository.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

Additional logging around signup and signin
  Product/API/Controllers/V1/IdentityController.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

additional logging for signin/signup
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

checking in endpoint to get all companies
  Product/API/Controllers/V2/CompaniesController.cs
Due: azure-pipelines-api.yml

fix for system_get_coursesbyjob externalUrl property missing and refer a friend - course not working
  Product/API/Migrations/20191231201643_System_Get_CoursesByJob_ExternalUrl.Designer.cs
  Product/API/Migrations/20191231201643_System_Get_CoursesByJob_ExternalUrl.cs
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

finished
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/ButterController.cs
Due: azure-pipelines-api.yml

checking in educational degree types CRUD and changes to education histories
  Product/API/ApplicationCore/Interfaces/Business/IEducationalDegreeTypeService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEducationalDegreeTypeRepository.cs
  Product/API/ApplicationCore/Repository/EducationalDegreeTypeRepository.cs
  Product/API/ApplicationCore/Services/EducationalDegreeTypeService.cs
  Product/API/ApplicationCore/Services/SubscriberEducationalHistoryService.cs
  Product/API/Controllers/V2/EducationalDegreeTypesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/EducationalDegreeTypeDto.cs
  Product/UpDiddyLib/Dto/SubscriberEducationHistoryDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

more logging
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

fixed logic bug
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

Additional logging for course checkout
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
  Product/API/Workflow/BraintreePaymentFlow.cs
Due: azure-pipelines-api.yml

fixed logging statements
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
Due: azure-pipelines-api.yml

checkout receipt fix
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
Due: azure-pipelines-api.yml

checking in changes to new/existing user campaign sign up
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

checking in condition for gated download
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

Fixed enrollments without name bug
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
Due: azure-pipelines-api.yml

Conversion to admin only app
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/Controllers/HireTalentController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Controllers/MarketingController.cs
  Product/WebApp/Controllers/MobileController.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Controllers/UserController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/Views/_ViewStart.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

A little spit and polish
  Product/WebApp/Views/Session/ResetPassword.cshtml
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

TA CC Webapp pipeline
  azure-pipelines.production.yml
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
