Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

hotfix: null check added before setting session string for campaign offer
  Product/WebApp/Controllers/BaseController.cs
Due: azure-pipelines.yml

logical delete check added to eligible campaign logic
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
Due: azure-pipelines-api.yml

hotfix: added contact action logging when signing up
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

undoing last change
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
Due: azure-pipelines-api.yml

hotfix: updated to not include soft deleted campaigns
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

hotfix: more checks and error message improved
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

adding javascript to allow enter to submit signup form
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines.yml

bug fix for woz course url missing (caching)
  Product/API/ApplicationCore/Factory/CourseFactory.cs
Due: azure-pipelines-api.yml

bug fix for null ref on subscriber (eligible campaigns)
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-220: refactored resume files to use guids instead
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190207025403_subscriber_file_guid_prop_added.Designer.cs
  Product/API/Migrations/20190207025403_subscriber_file_guid_prop_added.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberFile.cs
  Product/UpDiddyLib/Dto/SubscriberFileDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug fix for profile update (modal not being dismissed after a save)
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines.yml

removed package-lock.json
  package-lock.json
Due: none

refactor: put and delete refactored to async for api service
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewComponent/LinkedInSyncViewComponent.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Task219 and Task224 Complete
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/Views/_ViewStart.cshtml
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

moved stats band above the fold for campaign landing pages
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/AngularAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
Due: azure-pipelines.yml

bug-220: rename id and guid to follow current pattern
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines.yml

bug-220: rename id and guid to follow current pattern
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190208172719_subscriberFile_change_column_names.Designer.cs
  Product/API/Migrations/20190208172719_subscriberFile_change_column_names.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberFile.cs
  Product/UpDiddyLib/Dto/SubscriberFileDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-220: fix migration name for guid in subscriber file table
  Product/API/Migrations/20190208172719_subscriberFile_change_column_names.cs
Due: azure-pipelines-api.yml

added contact controller to api to return contact to webapp, and return 404 if contact doesn't exist
  Product/API/Controllers/ContactController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-213: fix issue with spaces in file name when donwloading resume
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

added spinner to landing page for UX feedback that user sign-up in AD is processing
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines.yml

wip for bug fixes 207, 217, 218
  Product/API/Controllers/CourseController.cs
  Product/WebApp/Views/Course/Checkout.cshtml
  Product/WebApp/client/js/core/site.js
  Product/WebApp/client/js/modules/profile.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added campaign settings to appsettings.json
  Product/WebApp/appsettings.json
Due: azure-pipelines.yml

hotfix: updated appsettings.example.json with valid values for crypto key
  Product/API/appsettings.example.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

added legal text to bottom of landing pages
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/AngularAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
Due: azure-pipelines.yml

hotfix: update to dbcontext
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

task-235: updated language for terms and conditions for rebates
  Product/API/Migrations/20190211171822_terms_lang_update.Designer.cs
  Product/API/Migrations/20190211171822_terms_lang_update.cs
Due: azure-pipelines-api.yml

task-235: fix wrong copy pasta
  Product/API/Migrations/20190211171822_terms_lang_update.cs
Due: azure-pipelines-api.yml

task-236: campaign offers alert now based on Campaign.Description only
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
Due: azure-pipelines-api.yml

added email validation for sign up
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines.yml

completed task 207, 217, 218, 239
  Product/API/ApplicationCore/Services/WozInterface.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190211180441_remove unique index on Enrollment FK to campaign course variant.Designer.cs
  Product/API/Migrations/20190211180441_remove unique index on Enrollment FK to campaign course variant.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Views/Course/Checkout.cshtml
  Product/WebApp/client/js/core/site.js
  Product/WebApp/client/scss/_course-checkout.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

quick fix for js validation of sign-up form
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines.yml

added new tracking route
  Product/API/Controllers/TrackingController.cs
Due: azure-pipelines-api.yml

added language changes to landing pages and added password validation
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/AngularAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/client/js/core/components/buttons/_action.js
  Product/WebApp/client/scss/components/buttons/_action.scss
Due: azure-pipelines.yml

updated sign up language on sign up component
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/AngularAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
Due: azure-pipelines.yml

added rebate TOS to course checkout
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/ViewModels/CourseViewModel.cs
  Product/WebApp/Views/Course/Checkout.cshtml
  Product/WebApp/client/js/core/site.js
  Product/WebApp/client/scss/_course-checkout.scss
Due: azure-pipelines.yml

Task243 Complete
  Product/API/ApplicationCore/Services/WozInterface.cs
  Product/UpDiddyLib/Dto/WozSectionDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

fix for null ref on course checkout on first login
  Product/UpDiddyLib/Dto/SubscriberDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: added missing div closing tags to checkout page
  Product/WebApp/Views/Course/Checkout.cshtml
Due: azure-pipelines.yml

bug-250: adjusted pages that alert shows on
  Product/WebApp/appsettings.json
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
