Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

Updated Dashboard.cshtml increased pixel height
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated 20190904160410_bill views hotfixes.cs - fixed spacing in migration file
  Product/API/Migrations/20190904160410_bill views hotfixes.cs
Due: azure-pipelines-api.yml

Updated Dashboard.cshtml -tweaked height of first two reports
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated Dashboard.cshtml
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

finished braintree service
  Product/API/ApplicationCore/Interfaces/IBraintreeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
Due: azure-pipelines-api.yml

working flow
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/ViewModels/ServiceCheckoutViewModel.cs
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Added instrumentation
  Product/API/ApplicationCore/Repository/ServiceOfferingRepository.cs
  Product/API/ApplicationCore/Services/BraintreeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Controllers/ServiceOfferingOrderController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

validation work for checkout
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

changed ranks to longs
  Product/UpDiddyLib/Dto/SubscriberSourceDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/API/Migrations/20190904151636_Traitify.Designer.cs
  Product/API/Migrations/20190904151636_Traitify.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Traitify.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/client/js/modules/traitify.js
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/Migrations/20190904151636_Traitify.Designer.cs
  Product/API/Migrations/20190904151636_Traitify.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

Updated appsettings.Production.json
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

Updated appsettings.Staging.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

added service offering promo validation endpoint
  Product/API/Controllers/PromoCodeController.cs
Due: azure-pipelines-api.yml

additional work
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/ViewModels/ButterCMS/PackageServiceViewModel.cs
  Product/WebApp/ViewModels/ServiceCheckoutViewModel.cs
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

added jims endpoint to action
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

added promo code messages to ui
  Product/WebApp/client/js/core/package-checkout.js
  Product/WebApp/client/scss/_services-checkout.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed promo price calc bug
  Product/API/Controllers/PromoCodeController.cs
Due: azure-pipelines-api.yml

Fixed CreateOrder return
  Product/API/Controllers/ServiceOfferingOrderController.cs
Due: azure-pipelines-api.yml

changed service endpoint in apiupdiddy
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

added email receipt to career services
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Migrations/20190905201358_Made PromoCodeId column nullable.Designer.cs
  Product/API/Migrations/20190905201358_Made PromoCodeId column nullable.cs
  Product/API/Models/ServiceOfferingOrder.cs
  Product/API/appsettings.json
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
  Product/WebApp/client/scss/_services-checkout.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

additional front end updates
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/Views/Services/Details.cshtml
  Product/WebApp/Views/Services/Index.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

promo code error check
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

added loading overlay on checkout
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

09052019
  Product/API/ApplicationCore/Interfaces/Business/IPromoCodeService.cs
  Product/API/ApplicationCore/Interfaces/Business/IServiceOfferingPromoCodeRedemptionService.cs
  Product/API/ApplicationCore/Services/PromoCodeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingPromoCodeRedemptionService.cs
  Product/API/Controllers/PromoCodeController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

added order summary on confirmation page
  Product/API/ApplicationCore/Interfaces/Business/IServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Controllers/ServiceOfferingOrderController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/ViewModels/PackageConfirmationViewModel.cs
  Product/WebApp/Views/Services/Confirmation.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in updates to traitify call out and assessment instructions
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/client/js/modules/traitify.js
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/wwwroot/images/hero_bannerbg_top.jpg
Due: azure-pipelines-1.yml, azure-pipelines.yml

intermediate
  Product/API/ApplicationCore/Interfaces/Business/IServiceOfferingPromoCodeRedemptionService.cs
  Product/API/ApplicationCore/Services/PromoCodeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingPromoCodeRedemptionService.cs
  Product/API/Controllers/PromoCodeController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

code cleanup
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Models/Traitify.cs
  Product/UpDiddyLib/Dto/TraitifyAssesmentDto.cs
  Product/UpDiddyLib/Dto/TraitifySlideDto.cs
  Product/WebApp/Api/IApi.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fix card heights
  Product/WebApp/client/scss/_services.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

for ian
  Product/API/ApplicationCore/Services/PromoCodeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
Due: azure-pipelines-api.yml

enhanced to return service offering price on bad promo
  Product/API/ApplicationCore/Services/BraintreeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Controllers/PromoCodeController.cs
Due: azure-pipelines-api.yml

promo code display logic fix
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

adding length to route param and removing mono crash blob
  Product/API/Controllers/TraitifyController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/mono_crash.mem.62814.1.blob
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

pass to ethan
  Product/API/ApplicationCore/Interfaces/IBraintreeService.cs
  Product/API/ApplicationCore/Services/BraintreeService.cs
  Product/API/ApplicationCore/Services/PromoCodeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Migrations/20190906140859_adding authorization info.Designer.cs
  Product/API/Migrations/20190906140859_adding authorization info.cs
  Product/API/Models/ServiceOfferingOrder.cs
  Product/UpDiddyLib/Dto/ServiceOfferingOrderDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

brent comments
  Product/API/ApplicationCore/Interfaces/Business/IPromoCodeService.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingItemRepository.cs
  Product/API/ApplicationCore/Services/PromoCodeService.cs
  Product/API/Controllers/PromoCodeController.cs
Due: azure-pipelines-api.yml

wtf
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITraitifyRepository.cs
  Product/API/ApplicationCore/Repository/TraitifyRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Migrations/20190905134221_Traitify.Designer.cs
  Product/API/Migrations/20190905134221_Traitify.cs
  Product/API/Models/Traitify.cs
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/js/modules/traitify.js
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_topics.scss
  Product/WebApp/client/scss/_traitify.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/wwwroot/images/hero_bannerbg_top.jpg
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Logged exception
  Product/API/ApplicationCore/Services/BraintreeService.cs
Due: azure-pipelines-api.yml
