Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

testing and fixing bugs for multiple passes for a single job site
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

minor refactoring
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Pass to Bill
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/Controllers/JobController.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/JobSiteScrapeStatisticViewModel.cs
  Product/WebApp/Views/Admin/JobScrapeStats.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-585: Partner Contact Report added to dashboard
  Product/API/Controllers/ReportController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/Reporting/ActionKeyDto.cs
  Product/UpDiddyLib/Dto/Reporting/PCAReportDto.cs
  Product/UpDiddyLib/Dto/Reporting/PartnerStatsDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/reports/PCATable.js
  Product/WebApp/client/scss/_admin.scss
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

Api Changes for task/577
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICompanyRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CompanyRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/Reporting/JobApplicationCountDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-585: changed table report was based on
  Product/API/Controllers/ReportController.cs
  Product/UpDiddyLib/Dto/Reporting/ActionReportDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/reports/PATable.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added staging and dev read tokens
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

Fixed Bad Request issue for Task/577
  Product/API/Controllers/ReportController.cs
Due: azure-pipelines-api.yml

Fixed comments on PR-1 for task/577
  Product/API/Controllers/ReportController.cs
Due: azure-pipelines-api.yml

Changes to job comparables formatting per J Foley.
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines.yml

implemented job data mining for Aerotek
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/Helpers.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

initial work on OG meta stuff
  Product/WebApp/ViewComponents/OpenGraphViewComponent.cs
  Product/WebApp/ViewModels/Components/OpenGraph/OpenGraphViewModel.cs
  Product/WebApp/Views/Shared/Components/OpenGraph/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/appsettings.json
Due: azure-pipelines.yml

merged code changes to JobFactory, tested
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

testing and bug fixes
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Task555
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

Task555 done
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

bug fix for deleted jobs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added OG view component
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
  Product/WebApp/ViewComponents/OpenGraphViewComponent.cs
  Product/WebApp/ViewModels/ButterCMS/ButterCMSBaseViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/TopicsLandingPageViewModel.cs
  Product/WebApp/ViewModels/Components/OpenGraph/OpenGraphViewModel.cs
  Product/WebApp/Views/Shared/Components/OpenGraph/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/appsettings.json
Due: azure-pipelines.yml

modified async method to use await/ToListAsync
  Product/API/ApplicationCore/Repository/JobSiteScrapeStatisticRepository.cs
Due: azure-pipelines-api.yml

moving appsetting to root appsettings file
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/appsettings.json
Due: azure-pipelines.yml

bug fixes, not running process in dev/staging
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/Helpers.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

renaming json property
  Product/WebApp/ViewComponents/OpenGraphViewComponent.cs
  Product/WebApp/ViewModels/ButterCMS/ButterCMSBaseViewModel.cs
  Product/WebApp/Views/Shared/Components/OpenGraph/Default.cshtml
Due: azure-pipelines.yml

slight fix for uppercase pages
  Product/WebApp/ViewComponents/OpenGraphViewComponent.cs
Due: azure-pipelines.yml

enabling job data mining in staging
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

dev only flag for job data mining
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

changing job data mining to hourly
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

undid previous bug fixes, added index to jobposting, changed log level to information
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/Helpers.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190514130428_index on job posting.Designer.cs
  Product/API/Migrations/20190514130428_index on job posting.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

changed data mining hangfire to be hourly interval
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

changed navigation cache clearing endpoint to use webhooks with basic authentication header
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

fixed bug with update job posting (relies on guid in dto rather than guid param), adjusted logic in aerotek and teksystems process for determining which actions to take for which job pages
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/Helpers.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added authorization handler to view hangfire dashboard in staging
  Product/API/Authorization/HangfireAuthorizationFilter.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

task-577: refactor to use odata and point to appropriate table
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobApplicationRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/JobApplicationRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/reports/JobAppReportTable.js
  Product/WebApp/client/react/components/reports/SATable.js
  Product/WebApp/client/scss/_admin.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

added authentication token to hangfire access
  Product/API/Authorization/HangfireAuthorizationFilter.cs
  Product/API/Controllers/HangfireController.cs
  Product/API/Startup.cs
  Product/API/Views/Hangfire/Unlock.cshtml
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

Implemented active jobs report.
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

adjusted environmental logic
  Product/API/Authorization/HangfireAuthorizationFilter.cs
Due: azure-pipelines-api.yml

removed hangfire key from dev and example appsettings as it's not needed
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

Add dto fdor active jobs report.
  Product/UpDiddyLib/Dto/Reporting/JobsPostingCountReportDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: production appsetting fix
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

adding additional files left out of previous commit
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

updated navigation cache clear endpoint
  Product/WebApp/Controllers/ButterCMSController.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
