Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

Fix for career path endpoints so it uses the tag system
  Product/API/ApplicationCore/Repository/CourseRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
Due: azure-pipelines-api.yml

Recruiter endpoints
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/V2/RecruitersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200123175433_addin system_get_recruiters sproc.Designer.cs
  Product/API/Migrations/20200123175433_addin system_get_recruiters sproc.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/RecruiterInfoDto.cs
  Product/UpDiddyLib/Dto/RecruiterDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

comment clean up
  Product/API/Controllers/V2/RecruitersController.cs
Due: azure-pipelines-api.yml

checking in fix for GetCoursesByTopicGuid not using TopicGuid
  Product/API/ApplicationCore/Repository/CourseRepository.cs
Due: azure-pipelines-api.yml

Checking in update for the System_Get_JobsByTopic sproc so it uses tags
  Product/API/Migrations/20200123202654_getjobsbytopic_tags.Designer.cs
  Product/API/Migrations/20200123202654_getjobsbytopic_tags.cs
Due: azure-pipelines-api.yml

job scrape statistics api endpoint
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200123203950_add job site scrape statistics sproc.Designer.cs
  Product/API/Migrations/20200123203950_add job site scrape statistics sproc.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/JobSiteScrapeStatisticDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added talent search - resume
  Product/API/Controllers/V2/TalentController.cs
Due: azure-pipelines-api.yml

comment cleanup
  Product/API/Controllers/V2/GroupsController.cs
  Product/API/Controllers/V2/TalentController.cs
Due: azure-pipelines-api.yml

modified to return guid on job create
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

fixed recruiter sproc, fixed edit endpoint to match api gateway, miscellaneous formatting issues
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/V2/RecruitersController.cs
  Product/API/Migrations/20200124194834_fix recruiter list sproc.Designer.cs
  Product/API/Migrations/20200124194834_fix recruiter list sproc.cs
Due: azure-pipelines-api.yml

fixed Task cancellation issue with tracking and syncing methods for subscriber login and creation (respectively)
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

add get skills for job admin
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

swithching branch
  Product/API/ApplicationCore/Services/JobPostingService.cs
Due: azure-pipelines-api.yml

Job Admin Create Updates
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
Due: azure-pipelines-api.yml

One last thing
  Product/API/ApplicationCore/Services/JobPostingService.cs
Due: azure-pipelines-api.yml

Update Posting validation fixes
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V1/JobController.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

blame test
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/V2/RecruitersController.cs
Due: azure-pipelines-api.yml

fixes for skill endpoints
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Controllers/V2/SkillsController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

HotfixUpdateRecruiterBugFix
  Product/API/ApplicationCore/Services/JobPostingService.cs
Due: azure-pipelines-api.yml

work in progress for orphaned subscriber cleanup
  Product/API/ApplicationCore/Services/CloudTalentService.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

work in progress for orphaned subscriber cleanup
  Product/API/ApplicationCore/Services/CloudTalentService.cs
Due: azure-pipelines-api.yml

switch to hotfix
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/V2/RecruitersController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Domain/Models/CourseSearchResultDto.cs
  Product/UpDiddyLib/Domain/Models/RecruiterSearchResultDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

fixed routing issue with recruiter update
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/V2/RecruitersController.cs
Due: azure-pipelines-api.yml

completed logic for purging orphaned subscribers from Google Talent Cloud
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

implemented recruiter search endpoint
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/V2/RecruitersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200129131939_Updating SystemGetRecruiters to support company name.Designer.cs
  Product/API/Migrations/20200129131939_Updating SystemGetRecruiters to support company name.cs
  Product/API/Migrations/20200129135220_adding indexer view for recruiters.Designer.cs
  Product/API/Migrations/20200129135220_adding indexer view for recruiters.cs
  Product/UpDiddyLib/Domain/Models/RecruiterInfoDto.cs
  Product/UpDiddyLib/Domain/Models/RecruiterSearchResultDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added extra logging when attempting to purge orphaned subscribers
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added more logging to Google Cloud Talent delete operation
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
Due: azure-pipelines-api.yml

additional logging for Cloud Talent profile delete
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Fixed JobAdmin Detail
  Product/API/ApplicationCore/Services/JobPostingService.cs
Due: azure-pipelines-api.yml

new endpoints to support dashboard reports
  Product/API/ApplicationCore/Interfaces/Business/IReportsService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/ReportsService.cs
  Product/API/Controllers/V2/ReportsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200130191329_new dashboard reporting api endpoints.Designer.cs
  Product/API/Migrations/20200130191329_new dashboard reporting api endpoints.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/Reports/PartnerUsers.cs
  Product/UpDiddyLib/Domain/Models/Reports/UsersDetailDto.cs
  Product/UpDiddyLib/Domain/Models/Reports/UsersDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

013120
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/CloudTalentService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/RecruitersController.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Domain/AzureSearchDocuments/SDOCRequest.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/SubscriberSDOC.cs
  Product/UpDiddyLib/Domain/Models/SubscriberInfoDto.cs
  Product/UpDiddyLib/Domain/Models/SubscriberSearchResultDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

work in progress for endpoint testing
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/appsettings.json
Due: none

removed .HasValues
  Product/API.Tests/AzureAPITests.cs
Due: none

API Updates for recrutiter changes
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/CloudTalentService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/V2/RecruitersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/RecruiterSDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Fix for WozU spacing issue
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
  Product/API/Controllers/V1/CourseController.cs
  Product/API/Controllers/V1/EnrollmentController.cs
  Product/API/Migrations/20200203193026_WozU_Rename.Designer.cs
  Product/API/Migrations/20200203193026_WozU_Rename.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

remove unused reference
  Product/API/Controllers/V1/EnrollmentController.cs
Due: azure-pipelines-api.yml

modified avatar service to store full avatar path
  Product/API/ApplicationCore/Services/AvatarService.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
Due: azure-pipelines-api.yml

integrating with tests in dev-careercircle
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/Helpers/ApiOperationTest.cs
  Product/API.Tests/Helpers/AzureApiDataProvider.cs
  Product/API.Tests/appsettings.json
Due: none

incorporating delete and undelete operations
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/Helpers/ApiOperationTest.cs
Due: none
