Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

Created interface to create partners
  Product/API/Controllers/PartnersController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/PartnerDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/AddPartner.cshtml
  Product/WebApp/Views/Admin/Partners.cshtml
  Product/WebApp/Views/Shared/_PartnerGrid.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress for contact import
  Product/API/Controllers/ContactController.cs
  Product/UpDiddyLib/Dto/ContactDto.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Contacts.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress for the import operation (different than upload)
  Product/API/Controllers/ContactController.cs
  Product/UpDiddyLib/Dto/ImportActionDto.cs
  Product/UpDiddyLib/Dto/ImportValidationSummaryDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Contacts.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed test code comment
  Product/API/Controllers/CourseController.cs
Due: azure-pipelines-api.yml

bug fixes
  Product/API/ApplicationCore/Factory/CampaignPhaseFactory.cs
Due: azure-pipelines-api.yml

Initial work and react integration
  Product/API/Controllers/ContactController.cs
  Product/WebApp/.babelrc
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Admin/Contact.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/ContactMultiSelect.js
  Product/WebApp/client/react/ContactMultiSelectRow.js
  Product/WebApp/client/react/TableMultiSelect.js
  Product/WebApp/client/react/index.js
  Product/WebApp/gulpfile.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/webpack.config.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress - api method, stored procedure, parallel task, redis retrieval
  Product/API/Controllers/ContactController.cs
  Product/UpDiddyLib/Dto/ImportActionDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Contacts.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Incorporated CRUD ability for partners in admin portal
  Product/API/Controllers/PartnersController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/Components/Buttons/ActionButtonViewModel.cs
  Product/WebApp/ViewModels/PartnerViewModel.cs
  Product/WebApp/Views/Admin/ModifyPartner.cshtml
  Product/WebApp/Views/Admin/Partners.cshtml
  Product/WebApp/Views/Admin/Skills.cshtml
  Product/WebApp/Views/Marketing/CampaignDetails.cshtml
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
  Product/WebApp/Views/Shared/_PartnerGrid.cshtml
  Product/WebApp/client/js/core/admin/partners.js
  Product/WebApp/client/scss/_add-partner.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/buttons/_action.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

made slight style updates and added breadcrumbs for easier navigation of partner pages
  Product/WebApp/Views/Admin/AddPartner.cshtml
  Product/WebApp/Views/Admin/ModifyPartner.cshtml
  Product/WebApp/Views/Admin/Partners.cshtml
  Product/WebApp/Views/Shared/_PartnerGrid.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_partners.scss
Due: azure-pipelines.yml

added sproc for contact import, working on parallel processing in api method
  Product/API/Controllers/ContactController.cs
  Product/API/Migrations/20190228150121_contact import sproc.Designer.cs
  Product/API/Migrations/20190228150121_contact import sproc.cs
  Product/UpDiddyLib/Dto/ImportActionDto.cs
  Product/WebApp/Controllers/AdminController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-298: added date filter
  Product/API/Controllers/ContactController.cs
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/TableMultiSelect.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

updated guids in api controller and language when no partners are found
  Product/API/Controllers/PartnersController.cs
  Product/WebApp/Views/Shared/_PartnerGrid.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

completed api endpoint and webapp validation
  Product/API/Controllers/ContactController.cs
  Product/API/Migrations/20190228150121_contact import sproc.cs
  Product/UpDiddyLib/Dto/ImportActionDto.cs
  Product/UpDiddyLib/Helpers/ExtensionMethods.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Admin/Contacts.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: merging campaign general to dev branch
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/API/Controllers/CourseController.cs
  Product/API/appsettings.json
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/client/scss/components/authentication/_sign-up.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Intermediate Checkin
  Product/API/ApplicationCore/Factory/CampaignCourseVariantFactory.cs
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/API/ApplicationCore/Factory/CampaignPhaseFactory.cs
  Product/API/Controllers/MarketingController.cs
  Product/API/Migrations/20190228135757_Adding Terms to Campaigns.Designer.cs
  Product/API/Migrations/20190228135757_Adding Terms to Campaigns.cs
  Product/API/Migrations/20190228184649_Added unique index to campaign.name.Designer.cs
  Product/API/Migrations/20190228184649_Added unique index to campaign.name.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Campaign.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/CampaignCourseVariantCreateDto.cs
  Product/UpDiddyLib/Dto/CampaignCreateDto.cs
  Product/UpDiddyLib/Dto/CampaignCreateResponseDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

UrlEncoded phases
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines.yml

tweaks to api endpoint and front-end messages
  Product/API/Controllers/ContactController.cs
  Product/WebApp/Views/Admin/Contacts.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

conttinuing work on contactst page gui
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Contacts.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/Views/Shared/Admin/_PartnerGrid.cshtml
  Product/WebApp/client/js/core/admin/contacts.js
  Product/WebApp/client/scss/admin/_contacts.scss
Due: azure-pipelines.yml

slight additional style updates
  Product/WebApp/Views/Admin/Contacts.cshtml
  Product/WebApp/client/js/core/admin/contacts.js
Due: azure-pipelines.yml

added loading spinner to contact upload
  Product/WebApp/client/js/core/admin/contacts.js
Due: azure-pipelines.yml

task-307: adjustments to general sign up page
  Product/WebApp/Views/Home/Campaign/SignUp.cshtml
Due: azure-pipelines.yml

hotfix: updated EF and log package(s) and removed [Key] from DbQuery classes
  Product/API/Models/CampaignDetail.cs
  Product/API/Models/CampaignStatistic.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

added admin navigation to remaining admin pages and small style updates.
  Product/WebApp/Views/Admin/Skills.cshtml
  Product/WebApp/Views/Marketing/CampaignDetails.cshtml
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/client/scss/admin/_add-partners.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines.yml

replaced some remaining admin navigations with nav partial
  Product/WebApp/Views/Admin/AddPartner.cshtml
  Product/WebApp/Views/Admin/ModifyPartner.cshtml
  Product/WebApp/bundleconfig.json
Due: azure-pipelines.yml

removed lib packages and replaced with npm packages
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/lib/fileupload/jquery.fileupload.js
  Product/WebApp/wwwroot/lib/fileupload/jquery.iframe-transport.js
  Product/WebApp/wwwroot/lib/knob/jquery.knob.js
Due: azure-pipelines.yml

removed node-modules from root directory
  node_modules/jquery-knob/.npmignore
  node_modules/jquery-knob/LICENSE
  node_modules/jquery-knob/README.md
  node_modules/jquery-knob/bower.json
  node_modules/jquery-knob/dist/jquery.knob.min.js
  node_modules/jquery-knob/excanvas.js
  node_modules/jquery-knob/index.html
  node_modules/jquery-knob/js/jquery.knob.js
  node_modules/jquery-knob/knob.jquery.json
  node_modules/jquery-knob/package.json
  node_modules/jquery-knob/secretplan.jpg
Due: none

removed package-lock for root directory
  package-lock.json
Due: none

removing jquery-ui from lib
  Product/WebApp/wwwroot/lib/jquery-ui/jquery.ui.widget.js
Due: azure-pipelines.yml

removed jquery-ui inclusion in csproj
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines.yml

removed duplicated viewmodel
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/PartnerViewModel.cs
  Product/WebApp/ViewModels/PartnersViewModel.cs
Due: azure-pipelines.yml

removed double return statements
  Product/API/Controllers/PartnersController.cs
Due: azure-pipelines-api.yml

bug fix for skill lookup (encoding in url query string param)
  Product/API/Controllers/ProfileController.cs
Due: azure-pipelines-api.yml

added logic to encode url params for skill search
  Product/WebApp/client/js/modules/selectize-handling.js
Due: azure-pipelines.yml

fixed import action values in sproc System_Import_Contact
  Product/API/Migrations/20190304200824_correct import action names in sproc.Designer.cs
  Product/API/Migrations/20190304200824_correct import action names in sproc.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

task-298: refactor to table component, bug fix for date
  Product/API/Controllers/ContactController.cs
  Product/WebApp/.babelrc
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/ContactMultiSelect.js
  Product/WebApp/client/react/ContactMultiSelectRow.js
  Product/WebApp/client/react/ContactSelect.js
  Product/WebApp/client/react/TableMultiSelect.js
  Product/WebApp/client/react/index.js
  Product/WebApp/gulpfile.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

updating app settings for SendGrid
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

task-298: partner filter added
  Product/API/Controllers/ContactController.cs
  Product/API/Models/Contact.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/ContactSelect.js
  Product/WebApp/client/react/Select.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

updated example for the new sendgrid templates
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

hotfix: added implied terms acceptance via sign up
  Product/WebApp/Views/Home/Campaign/React.cshtml
Due: azure-pipelines.yml

Task291 Complete
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/API/Controllers/MarketingController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190304134734_Addcontacts Stored Procedure.Designer.cs
  Product/API/Migrations/20190304134734_Addcontacts Stored Procedure.cs
  Product/API/Migrations/20190306122523_system_delete_campaigncontacts.Designer.cs
  Product/API/Migrations/20190306122523_system_delete_campaigncontacts.cs
  Product/UpDiddyLib/Dto/CampaignCreateDto.cs
  Product/UpDiddyLib/Dto/CampaignCreateResponseDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml
