Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

modified LoggingIn.cshtml accidentally; reverting change
  Product/WebApp/Views/Home/LoggingIn.cshtml
Due: azure-pipelines.yml

commit
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_usmap.scss
  Product/WebApp/client/scss/components/bands/_cc-text-video-band.scss
  Product/WebApp/wwwroot/images/usmap1.svg
  Product/WebApp/wwwroot/images/usmap2.svg
Due: azure-pipelines.yml

setting border width to 1 p
  Product/WebApp/client/scss/_blog.scss
Due: azure-pipelines.yml

changed appsettings in the api to be environmentally specific
  Product/API/appsettings.Staging.json
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

moved Environment-BaseUrl out of webapp appsettings and into configuration in azure
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

added view for notification read counts report
  Product/API/ApplicationCore/Interfaces/Repository/INotificationRepository.cs
  Product/API/ApplicationCore/Repository/NotificationRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Migrations/20190726134138_v_NotificationReadCounts.Designer.cs
  Product/API/Migrations/20190726134138_v_NotificationReadCounts.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_NotificationReadCounts.cs
Due: azure-pipelines-api.yml

changed example appsetting
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

removed signalR appsetting and changed appsetting example to have Live b2c section
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

commit
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/UpDiddyLib/Dto/JobPostingCountDto.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Home/_USMap.cshtml
  Product/WebApp/client/js/modules/googlemaps.js
  Product/WebApp/client/js/modules/mapdata.js
  Product/WebApp/client/js/modules/usmap.js
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_usmap.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

moved redis:name property from api staging appsettings and put into config page
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

removing noise
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

clean up
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines.yml

commit
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/HomeViewModel.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/wwwroot/images/usmap1.svg
  Product/WebApp/wwwroot/images/usmap2.svg
Due: azure-pipelines.yml

commit
  Product/API/package-lock.json
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress for course data mining
  Product/API/ApplicationCore/Factory/CourseDataMiningFactory.cs
  Product/API/ApplicationCore/Interfaces/ICourseDataMining.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICoursePageRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseSiteRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CoursePageRepository.cs
  Product/API/ApplicationCore/Repository/CourseSiteRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/CourseDataMining/BaseCourseProcess.cs
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTVProcess.cs
  Product/API/Migrations/20190726143859_course data mining.Designer.cs
  Product/API/Migrations/20190726143859_course data mining.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Course.cs
  Product/API/Models/CoursePage.cs
  Product/API/Models/CoursePageStatus.cs
  Product/API/Models/CourseSite.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Added Consent text
  Product/WebApp/Views/Shared/_CookieConsentPartial.cshtml
  Product/WebApp/client/scss/_cookieConsentPolicy.scss
Due: azure-pipelines.yml

Set up CI with Azure Pipelines
  azure-pipelines-1.yml
Due: none

removed new pipeline yml
  azure-pipelines-1.yml
Due: none

production application setting changes
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines.yml

api appsetting changes
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

commit
  Product/API/Controllers/JobController.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Home/_USMap.cshtml
  Product/WebApp/client/js/modules/usmap.js
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_usmap.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress for course data mining
  Product/API/ApplicationCore/Factory/CourseDataMiningFactory.cs
  Product/API/ApplicationCore/Services/CourseDataMining/BaseCourseProcess.cs
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTVProcess.cs
  Product/API/Migrations/20190726143859_course data mining.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

before pull
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberGroupRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberGroupRepository.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/CCProfileService/.env
  Product/UpDiddyLib/Dto/ProfileViewDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

making redis calls async and bug fixes
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Home/_USMap.cshtml
  Product/WebApp/client/js/modules/usmap.js
  Product/WebApp/client/scss/_usmap.scss
Due: azure-pipelines.yml

Removal of home/index urls
  Product/WebApp/Controllers/MobileController.cs
  Product/WebApp/Views/Home/Unified.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Error.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/Views/Topics/Details.cshtml
Due: azure-pipelines.yml

created mock resume
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTVProcess.cs
Due: azure-pipelines-api.yml

Change url to use company-name instead of keyword
  Product/WebApp/client/js/modules/usmap.js
Due: azure-pipelines.yml

Changes to add Author info for blog
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/scss/_blog.scss
Due: azure-pipelines.yml

Fixed null reference exception
  Product/WebApp/Views/Blog/Posts.cshtml
Due: azure-pipelines.yml

excluding hangfire jobs in preliminary environments
  Product/API/Startup.cs
  Product/API/Workflow/Helpers/HangfireServerFilter.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added Live node to production appsettings for azure
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines.yml

temporarily blocking author url
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml
  Product/WebApp/Views/Blog/Post.cshtml
Due: azure-pipelines.yml

retrieving job skills for aerotek and tek (not ag)
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

work in progress for job posting skills
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines.yml

implemented hangfire server filter to stop all hangfire jobs in preliminary environments
  Product/API/Startup.cs
  Product/API/Workflow/Helpers/HangfireServerFilter.cs
Due: azure-pipelines-api.yml

removing unneeded code
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

adding hangfire server filter
  Product/API/Startup.cs
  Product/API/Workflow/Helpers/HangfireServerFilter.cs
Due: azure-pipelines-api.yml

ready for review
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberGroupRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/CountryRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberGroupRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Migrations/20190730143528_Added any to subscriber sources.Designer.cs
  Product/API/Migrations/20190730143528_Added any to subscriber sources.cs
  Product/UpDiddyLib/Dto/ProfileViewDto.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

offer is not collapsed when only 1 offer
  Product/WebApp/Views/Shared/Components/Bands/_OfferListingBand.cshtml
Due: azure-pipelines.yml
