Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

Restrict companies to those with the IsJobPoster flag set. Use short date format.
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: fix for recruiter emails
  Product/API/Controllers/JobApplicationController.cs
Due: azure-pipelines-api.yml

semantic urls for jobs, sitemap bug fix
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Helpers/JobSitemapIndexConfiguration.cs
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed subscriber first and last name pointers
  Product/API/Controllers/JobApplicationController.cs
Due: azure-pipelines-api.yml

fix for semantic urls containing special characters
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

worked around google bug
  Product/API/ApplicationCore/Services/CloudTalent.cs
Due: azure-pipelines-api.yml

Fixed subscriber download bug
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines.yml

comment cleanup
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines.yml

Updated MSAL to v.3.0.8
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines.yml

updated butter page response caching to cache a null response
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed logic as to which email the job apps went to for a recruiter
  Product/API/Controllers/JobApplicationController.cs
Due: azure-pipelines-api.yml

work in progress for job detail enhancements
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190517173838_third party job identifier.Designer.cs
  Product/API/Migrations/20190517173838_third party job identifier.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Company.cs
  Product/API/Models/JobPosting.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: language update for couple dashboard reports
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/react/components/reports/JobAppReportTable.js
Due: azure-pipelines.yml

Show all job postings if no expired job found for initial 404
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines.yml

synced changes between TEK and Aerotek and tested again
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

removed debug code, changed job interval to 4 hours
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

story-652: profile page dropdown, calendar/date inputs touched up, removed compensation
  Product/WebApp/Views/Home/_EducationHistoryModalPartial.cshtml
  Product/WebApp/Views/Home/_WorkHistoryModalPartial.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/js/modules/profile.js
  Product/WebApp/client/scss/_profile.scss
  Product/WebApp/client/scss/components/_selectize.scss
  Product/WebApp/package.json
Due: azure-pipelines.yml

bug fix for Google location search
  Product/API/ApplicationCore/Services/CloudTalent.cs
Due: azure-pipelines-api.yml

Resolved issues found in code review.
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

Fixed job posting url in recuriter apply email
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed formatting and removed html from job search results
  Product/API/Startup.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/UpDiddyLib/UpDiddyLib.csproj
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Fixed null ref error
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

initial commit with work React components to display categories and states
  Product/API/ApplicationCore/Interfaces/Repository/IJobCategoryRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/JobCategoryRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/Controllers/JobController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/Components/BrowseJobsViewModel.cs
  Product/WebApp/Views/Jobs/Browse.cshtml
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/jobs/BrowseCategory.js
  Product/WebApp/client/react/components/jobs/BrowseLocation.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added 3rd browse section
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsViewModel.cs
  Product/WebApp/Views/Jobs/Browse.cshtml
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/jobs/BrowseIndustry.js
  Product/WebApp/client/react/components/jobs/BrowseLocation.js
Due: azure-pipelines.yml

bug fixes for sitemap
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Helpers/JobSitemapIndexConfiguration.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Fixed Linq query group by to include only needed fields
  Product/API/ApplicationCore/Services/ReportingService.cs
Due: azure-pipelines-api.yml

continued work
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsLocationViewModel.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/jobs/BrowseLocation.js
Due: azure-pipelines.yml

location flow working
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsLocationViewModel.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/jobs/BrowseLocation.js
Due: azure-pipelines.yml

Show the first 3 lines of the job description
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

removed lastmod from courses sitemap
  Product/WebApp/Controllers/SitemapController.cs
Due: azure-pipelines.yml

added route tree for searching by location
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsLocationViewModel.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/jobs/BrowseLocation.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-695: add ability to add a job as a favorite on job listing page
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/Checkbox.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/jobs/Favorite.js
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/react/_checkbox.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

05-21-2019
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/LinkedInInterface.cs
  Product/API/ApplicationCore/Services/AzureBlobStorage.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Migrations/20190521181355_adding avatars to subscriber.Designer.cs
  Product/API/Migrations/20190521181355_adding avatars to subscriber.cs
  Product/API/Migrations/20190521195706_adding last linked in sync time to subscriber.Designer.cs
  Product/API/Migrations/20190521195706_adding last linked in sync time to subscriber.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Subscriber.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewComponents/LinkedInSyncViewComponent.cs
  Product/WebApp/ViewModels/Components/LinkedInSync/LinkedInSyncViewModel.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

save
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/LinkedInInterface.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewComponents/LinkedInSyncViewComponent.cs
  Product/WebApp/ViewModels/Components/LinkedInSync/LinkedInSyncViewModel.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/scss/_profile.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

05-22-2019
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Syncing.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 251: ZeroBounce API Integration
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPartnerContactLeadStatusRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IZeroBounceRepository.cs
  Product/API/ApplicationCore/Repository/PartnerContactLeadStatusRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ZeroBounceRepository.cs
  Product/API/ApplicationCore/Services/ZeroBounceApi.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Migrations/20190521203520_zero bounce integration.Designer.cs
  Product/API/Migrations/20190521203520_zero bounce integration.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/ZeroBounce.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

working location flow - needs styling and finishing up some error states
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/jobs/BrowseCategory.js
  Product/WebApp/client/react/components/jobs/BrowseIndustry.js
  Product/WebApp/client/react/components/jobs/BrowseJobs.js
Due: azure-pipelines.yml

partial Changes for task/697, changes for task/705 and changes for task/709
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

added cachebusting
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed comments
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/ViewComponents/LinkedInSyncViewComponent.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
