Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

final
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Migrations/20190710143408_Added index profile index version.Designer.cs
  Product/API/Migrations/20190710143408_Added index profile index version.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Subscriber.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/CCProfileService/node_modules/lodash.merge/LICENSE
  Product/CCProfileService/node_modules/lodash.merge/README.md
  Product/CCProfileService/node_modules/lodash.merge/index.js
  Product/CCProfileService/node_modules/lodash.merge/package.json
  Product/CCProfileService/package-lock.json
  Product/CCProfileService/package.json
Due: azure-pipelines-api.yml

added implementation to optionally track partners from butter configuration
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPartnerRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/PartnerRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/appsettings.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

added new partners collection to butter and switched tagging workflow to use it
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/PartnerViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
Due: azure-pipelines.yml

added validation to verify Subscriber and Company being null for recruiter
  Product/API/ApplicationCore/Services/RecruiterService.cs
Due: azure-pipelines-api.yml

Removed test apps
  NodejsWebApp1/NodejsWebApp1.njsproj
  NodejsWebApp1/README.md
  NodejsWebApp1/package.json
  NodejsWebApp1/server.js
  NodejsWebApp2/.env
  NodejsWebApp2/GoogleProfileServer.njsproj
  NodejsWebApp2/README.md
  NodejsWebApp2/node_modules/dotenv/CHANGELOG.md
  NodejsWebApp2/node_modules/dotenv/LICENSE
  NodejsWebApp2/node_modules/dotenv/README.md
  NodejsWebApp2/node_modules/dotenv/config.js
  NodejsWebApp2/node_modules/dotenv/lib/cli-options.js
  NodejsWebApp2/node_modules/dotenv/lib/env-options.js
  NodejsWebApp2/node_modules/dotenv/lib/main.js
  NodejsWebApp2/node_modules/dotenv/package.json
  NodejsWebApp2/package-lock.json
  NodejsWebApp2/package.json
  NodejsWebApp2/server.js
Due: none

added appsettings
  Product/API/Workflow/ScheduledJobs.cs
  Product/CCProfileService/appsettings.Development.json
  Product/CCProfileService/appsettings.Production.json
  Product/CCProfileService/appsettings.Staging.json
  Product/CCProfileService/appsettings.example.json
  Product/CCProfileService/appsettings.json
  Product/CCProfileService/server.js
Due: azure-pipelines-api.yml

Set up CI with Azure Pipelines for Google Profile Broker service
  azure-pipelines-1.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-2.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-3.yml
Due: none

refactor
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/CCProfileService/CCProfileService.njsproj
Due: azure-pipelines-api.yml

removed dead code
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
Due: azure-pipelines-api.yml

Update azure-pipelines-3.yml for Azure Pipelines
  azure-pipelines-3.yml
Due: none

removed some yaml
  azure-pipelines-1.yml
  azure-pipelines-2.yml
Due: none

updated yaml
  Product/CCProfileService/package-lock.json
  Product/WebApp/package-lock.json
  azure-pipelines-3.yml
Due: azure-pipelines.yml

modified vertical alignment and size constraints for company logo
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

commit
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/ButterCMS/BlogPageViewModel.cs
  Product/WebApp/Views/Blog/Index.cshtml
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml.cs
  Product/WebApp/Views/Blog/Partials/_Search.cshtml
  Product/WebApp/Views/Blog/Partials/_Search.cshtml.cs
  Product/WebApp/Views/Blog/Post.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/react/components/blog/blog-post.js
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
