Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

rolling back home page to original and showing user info for existing users
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/js/modules/traitify.js
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/wwwroot/images/hero_bannerbg_top.jpg
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

navigation padding update
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

added authorable hero image
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/ViewModels/ButterCMS/ServicesPageViewModel.cs
  Product/WebApp/Views/Services/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

receipt currency formatting
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
Due: azure-pipelines-api.yml

verbiage updates
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/Views/Services/Confirmation.cshtml
  Product/WebApp/client/scss/_services-checkout.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

word fix
  Product/WebApp/Views/Services/Checkout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

edge case checking
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingPromoCodeRedemptionService.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

promo fixes
  Product/API/ApplicationCore/Interfaces/Business/IServiceOfferingPromoCodeRedemptionService.cs
  Product/API/ApplicationCore/Services/BraintreeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingPromoCodeRedemptionService.cs
  Product/API/Controllers/PromoCodeController.cs
Due: azure-pipelines-api.yml

added messages for common braintree errors
  Product/API/ApplicationCore/Services/BraintreeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
Due: azure-pipelines-api.yml

modified postal code inputs
  Product/API/ApplicationCore/Services/BraintreeService.cs
Due: azure-pipelines-api.yml

return custon 410 code on braintree cvv or address error
  Product/API/ApplicationCore/Services/BraintreeService.cs
Due: azure-pipelines-api.yml

400 handling
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

added chkout logic for 410s
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/client/js/core/package-checkout.js
  Product/WebApp/client/scss/_services-checkout.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

removing zip code fields from billing formation
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/ViewModels/ServiceCheckoutViewModel.cs
  Product/WebApp/Views/Services/Checkout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

updated card error message
  Product/API/ApplicationCore/Services/BraintreeService.cs
  Product/WebApp/Views/Services/Checkout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit homepage changes for traitify
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

adjustment to Try Now button for when in mobile
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

shifting the text to left so it's more centered when fullscreen
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

adding exclamation poiint to the text
  Product/WebApp/Views/Home/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

EASi.com job site implementation
  Product/API/ApplicationCore/Factory/JobDataMiningFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/EASiProcess.cs
  Product/API/Migrations/20190919170010_EASi.com job site.Designer.cs
  Product/API/Migrations/20190919170010_EASi.com job site.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

commented out job data mining on app start, increased 'DisableConcurrentExecution' timeout to 1 day
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

fixing the partner attribution report
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Migrations/20190920185110_fix user breakdown by partner report.Designer.cs
  Product/API/Migrations/20190920185110_fix user breakdown by partner report.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/client/react/components/reports/TotalUserBreakdownByPartnerTable.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixed typo in migration
  Product/API/Migrations/20190920185110_fix user breakdown by partner report.cs
Due: azure-pipelines-api.yml

Committing zerobounce
  Product/API/ApplicationCore/Services/ZeroBounceApi.cs
  Product/API/Controllers/TraitifyController.cs
Due: azure-pipelines-api.yml

commit
  Product/API/Controllers/TraitifyController.cs
Due: azure-pipelines-api.yml

added DisableConcurrentExecution decorator to all scheduled and enqueued hangfire jobs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added resume upload to job applications
  Product/UpDiddyLib/Dto/JobApplicationDto.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobApplicationViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
  Product/WebApp/client/js/core/application-resume-upload.js
  Product/WebApp/client/scss/_job-application.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

allowed 'companyname' query string parameter to pass through
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

added to 'selected filters' above facets
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

ready to merge with Ian
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPartnerContactRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPartnerTypeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/PartnerContactRepository.cs
  Product/API/ApplicationCore/Repository/PartnerRepository.cs
  Product/API/ApplicationCore/Repository/PartnerTypeRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190923141357_Adding new PartnerType.Designer.cs
  Product/API/Migrations/20190923141357_Adding new PartnerType.cs
  Product/API/Migrations/20190924095546_Adding partner to job applications.Designer.cs
  Product/API/Migrations/20190924095546_Adding partner to job applications.cs
  Product/API/Models/JobApplication.cs
  Product/UpDiddyLib/Dto/JobApplicationDto.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/UpDiddyLib/Dto/PartnerDto.cs
  Product/UpDiddyLib/Dto/ReferralDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

error handling
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/client/js/core/application-resume-upload.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

job data mining tweaks and admin report style fix
  Product/API/ApplicationCore/Interfaces/IJobDataMining.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/EASiProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added missing await
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Push for Ian
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

small ajax fix
  Product/WebApp/client/js/core/application-resume-upload.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

ready For ian fix
  Product/API/ApplicationCore/Interfaces/Repository/IPartnerRepository.cs
  Product/API/ApplicationCore/Repository/PartnerRepository.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

touch ups
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/client/js/core/application-resume-upload.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

final cleanup
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/PartnersController.cs
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

testing auth0 api for custom login page
  Product/API/UpDiddyApi.csproj
  Product/WebApp/Controllers/AccountController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/LoginViewModel.cs
  Product/WebApp/Views/Account/AccessDenied.cshtml
  Product/WebApp/Views/Account/Claims.cshtml
  Product/WebApp/Views/Account/Login.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Cookie Safeguards
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Controllers/MobileController.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Controllers/UserController.cs
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/appsettings.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
