Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

create text with video band
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/Views/Shared/Components/Templates/_TextWithVideo.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/_cc-band.scss
Due: azure-pipelines.yml

added skew band
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/Views/Shared/Components/Templates/_SkewBand.cshtml
  Product/WebApp/Views/Shared/Components/Templates/_TextWithVideoBand.cshtml
  Product/WebApp/client/scss/_campaign.scss
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/_cc-skew-band.scss
  Product/WebApp/client/scss/components/_cc-text-video-band.scss
Due: azure-pipelines.yml

changed bands into partials
  Product/WebApp/ViewModels/Components/Bands/BandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/SkewBandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/TextWithVideoBandViewModelcs.cs
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_SkewBand.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_TextWithVideoBand.cshtml
Due: azure-pipelines.yml

added triple container band
  Product/WebApp/ViewModels/Components/Bands/TextWithVideoBandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/TripleContainerBandViewModel.cs
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_TextWithVideoBand.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_TripleContainerBand.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/_cc-skew-band.scss
  Product/WebApp/client/scss/components/_cc-text-video-band.scss
  Product/WebApp/client/scss/components/_cc-triple-container-band.scss
Due: azure-pipelines.yml

model changes to support displaying campaign information to user
  Product/API/Migrations/20190131153805_rename rebate to refund, add rebate type, add campaign course variant.Designer.cs
  Product/API/Migrations/20190131153805_rename rebate to refund, add rebate type, add campaign course variant.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Campaign.cs
  Product/API/Models/CampaignCourseVariant.cs
  Product/API/Models/Enrollment.cs
  Product/API/Models/Rebate.cs
  Product/API/Models/RebateType.cs
  Product/API/Models/Refund.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

removed insert and update statements in migration related to Action (campaigns)
  Product/API/Migrations/20190130191513_added headers to tracking, modified actions.cs
Due: azure-pipelines-api.yml

task-183: marketing contact endpoint added, responseDto, graph api, gulp refactor and auth adjustment
  Product/API/ApplicationCore/Interfaces/IB2CGraph.cs
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Models/Contact.cs
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/UpDiddyLib.Tests/CryptoTests.cs
  Product/UpDiddyLib/Dto/BasicResponseDto.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/UpDiddyLib/Shared/Crypto.cs
  Product/UpDiddyLib/UpDiddyLib.csproj
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/ViewComponent/LinkedInSyncViewComponent.cs
  Product/WebApp/appsettings.example.json
  Product/WebApp/appsettings.json
  Product/WebApp/gulpfile.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-183: Logging added
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

hotfix: reverting policy changes in webapp to original state
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

task-183: abstracted password encryption in api service
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

Dto's finished
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/CampaignCourseVariantDto.cs
  Product/UpDiddyLib/Dto/CampaignDto.cs
  Product/UpDiddyLib/Dto/EnrollmentDto.cs
  Product/UpDiddyLib/Dto/RebateTypeDto.cs
  Product/UpDiddyLib/Dto/RefundDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added campaign band and added directory organization to scss files
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/CampaignSignUpBandViewModel.cs
  Product/WebApp/ViewModels/Components/Buttons/ActionButtonViewModel.cs
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_ActionButton.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_variables.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/authentication/_sign-up.scss
  Product/WebApp/client/scss/components/bands/_cc-campaign-sign-up-band.scss
  Product/WebApp/client/scss/components/bands/_cc-skew-band.scss
  Product/WebApp/client/scss/components/bands/_cc-text-video-band.scss
  Product/WebApp/client/scss/components/bands/_cc-triple-container-band.scss
  Product/WebApp/client/scss/components/buttons/_action-button.scss
  Product/WebApp/wwwroot/images/angular.png
  Product/WebApp/wwwroot/images/business-pointing.jpg
Due: azure-pipelines.yml

added campaign contact to model
  Product/API/Migrations/20190131205538_added campaign contact.Designer.cs
  Product/API/Migrations/20190131205538_added campaign contact.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Campaign.cs
  Product/API/Models/CampaignContact.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

Style updates and video component
  Product/WebApp/ViewModels/Components/Bands/ColumnSkewBandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/TextWithVideoBandViewModel.cs
  Product/WebApp/ViewModels/Components/Media/VideoViewModel.cs
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_ColumnSkewBand.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_SkewBand.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_TextWithVideoBand.cshtml
  Product/WebApp/Views/Shared/Components/Media/_Video.cshtml
  Product/WebApp/client/js/core/components/media/_video.js
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_variables.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/bands/_cc-campaign-sign-up-band.scss
  Product/WebApp/client/scss/components/bands/_cc-column-skew-band.scss
  Product/WebApp/client/scss/components/media/_video.scss
  Product/WebApp/wwwroot/images/number-8-512.png
Due: azure-pipelines.yml

Added IE11 fixes
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/client/scss/_common.scss
Due: azure-pipelines.yml

Task192 Complete
  CampaignFactory.cs
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Models/Enrollment.cs
  Product/UpDiddyLib/Dto/EnrollmentDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/scss/_profile.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

separated React and Angular campaigns into two and put under campaign directory
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_TripleContainerBand.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/wwwroot/images/react-logo.png
Due: azure-pipelines.yml

removing React page
  Product/WebApp/Views/Home/Campaign/React.cshtml
Due: azure-pipelines.yml

Changed react.cshtml from razor page to view
  Product/WebApp/Views/Home/Campaign/React.cshtml
Due: azure-pipelines.yml

Updated Course Completion Date
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Deleted CampaignFactory.cs
  CampaignFactory.cs
Due: none

Set course completion date in background job
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

hotfix: swapping encryption library
  Product/API/appsettings.json
  Product/UpDiddyLib.Tests/CryptoTests.cs
  Product/UpDiddyLib/Shared/Crypto.cs
  Product/UpDiddyLib/UpDiddyLib.csproj
  Product/WebApp/appsettings.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

course checkout for campaign offers is functional, needs more testing
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190201153745_added 'no offer' rebate type.Designer.cs
  Product/API/Migrations/20190201153745_added 'no offer' rebate type.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/CampaignDto.cs
  Product/UpDiddyLib/Dto/ContactDto.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/ViewModels/CourseViewModel.cs
  Product/WebApp/Views/Course/Checkout.cshtml
  Product/WebApp/client/js/core/site.js
  Product/WebApp/client/scss/_course-checkout.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

refactored button component and wired up signup to create user and redirect to course checkout page
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/CampaignSignUpBandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/ColumnSkewBandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/TextWithVideoBandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/TripleContainerBandViewModel.cs
  Product/WebApp/ViewModels/Components/Buttons/ActionButtonViewModel.cs
  Product/WebApp/ViewModels/Components/ComponentViewModel.cs
  Product/WebApp/ViewModels/Components/Media/VideoViewModel.cs
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_ActionButton.cshtml
  Product/WebApp/client/js/core/components/buttons/_action.js
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/buttons/_action.scss
Due: azure-pipelines.yml

changed contact-to-subscriber endpoint to return basicResponseDto, and integrated front end feedback to user upon error conditions
  Product/API/Controllers/CourseController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added front-end messaging for error cases
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/client/scss/components/authentication/_sign-up.scss
Due: azure-pipelines.yml

bug fixes for eligible courses, style tweaks, modified lookup values in migration
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Migrations/20190131153805_rename rebate to refund, add rebate type, add campaign course variant.cs
  Product/API/Migrations/20190201153745_added 'no offer' rebate type.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Views/Course/Checkout.cshtml
  Product/WebApp/client/scss/_course-checkout.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed contact-to-subscriber endpoint to return basicresponse on success
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

fixed statusCode type in javascript
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines.yml

ribbon work and added updated assets
  Product/WebApp/ViewModels/Components/Bands/CampaignSignUpBandViewModel.cs
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
  Product/WebApp/client/scss/components/bands/_cc-campaign-sign-up-band.scss
  Product/WebApp/wwwroot/images/angular.png
  Product/WebApp/wwwroot/images/btn_enroll.png
  Product/WebApp/wwwroot/images/business-pointing.jpg
  Product/WebApp/wwwroot/images/img_form_bg.png
  Product/WebApp/wwwroot/images/img_hero.png
  Product/WebApp/wwwroot/images/list_1.png
  Product/WebApp/wwwroot/images/list_2.png
  Product/WebApp/wwwroot/images/list_3.png
  Product/WebApp/wwwroot/images/list_4.png
  Product/WebApp/wwwroot/images/logo_angular.png
  Product/WebApp/wwwroot/images/logo_careercircle.png
  Product/WebApp/wwwroot/images/logo_react.png
  Product/WebApp/wwwroot/images/number-8-512.png
  Product/WebApp/wwwroot/images/react-logo.png
Due: azure-pipelines.yml

refactor: GETs refactored in API service for webapp
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Controllers/TopicController.cs
Due: azure-pipelines.yml

changed association between enrollment and campaign (course variant), moved all data to migrations (out of OnModelCreating in DbContext)
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Migrations/20190131153805_rename rebate to refund, add rebate type, add campaign course variant.cs
  Product/API/Migrations/20190205170949_campaign course variant on enrollment.Designer.cs
  Product/API/Migrations/20190205170949_campaign course variant on enrollment.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/CampaignCourseVariant.cs
  Product/API/Models/Enrollment.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/CampaignDto.cs
  Product/UpDiddyLib/Dto/EnrollmentDto.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Commit before pull
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/API/ApplicationCore/Factory/CourseFactory.cs
  Product/API/ApplicationCore/Factory/CourseVariantFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/UpDiddyLib/Dto/EnrollmentDto.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/ViewModels/BaseViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-204: Added text to email for purchase receipt
  Product/API/Migrations/20190205210643_added_terms_to_rebate_type.Designer.cs
  Product/API/Migrations/20190205210643_added_terms_to_rebate_type.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/RebateType.cs
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

adding disclaimer functionality, and added rest of landing pages.
  Product/API/Controllers/CourseController.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/ViewModels/Components/Utilities/DisclaimersViewModel.cs
  Product/WebApp/Views/Home/Campaign/AngularAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_ColumnSkewBand.cshtml
  Product/WebApp/Views/Shared/Components/Utilities/_Disclaimers.cshtml
  Product/WebApp/Views/Shared/_Footer.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_variables.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/bands/_cc-campaign-sign-up-band.scss
  Product/WebApp/client/scss/components/bands/_cc-column-skew-band.scss
  Product/WebApp/client/scss/components/utilities/_disclaimers.scss
  Product/WebApp/wwwroot/images/list_1_angular.png
  Product/WebApp/wwwroot/images/list_1_react.png
  Product/WebApp/wwwroot/images/list_2_angular.png
  Product/WebApp/wwwroot/images/list_2_react.png
  Product/WebApp/wwwroot/images/list_3_angular.png
  Product/WebApp/wwwroot/images/list_3_react.png
  Product/WebApp/wwwroot/images/list_4_angular.png
  Product/WebApp/wwwroot/images/list_4_react.png
Due: azure-pipelines-api.yml, azure-pipelines.yml

added comment to wozformat function in utils
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

switched out campaign sign up band background image
  Product/WebApp/client/scss/components/bands/_cc-campaign-sign-up-band.scss
  Product/WebApp/wwwroot/images/img_hero.jpg
  Product/WebApp/wwwroot/images/img_hero.png
Due: azure-pipelines.yml

task-204: removal of uncessary switch and updated dto
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/UpDiddyLib/Dto/RebateTypeDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added null check to course call in homeController to direct to 404 if course isn't found
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml
