Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

integration testing with dev
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/Helpers/ApiOperationTest.cs
  Product/API.Tests/appsettings.json
Due: none

bug fixes for 500 responses from api endpoints
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/Helpers/AzureApiDataProvider.cs
Due: none

made db connection configurable
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/Helpers/ApiOperationTest.cs
  Product/API.Tests/Helpers/AzureApiDataProvider.cs
  Product/API.Tests/appsettings.json
Due: none

added sprocs for data cleanup
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/appsettings.Development.json
  Product/API/Migrations/20200207194448_integration test cleanup.Designer.cs
  Product/API/Migrations/20200207194448_integration test cleanup.cs
Due: azure-pipelines-api.yml

removing unnecessary files
  Product/API.Tests/DemoTests.cs
  Product/API.Tests/TestFiles/AzureApi-OpenApi.json
Due: none

Sendgrid webhook data capture
  Product/API/ApplicationCore/Interfaces/Business/ISendGridEventService.cs
  Product/API/ApplicationCore/Interfaces/ISubscriberEmailService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/SendgridEventService.cs
  Product/API/ApplicationCore/Services/SubscriberEmailService.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Migrations/20200206111337_updating [System_Insert_SendGridEvents] to ignore deferred events.Designer.cs
  Product/API/Migrations/20200206111337_updating [System_Insert_SendGridEvents] to ignore deferred events.cs
  Product/API/Migrations/20200206114907_Adding [System_Purge_SendGridEvents].Designer.cs
  Product/API/Migrations/20200206114907_Adding [System_Purge_SendGridEvents].cs
  Product/API/Migrations/20200207152835_adding [System_Get_SubscriberEmailStatistics] sproc.Designer.cs
  Product/API/Migrations/20200207152835_adding [System_Get_SubscriberEmailStatistics] sproc.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/API/libman.json
  Product/UpDiddyLib/Domain/Models/SubscriberEmailStatisticDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

switching back to 1617
  Product/API/Helpers/ResumeHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

added logging
  Product/API/ApplicationCore/Services/SendgridEventService.cs
Due: azure-pipelines-api.yml

removing unused and duplicative endpoint (share job)
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

removed unnecessary files
  Product/API.Tests/API.Tests.csproj
Due: none

updating replacement values
  Product/API.Tests/appsettings.json
Due: none

removed dto from job admin delete controller
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

2-11-2020
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IHiringSolvedService.cs
  Product/API/ApplicationCore/Interfaces/ISovrenAPI.cs
  Product/API/ApplicationCore/Interfaces/Repository/IHiringSolvedResumeParseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISovrenParseStatisticRepository.cs
  Product/API/ApplicationCore/Repository/HiringSolvedResumeParseRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SovrenParseStatisticRepository.cs
  Product/API/ApplicationCore/Services/CourseCrawling/Common/Utils.cs
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
  Product/API/ApplicationCore/Services/HiringSolvedService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/ApplicationCore/Services/Sovren.cs
  Product/API/Helpers/ResumeHelper.cs
  Product/API/Migrations/20200210154841_Adding HiringSolvedResumeParse.Designer.cs
  Product/API/Migrations/20200210154841_Adding HiringSolvedResumeParse.cs
  Product/API/Migrations/20200210211852_Adding Sovren Parse Statistics.Designer.cs
  Product/API/Migrations/20200210211852_Adding Sovren Parse Statistics.cs
  Product/API/Migrations/20200210213843_Adding NumTicks to HiringSolvedResumeParse.Designer.cs
  Product/API/Migrations/20200210213843_Adding NumTicks to HiringSolvedResumeParse.cs
  Product/API/Models/HiringSolvedResumeParse.cs
  Product/API/Models/SovrenParseStatistic.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

made api operations skippable, added filters to target specific apis
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/Helpers/AzureApiDataProvider.cs
  Product/API.Tests/appsettings.json
Due: none

Hiring solved parsing and Sovren timing metrics
  Product/API/ApplicationCore/Services/HiringSolvedService.cs
  Product/API/Helpers/ResumeHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added additional debug information to integrated tests
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/appsettings.json
Due: none

prevent bogus lookup values from being created
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
Due: azure-pipelines-api.yml

added support for parsing JArray schemas
  Product/API.Tests/Helpers/ApiOperationTest.cs
Due: none

additional enhancements to api tests
  Product/API.Tests/Helpers/ApiOperationTest.cs
  Product/API.Tests/appsettings.json
Due: none

set sysemail address to developer alias in staging
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

work in progress for job create and delete refactor
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V1/JobController.cs
  Product/API/Migrations/20200214170137_job posting stored procedures.Designer.cs
  Product/API/Migrations/20200214170137_job posting stored procedures.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Domain/Models/JobCrudDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

completed refactor of job create and update operations
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V1/JobController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200215171131_job posting skill update by guid.Designer.cs
  Product/API/Migrations/20200215171131_job posting skill update by guid.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added appsetting for resume parse guid
  Product/API.Tests/appsettings.json
Due: none

adding partner to replacement values and added operation url to output
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/appsettings.json
Due: none

changed profile delete and get to use query string params
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
  Product/API/Controllers/V1/ProfileController.cs
  Product/API/Controllers/V1/SubscriberController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/CCProfileService/server.js
Due: azure-pipelines-3.yml, azure-pipelines-api.yml

Checking in new endpont for resume
  Product/API/ApplicationCore/Interfaces/Business/IResumeService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

checking in fix for traitify email no sending
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

Checking in fix of traitify result not being sent
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

added replacement tokens for additional endpoints
  Product/API.Tests/appsettings.json
Due: none

initial revision for g2 data model
  Product/API/Migrations/20200221190102_g2 profile.Designer.cs
  Product/API/Migrations/20200221190102_g2 profile.cs
  Product/API/Models/G2/ContactType.cs
  Product/API/Models/G2/Profile.cs
  Product/API/Models/G2/ProfileComment.cs
  Product/API/Models/G2/ProfileDocument.cs
  Product/API/Models/G2/ProfileSearchLocation.cs
  Product/API/Models/G2/ProfileSkill.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
Due: azure-pipelines-api.yml

geo search POC
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Models/G2.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
  Product/UpDiddyLib/Domain/Models/G2Dto.cs
  Product/UpDiddyLib/Domain/Models/G2InfoDTO.cs
  Product/UpDiddyLib/Domain/Models/G2SearchResultDto.cs
  Product/UpDiddyLib/UpDiddyLib.csproj
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Changed g2 query to use city id
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICityRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPostalRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CityRepository.cs
  Product/API/ApplicationCore/Repository/PostalRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
Due: azure-pipelines-api.yml

g2 wip
  Product/API/Migrations/20200224200122_g2 updates.Designer.cs
  Product/API/Migrations/20200224200122_g2 updates.cs
  Product/API/Migrations/20200224215352_g2 view.Designer.cs
  Product/API/Migrations/20200224215352_g2 view.cs
  Product/API/Models/G2/Profile.cs
  Product/API/Models/G2/ProfileDocument.cs
  Product/API/Models/G2/ProfileTag.cs
  Product/API/Models/G2/ProfileWishlist.cs
  Product/API/Models/G2/Wishlist.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
Due: azure-pipelines-api.yml

02242019
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Models/G2Test.cs
Due: azure-pipelines-api.yml

additional data model changes and fixes for v_ProfileAzureSearch view
  Product/API/Migrations/20200224200122_g2 updates.cs
  Product/API/Migrations/20200225152729_g2 data model changes.Designer.cs
  Product/API/Migrations/20200225152729_g2 data model changes.cs
  Product/API/Models/G2/ProfileSearchLocation.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
Due: azure-pipelines-api.yml

working on finishing migration
  Product/API.Tests/appsettings.json
Due: none

fixed columns in v_ProfileAzureSearch
  Product/API/Models/Views/v_ProfileAzureSearch.cs
Due: azure-pipelines-api.yml
