Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

initial commit
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/ViewModels/Components/Bands/ContentBandViewModel.cs
  Product/WebApp/ViewModels/TopicsViewModel.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_ContentBand.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/Views/Topic/Index.cshtml
  Product/WebApp/Views/Topics/Details.cshtml
  Product/WebApp/Views/Topics/Index.cshtml
  Product/WebApp/client/scss/_topics.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines.yml

integrated Chris's changes from PR
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Authenticated.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Error.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/ErrorAuthenticated.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/_Anchor.cshtml
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

added caching to email notifications
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
Due: azure-pipelines.yml

04-17-2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterCompanyFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Models/JobPosting.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/CreateJobPostingViewModel.cs
  Product/WebApp/ViewModels/JobPostingViewModel.cs
  Product/WebApp/ViewModels/JobPostingsViewModel.cs
  Product/WebApp/Views/Talent/CreateJobPosting.cshtml
  Product/WebApp/Views/Talent/JobPosting.cshtml
  Product/WebApp/Views/Talent/JobPostings.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/client/scss/_create-job-posting.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

added campaign attribution for subscriber creation
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

continued work on topics page
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
  Product/WebApp/Services/CacheService.cs
  Product/WebApp/Services/ICacheService.cs
  Product/WebApp/ViewModels/ButterCMS/TopicsLandingPageViewModel.cs
  Product/WebApp/ViewModels/TopicsViewModel.cs
  Product/WebApp/Views/Topics/Index.cshtml
Due: azure-pipelines.yml

grammar fix on home page
  Product/WebApp/Views/Home/Index.cshtml
Due: azure-pipelines.yml

hotfix: Added admin authorize back
  Product/WebApp/Controllers/AdminController.cs
Due: azure-pipelines.yml

hotfix: staging appsettings for google
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

more topics page work
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/ViewModels/ButterCMS/TopicsLandingPageViewModel.cs
  Product/WebApp/ViewModels/TopicViewModel.cs
  Product/WebApp/Views/Topics/Index.cshtml
  Product/WebApp/client/scss/_topics.scss
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
Due: azure-pipelines.yml

removed changes from topicViewModel
  Product/WebApp/ViewModels/TopicViewModel.cs
Due: azure-pipelines.yml

changed about page behavior
  Product/WebApp/Views/Home/About.cshtml
Due: azure-pipelines.yml

protecting navigation cache clear with admin policy
  Product/WebApp/Controllers/ButterCMSController.cs
Due: azure-pipelines.yml

task-499: SignUp process now takes resume into account if you have one already
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Startup.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/SignupFlowViewModel.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/js/modules/signup-flow.js
  Product/WebApp/client/scss/_common.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: cors update in appsettings.staging
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

hotfix: addition of azure api for production
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

switching to Task485
  Product/WebApp/Views/Talent/JobPostings.cshtml
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines.yml

Task/536 - Changes made to _navigation.scss
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines.yml

added functionality to allow for multiple vendors on topics page
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/ViewModels/ButterCMS/TopicsLandingPageViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/TrainingTopicViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/TrainingVendorViewModel.cs
  Product/WebApp/Views/Topics/Index.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

work in progress for sitemap
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/wwwroot/sitemap.xml
Due: azure-pipelines.yml

LP content for NEXXT
  Product/WebApp/Views/Campaign/TargetedPages/Nexxt.cshtml
Due: azure-pipelines.yml

changing lp name back
  Product/WebApp/Views/Campaign/TargetedPages/Welcome.cshtml
Due: azure-pipelines.yml

04-19-2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190419115918_Added CompanyGuid to RecruiterCompany.Designer.cs
  Product/API/Migrations/20190419115918_Added CompanyGuid to RecruiterCompany.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/RecruiterCompany.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/JobPostingSkillDto.cs
  Product/UpDiddyLib/Dto/RecruiterCompanyDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/CreateJobPostingViewModel.cs
  Product/WebApp/Views/Talent/CreateJobPosting.cshtml
  Product/WebApp/Views/Talent/JobPostings.cshtml
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-538: wrapped up resume refactor to react poc w/ssr
  Product/API/Controllers/ResumeController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/SubscriberFileDto.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/react/components/ResumeUpload.js
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_profile.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/react/_resume-upload.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: style adjustment
  Product/WebApp/client/scss/_common.scss
Due: azure-pipelines.yml

scaffolded job details page
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/JobDetails.cshtml
Due: azure-pipelines.yml

task-538: slight refactor and webpack update
  Product/WebApp/client/react/components/ResumeUpload.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/webpack.common.js
  Product/WebApp/webpack.prod.js
Due: azure-pipelines.yml

task-538: removing deprecated file (will need to refactor contact select)
  Product/WebApp/client/react/index.js
Due: azure-pipelines.yml

added jobs controller and jobs directory in views
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

bug-541: Simple layout now used only for loggingin page, removed user calls on layout
  Product/WebApp/Views/Home/404.cshtml
  Product/WebApp/Views/Home/Forbidden.cshtml
  Product/WebApp/Views/Shared/Error.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/Views/_ViewStart.cshtml
Due: azure-pipelines.yml

added job details page - hardcoded
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Helpers/ExtensionMethods.cs
  Product/WebApp/Views/Home/About.cshtml
  Product/WebApp/Views/Home/JobDetails.cshtml
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPostingHeader.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_job-details.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines.yml

got hung up on google creds; having trouble retrieving jobs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Helpers/JobSitemapIndexConfiguration.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

04-23-2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/JobPosting.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/CreateJobPostingViewModel.cs
  Product/WebApp/Views/Talent/CreateJobPosting.cshtml
  Product/WebApp/Views/Talent/JobPostings.cshtml
  Product/WebApp/client/scss/_talent.scss
  Product/WebApp/client/scss/_template.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

added plumbing for job details page
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Helpers/ExtensionMethods.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Home/About.cshtml
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPostingHeader.cshtml
  Product/WebApp/client/scss/_job-details.scss
Due: azure-pipelines.yml

associate leads with campaign, fix for campaign reporting
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/Migrations/20190423183428_update campaign reporting.Designer.cs
  Product/API/Migrations/20190423183428_update campaign reporting.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

removed superfluous style
  Product/WebApp/client/scss/_template.scss
Due: azure-pipelines.yml

added animate.css to project for job posting page
  Product/WebApp/ViewModels/Components/Buttons/ActionButtonViewModel.cs
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPostingHeader.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines.yml

implemented job sitemap using Google search
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Helpers/JobSitemapIndexConfiguration.cs
Due: azure-pipelines.yml

fixed job return switch statement
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

Switching for refactor
  Product/API/ApplicationCore/Factory/JobPostingFavoriteFactory.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190424110650_JobPostingFavorites.Designer.cs
  Product/API/Migrations/20190424110650_JobPostingFavorites.cs
  Product/API/Migrations/20190424115138_Fixed Job favorite name.Designer.cs
  Product/API/Migrations/20190424115138_Fixed Job favorite name.cs
  Product/API/Migrations/20190424142110_Removed Id from JobPostingFavorite.Designer.cs
  Product/API/Migrations/20190424142110_Removed Id from JobPostingFavorite.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPostingFavorite.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/JobPostingFavoriteDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
