Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api-dev.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 2.2.x
    displayName: Specify dotnet core 2.2.x sdk
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  ...

azure-pipelines-api-uat.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 2.2.x
    displayName: Specify dotnet core 2.2.x sdk
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines-taccwebapp.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - task: UseNode@1
    inputs:
      version: 10.12.0
  - script: 'npm install gulp@^3.9.1
  
      '
    displayName: Install Gulp
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

code cleanup and nullable datetime fix
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/UpDiddyLib/Dto/User/UserStatsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Merged PR 1173: Admin page API for user accounts
  Product/API/ApplicationCore/Interfaces/IAccountManagementService.cs
  Product/API/ApplicationCore/Interfaces/IHubSpotService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/HubSpotService.cs
  Product/API/ApplicationCore/Services/Identity/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/V2/AdminController.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/User/UserStatsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2502 Setting email to querystring parameter instead of route
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/Controllers/V2/AdminController.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

new users are not verified upon account creation
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1187: new users are not verified upon account creation
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1189: mapping Bug fixes
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Bug fixes
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2502 Email querystring
  Product/API/Controllers/V2/AdminController.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1190: #2502 Email querystring
  Product/API/Controllers/V2/AdminController.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2502 Hangfire complained of private method while deleting an account
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/HubSpotService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1200: #2502 Hangfire complained of private method while deleting an account
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/HubSpotService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1201: Merged PR 1200: #2502 Hangfire complained of private method while deleting an...
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/HubSpotService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Updated appsettings.Production.json
  Product/API/appsettings.Production.json
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

release 7.3.0
  Product/API/ApplicationCore/Interfaces/IAccountManagementService.cs
  Product/API/ApplicationCore/Interfaces/IHubSpotService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/ApplicationCore/Services/HubSpotService.cs
  Product/API/ApplicationCore/Services/Identity/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/V2/AdminController.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200714115800_modify proficiency levels.Designer.cs
  Product/API/Migrations/20200714115800_modify proficiency levels.cs
  Product/API/Migrations/20200714121316_modify employment preferences.Designer.cs
  Product/API/Migrations/20200714121316_modify employment preferences.cs
  Product/API/Migrations/20200714141214_drop unwanted indexes.Designer.cs
  Product/API/Migrations/20200714141214_drop unwanted indexes.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/UpDiddyLib/Dto/User/UserStatsDto.cs
  azure-pipelines-api-dev.yml
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2764 #2782 Added code to send account deletion notification to the user
  Product/API.Tests/B2B/CreateTalentPipelineTests.cs
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/OfferService.cs
  Product/API/ApplicationCore/Services/PasswordResetRequestService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V1/JobApplicationController.cs
  Product/API/Controllers/V1/OffersController.cs
  Product/API/Controllers/V1/SubscriberController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2764 #2782 populate CC and BCC fields in the email
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Update azure-pipelines-api-dev.yml for Azure Pipelines
  azure-pipelines-api-dev.yml
Due: none

072420
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_CandidateAzureSearch.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/CandidateSDOC.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

user admin - corrected bug with user deletion from auth0
  Product/API/ApplicationCore/Services/Identity/UserService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

DB model updates
  Product/API/Migrations/20200724210235_Added DB changes for Url-tracking.Designer.cs
  Product/API/Migrations/20200724210235_Added DB changes for Url-tracking.cs
  Product/API/Models/Tracking.cs
  Product/API/Models/TrackingEventDay.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added api endpoints and related objects
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/V2/TrackingController.cs
  Product/UpDiddyLib/Domain/Models/UrlDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

cleanup
  Product/API/ApplicationCore/Services/TrackingService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2762 #2776 added stored procedure and entities for email statistics
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/Migrations/20200727124131_GetEmailStatistics.Designer.cs
  Product/API/Migrations/20200727124131_GetEmailStatistics.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/EmailStatisticsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2762 #2776 Finished API to get email stats
  Product/API/ApplicationCore/Interfaces/IAccountManagementService.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/Controllers/V2/AdminController.cs
  Product/UpDiddyLib/Domain/Models/EmailStatisticsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2809, #2764, #2782 Added production BCC addresses, email template ID
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Merged PR 1216: Added API to get email activity
  Product/API/ApplicationCore/Interfaces/IAccountManagementService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/Controllers/V2/AdminController.cs
  Product/API/Migrations/20200727124131_GetEmailStatistics.Designer.cs
  Product/API/Migrations/20200727124131_GetEmailStatistics.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/EmailStatisticsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

server side code logic
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITrackingRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/TrackingRepository.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

072720
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_CandidateAzureSearch.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/CandidateSDOC.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/LanguageSDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2800 #2799 Send email to subscriber when applied for a job
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/appsettings.json
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

api veracode scan
  azure-pipelines-veracode-api-dev.yml
Due: none

Set up CI with Azure Pipelines and veracode security scanning
  azure-pipelines-veracode-api-dev.yml
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api-dev.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api-uat.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
