Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

work in progress for custom password reset for auth0 and adb2c
  Product/API/ApplicationCore/Interfaces/Business/IPasswordResetRequestService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPasswordResetRequestRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Services/Identity/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/PasswordResetRequestService.cs
  Product/API/Controllers/V1/IdentityController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/User/ResetPasswordDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ViewModels/ChangePasswordViewModel.cs
  Product/WebApp/ViewModels/ResetPasswordRequestViewModel.cs
  Product/WebApp/Views/Session/ChangePassword.cshtml
  Product/WebApp/Views/Session/ResetPassword.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fix for circular reference
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyServiceV2.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyServiceV2.cs
  Product/API/Helpers/TraitifyHelper.cs
Due: azure-pipelines-api.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ICareerPathService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICareerPathCourseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICareerPathRepository.cs
  Product/API/ApplicationCore/Repository/CareerPathCourseRepository.cs
  Product/API/ApplicationCore/Repository/CareerPathRepository.cs
  Product/API/ApplicationCore/Services/CareerPathService.cs
  Product/API/Migrations/20191203175656_CareerPath.Designer.cs
  Product/API/Migrations/20191203175656_CareerPath.cs
  Product/API/Models/CareerPath.cs
  Product/API/Models/CareerPathCourse.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

completed sync of auth0 and adb2c pw change logic
  Product/API/ApplicationCore/Interfaces/Business/IPasswordResetRequestService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/PasswordResetRequestService.cs
  Product/API/Controllers/V1/IdentityController.cs
  Product/UpDiddyLib/Dto/User/ResetPasswordDto.cs
  Product/UpDiddyLib/Helpers/CustomDataAnnotations.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ViewModels/ChangePasswordViewModel.cs
  Product/WebApp/Views/Session/ChangePassword.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in careerpath
  Product/API/ApplicationCore/Interfaces/Business/ICareerPathService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICareerPathRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/CareerPathRepository.cs
  Product/API/ApplicationCore/Repository/CourseRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Services/CareerPathService.cs
  Product/API/Controllers/V2/CareerPathController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/CareerPathDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

complete
  Product/API/ApplicationCore/Interfaces/Business/ITalentFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/IButterCMSService.cs
  Product/API/ApplicationCore/Services/ButterCMSService.cs
  Product/API/ApplicationCore/Services/CloudTalentService.cs
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
  Product/API/ApplicationCore/Services/TalentFavoriteService.cs
  Product/API/Controllers/V2/ButterController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Domain/Models/ButterCMSRequestDto.cs
  Product/UpDiddyLib/Domain/Models/TalentFavoriteDto.cs
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in careerpath endpoints and vendor logoUrl and removal of cache and search term for keyword
  Product/API/ApplicationCore/Interfaces/Business/IKeywordService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITopicService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/CourseRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/KeywordService.cs
  Product/API/ApplicationCore/Services/TopicService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/TopicsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Course/CourseUrlHelper.cs
  Product/API/Migrations/20191204171734_LogoUrl_Vendor_Table.Designer.cs
  Product/API/Migrations/20191204171734_LogoUrl_Vendor_Table.cs
  Product/API/Models/Vendor.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/TopicCourseDto.cs
  Product/UpDiddyLib/Domain/Models/TopicDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

renaming and removing sorting
  Product/API/ApplicationCore/Interfaces/Business/ITopicService.cs
  Product/API/ApplicationCore/Services/TopicService.cs
  Product/API/Controllers/V2/CareerPathController.cs
Due: azure-pipelines-api.yml

added job skill matrix caching
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/Migrations/20191204212257_cache related job skill matrix.Designer.cs
  Product/API/Migrations/20191204212257_cache related job skill matrix.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

code complete
  Product/API/ApplicationCore/Interfaces/Business/IKeywordService.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/KeywordService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

fixed paging bug
  Product/API/Helpers/Job/JobQueryHelper.cs
Due: azure-pipelines-api.yml

working on related entity endpoints
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Migrations/20191126210903_skill enrichment and entity skill matching.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/JobPostingDto.cs
  Product/UpDiddyLib/Domain/Models/RelatedJobDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

12/06/19
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberCourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/SubscriberCourseService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Migrations/20191206110216_adding grade to enrollment.Designer.cs
  Product/API/Migrations/20191206110216_adding grade to enrollment.cs
  Product/API/Models/Enrollment.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/SubscriberCourseDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in course count
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseRepository.cs
  Product/API/ApplicationCore/Repository/CourseRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
Due: azure-pipelines-api.yml

Fixing small issues
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

topic getbyguid method
  Product/API/ApplicationCore/Interfaces/Business/ITopicService.cs
  Product/API/ApplicationCore/Services/TopicService.cs
  Product/API/Controllers/V2/CareerPathController.cs
Due: azure-pipelines-api.yml

removing company name from dto
  Product/UpDiddyLib/Domain/Models/JobDetailDto.cs
  Product/UpDiddyLib/Domain/Models/JobPostingDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

completed course endpoints and supporting stored procedures
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Migrations/20191126210903_skill enrichment and entity skill matching.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/RelatedCourseDto.cs
  Product/UpDiddyLib/Domain/Models/RelatedJobDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added trigger which was missing from the migration
  Product/API/Migrations/20191126210903_skill enrichment and entity skill matching.cs
Due: azure-pipelines-api.yml

switching to .net core 2.2.x to compile - gulp failing - first attempt to resolve
  azure-pipelines.production.yml
Due: none

dotnet core 3 back in play switching to node 10.12.0 for gulp
  azure-pipelines.production.yml
Due: none

Gulp 3.9.1 in play with node 10.12.0
  azure-pipelines.production.yml
Due: none

working on fixing gulp
  azure-pipelines.production.yml
Due: none

Working on fixing gulp
  azure-pipelines.production.yml
Due: none

gulp fix
  azure-pipelines.production.yml
Due: none

corrected spelling error on auth0 setting
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

fixed spelling error in API app setting
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

switching tasks
  Product/UpDiddyLib/Domain/Models/SubscriberCourseDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Fixed skill bug
  Product/API/ApplicationCore/Factory/SubscriberSkillFactory.cs
Due: azure-pipelines-api.yml

BK added migration for course level schema and data changes
  Product/API/Migrations/20191209153157_course sprocs and course level data.Designer.cs
  Product/API/Migrations/20191209153157_course sprocs and course level data.cs
Due: azure-pipelines-api.yml

going to gym
  Product/API/ApplicationCore/Interfaces/IButterCMSService.cs
  Product/API/Controllers/V2/BlogController.cs
Due: azure-pipelines-api.yml

bug fix related to Subscriber.IsVerified in migrations
  Product/API/Migrations/20190314182009_email_verification_initial.cs
  Product/API/Migrations/20191209190703_fix Subscriber IsVerified references.Designer.cs
  Product/API/Migrations/20191209190703_fix Subscriber IsVerified references.cs
Due: azure-pipelines-api.yml

code complete
  Product/API/ApplicationCore/Interfaces/IButterCMSService.cs
  Product/API/ApplicationCore/Services/ButterCMSService.cs
  Product/API/Controllers/V2/BlogController.cs
Due: azure-pipelines-api.yml

code complete
  Product/API/Controllers/V2/BlogController.cs
  Product/API/Controllers/V2/ButterController.cs
Due: azure-pipelines-api.yml

made grade optional
  Product/API/Migrations/20191210145004_making enrollment grade optional.Designer.cs
  Product/API/Migrations/20191210145004_making enrollment grade optional.cs
  Product/API/Models/Enrollment.cs
Due: azure-pipelines-api.yml

checking in career path jobs for subscriber endpoint
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/API/Migrations/20191209204914_jobsbytopic.Designer.cs
  Product/API/Migrations/20191209204914_jobsbytopic.cs
  Product/UpDiddyLib/Domain/Models/CareerPathJobPostingDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

updating route so it does not require topicguid
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

performance improvements to related entity queries
  Product/API/Migrations/20191210190815_performance improvements for related entity queries.Designer.cs
  Product/API/Migrations/20191210190815_performance improvements for related entity queries.cs
Due: azure-pipelines-api.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
