Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

removed unnecessary Dtos, fixed null ref on state lookup, adjusted regexps, added comments to json serialization in startup
  Product/API/Business/CourseFactory.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/SubscriberCreateDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/js/site.min.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added 'Copy to Output Directory: Copy if newer' to all appsettings files in API.Tests
  Product/API.Tests/API.Tests.csproj
Due: none

removed integration tests for Skills from API.Tests
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/LinkedInTests.cs
  SeleniumTests/SubscriberSkillTests.cs
Due: none

user-story-66: Resume Upload Sovren Endpoint Added
  Product/API/Business/BusinessVendorBase.cs
  Product/API/Business/Resume/ISovrenAPI.cs
  Product/API/Business/Resume/Sovren.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Models/BaseModel.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
  Product/API/Startup.cs
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/Constants.cs
  README.md
Due: azure-pipelines-api.yml, azure-pipelines.yml

Hotfix: moving todo closer to relevant code
  Product/API/Controllers/ResumeController.cs
Due: azure-pipelines-api.yml

work in progress for manual skill entry
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20181213152346_added guid to skill and subscriber skill, removed ONetCode from skill.Designer.cs
  Product/API/Migrations/20181213152346_added guid to skill and subscriber skill, removed ONetCode from skill.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Skill.cs
  Product/API/Models/SubscriberSkill.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/SkillDto.cs
  Product/UpDiddyLib/Dto/WozCourseProgress.cs
  Product/UpDiddyLib/Dto/WozCourseProgressDto.cs
  Product/WebApp.Tests/WebApp.Tests.csproj
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/wwwroot/lib/choices/base.min.css
  Product/WebApp/wwwroot/lib/choices/choices.min.css
  Product/WebApp/wwwroot/lib/choices/choices.min.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Refactored to use Constants class for now, will revisit at a later date
  Product/API/Business/Resume/Sovren.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20181213211714_new stored proc for subscriber skill updates.Designer.cs
  Product/API/Migrations/20181213211714_new stored proc for subscriber skill updates.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/js/site.min.js
  Product/WebApp/wwwroot/lib/choices/base.min.css
  Product/WebApp/wwwroot/lib/choices/choices.min.css
  Product/WebApp/wwwroot/lib/choices/choices.min.js
  Product/WebApp/wwwroot/lib/selectize/selectize.css
  Product/WebApp/wwwroot/lib/selectize/selectize.default.css
  Product/WebApp/wwwroot/lib/selectize/selectize.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Before dev pull
  Product/API/Models/Skill.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/SubscriberSkill.cs
  Product/API/Models/_LinkedInToken.cs
  Product/API/Models/_Skill.cs
  Product/API/Models/_Subscriber.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
  Product/API/Models/_SubscriberSkill.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Initial push of signup flow.
  Product/UpDiddyLib/Dto/ResumeDto.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/SignupFlowViewModel.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.dev.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/js/typewriter.js
  Product/WebApp/wwwroot/lib/animate/animate.css
  Product/WebApp/wwwroot/scss/_common.scss
  Product/WebApp/wwwroot/scss/_mixins.scss
  Product/WebApp/wwwroot/scss/_signup-flow.scss
  Product/WebApp/wwwroot/scss/_template.scss
  Product/WebApp/wwwroot/scss/bundle.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

manual skill entry complete
  Product/API/Controllers/ProfileController.cs
  Product/API/Migrations/20181213211714_new stored proc for subscriber skill updates.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/js/site.min.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

additional work on flow including adding cards to work history
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

removed reference to tagsinput in project file
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.min.js
Due: azure-pipelines.yml

moved front-end logic from site.js to Profile.cshtml
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/js/site.js
Due: azure-pipelines.yml

wrapping CREATE PROCEDURE statement in an EXEC function call
  Product/API/Migrations/20181213211714_new stored proc for subscriber skill updates.cs
Due: azure-pipelines-api.yml

adding NOEXEC ON during sproc generation
  Product/API/Migrations/20181213211714_new stored proc for subscriber skill updates.cs
Due: azure-pipelines-api.yml

wrapping sproc and function creation with EXEC, escaping single quotes
  Product/API/Migrations/20181213211714_new stored proc for subscriber skill updates.cs
Due: azure-pipelines-api.yml

removing GO statements because script option adds new IF blocks
  Product/API/Migrations/20181213211714_new stored proc for subscriber skill updates.cs
Due: azure-pipelines-api.yml

Modified ParseSkillsFromHrXML to not catch exceptions
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Task45 Added loggint to ToLinkedInDto method
  Product/API/Controllers/LinkedInController.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
Due: azure-pipelines-api.yml

bug fix for DBNull.Value in subscriber update sproc
  Product/API/Controllers/ProfileController.cs
  Product/API/Migrations/20181218132111_modified logic in System_Update_Subscriber sproc.Designer.cs
  Product/API/Migrations/20181218132111_modified logic in System_Update_Subscriber sproc.cs
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.min.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Continued work including education, work history screens
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/SignupFlowViewModel.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

merged from dev
  Product/WebApp/wwwroot/css/site.dev.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/site.dev.js
Due: azure-pipelines.yml

temp checkin
  Product/API/Migrations/20181218180735_Add HasOnboarded Flag.Designer.cs
  Product/API/Migrations/20181218180735_Add HasOnboarded Flag.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Subscriber.cs
  Product/WebApp/wwwroot/css/site.dev.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/site.dev.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Api Test Hotfix
  Product/API.Tests/ResumeParserTests.cs
Due: none

front-end resume upload wip
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/ResumeController.cs
  Product/UpDiddyLib/Dto/ResumeDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ResumeViewModel.cs
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

temp
  Product/API/Migrations/20181218193101_Workhistory tables.Designer.cs
  Product/API/Migrations/20181218193101_Workhistory tables.cs
  Product/API/Migrations/20181218201221_Educationalhistory tables.Designer.cs
  Product/API/Migrations/20181218201221_Educationalhistory tables.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Company.cs
  Product/API/Models/CompensationType.cs
  Product/API/Models/EducationalDegree.cs
  Product/API/Models/EducationalDegreeType.cs
  Product/API/Models/EducationalInstitution.cs
  Product/API/Models/SubscriberEducationHistory.cs
  Product/API/Models/SubscriberWorkHistory.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

wired up resume upload to signup flow
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/ResumeController.cs
  Product/UpDiddyLib/Dto/ResumeDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/images/spinner.gif
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

additional work on resume page and added skills
  Product/API/Migrations/20181130200339_Initial.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/SignupFlowViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.dev.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/selectize-handling.js
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

recompiled sass
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.dev.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/site.dev.js
Due: azure-pipelines.yml

task-73: api rest and security refactor with WebApp calls updated
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/PromoCodeController.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Controllers/WozController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/TopicController.cs
  Product/WebApp/ViewComponent/LinkedInSyncViewComponent.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: added contact-us link to the footer
  Product/WebApp/Views/Shared/_Footer.cshtml
Due: azure-pipelines.yml

Fix to CourseFactory._GetWozCourseLogin linq query check
  Product/API/Business/CourseFactory.cs
Due: azure-pipelines-api.yml

initial commit of responsive styles and fixed bug where first name slide went back to last slide
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

Completed parse of sovren resume for contact info, work and educational history
  Product/API/Business/LinkedInInterface.cs
  Product/API/Migrations/20181219121154_Add Education Type Data.Designer.cs
  Product/API/Migrations/20181219121154_Add Education Type Data.cs
  Product/API/Migrations/20181219143813_Add Compensation Type Data.Designer.cs
  Product/API/Migrations/20181219143813_Add Compensation Type Data.cs
  Product/API/Migrations/20181221122704_Made company and compensation not required in SubscriberWorkHistory.Designer.cs
  Product/API/Migrations/20181221122704_Made company and compensation not required in SubscriberWorkHistory.cs
  Product/API/Migrations/20181221151806_Made degree type and degree optional in SubscriberEducationHistory.Designer.cs
  Product/API/Migrations/20181221151806_Made degree type and degree optional in SubscriberEducationHistory.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Company.cs
  Product/API/Models/Country.cs
  Product/API/Models/EducationalDegree.cs
  Product/API/Models/EducationalInstitution.cs
  Product/API/Models/State.cs
  Product/API/Models/SubscriberEducationHistory.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/_Company.cs
  Product/API/Models/_Country.cs
  Product/API/Models/_EducationalDegree.cs
  Product/API/Models/_EducationalInstitution.cs
  Product/API/Models/_State.cs
  Product/API/Models/_Subscriber.cs
  Product/API/Models/_SubscriberEducationHistory.cs
  Product/API/Models/_SubscriberSkill.cs
  Product/API/Models/_SubscriberWorkHistory.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/SubscriberContactInfoDto.cs
  Product/UpDiddyLib/Dto/SubscriberEducationHistoryDto.cs
  Product/UpDiddyLib/Dto/SubscriberWorkHistoryDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added database write functionality
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/SignupFlowViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/js/site.min.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

responsive changes to onboarding flow including flow height updates
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

removed un-needed code
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines.yml

created api controller unit test which makes use of in-memory db
  Product/API.Tests/ControllerTests.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

added region, removed misleading comment
  Product/API.Tests/ControllerTests.cs
Due: none
