Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

Made wonderfully restful
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/CreateJobPosting.cshtml
  Product/WebApp/Views/Talent/JobPostings.cshtml
Due: azure-pipelines.yml

removed bad comments
  Product/WebApp/Controllers/TalentController.cs
Due: azure-pipelines.yml

04/24/2019
  Product/API/ApplicationCore/Factory/JobPostingFavoriteFactory.cs
  Product/API/Controllers/JobController.cs
  Product/UpDiddyLib/Dto/JobPostingFavoriteDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-527: initial work to get client events created
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/GoogleJobs/ClientEventType.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

adjustments to job favorites
  Product/API/ApplicationCore/Factory/JobPostingFavoriteFactory.cs
  Product/API/Controllers/JobController.cs
Due: azure-pipelines-api.yml

Changes for Task-523
  Product/API/ApplicationCore/Interfaces/Repository/ICountryRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStateRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/CountryRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SharedController.cs
  Product/API/Startup.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobsSearchCriteriaViewModel.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

adding job application page
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobApplicationViewModel.cs
  Product/WebApp/Views/Jobs/Apply.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
Due: azure-pipelines.yml

hotfix: dependency adjustment for build
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines.yml

added pages to complete job application flow, slight style update to buttons, and slight modification to API controller to return BasicResponseDto
  Product/API/Controllers/JobApplicationController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/CompletedJobApplicationViewModel.cs
  Product/WebApp/ViewModels/JobApplicationViewModel.cs
  Product/WebApp/Views/Jobs/Finish.cshtml
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Jobs/Partials/_FinishedApplicationMessage.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPostingHeader.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_job-details.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

added in overwritten import
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

528/548 done
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
Due: azure-pipelines-api.yml

04-29-2019
  Product/API/ApplicationCore/Factory/EnrollmentFactory.cs
  Product/API/ApplicationCore/Factory/WozCourseEnrollmentFactory.cs
  Product/API/ApplicationCore/Services/WozInterface.cs
  Product/API/Controllers/EnrollmentController.cs
Due: azure-pipelines-api.yml

task-527: Finalizing event creation with miniguid and timestamp and enum usage
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/GoogleJobs/ClientEventType.cs
  Product/API/Controllers/JobController.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

last minute tidying up
  Product/API/Controllers/EnrollmentController.cs
Due: azure-pipelines-api.yml

Task554 Complete
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added email to application page
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobApplicationViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
Due: azure-pipelines.yml

removing parenthesis
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
Due: azure-pipelines.yml

removing unneeded attribute
  Product/WebApp/ViewModels/Components/Buttons/ActionButtonViewModel.cs
Due: azure-pipelines.yml

removing unneeded code
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
Due: azure-pipelines.yml

added null checks
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

work in progress for tiny url
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
Due: azure-pipelines.yml

work in progress for tiny url
  Product/API/Controllers/CampaignsController.cs
  Product/API/Migrations/20190429182229_tiny id for email campaign url.Designer.cs
  Product/API/Migrations/20190429182229_tiny id for email campaign url.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Campaign.cs
  Product/API/Models/CampaignPartnerContact.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/CampaignPartnerContactDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Task554 Complete
  Product/API/Helpers/Job/JobMappingHelper.cs
Due: azure-pipelines-api.yml

Changed Ok to BadRequest
  Product/API/Controllers/EnrollmentController.cs
Due: azure-pipelines-api.yml

Changes to UI - Task-523
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SharedController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/ViewModels/JobsSearchCriteriaViewModel.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/client/scss/_job-search.scss
  Product/WebApp/client/scss/_variables.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

removing unneeded image
  Product/WebApp/wwwroot/images/AdobeStock_57325018.jpeg
Due: azure-pipelines.yml

Task564 Complete
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/JobPostingsViewModel.cs
  Product/WebApp/Views/Talent/JobPostings.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added Barnett course
  Product/WebApp/Views/Topics/Index.cshtml
  Product/WebApp/wwwroot/images/BarnettTile.png
  Product/WebApp/wwwroot/images/Barnett_Logo.png
  Product/WebApp/wwwroot/images/barnett-logo.png
Due: azure-pipelines.yml

requested changes from Brent
  Product/API/Controllers/CampaignsController.cs
  Product/API/Migrations/20190429182229_tiny id for email campaign url.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

added null check and language updates
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
Due: azure-pipelines.yml

Fixed
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
Due: azure-pipelines-api.yml

using posting date for job sitemap
  Product/WebApp/Helpers/JobSitemapIndexConfiguration.cs
Due: azure-pipelines.yml

hotfix: added chakrajs core package
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines.yml

added barnett course info page
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Views/Course/ClinicalResearchCoordinator.cshtml
  Product/WebApp/Views/Topics/Index.cshtml
  Product/WebApp/wwwroot/images/barnett_header.jpg
Due: azure-pipelines.yml

Forced reload from servert
  Product/WebApp/Views/Talent/JobPostings.cshtml
Due: azure-pipelines.yml

Changed to remove row
  Product/WebApp/Views/Talent/JobPostings.cshtml
Due: azure-pipelines.yml

added function to get resume for subscriber
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

05032019
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190503114455_Update subscriber search sp.Designer.cs
  Product/API/Migrations/20190503114455_Update subscriber search sp.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberSearch.cs
  Product/API/UpDiddyApi.csproj
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

continued work on attaching resume
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml
