Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api-uat.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 2.2.x
    displayName: Specify dotnet core 2.2.x sdk
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines-taccwebapp.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - task: UseNode@1
    inputs:
      version: 10.12.0
  - script: 'npm install gulp@^3.9.1
  
      '
    displayName: Install Gulp
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

added hiring manager support to api endpoint invoked by Auth0 hook
  Product/UpDiddyLib/Domain/Models/SubscriberDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added hiring manager support to api endpoint invoked by Auth0 hook (service code)
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2188 More robustier status tracking email operations
  Product/API/ApplicationCore/Services/B2B/InterviewRequestService.cs
  Product/API/Migrations/20200508160146_InterviewRequest.Designer.cs
  Product/API/Migrations/20200508160146_InterviewRequest.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/B2B/InterviewRequest.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

add logical delete check to b2b pipeline list endpoint
  Product/API/Migrations/20200511190212_add logical delete check to b2b pipeline list endpoint.Designer.cs
  Product/API/Migrations/20200511190212_add logical delete check to b2b pipeline list endpoint.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2188 Hangfire testing and app settings config changes
  Product/API/ApplicationCore/Services/B2B/InterviewRequestService.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
  Product/API/appsettings.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Updated HM properties and code logic
  Product/API/ApplicationCore/Repository/HiringManagerRepository.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200508201024_Added new HM columns.Designer.cs
  Product/API/Migrations/20200508201024_Added new HM columns.cs
  Product/API/Models/B2B/HiringManager.cs
  Product/UpDiddyLib/Dto/HiringManagerDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

removed migration
  Product/API/Migrations/20200508160146_InterviewRequest.Designer.cs
  Product/API/Migrations/20200508160146_InterviewRequest.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

readded migration (post merge conflict)
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Migrations/20200511201607_InterviewRequest.Designer.cs
  Product/API/Migrations/20200511201607_InterviewRequest.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2188 fixed configuration
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2188 Removed due to non-use
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

switching branches
  Product/API.Tests/Helpers/ApiOperationTest.cs
  Product/API.Tests/appsettings.json
Due: none

read for push
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/Helpers/ApiOperationTest.cs
  Product/API.Tests/appsettings.json
Due: none

#2298, #2188 Added profile Guid to the recruiter email template
  Product/API/ApplicationCore/Services/B2B/InterviewRequestService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

code complete
  Product/API/Migrations/20200514101725_sproc fix for System_Create_SubscriberG2Profiles.Designer.cs
  Product/API/Migrations/20200514101725_sproc fix for System_Create_SubscriberG2Profiles.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

code complete
  Product/API/Migrations/20200514101725_sproc fix for System_Create_SubscriberG2Profiles.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2179 Send email for Create Talent Pipeline
  Product/API/ApplicationCore/Interfaces/Business/B2B/ICareerTalentPipelineService.cs
  Product/API/ApplicationCore/Services/B2B/CareerTalentPipeline/CareerTalentPipelineOptions.cs
  Product/API/ApplicationCore/Services/B2B/CareerTalentPipeline/CareerTalentPipelineService.cs
  Product/API/ApplicationCore/Services/B2B/CareerTalentPipeline/ExtensionMethods.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Domain/Models/B2B/CareerTalentPipelineDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2179 #2284 Added Authorize attribute to controller actions
  Product/API/Controllers/V2/B2BController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2179 #2284 Remove Auth attribute for the questions getter
  Product/API/Controllers/V2/B2BController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Hiring manager candidate profile details changes.
  Product/API/ApplicationCore/Interfaces/Business/HiringManager/IHiringManagerService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberEducationHistoryRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberWorkHistoryRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberEducationHistoryRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberWorkHistoryRepository.cs
  Product/API/ApplicationCore/Services/HiringManager/HiringManagerService.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/EducationalHistoryDto.cs
  Product/UpDiddyLib/Dto/EmploymentDto.cs
  Product/UpDiddyLib/Dto/EmploymentHistoryDto.cs
  Product/UpDiddyLib/Dto/HiringManagerCandidateProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2179 #2334 unit tests and fixed a few bugs found in unit tests
  Product/API.Tests/B2B/CreateTalentPipelineTests.cs
  Product/API/ApplicationCore/Services/B2B/CareerTalentPipeline/CareerTalentPipelineService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Further HM candidate details changes - Mostly tested.
  Product/API/ApplicationCore/Services/HiringManager/HiringManagerService.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/EducationDto.cs
  Product/UpDiddyLib/Dto/EducationalDegreeDto.cs
  Product/UpDiddyLib/Dto/EducationalHistoryDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

code clean-up
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Fixed bugs found by Bill
  Product/API/ApplicationCore/Services/HiringManager/HiringManagerService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2179 added email Template IDs
  Product/API/appsettings.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Updated the GetLastEmploymentDetailBySubscriberGuid logic for cases when max start and end dates are equal.
  Product/API/ApplicationCore/Repository/SubscriberWorkHistoryRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

fixed EASi job scrape problems
  Product/API/ApplicationCore/Services/JobDataMining/EASiProcess.cs
  Product/API/Migrations/20200518201618_EASi job scrape changes.Designer.cs
  Product/API/Migrations/20200518201618_EASi job scrape changes.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added code comments with considerations for future iterations
  Product/API/ApplicationCore/Services/JobDataMining/EASiProcess.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

updating query logic for getting last work history
  Product/API/ApplicationCore/Repository/SubscriberWorkHistoryRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

adding support for multiple search fields
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/B2BController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

allow recruiters and admins to retrieve recruiter details by RecruiterGuid
  Product/API/Controllers/V2/RecruitersController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2179 Added content to the create talent pipeline recruiter email
  Product/API.Tests/B2B/CreateTalentPipelineTests.cs
  Product/API/ApplicationCore/Interfaces/Business/B2B/ICareerTalentPipelineService.cs
  Product/API/ApplicationCore/Services/B2B/CareerTalentPipeline/CareerTalentPipelineService.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/UpDiddyLib/Domain/Models/B2B/CareerTalentPipelineDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Idempotent changes
  Product/API/ApplicationCore/Repository/TagRepository.cs
  Product/API/ApplicationCore/Services/TagService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2179 sending emails to TalentPipelines email address in production
  Product/API/appsettings.Production.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2129 Restrict state lookup to US states
  Product/API/ApplicationCore/Factory/StateFactory.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

fixed issue preventing daily job alerts from being created without specifying the 'executionDayOfWeek' property in the DTO. removed duplicate logic for adding new subscribers to g2 index.
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Adding postal data refresh scripts.
  GarageP1.sln
Due: none

removed sql scripts for a problem while checking-in
  GarageP1.sln
Due: none

Adding DB scripts for Postal Data refresh
  Product/DatabaseScripts/PostalDataRefresh/Backup_Tables.sql
  Product/DatabaseScripts/PostalDataRefresh/DataComparisonQuery_Examples.sql
  Product/DatabaseScripts/PostalDataRefresh/Merge_ZipCode_Data.sql
  Product/DatabaseScripts/PostalDataRefresh/Rollback_Scripts.sql
Due: none

Code cleanup and adding notes and instructions.
  Product/DatabaseScripts/PostalDataRefresh/Backup_Tables.sql
  Product/DatabaseScripts/PostalDataRefresh/DataComparisonQuery_Examples.sql
  Product/DatabaseScripts/PostalDataRefresh/Merge_ZipCode_Data.sql
  Product/DatabaseScripts/PostalDataRefresh/Rollback_Scripts.sql
Due: none

script cleanup
  Product/DatabaseScripts/PostalDataRefresh/DataComparisonQuery_Examples.sql
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api-uat.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
