Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test Product/UpDiddyLib.Tests --logger trx --results-directory $(Agent.TempDirectory)
  displayName: UpDiddyLib Unit Tests'

- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

trying to fix test results output
  azure-pipelines.yml
Due: none

trying to fix test results output again
  azure-pipelines.yml
Due: none

added quotes to arguments
  azure-pipelines.yml
Due: none

used different syntax with fewer arguments
  azure-pipelines.yml
Due: none

fixed bug with RemoveQueryStringFromUrl Helper
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Linkedin Refactor
  Product/API/Business/LinkedInInterface.cs
  Product/API/Models/LinkedInToken.cs
  Product/API/Models/SubscriberProfileStagingStore.cs
  Product/API/Models/_LinkedInToken.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

adjusting yaml for pipeline
  azure-pipelines.yml
Due: none

added searchFolder argument to publish task
  azure-pipelines.yml
Due: none

run webapp.tests in pipeline
  azure-pipelines.yml
Due: none

added comments for WebApp.Tests, corrected test project name in pipeline
  Product/WebApp.Tests/LinkedInTests.cs
  azure-pipelines.yml
Due: none

added unit tests to api build pipeline
  azure-pipelines-api.yml
Due: none

Task 35: Keep history of linkedin profile data
  Product/API/Business/LinkedInInterface.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
Due: azure-pipelines-api.yml

corrected typos in both pipelines, added PublishTestResults@2 task to api pipeline
  azure-pipelines-api.yml
  azure-pipelines.yml
Due: none

Task39 Complete
  Product/API/Controllers/LinkedInController.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
  Product/UpDiddyLib/Dto/LinkedInPositionDto.cs
  Product/UpDiddyLib/Dto/LinkedInProfileDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-40: logging refactor, serilog integrated
  Product/API/Business/BusinessVendorBase.cs
  Product/API/Business/CourseFactory.cs
  Product/API/Business/FactoryBase.cs
  Product/API/Business/LinkedInInterface.cs
  Product/API/Business/WozInterface.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/PromoCodeController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/TopicController.cs
  Product/API/Controllers/VersionController.cs
  Product/API/Controllers/WozController.cs
  Product/API/Program.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/Workflow/WorkflowHelper.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Helpers/ISysLog.cs
  Product/UpDiddyLib/Helpers/SysLog.cs
  Product/UpDiddyLib/Serilog/Sinks/EmailLoggerConfigurationExtensions.cs
  Product/UpDiddyLib/Serilog/Sinks/EmailSink.cs
  Product/UpDiddyLib/UpDiddyLib.csproj
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-40: removed unecessary error email variable
  Product/API/Workflow/BraintreePaymentFlow.cs
Due: azure-pipelines-api.yml

Removed unecessary empty project
  WebApp Example/bower_components/jquery-validation/build/release.js
Due: none

Authorized GetProfile
  Product/API/Controllers/LinkedInController.cs
Due: azure-pipelines-api.yml

Removed commented code
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

intermediate
  GarageP1.sln
  Product/API.Tests/LinkedInTests.cs
  SeleniumApiTests/SeleniumApiTests.csproj
  SeleniumApiTests/TopicsTests.cs
  SeleniumTests/LinkedInTest.cs
  SeleniumTests/Properties/AssemblyInfo.cs
  SeleniumTests/SeleniumTests.csproj
  SeleniumTests/TopicsTest.cs
  SeleniumTests/packages.config
Due: none

Updated logs to critical logs in WorkflowHelper as they sent emails before
  Product/API/Workflow/WorkflowHelper.cs
Due: azure-pipelines-api.yml

Task48: Optimized UpdateStudentCourseStatus and added some debugging for out of memory error
  Product/API.Tests/API.Tests.csproj
  Product/API/Controllers/WozController.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Set health status to run every 5 minutes
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

Removed linkedin button for release
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines.yml

Moved health check to promo coe
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Final version
  Product/API/Controllers/WozController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

dumb notification that doesn't interact w/ api
  Product/WebApp/ViewComponent/LinkedInSyncViewComponent.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Syncing.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/wwwroot/lib/toastr.min.css
  Product/WebApp/wwwroot/lib/toastr.min.js
Due: azure-pipelines.yml

Removed returns from baseline migration
  Product/API/Migrations/20181130200339_Initial.cs
Due: azure-pipelines-api.yml

adding LinkedIn config settings for staging and production
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

updated api and test project to dotnet core 2.2
  Product/API.Tests/API.Tests.csproj
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

Revert "updated api and test project to dotnet core 2.2"
  Product/API.Tests/API.Tests.csproj
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

Task61 Complete
  Product/API.Tests/API.Tests.csproj
  Product/API.Tests/Task60Tests.cs
  Product/API/Migrations/20181207213442_Task61 Create Skills tables.Designer.cs
  Product/API/Migrations/20181207213442_Task61 Create Skills tables.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Skill.cs
  Product/API/Models/SubscriberSkill.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

updating profile page (wip)
  Product/API/Business/CourseFactory.cs
  Product/API/Business/WozInterface.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/WozController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20181207204257_added relationship between subscriber and state.Designer.cs
  Product/API/Migrations/20181207204257_added relationship between subscriber and state.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Subscriber.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/EnrollmentDto.cs
  Product/UpDiddyLib/Dto/SubscriberCreateDto.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Dto/WozCourseProgress.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added Comment
  Product/API.Tests/Task60Tests.cs
Due: none

completed changes to profile controller, viewmodel, and view
  Product/API/Business/CourseFactory.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/StateDto.cs
  Product/UpDiddyLib/Dto/SubscriberCreateDto.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/js/site.min.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

trying to change the casing of _error.scss
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
Due: azure-pipelines.yml

deleting _Error.scss
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/scss/_Error.scss
Due: azure-pipelines.yml

fixing scss file for Ian
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/scss/_error.scss
Due: azure-pipelines.yml

Changed Test Name
  Product/API.Tests/SubscriberSkillTests.cs
Due: none
