Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api-uat.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 2.2.x
    displayName: Specify dotnet core 2.2.x sdk
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines-taccwebapp.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - task: UseNode@1
    inputs:
      version: 10.12.0
  - script: 'npm install gulp@^3.9.1
  
      '
    displayName: Install Gulp
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

modified to return num profiles per pipeline
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Migrations/20200526161340_updating hiring manager pipeline sproc.Designer.cs
  Product/API/Migrations/20200526161340_updating hiring manager pipeline sproc.cs
  Product/UpDiddyLib/Domain/Models/B2B/PipelineDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

fixed correlation bug
  Product/API/Migrations/20200526171038_pipeline count hotfix.Designer.cs
  Product/API/Migrations/20200526171038_pipeline count hotfix.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

adding missed CompanyGuid to response of GetCandidateWorkHistory
  Product/API/ApplicationCore/Repository/SubscriberWorkHistoryRepository.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/EmploymentDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Fixed data query and mapping issues.
  Product/API/ApplicationCore/Repository/SubscriberEducationHistoryRepository.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Fix to not return companies when IsDeleted = 1 for B2B GetCandidateWorkHistory
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2113 #2332 `GetRecruiters` evaluate for Auth-0 role
  Product/API/ApplicationCore/Services/RecruiterService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2413 rethrow instead of swallowing exception
  Product/API/ApplicationCore/Services/HiringManager/HiringManagerService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Fixed endppoint to return correct data
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/EducationDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2143 fixing potential null-object-ref exception
  Product/API/ApplicationCore/Services/HiringManager/HiringManagerService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Added a data compare query
  Product/DatabaseScripts/PostalDataRefresh/DataComparisonQuery_Examples.sql
Due: none

updating comments
  Product/DatabaseScripts/PostalDataRefresh/Merge_ZipCode_Data.sql
Due: none

modifed sp to look to work history for job title
  Product/API/Migrations/20200527222605_Updating sproc to return latest title.Designer.cs
  Product/API/Migrations/20200527222605_Updating sproc to return latest title.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Fixed rnum bug
  Product/API/Migrations/20200528114202_[System_Get_PipelineProfilesForHiringManager] hot fix.Designer.cs
  Product/API/Migrations/20200528114202_[System_Get_PipelineProfilesForHiringManager] hot fix.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

wiring the sorting and paging capability.
  Product/API/ApplicationCore/Interfaces/Business/HiringManager/IHiringManagerService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberEducationHistoryRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberWorkHistoryRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberEducationHistoryRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberWorkHistoryRepository.cs
  Product/API/ApplicationCore/Services/HiringManager/HiringManagerService.cs
  Product/API/Controllers/V2/B2BController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

updated TEKsystems job scrape to work with the new site structure (Phenom People)
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20200601171211_TEKsystems job scrape changes.Designer.cs
  Product/API/Migrations/20200601171211_TEKsystems job scrape changes.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

060120
  Product/API/ApplicationCore/Services/RecruiterService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Reference check DB model baseline
  Product/API/Migrations/20200601215443_Reference Check DB Model.Designer.cs
  Product/API/Migrations/20200601215443_Reference Check DB Model.cs
  Product/API/Models/G2/ReferenceCheck.cs
  Product/API/Models/G2/ReferenceCheckStatus.cs
  Product/API/Models/G2/ReferenceCheckVendor.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

latest Model updates.
  Product/API/Migrations/20200601215443_Reference Check DB Model.Designer.cs
  Product/API/Migrations/20200601215443_Reference Check DB Model.cs
  Product/API/Models/G2/CandidateReference.cs
  Product/API/Models/G2/ReferenceCheck.cs
  Product/API/Models/G2/ReferenceCheckStatus.cs
  Product/API/Models/G2/ReferenceCheckVendor.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Crosschq controller, service, interfaces and webhook methods and Dtos added.
  Product/API/ApplicationCore/Interfaces/Business/G2/ICrosschqService.cs
  Product/API/ApplicationCore/Services/G2/CrosschqService.cs
  Product/API/Controllers/V2/CrosschqController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/CrosschqCandidateDto.cs
  Product/UpDiddyLib/Dto/CrosschqReferenceDto.cs
  Product/UpDiddyLib/Dto/CrosschqWebhookDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

code fixes and additions
  Product/API/ApplicationCore/Services/G2/CrosschqService.cs
  Product/API/Startup.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Updated report file url field def.
  Product/API/Models/G2/ReferenceCheck.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Added noew properties for report files.
  Product/UpDiddyLib/Dto/CrosschqWebhookDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

few code updates.
  Product/API/ApplicationCore/Services/G2/CrosschqService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

rolling back
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Updated Model
  Product/API/Migrations/20200603160038_Reference Check DB Model.Designer.cs
  Product/API/Migrations/20200603160038_Reference Check DB Model.cs
  Product/API/Models/G2/ReferenceCheck.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2445 #2442 #2045 Added WebClient
  Product/API/ApplicationCore/Interfaces/Business/G2/ICrossChqWebClient.cs
  Product/API/ApplicationCore/Services/B2B/CareerTalentPipeline/ExtensionMethods.cs
  Product/API/ApplicationCore/Services/G2/CrossChq/CrossChqWebClient.cs
  Product/API/ApplicationCore/Services/G2/CrossChq/ExtensionMethods.cs
  Product/API/Models/G2/CrossChq/ReferenceCandidate.cs
  Product/API/Models/G2/CrossChq/ReferenceRequest.cs
  Product/API/Models/G2/CrossChq/ReferenceResponse.cs
  Product/API/Startup.cs
  Product/API/appsettings.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Adding Crosschq repository objects
  Product/API/ApplicationCore/Interfaces/Repository/ICrosschqRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CrosschqRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Webhook method updates and Modal Updates
  Product/API/ApplicationCore/Interfaces/Repository/ICrosschqRepository.cs
  Product/API/ApplicationCore/Repository/CrosschqRepository.cs
  Product/API/ApplicationCore/Services/G2/CrosschqService.cs
  Product/API/Controllers/V2/CrosschqController.cs
  Product/API/Migrations/20200604021947_Reference Check DB Model updates1.Designer.cs
  Product/API/Migrations/20200604021947_Reference Check DB Model updates1.cs
  Product/API/Models/G2/CandidateReference.cs
  Product/API/Models/G2/ReferenceCheck.cs
  Product/API/Models/G2/ReferenceCheckStatus.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/CrosschqWebhookDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2445 #2045 removed sensitive data from source control
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
  Product/API/appsettings.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2445 #2045 Capitalization of settings for consistency
  Product/API/ApplicationCore/Services/G2/CrossChq/ExtensionMethods.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Webhook updates and DBModel updates
  Product/API/ApplicationCore/Interfaces/Repository/ICrosschqRepository.cs
  Product/API/ApplicationCore/Repository/CrosschqRepository.cs
  Product/API/ApplicationCore/Services/G2/CrosschqService.cs
  Product/API/Controllers/V2/CrosschqController.cs
  Product/API/Migrations/20200604151603_Reference Check DB Model updates2.Designer.cs
  Product/API/Migrations/20200604151603_Reference Check DB Model updates2.cs
  Product/API/Models/G2/ReferenceCheck.cs
  Product/API/Models/G2/ReferenceCheckReport.cs
  Product/UpDiddyLib/Dto/CrosschqWebhookDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Modified Add Recruiter to work off email as well as guid
  Product/API/ApplicationCore/Services/RecruiterService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

modifications to our list of industries
  Product/API.Tests/appsettings.json
  Product/API/Migrations/20200604152231_industry cleanup.Designer.cs
  Product/API/Migrations/20200604152231_industry cleanup.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Adding the lookup data script
  Product/API/Migrations/20200604151603_Reference Check DB Model updates2.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2442 #2045 Added constructor and service method to add crosschq reference request
  Product/API/ApplicationCore/Interfaces/Business/G2/ICrosschqService.cs
  Product/API/ApplicationCore/Services/G2/CrossChq/CrossChqWebClient.cs
  Product/API/ApplicationCore/Services/G2/CrosschqService.cs
  Product/API/Controllers/V2/CrossChqsController.cs
  Product/UpDiddyLib/Domain/Models/G2/CrossChq/CrossChqConfigurationParameters.cs
  Product/UpDiddyLib/Domain/Models/G2/CrossChq/CrossChqReferenceRequestDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Code cleanup
  Product/API/ApplicationCore/Repository/CrosschqRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

fix null ref issue
  Product/API/ApplicationCore/Services/RecruiterService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2442 #2045 stubbed a reference status get method in the controller
  Product/API/ApplicationCore/Interfaces/Business/G2/ICrosschqService.cs
  Product/API/ApplicationCore/Services/G2/CrosschqService.cs
  Product/API/Controllers/V2/CrossChqsController.cs
  Product/UpDiddyLib/Domain/Models/G2/CrossChq/CrossChqReferenceResponse.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

SQL script cleanup
  Product/API/Migrations/20200604151603_Reference Check DB Model updates2.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

exclude hiring managers from G2 azure search index; adjust api status codes per discussion with Brent
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Migrations/20200604193539_exclude hiring managers from G2 azure search index.Designer.cs
  Product/API/Migrations/20200604193539_exclude hiring managers from G2 azure search index.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api-uat.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
