Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api-uat.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

pipeline work
  azure-pipelines-api-dev.yml
Due: none

Update azure-pipelines-api-dev.yml for Azure Pipelines
  azure-pipelines-api-dev.yml
Due: none

03/24/20Morning
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/API/ApplicationCore/Interfaces/Business/IEmailTemplateService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISendGridService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEmailTemplateRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IProfileRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/EmailTemplateRepository.cs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/EmailTemplateService.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/API/ApplicationCore/Services/SendGridService.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200320102842_adding EmailTemplate .Designer.cs
  Product/API/Migrations/20200320102842_adding EmailTemplate .cs
  Product/API/Migrations/20200320164344_adding subaccount to emailtemplate.Designer.cs
  Product/API/Migrations/20200320164344_adding subaccount to emailtemplate.cs
  Product/API/Migrations/20200323125139_adding TemplateParams for email templates.Designer.cs
  Product/API/Migrations/20200323125139_adding TemplateParams for email templates.cs
  Product/API/Models/EmailTemplate.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/EmailTemplateDto.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

before dev pull
  Product/API/ApplicationCore/Services/SendGridService.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Migrations/20200324135732_adding System_Get_EmailTemplates sproc.Designer.cs
  Product/API/Migrations/20200324135732_adding System_Get_EmailTemplates sproc.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

bug fixes discovered during local testing
  Product/API/ApplicationCore/Interfaces/Business/ICountryService.cs
  Product/API/ApplicationCore/Repository/CityRepository.cs
  Product/API/ApplicationCore/Repository/PostalRepository.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Services/CityService.cs
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/ApplicationCore/Services/StateService.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/LocationsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200324140014_location api changes.Designer.cs
  Product/API/Migrations/20200324140014_location api changes.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

#1849 Added endpoint for adding comments to multple profile IDs
  Product/API/ApplicationCore/Interfaces/Business/G2/ICommentService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICommentRepository.cs
  Product/API/ApplicationCore/Repository/CommentRepository.cs
  Product/API/ApplicationCore/Services/G2/CommentService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/UpDiddyLib/Domain/Models/G2/CommentsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

pulling dev
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Services/SendGridService.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Migrations/20200324135732_adding System_Get_EmailTemplates sproc.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added migration for report SP changes
  Product/API/Migrations/20200325174001_Changed Report SP End Dates from gt to gt or equals.Designer.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Added stored procedures manually to the migration script
  Product/API/Migrations/20200325174001_Changed Report SP End Dates from gt to gt or equals.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 809: updated appsettings for the new shared dev environment
  Product/API/.gitignore
  Product/API/Properties/launchSettings.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added double single quotes
  Product/API/Migrations/20200325174001_Changed Report SP End Dates from gt to gt or equals.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 811: Revert "Work Item 1866 Total Users Breakdown by Partner Broken"
  Product/API/Migrations/20200325174001_Changed Report SP End Dates from gt to gt or equals.Designer.cs
  Product/API/Migrations/20200325174001_Changed Report SP End Dates from gt to gt or equals.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added sp changes to migration
  Product/API/Migrations/20200325195837_Changed Report SP End Dates from gt to gt or equals.Designer.cs
  Product/API/Migrations/20200325195837_Changed Report SP End Dates from gt to gt or equals.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 813: fixing key vault logic in api startup
  Product/API/Startup.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

add remarks to SP's
  Product/API/Migrations/20200325195837_Changed Report SP End Dates from gt to gt or equals.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Changed env variables in db context
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 812: Total Users By Partner Report Broken
  Product/API/Migrations/20200325195837_Changed Report SP End Dates from gt to gt or equals.Designer.cs
  Product/API/Migrations/20200325195837_Changed Report SP End Dates from gt to gt or equals.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1849 PR feedback
  Product/API/ApplicationCore/Repository/CommentRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1849 removed trailing slash from route
  Product/API/Controllers/V2/G2Controller.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Update azure-pipelines-api-uat.yml for Azure Pipelines
  azure-pipelines-api-uat.yml
Due: none

Merged PR 814: preserve stack trace when throwing exception
  Product/API/ApplicationCore/Services/G2/G2Service.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

fixed case issues with template paths
  Product/API/Controllers/V2/SendGridController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

correcting config values, cleanup of environment variables in Azure
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 816: correcting config values, cleanup of environment variables in Azure
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

final code re-org for now anywho
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

ready for dev pull
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/ApplicationCore/Services/SendGridService.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1869 Save SubscriberNotes when a bulk email is invoked
  Product/API/ApplicationCore/Interfaces/Business/ISendGridService.cs
  Product/API/ApplicationCore/Services/SendGridService.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Added CommunityGroup and CommunityGroupSubscribers API through to the database
  Product/API/ApplicationCore/Factory/CommunityGroupFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ICommunityGroupService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICommunityGroupRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICommunityGroupSubscriberRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CommunityGroupRepository.cs
  Product/API/ApplicationCore/Repository/CommunityGroupSubscriberRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/CommunityGroupService.cs
  Product/API/Controllers/V2/CommunityGroupsController.cs
  Product/API/Models/CommunityGroup.cs
  Product/API/Models/CommunityGroupSubscriber.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/appsettings.development.json
  Product/UpDiddyLib/Domain/Models/CommunityGroupDto.cs
  Product/UpDiddyLib/Domain/Models/CommunityGroupSearchResultDto.cs
  Product/UpDiddyLib/Domain/Models/CommunityGroupSubscriberDto.cs
  Product/UpDiddyLib/Domain/Models/CommunityGroupSubscriberSearchResultDto.cs
  Product/UpDiddyLib/Dto/CommunityGroupDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

updated db context
  Product/API/Migrations/20200327182118_Added CommunityGroups and CommunityGroupSubscribers.Designer.cs
  Product/API/Migrations/20200327182118_Added CommunityGroups and CommunityGroupSubscribers.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added external id for the CommunityGroup
  Product/API/ApplicationCore/Factory/CommunityGroupFactory.cs
  Product/API/Migrations/20200327194239_Added CommunityGroups External ID.Designer.cs
  Product/API/Migrations/20200327194239_Added CommunityGroups External ID.cs
  Product/API/Models/CommunityGroup.cs
  Product/UpDiddyLib/Domain/Models/CommunityGroupDto.cs
  Product/UpDiddyLib/Dto/CommunityGroupDto.cs
  Product/UpDiddyLib/UpDiddyLib.csproj
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added additional config values for testing azure api gateway
  Product/API.Tests/appsettings.json
Due: none

Added GetAllCommunityGroups to controller
  Product/API/ApplicationCore/Interfaces/Business/ICommunityGroupService.cs
  Product/API/ApplicationCore/Services/CommunityGroupService.cs
  Product/API/Controllers/V2/CommunityGroupsController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml
