Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api-uat.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

added community DI service to startup
  Product/API/Startup.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1905 Updated SPROC and DTO to return additional information
  Product/API/Migrations/20200329005409_WishListProfile_Add-addl-data.Designer.cs
  Product/API/Migrations/20200329005409_WishListProfile_Add-addl-data.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileWishlistDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

ready for dev pull
  Product/API/Migrations/20200330140745_Modified v_ProfileAzureSearch to return subscriber avatar url.Designer.cs
  Product/API/Migrations/20200330140745_Modified v_ProfileAzureSearch to return subscriber avatar url.cs
  Product/UpDiddyLib/Domain/Models/G2InfoDTO.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

truncate bogus data when loading g2 profiles from subscriber data
  Product/API/Migrations/20200330180332_g2 profile data truncation.Designer.cs
  Product/API/Migrations/20200330180332_g2 profile data truncation.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1903 Added contact type list/details endpoints
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IContactTypeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ContactTypeRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/UpDiddyLib/Dto/ContactTypeDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#1905 Added comments annotating the work done to the SPROC
  Product/API/Migrations/20200329005409_WishListProfile_Add-addl-data.cs
  Product/API/appsettings.development.json
  Product/API/appsettings.example.json
  Product/WebApp/package-lock.json
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

ready for dev merge
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200331113402_update [v_ProfileAzureSearch] to support partner guids.Designer.cs
  Product/API/Migrations/20200331113402_update [v_ProfileAzureSearch] to support partner guids.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

renamed parameters to improve readability
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1902 Added SkillsNote to Profile/DTO; CreateProfile and UpdateProfile sprocs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/Migrations/20200331124400_Profile_Add-SkillsNote-Field.Designer.cs
  Product/API/Migrations/20200331124400_Profile_Add-SkillsNote-Field.cs
  Product/API/Models/G2/Profile.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#1906 Added "CreateDate" to commentDTO
  Product/UpDiddyLib/Domain/Models/G2/CommentDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added logging to profile repository
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

adjusted verbiage in logging
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

made messaging identical for errors in profile repository
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

readt for dev pull
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200401152401_Updating [v_ProfileAzureSearch] to include CreateDate.Designer.cs
  Product/API/Migrations/20200401152401_Updating [v_ProfileAzureSearch] to include CreateDate.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
  Product/UpDiddyLib/Domain/Models/G2InfoDTO.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

final testing
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
  Product/UpDiddyLib/Domain/Models/G2InfoDTO.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

profile skills update api endpoint
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200401171023_profile skills update sproc.Designer.cs
  Product/API/Migrations/20200401171023_profile skills update sproc.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

work in progress on additional g2 fields
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Updated appsettings.Staging.json to point to stagingkeyvault
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1900 Bulk delete orphaned profiles when bulk comments are made
  Product/API/ApplicationCore/Interfaces/Repository/ICommentRepository.cs
  Product/API/ApplicationCore/Repository/CommentRepository.cs
  Product/API/ApplicationCore/Services/G2/CommentService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1889 Added Recruiter/Profile property traversal to the SendGrid template paramters
  Product/API/ApplicationCore/Services/SendGridService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1782 BugFix: Query was blocked from retrieving "Expired" notifications, which prevented deletion or updating.
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Added social links to G2 profile.
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

shored up api for sending group notifications
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/Controllers/V2/NotificationsController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

uncommented changes
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
  Product/UpDiddyLib/Domain/Models/G2InfoDTO.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

fixed job-details data properties.
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1945 remove cover letter attachment from Job application email
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Controllers/V1/JobApplicationController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added support for avatar url, resume exists, and download resume to G2
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/API/ApplicationCore/Interfaces/Business/IResumeService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IProfileRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberFileRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberFileRepository.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

security upgrade
  Product/API/ApplicationCore/Services/SendGridService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

fixed bug with subscriber notes
  Product/API/ApplicationCore/Interfaces/Business/ISendGridService.cs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Services/SendGridService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#1974 added IsWillingToRelocate field to G2 Profiles, Updated sprocs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/Migrations/20200408191204_Profile_Add_IsWillingToRelocate.Designer.cs
  Product/API/Migrations/20200408191204_Profile_Add_IsWillingToRelocate.cs
  Product/API/Models/G2/Profile.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

adding missing test values to app settings, increased command timeout for delete/undelete
  Product/API.Tests/AzureAPITests.cs
  Product/API.Tests/appsettings.json
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

switching to bug
  Product/API/Controllers/V2/G2Controller.cs
  Product/UpDiddyLib/Domain/Models/G2InfoDTO.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

code complete
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

updated app settings
  Product/API.Tests/appsettings.json
Due: none

removed sql pw, removed api name filter
  Product/API.Tests/appsettings.json
Due: none

code complete
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200410154132_adding iswillingtorelocate to [v_ProfileAzureSearch].Designer.cs
  Product/API/Migrations/20200410154132_adding iswillingtorelocate to [v_ProfileAzureSearch].cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

removed tests from staging api pipeline
  azure-pipelines-api.yml
Due: none

updated error msg per Bill commnet
  Product/API/ApplicationCore/Services/G2/G2Service.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

code complete
  Product/API/ApplicationCore/Services/G2/G2Service.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

fixed
  Product/API/ApplicationCore/Services/G2/G2Service.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml
