Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

02262020
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRecruiterRepository.cs
  Product/API/ApplicationCore/Repository/RecruiterRepository.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
  Product/UpDiddyLib/Domain/Models/G2InfoDTO.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

additional key replacement values for talent, traitify, and subscriber endpoints
  Product/API.Tests/appsettings.json
Due: none

tweaks to v_ProfileAzureSearch
  Product/API/Migrations/20200226144859_v_ProfileAzureSearch tweaks.Designer.cs
  Product/API/Migrations/20200226144859_v_ProfileAzureSearch tweaks.cs
Due: azure-pipelines-api.yml

additional replacement values
  Product/API.Tests/appsettings.json
Due: none

switching to task1750
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200226181717_Updateing GetGreatestDate to return DateTime2.Designer.cs
  Product/API/Migrations/20200226181717_Updateing GetGreatestDate to return DateTime2.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Domain/AzureSearchDocuments/G2SDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

azure index status
  Product/API/Migrations/20200227203442_index status info for g2.Designer.cs
  Product/API/Migrations/20200227203442_index status info for g2.cs
  Product/API/Models/G2/AzureIndexStatus.cs
  Product/API/Models/G2/Profile.cs
Due: azure-pipelines-api.yml

wip for profile crud
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IProfileRepository.cs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added support for crud operations on base g2 profile
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IProfileRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200302172917_g2 profile crud.Designer.cs
  Product/API/Migrations/20200302172917_g2 profile crud.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Add New Subscriber Complete
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200228210443_adding System_Create_SubscriberG2Profiles SPROC.Designer.cs
  Product/API/Migrations/20200228210443_adding System_Create_SubscriberG2Profiles SPROC.cs
  Product/API/Migrations/20200302171601_modified [System_Create_SubscriberG2Profiles] to undelete existing deleted profiles.Designer.cs
  Product/API/Migrations/20200302171601_modified [System_Create_SubscriberG2Profiles] to undelete existing deleted profiles.cs
  Product/API/Migrations/20200302172218_Adding System_Delete_SubscriberG2Profiles.Designer.cs
  Product/API/Migrations/20200302172218_Adding System_Delete_SubscriberG2Profiles.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

looking at Bills stuff
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2Service.cs
Due: azure-pipelines-api.yml

Checking in fix for notifications endpoints
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberNotificationService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberNotificationRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberNotificationRepository.cs
  Product/API/ApplicationCore/Services/SubscriberNotificationService.cs
  Product/API/Controllers/V2/NotificationsController.cs
Due: azure-pipelines-api.yml

completed all changes necessary for api integration tests
  Product/API.Tests/appsettings.json
Due: none

Chceking in fix for the send notification
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/Migrations/20200303174302_ALTER System_Get_Notifications to incorporate the expirationDate.Designer.cs
  Product/API/Migrations/20200303174302_ALTER System_Get_Notifications to incorporate the expirationDate.cs
Due: azure-pipelines-api.yml

added support for azure index audit data
  Product/API/ApplicationCore/Interfaces/Business/G2/IProfileService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IAzureIndexStatusRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IProfileRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/AzureIndexStatusRepository.cs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200303172250_azure index info.Designer.cs
  Product/API/Migrations/20200303172250_azure index info.cs
  Product/API/Models/G2/Profile.cs
Due: azure-pipelines-api.yml

Removing isVerified from the condition
  Product/API/ApplicationCore/Services/NotificationService.cs
Due: azure-pipelines-api.yml

removing expirationDate where clause from System_Get_Notifications
  Product/API/Migrations/20200303181029_Removing expirationDate where clause from the System_Get_Notifications sproc.Designer.cs
  Product/API/Migrations/20200303181029_Removing expirationDate where clause from the System_Get_Notifications sproc.cs
Due: azure-pipelines-api.yml

added support for new sub account in sendgrid (notify_system)
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added appsettings for notifysystem sendgrid sub account
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

030320
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200302171601_modified [System_Create_SubscriberG2Profiles] to undelete existing deleted profiles.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Implmented Logging for most emails and email test endpoint:
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/OfferService.cs
  Product/API/ApplicationCore/Services/PasswordResetRequestService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/V1/JobApplicationController.cs
  Product/API/Controllers/V1/OffersController.cs
  Product/API/Controllers/V1/SubscriberController.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Helpers/TraitifyHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

updated sub-account values for Sendgrid in multiple places, added await for job alert invocation of mail send
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Checking in increase to max avatar file size limit
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

removed unnecessary sub accounts for sendgrid, removed tests for them, added more logging detail to job alert
  Product/API/Controllers/V1/MarketingController.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Merged PR 784: fixed sendgrid webhook key
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

removed logging from sysmail
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/V1/JobApplicationController.cs
  Product/API/Controllers/V1/OffersController.cs
  Product/API/Controllers/V1/SubscriberController.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

updated sendgrid webhook api key, webhook custom args, additional instrumentation for all hangfire jobs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

additional logging
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

fixed bug with resume download logic
  Product/API/ApplicationCore/Repository/SubscriberFileRepository.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/Models/SubscriberFile.cs
Due: azure-pipelines-api.yml

pass to bill
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200309125131_Adding System_Update_AzureG2Status SPROC.Designer.cs
  Product/API/Migrations/20200309125131_Adding System_Update_AzureG2Status SPROC.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

wip for g2 profile api endpoints
  Product/API/Controllers/V2/G2Controller.cs
  Product/UpDiddyLib/Domain/Models/G2/WishlistDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

changed arg in constructor for custom exceptions
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
Due: azure-pipelines-api.yml

completed crud api endpoints for wishlist functionality
  Product/API/ApplicationCore/Interfaces/Business/G2/IWishlistService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IWishlistRepository.cs
  Product/API/ApplicationCore/Repository/ProfileRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/WishlistRepository.cs
  Product/API/ApplicationCore/Services/G2/WishlistService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200310161639_System_Get_ProfileWishlistsForRecruiter.Designer.cs
  Product/API/Migrations/20200310161639_System_Get_ProfileWishlistsForRecruiter.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/G2/ProfileWishlistDto.cs
  Product/UpDiddyLib/Domain/Models/G2/WishlistDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

ready for another merge with Bill
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200309141640_Bug fix for [System_Create_CompanyG2Profiles].Designer.cs
  Product/API/Migrations/20200309141640_Bug fix for [System_Create_CompanyG2Profiles].cs
  Product/API/Migrations/20200310204435_added azure index status to v_profileazuresearch.Designer.cs
  Product/API/Migrations/20200310204435_added azure index status to v_profileazuresearch.cs
  Product/API/Migrations/20200311110755_Limit companies to those with active subscribers in System_Create_G2Profiles.Designer.cs
  Product/API/Migrations/20200311110755_Limit companies to those with active subscribers in System_Create_G2Profiles.cs
  Product/API/Models/Views/v_ProfileAzureSearch.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

cleaned up some migrations and added new index profile function
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Migrations/20200224215352_g2 view.cs
  Product/API/Migrations/20200226144859_v_ProfileAzureSearch tweaks.cs
  Product/API/Migrations/20200228210443_adding System_Create_SubscriberG2Profiles SPROC.cs
  Product/API/Migrations/20200302171601_modified [System_Create_SubscriberG2Profiles] to undelete existing deleted profiles.cs
  Product/API/Migrations/20200302172218_Adding System_Delete_SubscriberG2Profiles.cs
  Product/API/Migrations/20200305155813_adding System_Create_CompanyG2Profiles SPROC.cs
  Product/API/Migrations/20200305160347_adding System_Delete_CompanyG2Profiles SPROC.cs
  Product/API/Migrations/20200309125131_Adding System_Update_AzureG2Status SPROC.cs
  Product/API/Migrations/20200309141640_Bug fix for [System_Create_CompanyG2Profiles].cs
  Product/API/Migrations/20200310204435_added azure index status to v_profileazuresearch.cs
  Product/API/Migrations/20200311110755_Limit companies to those with active subscribers in System_Create_G2Profiles.cs
Due: azure-pipelines-api.yml

Refactored for circlular reference
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/IAzureSearchService.cs
  Product/API/ApplicationCore/Services/AzureSearch/AzureSearchService.cs
  Product/API/ApplicationCore/Services/G2/ProfileService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/Controllers/V2/G2Controller.cs
Due: azure-pipelines-api.yml

back-end support for recruiter stats
  Product/API/Controllers/V2/RecruiterStatsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200311164618_recruiter stats.Designer.cs
  Product/API/Migrations/20200311164618_recruiter stats.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/RecruiterStats.cs
  Product/UpDiddyLib/Domain/Models/Reports/RecruiterStatDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

removed comments about hotels - should have been motels
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/G2Service.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

modified sys_email to include environmental info in subject
  Product/API/Controllers/V2/SendGridController.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

clarified some comments
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

work in progress for profile comments and profile skills
  Product/API/ApplicationCore/Interfaces/Business/G2/ICommentService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICommentRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/CommentRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Services/G2/CommentService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/G2Controller.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200312201735_modifications to profile comments.Designer.cs
  Product/API/Migrations/20200312201735_modifications to profile comments.cs
  Product/API/Migrations/20200313133201_System_Get_ProfileCommentsForRecruiter.Designer.cs
  Product/API/Migrations/20200313133201_System_Get_ProfileCommentsForRecruiter.cs
  Product/API/Models/G2/ProfileComment.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/G2/CommentDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml
