Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

Changing the phone number input type to number
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

removing the distinct and order by
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Migrations/20190820014207_MapEnhancement.cs
Due: azure-pipelines-api.yml

modified profile address indexing
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/GoogleProfile/Address.cs
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml, azure-pipelines-api.yml

fixed env file
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

additional job crawl fixes
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/Helpers.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

intiial work on cache clear button
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
  Product/WebApp/Services/CacheService.cs
  Product/WebApp/Services/ICacheService.cs
  Product/WebApp/Views/Admin/ClearCmsCache.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/client/js/core/admin/cache-clear.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

removing duplicate
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

update regex
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Switching branches
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Helpers/GoogleProfile/EducationRecord.cs
  Product/API/Helpers/GoogleProfile/EmploymentRecord.cs
  Product/CCProfileService/.env
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

validating work/edu history dates
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/GoogleProfile/EducationRecord.cs
  Product/API/Helpers/GoogleProfile/EmploymentRecord.cs
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml, azure-pipelines-api.yml

reverted env file
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

removed polly again
  Product/API/Startup.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Total breakdown report in Admin tab
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Migrations/20190821134615_SPSystem_SubscriberSignUpAndCourseEnrollmentStatisticsByPartner.Designer.cs
  Product/API/Migrations/20190821134615_SPSystem_SubscriberSignUpAndCourseEnrollmentStatisticsByPartner.cs
  Product/API/Models/SubscriberSignUpCourseEnrollmentStatistics.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

Changes to New Users Grid in Admin
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEnrollmentRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/EnrollmentRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/WebApp/Controllers/AdminController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed bundle.js from webapp
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/WebApp/Views/User/MyJobsAsync.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

added toast for search errors
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

TotalUserBreakdownByPartner Admin
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/UpDiddyLib/Dto/SubscriberSignUpCourseEnrollmentStatisticsDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/reports/TotalUserBreakdownByPartnerTable.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Stored Proc changes
  Product/API/Migrations/20190821134615_SPSystem_SubscriberSignUpAndCourseEnrollmentStatisticsByPartner.cs
Due: azure-pipelines-api.yml

wrapping up cache clearing
  Product/UpDiddyLib/Dto/CachedPageDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
  Product/WebApp/ViewComponents/MetaTagsViewComponent.cs
  Product/WebApp/Views/Admin/ClearCmsCache.cshtml
  Product/WebApp/client/js/core/admin/cache-clear.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

performance enhancements for job posting skills
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/Migrations/20190821202054_job skill sproc.Designer.cs
  Product/API/Migrations/20190821202054_job skill sproc.cs
Due: azure-pipelines-api.yml

added environmental check
  Product/WebApp/Controllers/AdminController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Multiple GroupPartners fix
  Product/API/ApplicationCore/Interfaces/Repository/IGroupPartnerRepository.cs
  Product/API/ApplicationCore/Repository/GroupPartnerRepository.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
Due: azure-pipelines-api.yml

Added Async to asynchronous methods
  Product/API/ApplicationCore/Interfaces/Repository/IGroupPartnerRepository.cs
  Product/API/ApplicationCore/Repository/GroupPartnerRepository.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
Due: azure-pipelines-api.yml

made title tag fetch from butter
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Views/Admin/ClearCmsCache.cshtml
  Product/WebApp/Views/Shared/Components/MetaTags/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

renamed meta title to just title
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/ViewComponents/MetaTagsViewComponent.cs
  Product/WebApp/ViewModels/ButterCMS/ButterCMSBaseViewModel.cs
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Shared/Components/MetaTags/Default.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

adding support for butter previewing
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Views/Shared/_Layout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

improved performance of my jobs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190822181214_Adding [System_Get_SubscriberJobFavorites] Sproc.Designer.cs
  Product/API/Migrations/20190822181214_Adding [System_Get_SubscriberJobFavorites] Sproc.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/User/JobDto.cs
  Product/WebApp/Views/User/MyJobsAsync.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

08-23-2019
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/CCProfileService/.env
  Product/UpDiddyLib/Dto/SubscriberSourceDto.cs
  Product/UpDiddyLib/Dto/SubscriberSourceStatisticDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
Due: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

added column in promo code for max number of subscriber redemptions
  Product/API/Controllers/PromoCodeController.cs
  Product/API/Migrations/20190823192804_Adding MaxNumberOfRedemptionsPerSubscriber column to PromoCode model.Designer.cs
  Product/API/Migrations/20190823192804_Adding MaxNumberOfRedemptionsPerSubscriber column to PromoCode model.cs
  Product/API/Models/PromoCode.cs
Due: azure-pipelines-api.yml

removed comments
  Product/API/Controllers/PromoCodeController.cs
Due: azure-pipelines-api.yml

Changes to consent cookie code
  Product/WebApp/Views/Shared/_CookieConsentPartial.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

added isDeleted flag check
  Product/API/Controllers/PromoCodeController.cs
Due: azure-pipelines-api.yml

wip for course processing from course dto
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CoursePageRepository.cs
  Product/API/ApplicationCore/Repository/CourseRepository.cs
  Product/API/ApplicationCore/Repository/CourseSiteRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVProcess.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

wip for course dto transformation
  Product/API/ApplicationCore/Interfaces/Repository/ICourseSkillRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseVariantRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseVariantTypeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITagCourseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITagRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITagTopicRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITopicRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IVendorRepository.cs
  Product/API/ApplicationCore/Repository/CourseSkillRepository.cs
  Product/API/ApplicationCore/Repository/CourseVariantRepository.cs
  Product/API/ApplicationCore/Repository/CourseVariantTypeRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/TagCourseRepository.cs
  Product/API/ApplicationCore/Repository/TagRepository.cs
  Product/API/ApplicationCore/Repository/TagTopicRepository.cs
  Product/API/ApplicationCore/Repository/TopicRepository.cs
  Product/API/ApplicationCore/Repository/VendorRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Fix for X site scripting attact
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/client/scss/components/authentication/_sign-up.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Changes to implement memory cache for keyword and location cache
  Product/API/ApplicationCore/Interfaces/IMemoryCacheService.cs
  Product/API/ApplicationCore/Services/MemoryCacheService.cs
  Product/API/Controllers/SharedController.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml
