Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

added date restricttions for expiration selection
  Product/WebApp/Views/Admin/AddNotification.cshtml
  Product/WebApp/Views/Admin/ModifyNotification.cshtml
  Product/WebApp/client/js/core/datepicker.js
Due: azure-pipelines.yml

added updates to subscriber model. needs query filter
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/Subscriber.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

adding brents email to vip emails
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

06-12-10
  Product/API/ApplicationCore/Factory/ResumeParseFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberSkillFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseResultRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ResumeParseResultRespository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Migrations/20190612164550_Added ProcessingMessage to parse resume results.Designer.cs
  Product/API/Migrations/20190612164550_Added ProcessingMessage to parse resume results.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/ResumeParseResult.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/ResumeParseDto.cs
  Product/UpDiddyLib/Dto/ResumeParseQuestionnaireDto.cs
  Product/UpDiddyLib/Dto/ResumeParseResultDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/ResumeMerge.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added global query filter on notifications so only non-deleted and non-expired ones are returned
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

removed deprecated entities and properties
  Product/API/ApplicationCore/Factory/ContactFactory.cs
  Product/API/Controllers/ContactController.cs
  Product/API/Migrations/20190613155147_remove deprecated entities and properties.Designer.cs
  Product/API/Migrations/20190613155147_remove deprecated entities and properties.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/CampaignContact.cs
  Product/API/Models/Contact.cs
  Product/API/Models/ContactAction.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/client/react/ContactSelect.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed email addresses to CC emails
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

saving work
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
  Product/WebApp/ViewModels/Components/Layout/PublicSiteNavigationMenuItemViewModel.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/client/js/core/components/layout/navigation.js
Due: azure-pipelines.yml

removed about page video
  Product/WebApp/Views/Home/About.cshtml
Due: azure-pipelines.yml

06-13-19
  Product/API/ApplicationCore/Factory/EducationalDegreeFactory.cs
  Product/API/ApplicationCore/Factory/EducationalDegreeTypeFactory.cs
  Product/API/ApplicationCore/Factory/ResumeParseFactory.cs
  Product/API/ApplicationCore/Factory/StateFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberWorkHistoryFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseResultRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ResumeParseRepository.cs
  Product/API/ApplicationCore/Repository/ResumeParseResultRespository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190613185545_Fixed JobDescription mis-spelling.Designer.cs
  Product/API/Migrations/20190613185545_Fixed JobDescription mis-spelling.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberWorkHistory.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/ResumeParseDto.cs
  Product/UpDiddyLib/Dto/SubscriberWorkHistoryDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Views/Home/_WorkHistoryPartial.cshtml
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/client/js/modules/profile.js
  Product/WebApp/client/react/components/ResumeMerge.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

ready for review
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/react/components/ResumeMerge.js
  Product/WebApp/client/react/components/ResumeUpload.js
Due: azure-pipelines.yml

added notification logic for dropdown
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
  Product/WebApp/ViewModels/Components/Layout/PublicSiteNavigationMenuItemViewModel.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/client/js/core/components/layout/navigation.js
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines.yml

slightly altered js logic
  Product/WebApp/client/js/core/components/layout/navigation.js
Due: azure-pipelines.yml

slight sass updates
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines.yml

resolve ag job board issue
  Product/API/Migrations/20190617191537_updated ag job board endpoints.Designer.cs
  Product/API/Migrations/20190617191537_updated ag job board endpoints.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

story-836: updated location navigators (browse all locations link)
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/client/js/core/site.js
Due: azure-pipelines.yml

began front end work
  Product/API/Controllers/NotificationsController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/DashboardViewModel.cs
  Product/WebApp/Views/Dashboard/Index.cshtml
  Product/WebApp/client/js/core/career-circle-webapp.js
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/react/components/dashboard/dashboard.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/scss/_dashboard.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

06-17-19
  Product/WebApp/client/react/components/ResumeMerge.js
Due: azure-pipelines.yml

handle 403 from CloudFront AG job board
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

Ready for review
  Product/API/ApplicationCore/Factory/ResumeParseFactory.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/react/components/ResumeMerge.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

adjusted safety threshold, corrected log message
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

reducing maxdop to 10 for job data mining
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

adjusting delete logic and http status check
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

front end work for notification count, and added respository getter to leverage tracking
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/ViewComponents/PublicSiteNavigationViewComponent.cs
  Product/WebApp/client/js/core/career-circle-webapp.js
  Product/WebApp/client/js/core/components/layout/navigation.js
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/react/components/dashboard/dashboard.js
  Product/WebApp/client/scss/_dashboard.scss
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 325: fixed maxdop, synced logic changes between TEK and Aerotek
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

front end updates for date time
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/scss/_dashboard.scss
Due: azure-pipelines.yml

small logic updates
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Views/Dashboard/Index.cshtml
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/react/components/dashboard/dashboard.js
  Product/WebApp/client/scss/_dashboard.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

task816 complete
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/client/react/components/jobs/Favorite.js
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_job-search.scss
  Product/WebApp/client/scss/_variables.scss
Due: azure-pipelines.yml

After dev merge
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

working responsive changes, changed functions to stateless, added wangkanai device nuget package
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/DashboardViewModel.cs
  Product/WebApp/Views/Dashboard/Index.cshtml
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/react/components/dashboard/dashboard.js
  Product/WebApp/client/scss/_dashboard.scss
Due: azure-pipelines.yml

slight responsive updates
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/react/components/dashboard/dashboard.js
Due: azure-pipelines.yml

style changes for notification icon
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/scss/_dashboard.scss
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines.yml

style changes and added notification bell
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines.yml

fixed slight bug where admin interface wouldn't display expired notifications
  Product/API/ApplicationCore/Interfaces/Repository/INotificationRepository.cs
  Product/API/ApplicationCore/Repository/NotificationRepository.cs
  Product/API/Controllers/NotificationsController.cs
Due: azure-pipelines-api.yml
