Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

style update on tablet
  Product/WebApp/client/scss/_similar-jobs.scss
Due: azure-pipelines.yml

Updated changes for task/796
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberNotesRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberNotesRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/SubscriberNotesDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/SubscriberViewModel.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/Views/Talent/_SubscriberAddNotes.cshtml
  Product/WebApp/Views/Talent/_SubscriberNotes.cshtml
  Product/WebApp/Views/Talent/_SubscriberNotesGrid.cshtml
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

continued work on breadcrumbs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsByTypeViewModel.cs
  Product/WebApp/ViewModels/BrowseJobsViewModel.cs
  Product/WebApp/ViewModels/Components/Utilities/BreadcrumbViewModel.cs
  Product/WebApp/Views/Jobs/Browse.cshtml
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/breadcrumbs/Breadcrumb.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_job-search.scss
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines.yml

moved breadcrumb logic to external function
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
Due: azure-pipelines.yml

06/06/19
  Product/API/ApplicationCore/Factory/CompanyFactory.cs
  Product/API/ApplicationCore/Factory/EducationalDegreeFactory.cs
  Product/API/ApplicationCore/Factory/EducationalDegreeTypeFactory.cs
  Product/API/ApplicationCore/Factory/EducationalInstitutionFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberEducationHistoryFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberWorkHistoryFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseResultRepository.cs
  Product/API/ApplicationCore/Repository/ResumeParseResultRespository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190604171358_Changed to Guid for Existing Object.Designer.cs
  Product/API/Migrations/20190604171358_Changed to Guid for Existing Object.cs
  Product/API/Migrations/20190606184600_Added sections to resume parse.Designer.cs
  Product/API/Migrations/20190606184600_Added sections to resume parse.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/ResumeParseResultDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/react/components/ResumeUpload.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added vip emails
  Product/API/Controllers/JobApplicationController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

condensed code
  Product/API/Controllers/JobApplicationController.cs
Due: azure-pipelines-api.yml

switched ordering for industry and category
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

06-07-19
  Product/API/ApplicationCore/Repository/ResumeParseRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Migrations/20190607151149_Added Require Merge Flag.Designer.cs
  Product/API/Migrations/20190607151149_Added Require Merge Flag.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/ResumeParse.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/ResumeParseDto.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/react/components/ResumeUpload.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

path update
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
Due: azure-pipelines-api.yml

Chnages made for comments in PR task/796
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/Views/Talent/_SubscriberAddNotes.cshtml
  Product/WebApp/Views/Talent/_SubscriberNotesGrid.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Comment on route task/796
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

made model changes to support notifications
  Product/API/Migrations/20190610183413_Adding subscriber notifications.Designer.cs
  Product/API/Migrations/20190610183413_Adding subscriber notifications.cs
  Product/API/Models/Notification.cs
  Product/API/Models/SubscriberNotification.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

added job favorites, linked similar job locations, and fixes input pre fill
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_SimilarJobs.cshtml
  Product/WebApp/client/scss/_common.scss
Due: azure-pipelines.yml

06/10/19
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseRepository.cs
  Product/API/ApplicationCore/Repository/ResumeParseRepository.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/ResumeMerge.js
  Product/WebApp/client/react/components/ResumeUpload.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

added crud endpoints for notifications
  Product/API/ApplicationCore/Interfaces/Repository/INotificationRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/NotificationRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/Controllers/NotificationsController.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

story-781: initial sitemap work
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Helpers/Job/Facet.cs
  Product/WebApp/Helpers/Job/JobQueryBuilder.cs
Due: azure-pipelines.yml

Feedback changes from Jon task/796
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/UpDiddyLib/Dto/SubscriberNotesDto.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/Views/Talent/_SubscriberAddNotes.cshtml
  Product/WebApp/Views/Talent/_SubscriberNotesGrid.cshtml
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Property name change task/796
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Migrations/20190611164158_AddSubsriberNotesTableAndUpdateCompanyIdInRecruiterTable.Designer.cs
  Product/API/Migrations/20190611164158_AddSubsriberNotesTableAndUpdateCompanyIdInRecruiterTable.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberNotes.cs
  Product/UpDiddyLib/Dto/SubscriberNotesDto.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/Views/Talent/_SubscriberNotesGrid.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

updated campaign landing page styles for logos
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/client/scss/components/bands/_cc-campaign-sign-up-band.scss
Due: azure-pipelines.yml

updated migrations
  Product/API/Migrations/20190611174124_AddedNotesTableAndUpdatedRecruiterTable.Designer.cs
  Product/API/Migrations/20190611174124_AddedNotesTableAndUpdatedRecruiterTable.cs
Due: azure-pipelines-api.yml

story-781: refactor sitemap to use sitemapindex properly.
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Helpers/Job/Facet.cs
Due: azure-pipelines.yml

removed a m igration, working on it
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

story-781: Sitemap indexing completed
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Helpers/Job/JobQueryBuilder.cs
Due: azure-pipelines.yml

Changes for task/728
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
  Product/WebApp/client/scss/_profile.scss
Due: azure-pipelines.yml

Updated migrations top fix errors task/796
  Product/API/Migrations/20190604164854_AddSubsriberNotesTableAndUpdateCompanyIdInRecruiterTable.Designer.cs
  Product/API/Migrations/20190604164854_AddSubsriberNotesTableAndUpdateCompanyIdInRecruiterTable.cs
  Product/API/Migrations/20190612123421_UpdatedIsPublicPropertyInSubscriberNotesTable.Designer.cs
  Product/API/Migrations/20190612123421_UpdatedIsPublicPropertyInSubscriberNotesTable.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

working crud transactions, working on getting subscriber join to work
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberNotificationRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberNotificationRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Controllers/NotificationsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190611205257_Adding subscriber notifications.Designer.cs
  Product/API/Migrations/20190611205257_Adding subscriber notifications.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Notification.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/SubscriberNotification.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Dto/SubscriberNotificationDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed unneeded package
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines.yml

broadened the all similar jobs search to state
  Product/WebApp/Views/Jobs/Partials/_SimilarJobs.cshtml
Due: azure-pipelines.yml

story-781: cache service improvement, caching added to sitemap
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Services/CacheService.cs
  Product/WebApp/Services/ICacheService.cs
Due: azure-pipelines.yml

reverted subscriberNotification ef changes for now
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

reverted 2 more small things
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

additional revert
  Product/API/Models/Subscriber.cs
Due: azure-pipelines-api.yml

slight updates to create endpoint
  Product/API/Controllers/NotificationsController.cs
Due: azure-pipelines-api.yml

Alignment fixes task/796
  Product/WebApp/Views/Talent/_SubscriberNotesGrid.cshtml
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines.yml

added apiupdiddy methods
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
Due: azure-pipelines.yml

Styling changes task/728
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
  Product/WebApp/client/scss/_profile.scss
  Product/WebApp/client/scss/react/_resume-upload.scss
Due: azure-pipelines.yml

added notifications ui. Needs to incorporate expiration date
  Product/API/Controllers/NotificationsController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/NotificationsViewModel.cs
  Product/WebApp/Views/Admin/AddNotification.cshtml
  Product/WebApp/Views/Admin/ModifyNotification.cshtml
  Product/WebApp/Views/Admin/Notifications.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/Views/Shared/Admin/_NotificationGrid.cshtml
  Product/WebApp/client/js/core/admin/notifications.js
  Product/WebApp/client/scss/admin/_notifications.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

alignemnt related to Subscriber image in profile
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines.yml

made values nullable and integrated expiration date into notification admin menu
  Product/API/Migrations/20190612183513_Adding subscriber notifications.Designer.cs
  Product/API/Migrations/20190612183513_Adding subscriber notifications.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Notification.cs
  Product/API/Models/SubscriberNotification.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/NotificationsViewModel.cs
  Product/WebApp/Views/Admin/AddNotification.cshtml
  Product/WebApp/Views/Admin/ModifyNotification.cshtml
  Product/WebApp/Views/Shared/Admin/_NotificationGrid.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml
