Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

rewriting logic for TEK job crawl, not functional yet
  Product/API/ApplicationCore/Interfaces/IJobDataMining.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190814130426_new job crawl urls.Designer.cs
  Product/API/Migrations/20190814130426_new job crawl urls.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixing sproc for job abandonment stats
  Product/API/Migrations/20190814141331_JobAbandonmentStatistics.cs
Due: azure-pipelines-api.yml

Initial Tagging Changes
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IGroupRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberGroupRepository.cs
  Product/API/ApplicationCore/Repository/GroupRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberGroupRepository.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190815163854_AddPartnerIdToGroup.Designer.cs
  Product/API/Migrations/20190815163854_AddPartnerIdToGroup.cs
  Product/API/Migrations/20190815164840_AddedCreatedByGroupColumn.Designer.cs
  Product/API/Migrations/20190815164840_AddedCreatedByGroupColumn.cs
  Product/API/Models/Group.cs
  Product/API/Models/SubscriberGroup.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/Controllers/CourseController.cs
  Product/API/Migrations/20190815173512_WozSortOrder.Designer.cs
  Product/API/Migrations/20190815173512_WozSortOrder.cs
Due: azure-pipelines-api.yml

commit
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/HomeViewModel.cs
  Product/WebApp/Views/Home/_USMap.cshtml
  Product/WebApp/client/scss/_usmap.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

changed order for a course
  Product/API/Migrations/20190815173512_WozSortOrder.cs
Due: azure-pipelines-api.yml

Task complete - I think hehehe
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ExceptionHandling/CCExceptionFilter.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Session/AuthenticationRequired.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/appsettings.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added sitemap entries fo blog, blog post, blog authors, and blog pagination
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added some static pages
  Product/WebApp/Controllers/SitemapController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

removed unused code
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

cleaning up code
  Product/WebApp/Controllers/SitemapController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

crawl functional for new aerotek and tek sites with delay
  Product/API/ApplicationCore/Interfaces/IJobDataMining.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/Helpers.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190815170422_crawl delay for job site.Designer.cs
  Product/API/Migrations/20190815170422_crawl delay for job site.cs
  Product/API/Models/JobSite.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added bcms course page
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/ViewModels/ButterCMS/CmsCourseViewModel.cs
  Product/WebApp/Views/Course/CmsCourse.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

miscellaneous cleanup
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/Migrations/20190815170422_crawl delay for job site.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

minor ui tweaks
  Product/WebApp/Views/Course/CmsCourse.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

moved cms sitemap higher on site sitemap
  Product/WebApp/Controllers/SitemapController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

changed response code to not found
  Product/WebApp/Controllers/CourseController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

added preview caching logic
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

cleaning up some ui
  Product/WebApp/Views/Course/CmsCourse.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

checking in
  Product/API/ApplicationCore/Interfaces/Business/ISalesForceService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISalesForceSignUpListRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SalesForceSignUpListRepository.cs
  Product/API/ApplicationCore/Services/SalesForceService.cs
  Product/API/Controllers/SalesForceController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/SalesForceSignUpList.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/UpDiddyLib/Dto/SalesForceSignUpListDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/SalesForceController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/ViewModels/SalesForceSignUpListViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/Views/SalesForce/Index.cshtml
  Product/WebApp/Views/SalesForce/Partials/_Signup.cshtml
  Product/WebApp/Views/SalesForce/Success.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/scss/_salesforcesignup.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

polly removed
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

Added memory cache
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Models/MSALSessionCache.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated
  Product/WebApp/Models/MSALSessionCache.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

small fixes to sitemap
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Controllers/SitemapController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

small tweaks
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Controllers/SitemapController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
Due: azure-pipelines-api.yml

fixing GetSubscriberReportByPartnerAsync url
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Inttermediate changes
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEnrollmentRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/EnrollmentRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Migrations/20190815164840_AddedCreatedByGroupColumn.cs
  Product/API/Migrations/20190815183435_Alter v_SubscriberSources view.Designer.cs
  Product/API/Migrations/20190815183435_Alter v_SubscriberSources view.cs
  Product/API/Migrations/20190816192408_SPSystem_SubscriberSignUpAndCourseEnrollmentStatisticsByPartner.Designer.cs
  Product/API/Migrations/20190816192408_SPSystem_SubscriberSignUpAndCourseEnrollmentStatisticsByPartner.cs
  Product/API/Models/SubscriberSignUpCourseEnrollmentStatistics.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

Added sql scripts for story/979
  Product/Sql Scripts/story_979/Group.sql
  Product/Sql Scripts/story_979/Partner.sql
  Product/Sql Scripts/story_979/PartnerType.sql
  Product/Sql Scripts/story_979/SubscriberGroup.sql
Due: none

Removed a property
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Models/SubscriberGroup.cs
Due: azure-pipelines-api.yml

fixing styling issue
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

distinct skills per job and defensive parse of date posted
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

Revert "Merged PR 468: Fixed Tagging System and Reports in Admin and Talent tabs
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEnrollmentRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IGroupRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberGroupRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/EnrollmentRepository.cs
  Product/API/ApplicationCore/Repository/GroupRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberGroupRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190815163854_AddPartnerIdToGroup.Designer.cs
  Product/API/Migrations/20190815163854_AddPartnerIdToGroup.cs
  Product/API/Migrations/20190815183435_Alter v_SubscriberSources view.Designer.cs
  Product/API/Migrations/20190815183435_Alter v_SubscriberSources view.cs
  Product/API/Migrations/20190816192408_SPSystem_SubscriberSignUpAndCourseEnrollmentStatisticsByPartner.Designer.cs
  Product/API/Migrations/20190816192408_SPSystem_SubscriberSignUpAndCourseEnrollmentStatisticsByPartner.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Group.cs
  Product/API/Models/SubscriberSignUpCourseEnrollmentStatistics.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
  Product/Sql Scripts/story_979/Group.sql
  Product/Sql Scripts/story_979/Partner.sql
  Product/Sql Scripts/story_979/PartnerType.sql
  Product/Sql Scripts/story_979/SubscriberGroup.sql
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixed some stuff
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ExceptionHandling/CCExceptionFilter.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Models/SalesForceSignUpList.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

another datetime parsing fix
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

commit
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Migrations/20190820014207_MapEnhancement.Designer.cs
  Product/API/Migrations/20190820014207_MapEnhancement.cs
  Product/API/Models/JobCountPerProvince.cs
  Product/API/Models/SalesForceSignUpList.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/appsettings.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

task complete
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/API/Startup.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ExceptionHandling/CCExceptionFilter.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

moving initialization of caching options
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
