Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

fix job url from return true to redirecting to canonical url
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed bad line of code
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

updated pagerlist options for job search index output to fix class name from being encoded incorrectly
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

bug fix for existing users adding career services, removed unused partial view, added staging config values that are not secret
  Product/API/Controllers/V1/ServiceOfferingOrderController.cs
  Product/API/appsettings.Staging.json
  Product/WebApp/Views/Traitify/Partials/SignUp-Confirm.cshtml
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixed appsettings staging
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

azure key vault secrets cannot be named with underscores; had to change the names accordingly as well as references to them
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/Authorization/UserManagementAuthorization.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

ready for pr
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobApplicationService.cs
  Product/API/ApplicationCore/Services/AzureBlobStorage.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/UpDiddyLib/Domain/Models/ApplicationDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

updated comments
  Product/API/ApplicationCore/Services/JobApplicationService.cs
Due: azure-pipelines-api.yml

wrong branch
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/UpDiddyLib/Domain/Models/JobBrowseResultDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Authentication/LoadSubscriber.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed created subscriber bug fix
  Product/API/ApplicationCore/Services/JobService.cs
  Product/WebApp/Authentication/LoadSubscriber.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixed legacy b2c create subscriber
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed legacy b2c create subscriber v2
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

checking in clientEventTracking and state map endpoints
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Interfaces/Business/ICloudTalentService.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobSearchService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingRepository.cs
  Product/API/ApplicationCore/Services/CloudTalentService.cs
  Product/API/ApplicationCore/Services/JobSearchService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/JobPostingDto.cs
  Product/UpDiddyLib/Domain/Models/ShareJobDto.cs
  Product/UpDiddyLib/Domain/Models/StateMapCompanyDto.cs
  Product/UpDiddyLib/Domain/Models/StateMapDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

changed ending date Updated Dashboard.cshtml
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated Dashboard.cshtml
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

latest
  Product/API/ApplicationCore/Factory/EducationalDegreeTypeFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberEducationalHistoryService.cs
  Product/API/ApplicationCore/Services/SubscriberEducationalHistoryService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

merged with dev
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

after merge
  Product/API/Authorization/HasScopedHandler.cs
Due: azure-pipelines-api.yml

auth0 in staging; bug fixes & tweaks
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/Controllers/V1/IdentityController.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/User/EmailDto.cs
  Product/UpDiddyLib/Dto/User/UserDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/About.cshtml
  Product/WebApp/Views/Home/Offers.cshtml
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

add full state names to navigators
  Product/API/ApplicationCore/Services/JobService.cs
Due: azure-pipelines-api.yml

checking in merge
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobSearchService.cs
  Product/API/ApplicationCore/Services/CloudTalentService.cs
  Product/API/ApplicationCore/Services/JobFavoriteService.cs
  Product/API/Authorization/HasScopedHandler.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

bug fixes for Auth0
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Repository/JobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/CloudTalentService.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/JobFavoriteService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V1/SubscriberController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/JobSummaryViewDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

ready for merge
  Product/API/ApplicationCore/ExceptionMiddleware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Factory/CompensationTypeFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberEducationalHistoryService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberWorkHistoryService.cs
  Product/API/ApplicationCore/Services/SubscriberWorkHistoryService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

after dev merge
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
Due: azure-pipelines-api.yml

minor bug fixes
  Product/API/ApplicationCore/Services/SubscriberEducationalHistoryService.cs
  Product/API/ApplicationCore/Services/SubscriberWorkHistoryService.cs
Due: azure-pipelines-api.yml

checking in adition of getallwithtracking method for factory methods
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/API/ApplicationCore/Factory/CompanyFactory.cs
  Product/API/ApplicationCore/Factory/CompensationTypeFactory.cs
  Product/API/ApplicationCore/Factory/ContactFactory.cs
  Product/API/ApplicationCore/Factory/CourseVariantFactory.cs
  Product/API/ApplicationCore/Factory/EducationLevelFactory.cs
  Product/API/ApplicationCore/Factory/EducationalDegreeFactory.cs
  Product/API/ApplicationCore/Factory/EducationalDegreeTypeFactory.cs
  Product/API/ApplicationCore/Factory/EducationalInstitutionFactory.cs
  Product/API/ApplicationCore/Factory/EmploymentTypeFactory.cs
  Product/API/ApplicationCore/Factory/ExperienceLevelFactory.cs
  Product/API/ApplicationCore/Factory/IndustryFactory.cs
  Product/API/ApplicationCore/Factory/JobCategoryFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFavoriteFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingSkillFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterCompanyFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterFactory.cs
  Product/API/ApplicationCore/Factory/SecurityClearanceFactory.cs
  Product/API/ApplicationCore/Factory/SkillFactory.cs
  Product/API/ApplicationCore/Factory/StateFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberEducationHistoryFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberSkillFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberWorkHistoryFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/JobApplicationFactory.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Controllers/V1/SubscriberController.cs
Due: azure-pipelines-api.yml

checking in fix for bug/1456 companyLogoUrl
  Product/API/ApplicationCore/Interfaces/Business/ICompanyService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
Due: azure-pipelines-api.yml

checking in changes to make calls async
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Services/SubscriberEducationalHistoryService.cs
Due: azure-pipelines-api.yml

checking in progress skill
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/SkillsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/SkillDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Ready for PR
  Product/API/ApplicationCore/ExceptionMiddleware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/SubscribeProfileBasicDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

did this merge?
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

checking in subscriber skills
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberSkillRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberSkillRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/SkillsController.cs
Due: azure-pipelines-api.yml

changing similar job company logo url so its full path to the image
  Product/API/ApplicationCore/Services/JobSearchService.cs
Due: azure-pipelines-api.yml

removing duplicate services from startup.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

add location to basic profile
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStateRepository.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/SubscribeProfileBasicDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

fixed bug with education history not saving
  Product/API/Controllers/V1/SubscriberController.cs
Due: azure-pipelines-api.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
