Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

04-03-2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/JobQueryDto.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

integrated cc lead intake endpoint with azure api
  Product/API/Controllers/LeadController.cs
  Product/UpDiddyLib/Dto/Marketing/LeadFileDto.cs
  Product/UpDiddyLib/Dto/Marketing/LeadRequestDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

corrected dupe sproc
  Product/API/Migrations/20190403170851_make dupe check params nullable.cs
Due: azure-pipelines-api.yml

modified file upload endpoint
  Product/API/Controllers/LeadController.cs
  Product/UpDiddyLib/Dto/Marketing/LeadFileDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

corrected dto for file upload
  Product/API/Controllers/LeadController.cs
  Product/UpDiddyLib/Dto/Marketing/LeadFileDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

prototype: react ssr initial work
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/client/react/components/ResumeUpload.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/index.js
  Product/WebApp/webpack.common.js
Due: azure-pipelines.yml

removed req. field: MobilePhone
  Product/UpDiddyLib/Dto/Marketing/LeadRequestDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-448: Navigation re-arranged for homepage
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines.yml

re-did about page
  Product/WebApp/Views/Home/About.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
Due: azure-pipelines.yml

initial commit
  Product/WebApp/Controllers/LayoutController.cs
  Product/WebApp/Views/Shared/Components/Layout/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
Due: azure-pipelines.yml

barnett lp with tracking changes
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Campaign/BarnettInternational.cshtml
Due: azure-pipelines.yml

offer changes for barnett aerotek
  Product/WebApp/Views/Home/Offers.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_OfferListingBand.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/wwwroot/images/barnett-logo.png
Due: azure-pipelines.yml

changed barnett lp to use campaign workflow
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/TargetedPages/BarnettInternational.cshtml
Due: azure-pipelines.yml

Task357-413 complete
  Product/API/ApplicationCore/BaseModelFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingSkillFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/JobQueryDto.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: prep for prod deploy
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/wwwroot/images/hero/1_second.jpg
Due: azure-pipelines.yml

misc changes
  Product/API/Controllers/JobController.cs
Due: azure-pipelines-api.yml

removed some todo comments
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

added generic open graph meta tags to head tag in layout and layoutwithalert
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines.yml

anchor tag link on home page for courses (commented for now)
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines.yml

added wozu lp (no content yet)
  Product/WebApp/Views/Campaign/TargetedPages/WozUPromo.cshtml
Due: azure-pipelines.yml

hotfix: video now fades in
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/js/core/site.js
  Product/WebApp/client/scss/components/_backgroundVideo.scss
Due: azure-pipelines.yml

hotfix: add device detection
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/js/core/site.js
  Product/WebApp/client/scss/components/_backgroundVideo.scss
Due: azure-pipelines.yml

hotfix: mobile detection bug fix for library
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

Work on offer, contact us, and about pages
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Helpers/ExtensionMethods.cs
  Product/WebApp/ViewModels/ContactUsViewModel.cs
  Product/WebApp/Views/Home/About.cshtml
  Product/WebApp/Views/Home/ComingSoon.cshtml
  Product/WebApp/Views/Home/ContactUs.cshtml
  Product/WebApp/Views/Home/Offers.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_ContentBand.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_OfferListingBand.cshtml
  Product/WebApp/Views/Shared/_Footer.cshtml
  Product/WebApp/client/js/core/components/bands/_offer-listing.js
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_contact.scss
  Product/WebApp/client/scss/_footer.scss
  Product/WebApp/client/scss/_offers.scss
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
  Product/WebApp/client/scss/components/bands/_cc-offer-listing-band.scss
  Product/WebApp/wwwroot/images/barnett-logo.png
Due: azure-pipelines.yml

hotfix: styling adjustments, mobile fix (again), content update
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/scss/components/_backgroundVideo.scss
Due: azure-pipelines.yml

further style updates
  Product/WebApp/Views/Home/About.cshtml
  Product/WebApp/Views/Home/ContactUs.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_OfferListingBand.cshtml
  Product/WebApp/client/scss/_about.scss
  Product/WebApp/client/scss/_contact.scss
  Product/WebApp/client/scss/_offers.scss
  Product/WebApp/client/scss/components/bands/_cc-offer-listing-band.scss
  Product/WebApp/wwwroot/images/about-us-page.jpg
Due: azure-pipelines.yml

added protocol
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines.yml

fixed contact redirect
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

language and style updates to woz campaign page
  Product/WebApp/Views/Campaign/TargetedPages/FriendsOfAllegis.cshtml
Due: azure-pipelines.yml

changing woz expiration date
  Product/WebApp/Views/Campaign/TargetedPages/FriendsOfAllegis.cshtml
Due: azure-pipelines.yml

un-commenting out offers
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines.yml

fixed url in offers alert for contact us
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

removing ids from offer and partner Dtos
  Product/API/Controllers/OffersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/OfferDto.cs
  Product/UpDiddyLib/Dto/PartnerDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-466: More responsive styling added to home page hero
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/scss/components/_backgroundVideo.scss
Due: azure-pipelines.yml

bug-466: adjustments per feedback
  Product/WebApp/client/scss/components/_backgroundVideo.scss
Due: azure-pipelines.yml

obfuscated signup email notification and fault-tolerant tracking
  Product/API/Controllers/TrackingController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Campaign/TargetedPages/FriendsOfAllegis.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/scss/components/authentication/_sign-up.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml
