Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

correcting issues with merge
  Product/API/Models/Company.cs
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added gulp comments
  Product/WebApp/gulpfile.js
Due: azure-pipelines.yml

07-04-19
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/CCProfileService/server.js
  Product/UpDiddyLib/Dto/ProfileSearchResultDto.cs
  Product/UpDiddyLib/Dto/ProfileViewDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingRepository.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Messaging/Email.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Changes to company task/868
  Product/API/ApplicationCore/Interfaces/Business/ICompanyService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICompanyRepository.cs
  Product/API/ApplicationCore/Repository/CompanyRepository.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/Controllers/CompanyController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Companies.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/company/CompaniesGrid.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added validation task/868
  Product/API/Controllers/CompanyController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/company/CompaniesGrid.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Updated packages task/868
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines.yml

added woz students checkpoint
  Product/API/ApplicationCore/Interfaces/Repository/IGroupPartnerRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IGroupRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberGroupRepository.cs
  Product/API/ApplicationCore/Repository/GroupPartnerRepository.cs
  Product/API/ApplicationCore/Repository/GroupRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberGroupRepository.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/IJobApplicationService.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberActionRepository.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

commit
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

commit
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

commit
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Intial grid changes for recruiter-1 task/867
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRecruiterRepository.cs
  Product/API/ApplicationCore/Repository/RecruiterRepository.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/RecruiterController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/RecruiterDto.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Recruiters.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

fix for missing LogoUrl
  Product/API/Migrations/20190701142528_add logourl to company.Designer.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

Merged PR 354: Add Company to Admin tab
  Product/API/ApplicationCore/Interfaces/Business/ICompanyService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICompanyRepository.cs
  Product/API/ApplicationCore/Repository/CompanyRepository.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/Controllers/CompanyController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/CompaniesViewModel.cs
  Product/WebApp/Views/Admin/Companies.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/company/CompaniesGrid.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

created tagging service and moved existing implementations into it
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Startup.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
Due: azure-pipelines-api.yml

Merged PR 352: removed partner type restriction from lead workflow
  Product/API/ApplicationCore/Factory/LeadFactory.cs
Due: azure-pipelines-api.yml

Merged PR 353: hide similar jobs when none exist
  Product/WebApp/Views/Jobs/JobDetails.cshtml
Due: azure-pipelines.yml

commit
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/ViewModels/ButterCMS/BlogAuthorViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogCategoryViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogPageViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogPostViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogTagViewModel.cs
  Product/WebApp/Views/Blog/Index.cshtml
Due: azure-pipelines.yml

added company image to search results
  Product/API/Controllers/CompanyController.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit - update based on Jon's feedback
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

commit
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/scss/_blog.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines.yml

cleaning up code
  Product/API/Helpers/SendGridHelper.cs
Due: azure-pipelines-api.yml

Merged PR 357: added company image to search results
  Product/API/Controllers/CompanyController.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/WebApp/client/react/components/blog/blog.js
  Product/WebApp/client/react/components/expose-components.js
Due: azure-pipelines.yml

added logic to track users who sign up from being pre-loaded as contacts
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPartnerContactRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/PartnerContactRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
Due: azure-pipelines-api.yml

07-08-19
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Interfaces/IGoogleProfileService.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/GoogleProfile/EmploymentRecord.cs
  Product/API/Helpers/GoogleProfile/GoogleCloudProfile.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/CCProfileService/server.js
  Product/UpDiddyLib/Dto/ProfileQueryDto.cs
  Product/UpDiddyLib/Dto/ProfileViewDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

intermediate changes-2 task/867
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/IB2CGraph.cs
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/RecruiterController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190701142528_add logourl to company.Designer.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/UpDiddyLib/Dto/RecruiterDto.cs
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

vertical bar company logo search results
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

Intermediate changes-3 task/867
  Product/API/ApplicationCore/Interfaces/Business/IRecruiterService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRecruiterRepository.cs
  Product/API/ApplicationCore/Repository/RecruiterRepository.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/RecruiterController.cs
  Product/UpDiddyLib/Dto/RecruiterDto.cs
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/WebApp/Views/Blog/Index.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/react/components/blog/blog-post.js
  Product/WebApp/client/react/components/blog/blog.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/react/_blog.scss
Due: azure-pipelines.yml

Fixed issue with potential argument out of range esception, added logging to start of the job, and leveraging the google's cloud talent
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

Validations task/867
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Styling changes task/867
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
  Product/WebApp/client/scss/_admin.scss
Due: azure-pipelines.yml

fixed naming issue
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
Due: azure-pipelines-api.yml

Implemented comments task/867
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/Controllers/CompanyController.cs
  Product/UpDiddyLib/Dto/RecruiterDto.cs
  Product/WebApp/Views/Admin/Recruiters.cshtml
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/Controllers/TrackingController.cs
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/client/react/components/Paging.js
  Product/WebApp/client/react/components/blog/blog-post.js
  Product/WebApp/client/react/components/blog/blog.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/service/careercircle-webapp-service.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

removing references to FirstName and LastName in dbo.Contact
  Product/API/Migrations/20190129170453_test campaign and contact.cs
  Product/API/Migrations/20190410152451_xref model objects for partner contact.cs
Due: azure-pipelines-api.yml

commit
  Product/WebApp/client/react/components/blog/blog-post.js
Due: azure-pipelines.yml
