Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

replaced graph calls with auth0 management api, modified service offering for new subscriber
  Product/API/ApplicationCore/Interfaces/IB2CGraph.cs
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/API/ApplicationCore/Services/Identity/Communication/GetUsersResponse.cs
  Product/API/ApplicationCore/Services/Identity/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Identity/Roles.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/RecruiterService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Authorization/ConfigADGroup.cs
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Helpers/ExtensionMethods.cs
  Product/WebApp/client/react/components/recruiters/RecruitersGrid.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/client/js/modules/traitify.js
  Product/WebApp/client/scss/_traitify.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/API/Migrations/20191022023241_traitify tracking.Designer.cs
  Product/API/Migrations/20191022023241_traitify tracking.cs
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/js/modules/traitify.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/js/modules/traitify.js
  Product/WebApp/client/scss/_traitify.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

hide captcha for logged in user
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

implemented custom password reset (with user migration)
  Product/API/ApplicationCore/Services/Identity/Communication/RequestPasswordChangeResponse.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/Controllers/IdentityController.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ViewModels/ResetPasswordViewModel.cs
  Product/WebApp/Views/Session/ResetPassword.cshtml
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/js/core/components/authentication/_resetpassword.js
  Product/WebApp/client/js/core/components/authentication/_signin.js
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed unnecessary communication class
  Product/API/ApplicationCore/Services/Identity/Communication/RequestPasswordChangeResponse.cs
Due: azure-pipelines-api.yml

moving reCaptcha above the button
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

verify email fix
  Product/WebApp/Controllers/TraitifyController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

latest for Jyoto
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Interfaces/IMemoryCacheService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/MemoryCacheService.cs
  Product/API/Controllers/V1/CourseController.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/CourseDetailDto.cs
  Product/UpDiddyLib/Dto/CourseSummaryInfoDto.cs
  Product/UpDiddyLib/Dto/JobQueryDto.cs
  Product/UpDiddyLib/Dto/JobSearchSummaryResultDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

just started looking at caching issue
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

checking in job posting alert endpoint
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

checking up updates to job posting alert endpoint
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

improved keyword and location search functionality - still a work in progress
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/JobController.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/SearchTermDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in update to job posting alert
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/UpDiddyLib/Domain/Models/JobPostingAlertDomainModel.cs
  Product/UpDiddyLib/Domain/Models/JobQueryDomainModel.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

testing location and keyword fix
  Product/API/Migrations/20191024131821_fix keyword and location intellisense.Designer.cs
  Product/API/Migrations/20191024131821_fix keyword and location intellisense.cs
  Product/API/Startup.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

completed testing and applied fixes
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

checking in update to job alert
  Product/API/ApplicationCore/Factory/JobPostingAlertFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/UpDiddyLib/Domain/Models/JobAlertDto.cs
  Product/UpDiddyLib/Domain/Models/JobPostingAlertDomainModel.cs
  Product/UpDiddyLib/Domain/Models/JobQueryDomainModel.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in job alert update
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobAlertService.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/UpDiddyLib/Domain/Models/JobAlertDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in update to job alert
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

latest
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

task complete
  Product/API/Migrations/20191025094919_adding skill_histogram data type.Designer.cs
  Product/API/Migrations/20191025094919_adding skill_histogram data type.cs
  Product/API/Migrations/20191025101828_create sproc GetCoursesForJob.Designer.cs
  Product/API/Migrations/20191025101828_create sproc GetCoursesForJob.cs
  Product/API/Migrations/20191025102341_create sproc RelatedCoursesBySkills.Designer.cs
  Product/API/Migrations/20191025102341_create sproc RelatedCoursesBySkills.cs
  Product/API/Migrations/20191025103315_create sproc System_Get_CoursesRandom.Designer.cs
  Product/API/Migrations/20191025103315_create sproc System_Get_CoursesRandom.cs
Due: azure-pipelines-api.yml

integrating auth0 to api
  Product/API/ApplicationCore/Interfaces/Business/IJobAlertService.cs
  Product/API/Authorization/HasScopedHandler.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

checking in progress
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

checking in exception middlware
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Repository/JobPostingAlertRepository.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

commit
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

fixing issue with job alert delete
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

fixing issue with the get method
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/UpDiddyLib/Domain/Models/JobAlertDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

implemented Auth0 changes discussed with Brent, additional testing
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Authorization/UserManagementAuthorization.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20191025143756_auth0 schema changes.Designer.cs
  Product/API/Migrations/20191025143756_auth0 schema changes.cs
  Product/API/Models/Subscriber.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Dto/User/CreateUserDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Views/Session/ResetPassword.cshtml
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/js/core/components/authentication/_signin.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in sharing job end point
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/UpDiddyLib/Domain/Models/ShareJobDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Task 1349 and 1350 complete
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/JobDetailDto.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

quick fix for subscriber weekly counts
  Product/API/ApplicationCore/Services/ReportingService.cs
Due: azure-pipelines-api.yml

checking in progress job favorites
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Services/JobPostingFavoriteService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/UpDiddyLib/Domain/Models/JobFavoriteDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in fix for hero description in Traitify
  Product/WebApp/Views/Traitify/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

working on merge of traitify, fixes for career services account creation, still need to fix partner association
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/TraitifyController.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingTransactionDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in job posting favorites
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Services/JobPostingFavoriteService.cs
Due: azure-pipelines-api.yml

checking in job posting favorite
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingFavoriteRepository.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

additional fixes for traitify, still testing career services
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Controllers/ServiceOfferingOrderController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/Views/Traitify/Partials/SignUp-Confirm.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in job serach count
  Product/API/ApplicationCore/Interfaces/Business/IJobFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobSearchService.cs
  Product/API/ApplicationCore/Services/JobFavoriteService.cs
  Product/API/ApplicationCore/Services/JobSearchService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml
