Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

Checking in performance improvement to get_jobsbytopic and renaming of endpoint/method
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Migrations/20191210220626_performance_improvements_for_careerpath_recommendations.Designer.cs
  Product/API/Migrations/20191210220626_performance_improvements_for_careerpath_recommendations.cs
Due: azure-pipelines-api.yml

pulling dev
  Product/API/ApplicationCore/Interfaces/Business/ICourseEnrollmentService.cs
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V1/EnrollmentController.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/CourseCheckoutDto.cs
  Product/UpDiddyLib/Domain/Models/CourseEnrollmentDto.cs
  Product/UpDiddyLib/Domain/Models/CourseVariantCheckoutDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

adding ButterCMSApi keys
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

API Butter CMS Config Changes
  Product/API/ApplicationCore/Services/ButterCMSService.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

work in progress for new sitemap
  Product/API/ApplicationCore/Interfaces/Business/ISitemapService.cs
  Product/API/ApplicationCore/Services/SitemapService.cs
Due: azure-pipelines-api.yml

Merged PR 610: API Butter CMS Config Changes
  Product/API/ApplicationCore/Services/ButterCMSService.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

Merged PR 609: V2 Endpoints - Careerpath Recommendations - Performance improvements
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Migrations/20191210220626_performance_improvements_for_careerpath_recommendations.Designer.cs
  Product/API/Migrations/20191210220626_performance_improvements_for_careerpath_recommendations.cs
Due: azure-pipelines-api.yml

fix for onboarding
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Code Complete
  Product/API/ApplicationCore/Interfaces/Business/ICourseEnrollmentService.cs
  Product/API/ApplicationCore/Interfaces/Business/IPromoCodeService.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseEnrollmentService.cs
  Product/API/ApplicationCore/Services/PromoCodeService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/CourseCheckoutInfoDto.cs
  Product/UpDiddyLib/Domain/Models/CourseEnrollmentDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fix for company logo url
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
Due: azure-pipelines-api.yml

partially working sitemap in api
  Product/API/ApplicationCore/Interfaces/Business/ISitemapService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/SitemapService.cs
  Product/API/Migrations/20191212140206_job sitemap refactoring.Designer.cs
  Product/API/Migrations/20191212140206_job sitemap refactoring.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Domain/Models/JobSitemapDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in offer get endpoint.
  Product/API/ApplicationCore/Interfaces/Business/IOfferService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IOfferRepository.cs
  Product/API/ApplicationCore/Repository/OfferRepository.cs
  Product/API/ApplicationCore/Services/OfferService.cs
  Product/API/Controllers/V2/OffersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20191213203212_non_woz_courses.Designer.cs
  Product/API/Migrations/20191213203212_non_woz_courses.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/OfferDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removing unused migration
  Product/API/Migrations/20191213203212_non_woz_courses.Designer.cs
  Product/API/Migrations/20191213203212_non_woz_courses.cs
Due: azure-pipelines-api.yml

completed new sitemap generation and blob storage
  Product/API/ApplicationCore/Interfaces/ICloudStorage.cs
  Product/API/ApplicationCore/Services/SitemapService.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Shared/UTF8StringWriter.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

changing hangfire schedules for sitemap generation
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

checking in rest of offers endpoints, existing user signup, removal of job/course/partner logo url path logic
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/IOfferService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IOfferRepository.cs
  Product/API/ApplicationCore/Repository/OfferRepository.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/JobSearchService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/OfferService.cs
  Product/API/ApplicationCore/Services/TopicService.cs
  Product/API/Controllers/V2/OffersController.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Course/CourseUrlHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/UpDiddyLib/Domain/Models/ExistingUserSignupDto.cs
  Product/UpDiddyLib/Domain/Models/OfferDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

initial push
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/JobSearchService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/TopicService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Helpers/Course/CourseUrlHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/API/Migrations/20191216180933_adding thumbnail image to course.Designer.cs
  Product/API/Migrations/20191216180933_adding thumbnail image to course.cs
  Product/API/Models/Course.cs
  Product/API/UpDiddyApi.csproj
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Domain/Models/CourseDetailDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

code complete
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20191217104856_adding v_CourseIndexerView.Designer.cs
  Product/API/Migrations/20191217104856_adding v_CourseIndexerView.cs
Due: azure-pipelines-api.yml

AssignCompanyLogoUrlToJobs back to JobService and removing assetbaseurl from from the url
  Product/API/ApplicationCore/Services/JobService.cs
Due: azure-pipelines-api.yml

bringing back AssignCompanyLogoUrlToJobs
  Product/API/ApplicationCore/Services/JobService.cs
Due: azure-pipelines-api.yml

removing unused dto
  Product/UpDiddyLib/Domain/Models/ExistingUserSignupDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Code complete
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20191217155016_adding System_Get_CourseVariants sproc.Designer.cs
  Product/API/Migrations/20191217155016_adding System_Get_CourseVariants sproc.cs
  Product/API/Migrations/20191217163617_updating sprocs for additional course details.Designer.cs
  Product/API/Migrations/20191217163617_updating sprocs for additional course details.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/CourseBaseDto.cs
  Product/UpDiddyLib/Domain/Models/CourseVariantDetailDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

re-introduced sync methods for job data mining
  Product/API/ApplicationCore/Factory/CompanyFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterCompanyFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterFactory.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

bug fix for job data mining process
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
Due: azure-pipelines-api.yml

task1572 complete
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/SkillsController.cs
Due: azure-pipelines-api.yml

removed todos
  Product/API/Controllers/V2/CoursesController.cs
Due: azure-pipelines-api.yml

hotfix for async/await deadlock in job data mining
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
Due: azure-pipelines-api.yml

checking in fix for job search company logo, new offer endpoint and hiretalent endpoint
  Product/API/ApplicationCore/Interfaces/Business/IContactService.cs
  Product/API/ApplicationCore/Interfaces/Business/IOfferService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberActionRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberActionRepository.cs
  Product/API/ApplicationCore/Services/ContactService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/OfferService.cs
  Product/API/Controllers/V2/ContactsController.cs
  Product/API/Controllers/V2/OffersController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/UpDiddyLib/Domain/Models/HireTalentDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

needed to add item in the appsetting.example
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

incorporate employment type into job scrape process
  Product/API/ApplicationCore/Factory/JobDataMiningFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/BaseProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/EASiProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/Helpers.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

new stored procedures for related entity by list of entities
  Product/API/Migrations/20191218205306_related entity endpoints for list of entities.Designer.cs
  Product/API/Migrations/20191218205306_related entity endpoints for list of entities.cs
Due: azure-pipelines-api.yml

fix for course favorites and title
  Product/API/ApplicationCore/Interfaces/Business/ICourseFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseFavoriteService.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/CourseFavoriteDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added related entity endpoint logic for list of entities
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

code complete
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseReferralRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CourseReferralRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Migrations/20191218154837_adding CourseReferral model.Designer.cs
  Product/API/Migrations/20191218154837_adding CourseReferral model.cs
  Product/API/Migrations/20191219130912_adding courseReferral to basemodel.Designer.cs
  Product/API/Migrations/20191219130912_adding courseReferral to basemodel.cs
  Product/API/Models/CourseReferral.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/CourseReferralDto.cs
  Product/UpDiddyLib/Dto/JobReferralDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in sproc changes for using DesktopImage property instead of TableImage
  Product/API/Controllers/V1/TopicController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20191219195720_Course_DesktopImage.Designer.cs
  Product/API/Migrations/20191219195720_Course_DesktopImage.cs
  Product/UpDiddyLib/Domain/Models/CourseDetailDto.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Views/Topics/Details.cshtml
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

work in progress for course dto and image cleanup
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20191219195720_Course_DesktopImage.cs
  Product/UpDiddyLib/Domain/Models/CourseDetailDto.cs
  Product/UpDiddyLib/Domain/Models/CourseVariantDetailDto.cs
  Product/UpDiddyLib/Domain/Models/RelatedCourseDto.cs
  Product/UpDiddyLib/Domain/Models/RelatedJobDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

completed testing and bug fixes for course image endpoints
  Product/API/ApplicationCore/Services/CourseFavoriteService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20191219195720_Course_DesktopImage.cs
  Product/UpDiddyLib/Domain/Models/CourseFavoriteDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Fix for course favorite
  Product/API/Migrations/20191219195720_Course_DesktopImage.cs
Due: azure-pipelines-api.yml

Removing code from System_Get_Favorite_Courses
  Product/API/Migrations/20191219195720_Course_DesktopImage.cs
Due: azure-pipelines-api.yml

bug fix for job query string (butter cms)
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
