Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api-dev.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api-uat.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

Update azure-pipelines-api-dev.yml for Azure Pipelines
  azure-pipelines-api-dev.yml
Due: none

corrected bug with user deletion from auth0
  Product/API/ApplicationCore/Services/Identity/UserService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1219: corrected bug with user deletion from auth0
  Product/API/ApplicationCore/Services/Identity/UserService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Server Side code chnages and DB migrations.
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Repository/TrackingRepository.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/V2/TrackingController.cs
  Product/API/Migrations/20200728160123_Add sproc System_Create_Update_LandingPageTrackingEvent.Designer.cs
  Product/API/Migrations/20200728160123_Add sproc System_Create_Update_LandingPageTrackingEvent.cs
  Product/API/Migrations/20200728172106_Add sproc System_Get_FullUrlFromSlugTrackingEventLog.Designer.cs
  Product/API/Migrations/20200728172106_Add sproc System_Get_FullUrlFromSlugTrackingEventLog.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/UrlDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

code cleanup
  Product/API/ApplicationCore/Services/TrackingService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2782 #2764 Updated Job Application notification email to use newly made default parameters
  Product/API/ApplicationCore/Services/JobApplicationService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1210: #2764 #2782 Added code to send account deletion notification to the user
  Product/API.Tests/B2B/CreateTalentPipelineTests.cs
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/OfferService.cs
  Product/API/ApplicationCore/Services/PasswordResetRequestService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V1/JobApplicationController.cs
  Product/API/Controllers/V1/OffersController.cs
  Product/API/Controllers/V1/SubscriberController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

work in progress for candidate 360 work history get / update operations
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/WorkHistoryDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

072820
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Migrations/20200728195708_adding azure status properties to subscriber.Designer.cs
  Product/API/Migrations/20200728195708_adding azure status properties to subscriber.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/Views/v_CandidateAzureSearch.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/CandidateSDOC.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/EducationSDOC.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/TrainingSDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

completed db dev for candidate 360 work history
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Migrations/20200729123051_candidate360 work history.Designer.cs
  Product/API/Migrations/20200729123051_candidate360 work history.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

072920
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Business/IG2Service.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/B2BController.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/API/Migrations/20200729103729_adding [System_Update_AzureCandidateStatus] SProc.Designer.cs
  Product/API/Migrations/20200729103729_adding [System_Update_AzureCandidateStatus] SProc.cs
  Product/API/Migrations/20200729162112_adding [v_CandidateAzureSearch] view.Designer.cs
  Product/API/Migrations/20200729162112_adding [v_CandidateAzureSearch] view.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

code cleanup
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

pulling Bills Workhistory
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2776 #2762 Added sorting, ordering, and pagnation to the query
  Product/API/ApplicationCore/Interfaces/IAccountManagementService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/Controllers/V2/AdminController.cs
  Product/API/Migrations/20200730152053_Tweak_SendgridEventsSproc.Designer.cs
  Product/API/Migrations/20200730152053_Tweak_SendgridEventsSproc.cs
  Product/UpDiddyLib/Domain/Models/EmailStatisticsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2798 #2800 #2764 #2782 Added sendgrid templateData
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

removed todo
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2783 Send responses to "Support@careercircle.com"
  Product/API/ApplicationCore/Services/Admin/AccountManagementService.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added CandidateIndexName settings
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.development.json
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

hotfix and additional logging
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/API/Models/Views/v_CandidateAzureSearch.cs
  Product/UpDiddyLib/Domain/AzureSearchDocuments/CandidateSDOC.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Bug fixes and code cleanup.
  Product/API/ApplicationCore/Repository/TrackingRepository.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/V2/TrackingController.cs
  Product/API/Migrations/20200728160123_Add sproc System_Create_Update_LandingPageTrackingEvent.cs
  Product/API/Migrations/20200728172106_Add sproc System_Get_FullUrlFromSlugTrackingEventLog.cs
  Product/API/Migrations/20200804013329_Track DB model fixes.Designer.cs
  Product/API/Migrations/20200804013329_Track DB model fixes.cs
  Product/API/Models/Tracking.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

corrected indexing of current rate
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Migrations/20200804124856_candidate view update.Designer.cs
  Product/API/Migrations/20200804124856_candidate view update.cs
  Product/API/Models/Views/v_CandidateAzureSearch.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Bill's comments
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1246: Candidate indexing update
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Migrations/20200804124856_candidate view update.Designer.cs
  Product/API/Migrations/20200804124856_candidate view update.cs
  Product/API/Models/Views/v_CandidateAzureSearch.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added comments
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

updated-rate-calc
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Migrations/20200805142801_adding calulated currentrate to candidate view.Designer.cs
  Product/API/Migrations/20200805142801_adding calulated currentrate to candidate view.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1252: Candidate Index Updates
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Migrations/20200805142801_adding calulated currentrate to candidate view.Designer.cs
  Product/API/Migrations/20200805142801_adding calulated currentrate to candidate view.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1255: hiring manager indexing updates
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Migrations/20200804124856_candidate view update.Designer.cs
  Product/API/Migrations/20200804124856_candidate view update.cs
  Product/API/Migrations/20200805142801_adding calulated currentrate to candidate view.Designer.cs
  Product/API/Migrations/20200805142801_adding calulated currentrate to candidate view.cs
  Product/API/Models/Views/v_CandidateAzureSearch.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2992 #3002 #3003 Replace sitemap stored procedure with a simple select statement
  Product/API/ApplicationCore/Services/SitemapService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1259: #2992 #3002 #3003 Replace sitemap stored procedure with a simple select state...
  Product/API/ApplicationCore/Services/SitemapService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2997 #2973 stubbed out empty controller and service classes
  Product/API/ApplicationCore/Interfaces/Business/IVideoService.cs
  Product/API/ApplicationCore/Services/VideoService.cs
  Product/API/Controllers/V2/VideoController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2997 #2973 Added data layer support for videos
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberVideoRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberVideoRepository.cs
  Product/API/ApplicationCore/Services/VideoService.cs
  Product/API/Migrations/20200807175116_SubscriberVideos.Designer.cs
  Product/API/Migrations/20200807175116_SubscriberVideos.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/SubscriberVideo.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2973 #2997 #2994 #3013 Added HM video visibility flag to video service; Added some repository methods and a big fat TODO
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberVideoRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberVideoRepository.cs
  Product/API/ApplicationCore/Services/VideoService.cs
  Product/UpDiddyLib/Domain/Models/SubscriberVideoLinksDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2997 #2973 #2994 #3013 Finished first pass at API support for uploading videos
  Product/API/ApplicationCore/Interfaces/Business/IVideoService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberVideoRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberVideoRepository.cs
  Product/API/ApplicationCore/Services/VideoService.cs
  Product/API/Controllers/V2/VideoController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200810161905_SubscriberVideos.Designer.cs
  Product/API/Migrations/20200810161905_SubscriberVideos.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberVideo.cs
  Product/UpDiddyLib/Domain/Models/SubscriberVideoLinksDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

added support for traitify in candidate 360
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITraitifyRepository.cs
  Product/API/ApplicationCore/Repository/TraitifyRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/Traitify.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/AssessmentsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Merged PR 1262: Sitemap short term fix
  Product/API/ApplicationCore/Services/SitemapService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1264: added support for traitify in candidate 360
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITraitifyRepository.cs
  Product/API/ApplicationCore/Repository/TraitifyRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/Traitify.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/AssessmentsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#3018 #2992 Changed "Jobsite" to "JobPosting"; refactored the sitemap code just a smidge
  Product/API/ApplicationCore/Services/SitemapService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1265: #3018 #2992 Changed "Jobsite" to "JobPosting"; refactored the sitemap code ju...
  Product/API/ApplicationCore/Services/SitemapService.cs
Due: azure-pipelines-api-dev.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml
