Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

new endpoint for Auth0 hook (HelloBuild user signup flow)
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V1/IdentityController.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/SubscriberDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed test code
  Product/API/Controllers/V1/IdentityController.cs
Due: azure-pipelines-api.yml

contact us and courses get by guid and list
  Product/API/ApplicationCore/Interfaces/Business/IContactService.cs
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/ContactService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/ContactsController.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Domain/Models/ContactUsDto.cs
  Product/UpDiddyLib/Dto/CourseDetailDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Fixing UpDiddyDbContextModelSnapshop.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

bug fix for job alert not allowing more than 4 and subscriber profile 401 error
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/ApplicationCore/Services/ProfileService.cs
Due: azure-pipelines-api.yml

fixing profiles response code and profile update endpoint
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

Fix for subsriberprofile get profile method
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

added webapp and api prod auth0 settings
  Product/API/appsettings.Production.json
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed duplicate config values
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

adding course favorites endpoints
  Product/API/ApplicationCore/Interfaces/Business/ICourseFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseFavoriteRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/CourseFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/CourseRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/CourseFavoriteService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20191118170714_CourseFavorite.Designer.cs
  Product/API/Migrations/20191118170714_CourseFavorite.cs
  Product/API/Models/CourseFavorite.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

checking in base api controller, resume parse merge and questions
  Product/API/ApplicationCore/Factory/ResumeParseFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IResumeService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V1/ResumeController.cs
  Product/API/Controllers/V2/BaseApiController.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Controllers/V2/SkillsController.cs
Due: azure-pipelines-api.yml

Adding constraint to route param
  Product/API/Controllers/V2/BaseApiController.cs
  Product/API/Controllers/V2/CompaniesController.cs
  Product/API/Controllers/V2/CompensationTypesController.cs
  Product/API/Controllers/V2/ContactsController.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/EmploymentTypesController.cs
  Product/API/Controllers/V2/ExperienceLevelsController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Controllers/V2/SecurityClearanceController.cs
  Product/API/Controllers/V2/SkillsController.cs
  Product/API/Controllers/V2/SubscribersController.cs
Due: azure-pipelines-api.yml

fixed truncation of subscriber partner admin report
  Product/WebApp/client/react/components/reports/TotalUserBreakdownByPartnerTable.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Checking in avatar endpoints and returning guid for education history
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/IAvatarService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberEducationalHistoryService.cs
  Product/API/ApplicationCore/Interfaces/IProfileService.cs
  Product/API/ApplicationCore/Services/AvatarService.cs
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/API/ApplicationCore/Services/SubscriberEducationalHistoryService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

Retruning a guid when adding work experience and resume download now returns the filedto
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberWorkHistoryService.cs
  Product/API/ApplicationCore/Services/JobFavoriteService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/ApplicationCore/Services/SubscriberWorkHistoryService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

Applying same changes to course favorites
  Product/API/ApplicationCore/Services/CourseFavoriteService.cs
  Product/API/ApplicationCore/Services/JobFavoriteService.cs
Due: azure-pipelines-api.yml

Fix for potential timing issue with resume upload
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Changing resume upload process to return resumeParseGuid in the same endpoint
  Product/API/ApplicationCore/Factory/SubscriberProfileStagingStoreFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IResumeService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberProfileStagingStoreService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberProfileStagingStoreRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberProfileStagingStoreRepository.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Helpers/ResumeHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Bug fix for saving skills in profile merge
  Product/API/ApplicationCore/Factory/SubscriberSkillFactory.cs
Due: azure-pipelines-api.yml

checking in subscriber title and biography properties and actionfilter
  Product/API/ApplicationCore/ActionFilter.cs
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Migrations/20191122170153_SubscriberTitleAndBiography.Designer.cs
  Product/API/Migrations/20191122170153_SubscriberTitleAndBiography.cs
  Product/API/Models/Subscriber.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/SubscribeProfileBasicDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

changing the actionfilter so it only gets invoked when there declaration on the controller
  Product/API/ApplicationCore/ActionFilter.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

cleaning up code
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

new endpoint for resume delete
  Product/API/ApplicationCore/Interfaces/Business/IResumeService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

fix for profiles avatar GET method not working
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

intermediate
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

task complete
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

cleaned up some comments
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberEducationalHistoryService.cs
Due: azure-pipelines-api.yml

Checking in hire talent controller, views and models
  Product/WebApp/Controllers/HireTalentController.cs
  Product/WebApp/ViewModels/ButterCMS/HireTalentPageViewModel.cs
  Product/WebApp/Views/HireTalent/Index.cshtml
  Product/WebApp/client/scss/_hiretalent.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

removing unnessary css element
  Product/WebApp/client/scss/_hiretalent.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

work in progress on skill enrichment & geo data
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Migrations/20191126150325_city and postal.Designer.cs
  Product/API/Migrations/20191126150325_city and postal.cs
  Product/API/Migrations/20191126154109_add postalid to jobposting.Designer.cs
  Product/API/Migrations/20191126154109_add postalid to jobposting.cs
  Product/API/Migrations/20191126210903_skill enrichment and entity skill matching.Designer.cs
  Product/API/Migrations/20191126210903_skill enrichment and entity skill matching.cs
  Product/API/Models/City.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/Postal.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

forced https, changed cookie policy
  Product/API/UpDiddyApi.csproj
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

startup changes
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Checking in comments functionality
  Product/WebApp/Controllers/HireTalentController.cs
  Product/WebApp/ViewModels/ButterCMS/HireTalentPageViewModel.cs
  Product/WebApp/ViewModels/HireTalentViewModel.cs
  Product/WebApp/Views/HireTalent/Index.cshtml
  Product/WebApp/Views/HireTalent/MessageReceived.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/client/scss/_hiretalent.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

code complete
  Product/API/ApplicationCore/Interfaces/Business/ITalentFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITalentService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITalentFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/TalentFavoriteRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/TalentFavoriteService.cs
  Product/API/ApplicationCore/Services/TalentService.cs
  Product/API/Controllers/V1/PartnersController.cs
  Product/API/Controllers/V2/TalentController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Migrations/20191127110601_adding talent favoriites.Designer.cs
  Product/API/Migrations/20191127110601_adding talent favoriites.cs
  Product/API/Models/TalentFavorite.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/TalentSearchOrderByDto.cs
  Product/UpDiddyLib/Domain/Models/TalentSearchPartnersFilterDto.cs
  Product/UpDiddyLib/Domain/TalentFavoriteDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

work in progress for custom password reset
  Product/API/ApplicationCore/Interfaces/Business/IPasswordResetRequestService.cs
  Product/API/ApplicationCore/Interfaces/IB2CGraph.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPasswordResetRequestRepository.cs
  Product/API/ApplicationCore/Repository/PasswordResetRequestRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/API/ApplicationCore/Services/PasswordResetRequestService.cs
  Product/API/Controllers/V1/IdentityController.cs
  Product/API/Migrations/20191129150559_custom password reset.Designer.cs
  Product/API/Migrations/20191129150559_custom password reset.cs
  Product/API/Models/PasswordResetRequest.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Dto/PasswordResetRequestDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

task complete
  Product/API/ApplicationCore/Interfaces/Business/ITalentNoteService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRecruiterRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberNotesRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/RecruiterRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberNotesRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/TalentNoteService.cs
  Product/API/Controllers/V2/TalentController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20191202160749_adding system_get_subscribernotes.Designer.cs
  Product/API/Migrations/20191202160749_adding system_get_subscribernotes.cs
  Product/API/Models/SubscriberNotes.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

commit
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyServiceV2.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyServiceV2.cs
  Product/API/Controllers/V2/BaseApiController.cs
  Product/API/Controllers/V2/TraitifyController.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/SubscriberDto.cs
  Product/UpDiddyLib/Domain/Models/TraitifyRequestDto.cs
  Product/UpDiddyLib/Domain/Models/TraitifyResponseDto.cs
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in traitify
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyServiceV2.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyServiceV2.cs
  Product/UpDiddyLib/Domain/Models/SubscriberDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in removal of unnessary properties
  Product/UpDiddyLib/Domain/Models/TraitifyRequestDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Updated UpDiddyDbContext.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml
