Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

task-298: react warnings fixes, build adjustment/refactor, pipeline update
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/react/ContactSelect.js
  Product/WebApp/client/react/Select.js
  Product/WebApp/gulpfile.js
  Product/WebApp/package.json
  Product/WebApp/webpack.common.js
  Product/WebApp/webpack.dev.js
  Product/WebApp/webpack.prod.js
  azure-pipelines.production.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

task-298: auth policy added to all contacts endpoint
  Product/API/Controllers/ContactController.cs
Due: azure-pipelines-api.yml

campaign statistics enhancements
  Product/WebApp/Views/Marketing/CampaignDetails.cshtml
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/Views/Shared/_CampaignTotals.cshtml
Due: azure-pipelines.yml

hotfix: added landing page and new endpoint
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/ExpressSignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Task278 Compplete
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

added filters to list grid and modified text size
  Product/API/appsettings.json
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Task277
  Product/WebApp/Views/Shared/_Footer.cshtml
Due: azure-pipelines.yml

hotfix: api endpoint setup to allow express sign up
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

continuing front end work for landing page
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines.yml

finishing work on express signup flow
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/ExpressSignUp.cshtml
  Product/WebApp/wwwroot/images/versionctweakedagain.jpg
Due: azure-pipelines-api.yml, azure-pipelines.yml

adding guids back into form
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines.yml

removed s from coordinators
  Product/WebApp/Views/Home/ExpressSignUp.cshtml
Due: azure-pipelines.yml

adding apiupdiddy changes
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

improving exception handling and user notifications
  Product/UpDiddyLib/Dto/ImportValidationSummaryDto.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/client/js/core/admin/contacts.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-298: Added dto for page response
  Product/API/Controllers/ContactController.cs
  Product/UpDiddyLib/Dto/PageResultDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed home/profile from config base url
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

bug fix for fname/lname validation, reset page button
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Contacts.cshtml
  Product/WebApp/client/js/core/admin/contacts.js
Due: azure-pipelines.yml

hotfix: express sign up fix for extension props and referer added to data store
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: fix to onboard route for onboarding flow
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

Added new community landing page
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/Components/Bands/TextWithMediaBandViewModel.cs
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAcquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_TextWithMediaBand.cshtml
  Product/WebApp/client/js/core/components/buttons/_action.js
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/campaign/_community.scss
  Product/WebApp/client/scss/components/bands/_cc-text-video-band.scss
  Product/WebApp/wwwroot/images/bottom_mobile_banner.jpg
  Product/WebApp/wwwroot/images/circle_icon.png
  Product/WebApp/wwwroot/images/hero_bannerbg_top.jpg
  Product/WebApp/wwwroot/images/landing_page_2.jpg
  Product/WebApp/wwwroot/images/sign_up_banner_bg.jpg
  Product/WebApp/wwwroot/images/skills.png
  Product/WebApp/wwwroot/images/top_bg_image.jpg
  Product/WebApp/wwwroot/images/top_bg_image_overlay.jpg
  Product/WebApp/wwwroot/images/top_bg_image_overlay.png
  Product/WebApp/wwwroot/images/top_mobile_banner.jpg
Due: azure-pipelines.yml

removed other campaign endpoint for community
  Product/WebApp/Controllers/CampaignController.cs
Due: azure-pipelines.yml

hotfix: refactor to use email for display name and error message for 500 error case added
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

modified logic for eligible campaigns
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
Due: azure-pipelines-api.yml

Task333 Complete
  Product/API/Controllers/TopicController.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Startup.cs
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

Fixed comment mispellings
  Product/API/Startup.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-332: Improvement to UI/UX of selectize skills input and signup experience
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/Views/Home/_SkillsModalPartial.cshtml
  Product/WebApp/client/js/modules/selectize-handling.js
  Product/WebApp/client/js/modules/signup-flow.js
  Product/WebApp/client/scss/_profile.scss
  Product/WebApp/client/scss/_signup-flow.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/_selectize.scss
Due: azure-pipelines.yml

bug-332: mobile improvements to selectize and margin added
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/client/scss/components/_selectize.scss
Due: azure-pipelines.yml

added mom project landing page
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/MomProject.cshtml
Due: azure-pipelines.yml

made non tracking page for communities
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/package-lock.json
Due: azure-pipelines.yml

added descriptions to when errors occur in API layer
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

style updates
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/client/scss/components/bands/_cc-campaign-sign-up-band.scss
Due: azure-pipelines.yml

subscriber delete is completed, still working on referral source filtering for recruiters
  Product/API/ApplicationCore/Interfaces/IB2CGraph.cs
  Product/API/ApplicationCore/Services/B2CGraphClient.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190312200416_update campaign details sproc.Designer.cs
  Product/API/Migrations/20190312200416_update campaign details sproc.cs
  Product/API/Migrations/20190314180601_added v_SubscriberSources.Designer.cs
  Product/API/Migrations/20190314180601_added v_SubscriberSources.cs
  Product/API/Migrations/20190314193526_sproc System_Search_Subscribers.Designer.cs
  Product/API/Migrations/20190314193526_sproc System_Search_Subscribers.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberSearch.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/v_SubscriberSources.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/client/js/core/admin/subscribers.js
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-336: initial work for email verification
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190314182009_email_verification_initial.Designer.cs
  Product/API/Migrations/20190314182009_email_verification_initial.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/EmailVerification.cs
  Product/API/Models/Subscriber.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/EmailVerification/Error.cshtml
  Product/WebApp/Views/Home/EmailVerification/Success.cshtml
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/_spinningCircle.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

filtered subscriber search completed
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190314180601_added v_SubscriberSources.cs
  Product/UpDiddyLib/Dto/SubscriberSourceDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/TalentSubscriberViewModel.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed issue with sproc in migration, minor UI adjustment
  Product/API/Migrations/20190314193526_sproc System_Search_Subscribers.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added active state to campaigns
  Product/API/Controllers/CampaignsController.cs
  Product/API/Controllers/CourseController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/CampaignSignUpBandViewModel.cs
  Product/WebApp/Views/Campaign/Community.cshtml
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAcquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-336: styling for success page
  Product/WebApp/Views/Home/EmailVerification/Error.cshtml
  Product/WebApp/Views/Home/EmailVerification/Success.cshtml
  Product/WebApp/client/scss/components/_spinningCircle.scss
Due: azure-pipelines.yml

task-336: Email verification flow implemented
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Models/EmailVerification.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/EmailVerification/Error.cshtml
  Product/WebApp/Views/Home/EmailVerification/Success.cshtml
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-336: Changed default value for verified subscribers and set flag properly for express sign up
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190314182009_email_verification_initial.cs
Due: azure-pipelines-api.yml

task-336: Bug fix non express sign up users and proper setting of IsVerified when subscriber is created
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml
