Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

reworked local modules
  Product/CCProfileService/Modules/talent-v4beta1/node_modules/.bin/_mocha
  Product/CCProfileService/Modules/talent-v4beta1/node_modules/.bin/_mocha.cmd
  Product/CCProfileService/Modules/talent-v4beta1/node_modules/.bin/mocha
  Product/CCProfileService/Modules/talent-v4beta1/node_modules/.bin/mocha.cmd
  Product/CCProfileService/Modules/talent-v4beta1/node_modules/mocha/package.json
  Product/CCProfileService/Modules/talent-v4beta1/node_modules/through2/package.json
  Product/CCProfileService/package-lock.json
  Product/CCProfileService/package.json
  Product/CCProfileService/server.js
Due: none

fixed json package
  Product/CCProfileService/package.json
Due: none

Update azure-pipelines-3.yml for Azure Pipelines
  azure-pipelines-3.yml
Due: none

Added local modules back to package.json
  Product/CCProfileService/package.json
Due: none

another change
  Product/CCProfileService/package.json
Due: none

initial changes story/928
  Product/API/ApplicationCore/BusinessVendorBase.cs
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IActionRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEntityTypeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IOfferRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberActionRepository.cs
  Product/API/ApplicationCore/Repository/ActionRepository.cs
  Product/API/ApplicationCore/Repository/EntityTypeRepository.cs
  Product/API/ApplicationCore/Repository/OfferRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberActionRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/JobViewCountDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Migration changes
  Product/API/Migrations/20190712201134_Job View Count.Designer.cs
  Product/API/Migrations/20190712201134_Job View Count.cs
Due: azure-pipelines-api.yml

Set up CI with Azure Pipelines
  azure-pipelines-1.yml
Due: none

commit
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Views/Blog/Partials/_Search.cshtml
  Product/WebApp/Views/Blog/Partials/_Search.cshtml.cs
  Product/WebApp/Views/Blog/Post.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/react/components/blog/blog-post.js
  Product/WebApp/client/react/components/blog/blog.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/scss/_blog.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/react/_blog.scss
Due: azure-pipelines.yml

commit
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml
  Product/WebApp/Views/Blog/Post.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
Due: azure-pipelines.yml

commit
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml
  Product/WebApp/Views/Blog/Post.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/scss/_blog.scss
Due: azure-pipelines.yml

removed v4beta from package.jspn
  Product/CCProfileService/package.json
Due: none

commit
  Product/WebApp/ViewModels/ButterCMS/BlogAuthorViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogCategoryViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogPageViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogPostViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/BlogTagViewModel.cs
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml
  Product/WebApp/Views/Blog/Post.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/scss/_blog.scss
Due: azure-pipelines.yml

commit
  Product/WebApp/client/react/components/Paging.js
  Product/WebApp/client/react/components/expose-components.js
Due: azure-pipelines.yml

commit
  Product/WebApp/client/react/service/careercircle-webapp-service.js
Due: azure-pipelines.yml

Deleted azure-pipelines-1.yml
  azure-pipelines-1.yml
Due: none

Deleted azure-pipelines-3.yml
  azure-pipelines-3.yml
Due: none

Added web.config
  Product/CCProfileService/CCProfileService.njsproj
  Product/CCProfileService/web.config
Due: none

renamed pipeline yaml and added all node_module directories to gitignore
  Product/CCProfileService/.gitignore
  azure-pipelines-ccprofileservice.yml
Due: none

made pr changes
  Product/API/ApplicationCore/Interfaces/Repository/IGroupRepository.cs
  Product/API/ApplicationCore/Repository/GroupRepository.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
Due: azure-pipelines-api.yml

added comments to env file
  Product/CCProfileService/.env
Due: none

Added end point to list profile tenants
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
  Product/API/Controllers/ProfileController.cs
Due: azure-pipelines-api.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
