Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

fixed client hub urls
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

fixed .doc resume uploads and added 5 seconds to resume wait timeout
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines.yml

updated style on work history in profile page
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/_WorkHistoryModalPartial.cshtml
  Product/WebApp/Views/Home/_WorkHistoryPartial.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/js/profile.js
  Product/WebApp/wwwroot/scss/_profile.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Code Complete
  Product/API/Business/Factory/EducationalDegreeTypeFactory.cs
  Product/API/Business/Factory/SubscriberEducationHistoryFactory.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190118121504_Made Education Dates Optional.Designer.cs
  Product/API/Migrations/20190118121504_Made Education Dates Optional.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberEducationHistory.cs
  Product/UpDiddyLib/Dto/EducationalDegreeDto.cs
  Product/UpDiddyLib/Dto/EducationalDegreeTypeDto.cs
  Product/UpDiddyLib/Dto/EducationalInstitutionDto.cs
  Product/UpDiddyLib/Dto/SubscriberEducationHistoryDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/_EducationHistoryModalPartial.cshtml
  Product/WebApp/Views/Home/_EducationHistoryPartial.cshtml
  Product/WebApp/Views/Home/_WorkHistoryPartial.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/wwwroot/js/profile.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug fix for work history on profile page
  Product/WebApp/wwwroot/js/profile.js
Due: azure-pipelines.yml

styled education history to match work history
  Product/WebApp/Views/Home/_EducationHistoryModalPartial.cshtml
  Product/WebApp/Views/Home/_EducationHistoryPartial.cshtml
  Product/WebApp/wwwroot/js/profile.js
  Product/WebApp/wwwroot/scss/_profile.scss
Due: azure-pipelines.yml

task-155: Resume upload added to profile screen with blob storage integration
  Product/API/ApplicationCore/Interfaces/ICloudStorage.cs
  Product/API/ApplicationCore/Services/AzureBlobStorage.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190116204842_SubscriberFileInit.Designer.cs
  Product/API/Migrations/20190116204842_SubscriberFileInit.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/SubscriberFile.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Dto/SubscriberFileDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Api.cshtml
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/bower.json
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/js/career-circle-api.js
  Product/WebApp/wwwroot/scss/_common.scss
  Product/WebApp/wwwroot/scss/_profile.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Initial commit of postal code updates
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190122152802_Adding postal code to System_Update_Subscriber sproc.Designer.cs
  Product/API/Migrations/20190122152802_Adding postal code to System_Update_Subscriber sproc.cs
  Product/UpDiddyLib/Dto/SubscriberContactInfoDto.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/ViewModels/SignupFlowViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Ready for Pull
  Product/API/Business/Factory/CompensationTypeFactory.cs
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/UpDiddyLib/Dto/SubscriberEducationHistoryDto.cs
  Product/UpDiddyLib/Dto/SubscriberWorkHistoryDto.cs
  Product/WebApp/wwwroot/js/profile.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Missing Jquery UI
  Product/WebApp/bundleconfig.json
Due: azure-pipelines.yml

added logic to validate slides after signalR response is returned and slides are populated
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines.yml

Updated for Subscriber Controller
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

task-140: endpoints renamed to follow restful conventions
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-140: fix to bundleconfig
  Product/WebApp/bundleconfig.json
Due: azure-pipelines.yml

hotfix: remove subscriber rest endpoints from profile controller
  Product/API/Controllers/ProfileController.cs
Due: azure-pipelines-api.yml

entity to skill association working in admin portal
  Product/API/Controllers/SkillController.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Skills.cshtml
  Product/WebApp/wwwroot/scss/_admin.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added Files
  Product/WebApp/Views/Home/_EducationHistoryPartial.cshtml
  Product/WebApp/wwwroot/js/profile.js
Due: azure-pipelines.yml

Broke out variable declarations from ProfileViewModel initialization
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

task-147: adding BasicResponseDto back for responses and adding logging back for scheduled job
  Product/API/Controllers/ResumeController.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

redirect user to signout after password reset
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Views/Session/SignedOut.cshtml
Due: azure-pipelines.yml

reverting previously added debugging code
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

Hotfix: namespace updates for tests
  Product/API.Tests/LinkedInTests.cs
  Product/API.Tests/ResumeParserTests.cs
Due: none

clear skills control when entity type changes
  Product/WebApp/Views/Admin/Skills.cshtml
  Product/WebApp/wwwroot/js/site.min.js.map
Due: azure-pipelines.yml

hotfix: stripping tags on frontend
  Product/WebApp/wwwroot/js/profile.js
Due: azure-pipelines.yml

Moved toast warning to timeout function
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines.yml

sanitize string inputs for work and education history
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

Fixed Escaping bugs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Views/Home/_EducationHistoryPartial.cshtml
  Product/WebApp/wwwroot/js/profile.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

initial revision of db schema changes for campaign tracking and reporting
  Product/API/Migrations/20190127164445_campaign tracking and reporting.Designer.cs
  Product/API/Migrations/20190127164445_campaign tracking and reporting.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Action.cs
  Product/API/Models/Campaign.cs
  Product/API/Models/Contact.cs
  Product/API/Models/CourseVariantPromoCode.cs
  Product/API/Models/SubscriberAction.cs
  Product/API/Models/SubscriberPromoCode.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/VendorPromoCode.cs
Due: azure-pipelines-api.yml

hotfix: fixing typo in bundleconfig.json
  Product/WebApp/bundleconfig.json
Due: azure-pipelines.yml

initial commit
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/wwwroot/scss/_campaign.scss
  Product/WebApp/wwwroot/scss/bundle.scss
Due: azure-pipelines.yml

proof of concept for contact tracking
  Product/API/Controllers/TrackingController.cs
  Product/API/Controllers/VersionController.cs
  Product/API/Migrations/20190128224048_campaign tracking and reporting modifications.Designer.cs
  Product/API/Migrations/20190128224048_campaign tracking and reporting modifications.cs
  Product/API/Migrations/20190129125425_removed link identifier from contact.Designer.cs
  Product/API/Migrations/20190129125425_removed link identifier from contact.cs
  Product/API/Migrations/20190129133939_added campaign code.Designer.cs
  Product/API/Migrations/20190129133939_added campaign code.cs
  Product/API/Migrations/20190129143833_updated identifiers for campaigns and actions.Designer.cs
  Product/API/Migrations/20190129143833_updated identifiers for campaigns and actions.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Action.cs
  Product/API/Models/Campaign.cs
  Product/API/Models/Contact.cs
  Product/API/Models/ContactAction.cs
  Product/API/Models/CourseVariant.cs
  Product/API/Models/Enrollment.cs
  Product/API/Models/EnrollmentLog.cs
  Product/API/Models/Payment.cs
  Product/API/Models/PromoCode.cs
  Product/API/Models/PromoCodeRedemption.cs
  Product/API/Models/Rebate.cs
  Product/API/Models/ReportEnrollmentByVendor.cs
  Product/API/Models/SubscriberWorkHistory.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Properties/launchSettings.json
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/ExtensionMethods.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added test values to db (migration), staging and prod config values
  Product/API/Migrations/20190129170453_test campaign and contact.Designer.cs
  Product/API/Migrations/20190129170453_test campaign and contact.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

hotfix: update to js path for profile page
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines.yml

Added Var statement
  Product/WebApp/client/js/modules/profile.js
Due: azure-pipelines.yml

added tracking to landing page
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/Views/Home/Campaign.cshtml
  Product/WebApp/client/scss/_campaign.scss
Due: azure-pipelines.yml

removed signup function that I added last commit to not conflict with Chris's work
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines.yml

removing duplicated line
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines.yml

removing signup policy ids I added previously from appsettings
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

store http headers in tracking info, updated actions
  Product/API/Controllers/TrackingController.cs
  Product/API/Migrations/20190130191513_added headers to tracking, modified actions.Designer.cs
  Product/API/Migrations/20190130191513_added headers to tracking, modified actions.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/ContactAction.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
