Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

Changes to navigators
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

revert to dev to test adb2c
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines-1.yml, azure-pipelines.yml

updated msal cache
  Product/WebApp/Models/MSALStaticCache.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

corrected AG job processing
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupClient.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

using maxdop 10
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

commenting out job data mining for local testing
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

changes
  Product/WebApp/Models/MSALSessionCache.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Fix Company logo url for browse jobs
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/JobController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Added BadRequest return for invalid data
  Product/API/Controllers/JobController.cs
Due: azure-pipelines-api.yml

initial commit
  Product/API/Controllers/GroupsController.cs
  Product/API/Controllers/NotificationsController.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
  Product/WebApp/Views/Admin/AddNotification.cshtml
  Product/WebApp/client/js/core/admin/notifications.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

front end work to add group of subscribers
  Product/API/ApplicationCore/Repository/SubscriberGroupRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/UpDiddyLib/Dto/GroupDto.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/NotificationsViewModel.cs
  Product/WebApp/Views/Admin/AddNotification.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

course site admin grid, crawl button, sync button
  Product/API/ApplicationCore/Factory/CourseCrawlingFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ICourseCrawlingService.cs
  Product/API/ApplicationCore/Services/CourseCrawling/Common/BaseCourseProcess.cs
  Product/API/ApplicationCore/Services/CourseCrawling/Common/ICourseProcess.cs
  Product/API/ApplicationCore/Services/CourseCrawling/CourseCrawlingService.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVProcess.cs
  Product/API/Controllers/CourseSiteController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/CourseSites.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/courses/CoursesGrid.js
  Product/WebApp/client/react/components/coursesites/CourseSitesGrid.js
  Product/WebApp/client/react/components/expose-components.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added backend for notification selection of groups
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberGroupRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberGroupRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/NotificationsController.cs
Due: azure-pipelines-api.yml

removing career circle mp4
  Product/WebApp/Views/Course/EnrollmentSuccess.cshtml
  Product/WebApp/wwwroot/images/Career_Circle.mp4
Due: azure-pipelines-1.yml, azure-pipelines.yml

Merge issues fixed
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added condition for www rewrite rule
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

bug fix for job abandonment
  Product/API/Helpers/SendGridHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

gonna pull dev
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Timeout issues on job search page especially when jobs are empty
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

more work on group selection
  Product/API/Controllers/NotificationsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/NewNotificationDto.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/NotificationsViewModel.cs
  Product/WebApp/Views/Admin/AddNotification.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added authoriozation to groups controller get
  Product/API/Controllers/GroupsController.cs
Due: azure-pipelines-api.yml

unchecking checkbox on back button
  Product/WebApp/client/js/core/admin/notifications.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

added guid column to partner listing
  Product/WebApp/Views/Shared/Admin/_PartnerGrid.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

changed partner guid column to non-sortable
  Product/WebApp/Views/Shared/Admin/_PartnerGrid.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

checking in
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/ReportController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/Validate.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/reports/JobAbandonmentCountTable.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

transforming ITProTV course pages into CC courses
  Product/API/ApplicationCore/Interfaces/Business/ICourseCrawlingService.cs
  Product/API/ApplicationCore/Services/CourseCrawling/Common/ICourseProcess.cs
  Product/API/ApplicationCore/Services/CourseCrawling/CourseCrawlingService.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVCategory.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVProcess.cs
  Product/API/Controllers/CourseSiteController.cs
  Product/API/Migrations/20190813124720_course site processing flags.Designer.cs
  Product/API/Migrations/20190813124720_course site processing flags.cs
  Product/API/Migrations/20190813202930_adding tag description.Designer.cs
  Product/API/Migrations/20190813202930_adding tag description.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/CourseSite.cs
  Product/API/Models/Tag.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/CourseDto.cs
  Product/UpDiddyLib/Dto/CourseSiteDto.cs
  Product/UpDiddyLib/Dto/TagDto.cs
  Product/UpDiddyLib/Dto/TagTopicDto.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Ready for PR
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/CCProfileService/.env
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

backed out fix
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
Due: azure-pipelines-api.yml

backed out changes for env
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

removed extraneous using
  Product/WebApp/Controllers/SessionController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed env file
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

next steps
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Done
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
Due: azure-pipelines-api.yml

commit job abandonment statistics
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberActionRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberActionRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Migrations/20190814141331_JobAbandonmentStatistics.Designer.cs
  Product/API/Migrations/20190814141331_JobAbandonmentStatistics.cs
  Product/API/Models/JobAbandonmentStatistics.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/Validate.js
  Product/WebApp/client/react/components/reports/JobAbandonmentCountTable.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixing migration for job abandonment stats
  Product/API/Migrations/20190814141331_JobAbandonmentStatistics.cs
Due: azure-pipelines-api.yml

initial work
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
  Product/WebApp/Services/ButterCMS/IButterCMSService.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

going home
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/ExceptionHandling/CCExceptionFilter.cs
  Product/WebApp/Models/MSALSessionCache.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

updated cors setting in webapp appsettings
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

implementing stored procedure repository
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberActionRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberActionRepository.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
Due: azure-pipelines-api.yml

fix for date column showing wrong date for abandoned job report
  Product/WebApp/client/react/components/reports/JobAbandonmentCountTable.js
Due: azure-pipelines-1.yml, azure-pipelines.yml
