Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

story-344: Refactor of Campaign related pages/controllers, update ef
  Product/API/UpDiddyApi.csproj
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Campaign/Angular.cshtml
  Product/WebApp/Views/Campaign/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/Views/Campaign/React.cshtml
  Product/WebApp/Views/Campaign/ReactAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/ReactEightWeek.cshtml
  Product/WebApp/Views/Campaign/SignUp.cshtml
  Product/WebApp/Views/Campaign/WozU.cshtml
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Home/Campaign/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/AngularEightWeek.cshtml
  Product/WebApp/Views/Home/Campaign/React.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAcquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactEightWeek.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

tracking implemented for subscriber view and resume download
  Product/API/ApplicationCore/Factory/SubscriberActionFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Migrations/20190327190657_modified PK on SubscriberAction.Designer.cs
  Product/API/Migrations/20190327190657_modified PK on SubscriberAction.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberAction.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

story-344: refactored skew band to content band, added use of band on crf page, grouped campaign landing page together
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/Components/Bands/ColumnSkewBandViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/ContentBandViewModel.cs
  Product/WebApp/Views/Campaign/ClinicalResearchFastrack.cshtml
  Product/WebApp/Views/Campaign/MomProject.cshtml
  Product/WebApp/Views/Campaign/SignUp.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/Angular.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/AngularEightWeek.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/React.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/ReactAcquirePosition.cshtml
  Product/WebApp/Views/Campaign/TargetedPages/ReactEightWeek.cshtml
  Product/WebApp/Views/Home/ExpressSignUp.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_ColumnSkewBand.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_ContentBand.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/bands/_cc-column-skew-band.scss
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
Due: azure-pipelines.yml

further work on front end to offer page
  Product/API/Controllers/OffersController.cs
  Product/UpDiddyLib/Dto/OfferDto.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/OfferListingViewModel.cs
  Product/WebApp/ViewModels/OffersViewModel.cs
  Product/WebApp/Views/Home/Offers.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_OfferListingBand.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/js/core/components/bands/_offer-listing.js
  Product/WebApp/client/scss/_offers.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/bands/_cc-offer-listing-band.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

03-27-2019
  Product/API/ApplicationCore/Factory/CompensationTypeFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingSkillFactory.cs
  Product/API/ApplicationCore/Factory/SkillFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobHelper.cs
  Product/API/Helpers/Job/JobQuery.cs
  Product/API/Migrations/20190327131350_Adding Skills to JobPosting.Designer.cs
  Product/API/Migrations/20190327131350_Adding Skills to JobPosting.cs
  Product/API/Migrations/20190327143118_Adding JobPostingSkill to BaseModel.Designer.cs
  Product/API/Migrations/20190327143118_Adding JobPostingSkill to BaseModel.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/JobPostingSkill.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added basic reporting for subscriber actions to admin dashboard
  Product/API/Controllers/ReportController.cs
  Product/API/Migrations/20190328160617_added v_RecruiterSubscriberActions.Designer.cs
  Product/API/Migrations/20190328160617_added v_RecruiterSubscriberActions.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/v_RecruiterSubscriberActions.cs
  Product/UpDiddyLib/Dto/Reporting/RecruiterActionSummaryDto.cs
  Product/UpDiddyLib/Dto/Reporting/SubscriberActionSummaryDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

03-28-2019
  Product/API/ApplicationCore/Factory/CompensationTypeFactory.cs
  Product/API/ApplicationCore/Factory/JobCategoryFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingSkillFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Helpers/Job/JobHelper.cs
  Product/API/Migrations/20190328105703_Adding JobCategory.Designer.cs
  Product/API/Migrations/20190328105703_Adding JobCategory.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobCategory.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/JobCategoryDto.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

integrated email for offer
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/Controllers/OffersController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/Views/Shared/Components/Bands/_OfferListingBand.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/js/core/components/bands/_offer-listing.js
  Product/WebApp/client/scss/components/bands/_cc-offer-listing-band.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

story-344: LP for barnett and itprotv added
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/Barnett.cshtml
  Product/WebApp/Views/Campaign/ItProTv.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed insert data for offers
  Product/API/Migrations/20190325201835_adding offer table and logourl to partner.cs
  Product/WebApp/Api/IApi.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed diff markers
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

added tracking and reporting for offers
  Product/API/ApplicationCore/Factory/SubscriberActionFactory.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190329155700_reporting for offer claims.Designer.cs
  Product/API/Migrations/20190329155700_reporting for offer claims.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_RecruiterSubscriberActions.cs
  Product/API/Models/Views/v_SubscriberOfferActions.cs
  Product/API/Models/Views/v_SubscriberSources.cs
  Product/UpDiddyLib/Dto/Reporting/Class1.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed user redirect to home page, instead of login page, on sign out
  Product/WebApp/Views/Session/SignedOut.cshtml
Due: azure-pipelines.yml

attempting to increase sign up cta font size
  Product/WebApp/wwwroot/css/Unified.css
Due: azure-pipelines.yml

made sign up cta font size slightly bigger on mobile
  Product/WebApp/wwwroot/css/Unified.css
Due: azure-pipelines.yml

renamed offeractionsummarydto file
  Product/UpDiddyLib/Dto/Reporting/OfferActionSummaryDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-411: Initial integration work with Azure API Management
  Product/API/ApplicationCore/Interfaces/IAPIGateway.cs
  Product/API/ApplicationCore/Services/AzureAPIManagement/ManagementAPI.cs
  Product/API/ApplicationCore/Services/AzureAPIManagement/Subscription.cs
  Product/API/ApplicationCore/Services/AzureAPIManagement/User.cs
  Product/API/Authorization/APIGateway/APIGatewayAuthHandler.cs
  Product/API/Authorization/APIGateway/APIGatewayDefaults.cs
  Product/API/Authorization/APIGateway/APIGatewayExtensions.cs
  Product/API/Authorization/APIGateway/APIGatewayOptions.cs
  Product/API/Startup.cs
  Product/API/appsettings.example.json
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

task-411: Added test endpoint for API Management debugging and troubleshooting
  Product/API/Controllers/AzureAPIController.cs
Due: azure-pipelines-api.yml

work in progress for lead insert
  Product/API/Controllers/LeadController.cs
  Product/API/Migrations/20190401174302_lead data capture.Designer.cs
  Product/API/Migrations/20190401174302_lead data capture.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Contact.cs
  Product/API/Models/LeadStatus.cs
  Product/API/Models/Partner.cs
  Product/API/Models/PartnerContact.cs
  Product/API/Models/PartnerContactLeadStatus.cs
  Product/API/Models/PartnerType.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/Marketing/LeadFileDto.cs
  Product/UpDiddyLib/Dto/Marketing/LeadRequestDto.cs
  Product/UpDiddyLib/Dto/Marketing/LeadResponseDto.cs
  Product/UpDiddyLib/Dto/Marketing/LeadStatusDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress
  Product/API/Controllers/LeadController.cs
  Product/API/Models/PartnerContact.cs
Due: azure-pipelines-api.yml

04-01-2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobHelper.cs
  Product/API/Helpers/Job/JobQuery.cs
  Product/API/Migrations/20190329095432_Adding subscriber to job posting.Designer.cs
  Product/API/Migrations/20190329095432_Adding subscriber to job posting.cs
  Product/API/Migrations/20190401100215_Added Posting status.Designer.cs
  Product/API/Migrations/20190401100215_Added Posting status.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPosting.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/JobQueryDto.cs
  Product/UpDiddyLib/Dto/JobQueryFacetDto.cs
  Product/UpDiddyLib/Dto/JobQueryFacetItemDto.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

null subscriber and empty offers fixes
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Views/Home/Offers.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed comment
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

turning anchor on sign up page into button
  Product/WebApp/wwwroot/css/Unified.css
Due: azure-pipelines.yml

more styles updates to anchor on sign up page
  Product/WebApp/wwwroot/css/Unified.css
Due: azure-pipelines.yml

updates for nowrap and line-height to anchor on signup page
  Product/WebApp/wwwroot/css/Unified.css
Due: azure-pipelines.yml

work in progress for lead import
  Product/API/ApplicationCore/Factory/LeadStatusFactory.cs
  Product/API/Controllers/LeadController.cs
  Product/UpDiddyLib/Dto/Marketing/LeadRequestDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

putting anchor in sign up page on new line in mobile.
  Product/WebApp/wwwroot/css/Unified.css
Due: azure-pipelines.yml

changes to attempt to address cors issues
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

reverting previous change
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

04-02-2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/API/Migrations/20190402115240_Added posting geo information.Designer.cs
  Product/API/Migrations/20190402115240_Added posting geo information.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPosting.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/JobQueryDto.cs
  Product/UpDiddyLib/Dto/JobSearchResultDto.cs
  Product/UpDiddyLib/Dto/JobViewDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: api management cache issue
  Product/API/ApplicationCore/Services/AzureAPIManagement/ManagementAPI.cs
Due: azure-pipelines-api.yml

created POC for ButterCMS integration
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

task-422: Barnett content adjustment, itprotv page route removed for now
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/Barnett.cshtml
Due: azure-pipelines.yml

additional work to incorporate ButterCMS into CC
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
Due: azure-pipelines.yml

added hero image to campaign landing page
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
Due: azure-pipelines.yml

changed body content to wysiwyg
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
Due: azure-pipelines.yml

removed unneeded class
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
Due: azure-pipelines.yml

lead insert and file insert/update working
  Product/API/Controllers/LeadController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190401174302_lead data capture.cs
  Product/API/Migrations/20190402142755_remove composite PK from partner contact.Designer.cs
  Product/API/Migrations/20190402142755_remove composite PK from partner contact.cs
  Product/API/Migrations/20190402180612_created partner contact file.Designer.cs
  Product/API/Migrations/20190402180612_created partner contact file.cs
  Product/API/Migrations/20190402211625_modified partner contact file lead status.Designer.cs
  Product/API/Migrations/20190402211625_modified partner contact file lead status.cs
  Product/API/Migrations/20190403160153_file upload lead statuses.Designer.cs
  Product/API/Migrations/20190403160153_file upload lead statuses.cs
  Product/API/Migrations/20190403170851_make dupe check params nullable.Designer.cs
  Product/API/Migrations/20190403170851_make dupe check params nullable.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/LeadStatus.cs
  Product/API/Models/PartnerContact.cs
  Product/API/Models/PartnerContactFile.cs
  Product/API/Models/PartnerContactFileLeadStatus.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/Marketing/LeadFileDto.cs
  Product/UpDiddyLib/Dto/Marketing/LeadStatusDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

refactor: refactored offer requirements, email now has return url for verification
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/OffersViewModel.cs
  Product/WebApp/Views/Home/EmailVerification/Success.cshtml
  Product/WebApp/Views/Home/Offers.cshtml
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_OfferListingBand.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
