Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

Stream reader fix for multiple users
  Product/API/Controllers/JobApplicationController.cs
Due: azure-pipelines-api.yml

added job skills to detail view
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/client/scss/_job-details.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

temp
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

Changes requested by Jon for author page
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml
  Product/WebApp/Views/Blog/Post.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/scss/_blog.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed appsetting.staging.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

hot fix for staging appsettings
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

Verbage fix
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/scss/_blog.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

adding background job wrapper
  Product/API/Controllers/NotificationsController.cs
  Product/API/Startup.cs
  Product/API/Workflow/Helpers/BackgroundJobWrapper.cs
  Product/API/Workflow/Helpers/HangfireServerFilter.cs
Due: azure-pipelines-api.yml

wip for course data mining
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTVProcess.cs
Due: azure-pipelines-api.yml

added hangfire service
  Product/API/ApplicationCore/Interfaces/IHangfireService.cs
  Product/API/ApplicationCore/Services/HangfireService.cs
  Product/API/Controllers/NotificationsController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

refeactored existing backgroundjob and recurringjob calls to use hangfire service
  Product/API/ApplicationCore/Factory/JobPostingAlertFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/ApplicationCore/Interfaces/IHangfireService.cs
  Product/API/ApplicationCore/Services/HangfireService.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/LeadController.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/NotificationsController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Startup.cs
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/API/Workflow/Helpers/BackgroundJobWrapper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
Due: azure-pipelines-api.yml

replaced all recurringjob and backgroundjob instances with service calls
  Product/API/ApplicationCore/Factory/CourseFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingAlertFactory.cs
  Product/API/ApplicationCore/Interfaces/IHangfireService.cs
  Product/API/ApplicationCore/Services/HangfireService.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/JobController.cs
  Product/API/Startup.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
Due: azure-pipelines-api.yml

fixed some hangfire service errors and wrapped hangire startup logic with ispreliminary check
  Product/API.Tests/ControllerTests.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

scrape to dbo.CoursePage functional
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTVProcess.cs
  Product/API/Migrations/20190726143859_course data mining.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

minor variable name change
  Product/API.Tests/ControllerTests.cs
Due: none

moved skill pills below the job summary
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

done
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

Hide edit for inactive notifications
  Product/WebApp/Views/Admin/Notifications.cshtml
  Product/WebApp/Views/Shared/Admin/_NotificationGrid.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

reverted .env file
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

updated env file
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

cleaning up startup and hangfire server filter
  Product/API/Startup.cs
  Product/API/Workflow/Helpers/HangfireServerFilter.cs
Due: azure-pipelines-api.yml

modified job data mining to use skills
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Intellisense for job search
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Fix for allegis group job posting alert
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupClient.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

committing backend work for Sales Force wait list
  Product/API/ApplicationCore/Interfaces/Business/ISalesForceWaitListService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISalesForceWaitListRepository.cs
  Product/API/ApplicationCore/Repository/SalesForceWaitListRepository.cs
  Product/API/ApplicationCore/Services/SalesForceWaitListService.cs
  Product/API/Migrations/20190804182904_Add_SalesForceWaitList.Designer.cs
  Product/API/Migrations/20190804182904_Add_SalesForceWaitList.cs
  Product/API/Models/SalesForceWaitList.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/SalesForceWaitListDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 427: Profile Search Bug Fixes
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

sovren testing
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTVProcess.cs
Due: azure-pipelines-api.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/ISalesForceService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/SalesForceService.cs
  Product/API/Controllers/SalesForceController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SalesForceController.cs
  Product/WebApp/ViewModels/SalesForceWaitListViewModel.cs
  Product/WebApp/Views/SalesForce/Index.cshtml
  Product/WebApp/Views/SalesForce/Partials/_Signup.cshtml
  Product/WebApp/Views/SalesForce/Success.cshtml
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
  Product/WebApp/client/scss/_salesforcewaitlist.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

refactorying and updating UI for sales force sign up
  Product/API/ApplicationCore/Interfaces/Business/ISalesForceService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISalesForceWaitListRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SalesForceWaitListRepository.cs
  Product/API/ApplicationCore/Services/SalesForceService.cs
  Product/API/Controllers/SalesForceController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190805165718_Add_SalesForceSignUpList.Designer.cs
  Product/API/Migrations/20190805165718_Add_SalesForceSignUpList.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SalesForceWaitList.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/SalesForceWaitListDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/SalesForceController.cs
  Product/WebApp/ViewModels/SalesForceWaitListViewModel.cs
  Product/WebApp/Views/SalesForce/Index.cshtml
  Product/WebApp/Views/SalesForce/Partials/_Signup.cshtml
  Product/WebApp/Views/SalesForce/Success.cshtml
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/wwwroot/images/AdobeStock_259779356.jpg
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Removing artifact from different story and renaming scss
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
  Product/WebApp/client/scss/_salesforcesignup.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

Removing character limit from first and last name salesforce
  Product/WebApp/ViewModels/SalesForceWaitListViewModel.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Renaming files to sign up and added create date and guid
  Product/API/ApplicationCore/Interfaces/Repository/ISalesForceSignUpListRepository.cs
  Product/API/ApplicationCore/Repository/SalesForceSignUpListRepository.cs
  Product/API/ApplicationCore/Services/SalesForceService.cs
  Product/API/Models/SalesForceSignUpList.cs
  Product/UpDiddyLib/Dto/SalesForceSignUpListDto.cs
  Product/WebApp/ViewModels/SalesForceSignUpListViewModel.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixing background so it cover the entire div
  Product/WebApp/Views/SalesForce/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

bug fixes for 990, 991, and 992
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/API/Helpers/Job/JobUrlHelper.cs
  Product/API/Startup.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/client/js/modules/usmap.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

verbiage change to sales force sign up
  Product/WebApp/Views/SalesForce/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

added preliminary environment condition to www rewrite rule
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

done
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

cleaned up some dead code
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed redirect url in appsettings webapp
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml
