Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

renamed acquire position views
  Product/WebApp/Views/Home/Campaign/AngularAcquirePosition.cshtml
  Product/WebApp/Views/Home/Campaign/ReactAcquirePosition.cshtml
Due: azure-pipelines.yml

hotfix: adjusted views with offers (mean-stack to full-stack)
  Product/WebApp/appsettings.json
Due: azure-pipelines.yml

bug fix for rebate info text on course progress bars
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Task208 Complete
  Product/API/ApplicationCore/Factory/ContactFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
Due: azure-pipelines-api.yml

Task169 complete
  Product/WebApp/Views/Home/_EducationHistoryModalPartial.cshtml
  Product/WebApp/Views/Home/_WorkHistoryModalPartial.cshtml
  Product/WebApp/client/scss/_profile.scss
Due: azure-pipelines.yml

Bug fix for no contact
  Product/API/ApplicationCore/Factory/ContactFactory.cs
Due: azure-pipelines-api.yml

re-caching the subscriber in session once they enroll in a course to change eligible offers
  Product/WebApp/Controllers/CourseController.cs
Due: azure-pipelines.yml

refactor: try catches added, bug fix to admin, error view refactor
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiException.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/404.cshtml
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added linkedin button back to profile page
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/scss/_profile.scss
Due: azure-pipelines.yml

added LoadSubscriber attribute for the WebApp
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Authentication/RequireSubscriber.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

refactor: profile editing error messages wth new api service updates
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

updated sovren url, verified that it works locally
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

changed file name from RequireSubscriber to LoadSubscriber
  Product/WebApp/Authentication/LoadSubscriber.cs
Due: azure-pipelines.yml

made tracking pixel mvc route fault-tolerant
  Product/API/Controllers/TrackingController.cs
Due: azure-pipelines-api.yml

added modified column, url encoded search query to prevent errors
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added linkedin button back with styling and profile image
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewComponent/LinkedInSyncViewComponent.cs
  Product/WebApp/ViewModels/Components/LinkedInSync/LinkedInSyncViewModel.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Syncing.cshtml
  Product/WebApp/client/scss/components/_linkedIn.scss
Due: azure-pipelines.yml

disable campaigns before start date and after end date
  Product/API/ApplicationCore/Factory/CampaignFactory.cs
  Product/API/ApplicationCore/Services/AzureBlobStorage.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190218200336_set campaign end dates.Designer.cs
  Product/API/Migrations/20190218200336_set campaign end dates.cs
Due: azure-pipelines-api.yml

tiny scss fix
  Product/WebApp/client/scss/_profile.scss
  Product/WebApp/client/scss/components/_linkedIn.scss
Due: azure-pipelines.yml

style updates
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/scss/_profile.scss
Due: azure-pipelines.yml

added logic to handle no profile image
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
Due: azure-pipelines.yml

Task 263 Complete
  Product/API/Controllers/MarketingController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190219131248_Campaign Reporting.Designer.cs
  Product/API/Migrations/20190219131248_Campaign Reporting.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/CampaignDetail.cs
  Product/API/Models/CampaignStatistic.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/CampaignDetailDto.cs
  Product/UpDiddyLib/Dto/CampaignStatisticDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/MarketingController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/CampaignDetailsView.cs
  Product/WebApp/ViewModels/CampaignStatisticsViewModel.cs
  Product/WebApp/Views/Marketing/CampaignDetails.cshtml
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-254: created toast js service for creating toasts
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/js/core/toast-service.js
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/_toast.scss
Due: azure-pipelines.yml

Moved to admin menu
  Product/WebApp/Views/Admin/Skills.cshtml
  Product/WebApp/Views/Marketing/CampaignDetails.cshtml
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/client/scss/_admin.scss
Due: azure-pipelines.yml

hotfix: additional logging added to sign up api endpoint
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

EF refactor
  Product/API/Controllers/MarketingController.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

removed whitespace
  Product/API/Controllers/MarketingController.cs
Due: azure-pipelines-api.yml

bug-254: refactored references to toast to toast-service
  Product/WebApp/Views/Admin/Skills.cshtml
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Shared/Components/LinkedInSync/Syncing.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
  Product/WebApp/client/js/core/toast-service.js
  Product/WebApp/client/js/modules/profile.js
  Product/WebApp/client/js/modules/signup-flow.js
  Product/WebApp/client/scss/components/_toast.scss
Due: azure-pipelines.yml

bug-254: style adjustment to toast
  Product/WebApp/client/scss/components/_toast.scss
Due: azure-pipelines.yml

style and navigation changes for reporting
  Product/WebApp/Controllers/MarketingController.cs
  Product/WebApp/ViewModels/CampaignDetailsView.cs
  Product/WebApp/Views/Marketing/CampaignDetails.cshtml
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/client/scss/_admin.scss
Due: azure-pipelines.yml

bug fix for login page (subscriber required)
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

Work for Task269 on wrong branch
  Product/API/ApplicationCore/Interfaces/ISendGridInterface.cs
  Product/API/ApplicationCore/Services/SendGridInterface.cs
  Product/API/Controllers/MarketingController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/Marketing/SendGridListDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

work in progress for contact ui
  Product/API/ApplicationCore/Factory/ContactFactory.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Admin/Contacts.cshtml
  Product/WebApp/Views/Admin/Skills.cshtml
  Product/WebApp/Views/Marketing/CampaignDetails.cshtml
  Product/WebApp/Views/Marketing/CampaignStatistics.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/lib/fileupload/jquery.fileupload.js
  Product/WebApp/wwwroot/lib/fileupload/jquery.iframe-transport.js
  Product/WebApp/wwwroot/lib/jquery-ui/jquery.ui.widget.js
  Product/WebApp/wwwroot/lib/knob/jquery.knob.js
  node_modules/jquery-knob/.npmignore
  node_modules/jquery-knob/LICENSE
  node_modules/jquery-knob/README.md
  node_modules/jquery-knob/bower.json
  node_modules/jquery-knob/dist/jquery.knob.min.js
  node_modules/jquery-knob/excanvas.js
  node_modules/jquery-knob/index.html
  node_modules/jquery-knob/js/jquery.knob.js
  node_modules/jquery-knob/knob.jquery.json
  node_modules/jquery-knob/package.json
  node_modules/jquery-knob/secretplan.jpg
  package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-254: z-index adjustment to toast
  Product/WebApp/client/scss/components/_toast.scss
Due: azure-pipelines.yml

Task269 complete
  Product/API/ApplicationCore/Interfaces/ISendGridInterface.cs
  Product/API/ApplicationCore/Services/SendGridInterface.cs
  Product/API/Controllers/MarketingController.cs
  Product/UpDiddyLib/Dto/Marketing/EmailContactDto.cs
  Product/UpDiddyLib/Dto/Marketing/SendGridListDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Intermediate
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed dead code
  Product/API/Controllers/MarketingController.cs
Due: azure-pipelines-api.yml

intermediate
  Product/API/ApplicationCore/Services/WozInterface.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/CampaignViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/ViewModels/Components/Bands/CampaignSignUpBandViewModel.cs
  Product/WebApp/Views/Home/Campaign/Angular.cshtml
  Product/WebApp/Views/Shared/Components/Bands/_CampaignSignUpBand.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

contact schema changes to support bulk import
  Product/API/Migrations/20190225201729_contact schema changes for bulk import.Designer.cs
  Product/API/Migrations/20190225201729_contact schema changes for bulk import.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Contact.cs
  Product/API/Models/Partner.cs
  Product/API/Models/PartnerContact.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

added constraint to enforce json values in metadata
  Product/API/Controllers/CourseController.cs
  Product/API/Migrations/20190225201729_contact schema changes for bulk import.cs
Due: azure-pipelines-api.yml

initial commit
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/PartnersViewModel.cs
  Product/WebApp/Views/Admin/Partners.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
  Product/WebApp/Views/Shared/_Footer.cshtml
  Product/WebApp/client/js/core/components/buttons/_action.js
  Product/WebApp/client/scss/_partners.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/buttons/_action.scss
Due: azure-pipelines.yml
