Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

downgraded version of inmemorydb, fixed bug in unit test
  Product/API.Tests/ControllerTests.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

task-73: API endpoint url updates, try catch block added, and deprecated code removal
  Product/API/Business/WozInterface.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/WozController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Removed test code
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

Removed Woz Controller
  Product/API/Controllers/CourseController.cs
  Product/API/UpDiddyApi.csproj
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added subscriber grid to career circle web app
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/SubscribersViewModel.cs
  Product/WebApp/Views/Shared/MvcGrid/_Grid.cshtml
  Product/WebApp/Views/Shared/MvcGrid/_Pager.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/Views/_ViewImports.cshtml
  Product/WebApp/wwwroot/lib/mvc-grid/GridGlyphs.woff
  Product/WebApp/wwwroot/lib/mvc-grid/mvc-grid.css
  Product/WebApp/wwwroot/lib/mvc-grid/mvc-grid.js
Due: azure-pipelines.yml

Task102
  Product/API/Business/Factory/CompanyFactory.cs
  Product/API/Business/Factory/CountryFactory.cs
  Product/API/Business/Factory/CourseFactory.cs
  Product/API/Business/Factory/EducationalDegreeFactory.cs
  Product/API/Business/Factory/EducationalInstitutionFactory.cs
  Product/API/Business/Factory/FactoryBase.cs
  Product/API/Business/Factory/LinkedInTokenFactory.cs
  Product/API/Business/Factory/SkillFactory.cs
  Product/API/Business/Factory/StateFactory.cs
  Product/API/Business/Factory/SubscriberEducationHistoryFactory.cs
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/API/Business/Factory/SubscriberProfileStagingStoreFactory.cs
  Product/API/Business/Factory/SubscriberSkillFactory.cs
  Product/API/Business/Factory/SubscriberWorkHistoryFactory.cs
  Product/API/Business/LinkedInInterface.cs
  Product/API/Business/Woz/IWozInterface.cs
  Product/API/Business/Woz/WozInterface.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Models/Company.cs
  Product/API/Models/Country.cs
  Product/API/Models/EducationalDegree.cs
  Product/API/Models/EducationalInstitution.cs
  Product/API/Models/LinkedInToken.cs
  Product/API/Models/Skill.cs
  Product/API/Models/State.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/SubscriberEducationHistory.cs
  Product/API/Models/SubscriberProfileStagingStore.cs
  Product/API/Models/SubscriberSkill.cs
  Product/API/Models/SubscriberWorkHistory.cs
  Product/API/Models/_SubscriberProfileStagingStore.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Deleted WozController
  Product/API/Controllers/WozController.cs
Due: azure-pipelines-api.yml

added new profile section with working edit modals
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/scss/_profile.scss
Due: azure-pipelines.yml

minor responsive tweaks
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines.yml

task-105: Refactor of js/css bundling and minification and client side token support added
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/.gitignore
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/Unified.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/bower.json
  Product/WebApp/bundleconfig.json
  Product/WebApp/bundleconfig.json.bindings
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/site.dev.css
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/career-circle-api.js
  Product/WebApp/wwwroot/js/session-storage.js
  Product/WebApp/wwwroot/js/site.dev.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/js/site.min.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added sass compilation and bower install to build pipeline
  azure-pipelines.yml
Due: none

Added steps for sass compilation and bower install to production pipeline after testing
  azure-pipelines.production.yml
Due: none

README update, removal of test code, clear session storage on signout page and bundleconfig update
  Product/WebApp/.gitignore
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Session/SignedOut.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/wwwroot/js/career-circle-api.js
  Product/WebApp/wwwroot/js/session-storage.js
  README.md
Due: azure-pipelines.yml

RefactoredUploadResume
  Product/API/Controllers/ResumeController.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

added file extension checks
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_common.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added subscribers controller to API for talent portal
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added logic to only show onboarding flow on user's first login
  Product/API/Controllers/ProfileController.cs
  Product/UpDiddyLib.Tests/UtilsTests.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-105: README update, font-awesome included, session js adjustment, toastr bower fix, pipeline update layout hotfix
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/bower.json
  Product/WebApp/bundleconfig.json
  Product/WebApp/gulpfile.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/js/career-circle-api.js
  Product/WebApp/wwwroot/js/session-storage.js
  Product/WebApp/wwwroot/scss/_variables.scss
  Product/WebApp/wwwroot/scss/bundle.scss
  Product/WebApp/wwwroot/webfonts/.gitignore
  README.md
  azure-pipelines.production.yml
  azure-pipelines.yml
Due: azure-pipelines.yml

Task108 remove parsing email from sovren resume
  Product/API/Business/Factory/SubscriberFactory.cs
Due: azure-pipelines-api.yml

added validation to profile edit page and fixed subscriber guid check in resume controller
  Product/API/Controllers/ResumeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/js/profile.js
  Product/WebApp/wwwroot/scss/_profile.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

slight style changes
  Product/API/Controllers/ProfileController.cs
  Product/WebApp/wwwroot/css/bundle.css
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/css/site.min.css
  Product/WebApp/wwwroot/scss/_common.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

added back javascript to re-render profile page on info update
  Product/WebApp/Views/Home/Profile.cshtml
Due: azure-pipelines.yml

scripts fix at top of signup.cshtml
  Product/WebApp/Views/Home/SignUp.cshtml
Due: azure-pipelines.yml

temp
  Product/API/Helpers/ClientHub.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/WebApp/package-lock.json
  Product/WebApp/wwwroot/js/career-circle-signalr.js
  Product/WebApp/wwwroot/lib/signalr/signalr.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added skillguid to new skills
  Product/API/Business/Factory/SkillFactory.cs
  Product/WebApp/wwwroot/js/site.temp.min.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

updates to handle information overriding
  Product/API/Controllers/ProfileController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/SignUp.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added todo comment to profile controller
  Product/API/Controllers/ProfileController.cs
Due: azure-pipelines-api.yml

work to format output
  Product/UpDiddyLib.Tests/UtilsTests.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/js/site.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added authorized annotation to onboarding method
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines.yml

task-100: Authorization added via Graph API and AD
  Product/API/Authorization/ConfigADGroup.cs
  Product/API/Authorization/GroupAuthorizationHandler.cs
  Product/API/Business/Graph/B2CGraphClient.cs
  Product/API/Business/Graph/IB2CGraph.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Dto/SubscriberADGroupsDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Shared/_Layout.cshtml
  README.md
Due: azure-pipelines-api.yml, azure-pipelines.yml

added skill guid to skill creation
  Product/API/Business/Factory/SkillFactory.cs
Due: azure-pipelines-api.yml

added global search to subscribers grid in talent portal
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: adjusted js route for promocode validation
  Product/WebApp/wwwroot/js/site.js
Due: azure-pipelines.yml

making skills store as lowercase
  Product/API/Business/Factory/SkillFactory.cs
Due: azure-pipelines-api.yml

Task110 Complete
  Product/API/Business/BusinessVendorBase.cs
  Product/API/Business/Factory/SubscriberProfileStagingStoreFactory.cs
  Product/API/Business/LinkedInInterface.cs
  Product/API/Business/Woz/WozInterface.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Helpers/ClientHub.cs
  Product/API/Helpers/SignalR/ClientHub.cs
  Product/API/Helpers/SignalR/ClientHubHelper.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/appsettings.example.json
  Product/WebApp/libman.json
  Product/WebApp/wwwroot/js/career-circle-signalr.js
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-100: Session caching added to authorization handler in webapp
  Product/API/appsettings.example.json
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Authorization/APIGroupAuthorizationHandler.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/Forbidden.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
