Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

tacc webapp
  azure-pipelines-taccwebapp.yml
Due: none

new yml for tanda
  azure-pipelines-taccwebapp.yml
Due: none

Updated Startup.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated appsettings.Production.json added talent prod cors policies
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

Updated appsettings.Staging.json
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed new subscriber download
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/UpDiddyLib/Dto/SubscriberInitialSourceDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

change to existing user /new user workflow change
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Authorization/UserManagementAuthorization.cs
Due: azure-pipelines-api.yml

uncommenting Invoke method
  Product/API/Authorization/UserManagementAuthorization.cs
Due: azure-pipelines-api.yml

Updated SubscriberInitialSourceDto.cs
  Product/UpDiddyLib/Dto/SubscriberInitialSourceDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Updated appsettings.Production.json
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

include external courses in azure search view
  Product/API/Migrations/20200106180554_include external courses in azure search view.Designer.cs
  Product/API/Migrations/20200106180554_include external courses in azure search view.cs
Due: azure-pipelines-api.yml

Updated appsettings.Production.json
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

changing audience in prod auth0 config
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

updated prod webapp auth0 settings
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

added thirdpartyidentifier to job detail api endpoint
  Product/UpDiddyLib/Domain/Models/JobDetailDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Updated _Layout.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated _SubscriberGrid.cshtml
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated subscribers.js
  Product/WebApp/client/js/core/admin/subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Checking in fix for partner not being created
  Product/API/ApplicationCore/Interfaces/Repository/IGroupPartnerRepository.cs
  Product/API/ApplicationCore/Repository/GroupPartnerRepository.cs
  Product/API/ApplicationCore/Services/ButterCMSService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/appsettings.Staging.json
  Product/UpDiddyLib/Domain/Models/CampaignLandingPage.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Returning 204 if subscriber has not selected a careerpath
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

allow logically deleted jobs to work with the similar job endpoint
  Product/API/ApplicationCore/Services/JobSearchService.cs
Due: azure-pipelines-api.yml

Simplified Job Admin Create/Update
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/JobCrudDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in gated download backend api endpoint
  Product/API/ApplicationCore/Interfaces/Business/IFileDownloadTrackerService.cs
  Product/API/ApplicationCore/Services/FileDownloadTrackerService.cs
  Product/API/Controllers/V2/FileController.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/UpDiddyLib/Domain/Models/FileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

course by topic endpoint
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20200109140818_adding course topic view.Designer.cs
  Product/API/Migrations/20200109140818_adding course topic view.cs
  Product/API/Migrations/20200109142402_adding spoc System_Get_CoursesByTopic.Designer.cs
  Product/API/Migrations/20200109142402_adding spoc System_Get_CoursesByTopic.cs
Due: azure-pipelines-api.yml

removed caching from most api endpoints
  Product/API/ApplicationCore/Services/CompensationTypeService.cs
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/ApplicationCore/Services/CourseLevelService.cs
  Product/API/ApplicationCore/Services/EducationalDegreeTypeService.cs
  Product/API/ApplicationCore/Services/EmploymentTypeService.cs
  Product/API/ApplicationCore/Services/ExperienceLevelService.cs
  Product/API/ApplicationCore/Services/SecurityClearanceService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingService.cs
  Product/API/ApplicationCore/Services/StateService.cs
  Product/API/ApplicationCore/Services/SubscriberCourseService.cs
  Product/API/ApplicationCore/Services/TalentService.cs
  Product/API/Controllers/V1/JobController.cs
  Product/API/Controllers/V1/SharedController.cs
Due: azure-pipelines-api.yml

missing slash on the endpoint route
  Product/API/Controllers/V2/FileController.cs
Due: azure-pipelines-api.yml

added additional logging to JobPostingFactory
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
Due: azure-pipelines-api.yml

additional logging for job posting factory
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
Due: azure-pipelines-api.yml

multiple bug fixes for country and state
  Product/API/ApplicationCore/Interfaces/Business/IStateService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStateRepository.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/ApplicationCore/Services/StateService.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

talent admin changes for hb golive for cc2020
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/Controllers/ButterCMSController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/Controllers/HireTalentController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Controllers/MarketingController.cs
  Product/WebApp/Controllers/MobileController.cs
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Controllers/SitemapController.cs
  Product/WebApp/Controllers/TopicsController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Controllers/UserController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Session/ResetPassword.cshtml
  Product/WebApp/Views/Session/SignIn.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/_ViewStart.cshtml
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

work in progress for total record count on list endpoints
  Product/API/ApplicationCore/Interfaces/Business/INotificationService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberNotificationService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/ApplicationCore/Services/SubscriberNotificationService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/BaseListDto.cs
  Product/UpDiddyLib/Domain/Models/NotificationDto.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removing comments for authorize
  Product/API/Controllers/V2/NotificationsController.cs
  Product/UpDiddyLib/Dto/NotificationDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml
