Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

fix for hotfix styling issue and allegis logo stretch
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_home_retired.scss
Due: azure-pipelines.yml

commit
  Product/WebApp/Views/Home/Index_retired.cshtml
Due: azure-pipelines.yml

putting back the current font in staging
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines.yml

changed api url
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

Merged PR 389: Job navigator bug fix & job title format tweak
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/Views/Jobs/Partials/_SimilarJobs.cshtml
Due: azure-pipelines.yml

additional appsetting updates
  Product/API/appsettings.Staging.json
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed b2c api client id
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

before merge
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/AddNotification.cshtml
  Product/WebApp/Views/Shared/Admin/_NotificationGrid.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/js/core/admin/notifications.js
  Product/WebApp/client/react/components/NotificationEditor.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines.yml

before merge
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

bug fix for notifications and style tweak for site navigation
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Error.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/client/react/components/dashboard/dashboard.js
  Product/WebApp/client/scss/_dashboard.scss
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

blanked out staging appsettings
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

added appsettings back in
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

added logging
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

commit
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/js/modules/googlemaps.js
  Product/WebApp/client/js/modules/mapdata.js
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/components/bands/_cc-text-video-band.scss
  Product/WebApp/wwwroot/images/usmap.svg
Due: azure-pipelines.yml

added ccprofileservice build exclusions for all pipelines
  azure-pipelines-api.production.yml
  azure-pipelines-api.yml
  azure-pipelines.production.yml
  azure-pipelines.yml
Due: none

Adding item to the appsetting.example.json for job abandonment
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

corrected nav to be absolute positioned
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Default.cshtml
  Product/WebApp/Views/Shared/Components/PublicSiteNavigation/Error.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/client/react/components/dashboard/dashboard.js
  Product/WebApp/client/scss/_dashboard.scss
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines.yml

Merged PR 390: fixed two bugs related to tracking subscriber job views
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

style fix for nav (round 2)
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 396: adding await
  Product/API/Workflow/WozEnrollmentFlow.cs
Due: azure-pipelines-api.yml

added logging
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

fixed menu in admin and recruiter portal
  Product/WebApp/client/scss/_admin.scss
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines.yml

removed redis from webapp
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

Changes to fix Empty Resume attachment issue and also added new Column MimeType to SubscriberFile table
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/IMimeMappingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberFileRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberFileRepository.cs
  Product/API/ApplicationCore/Services/MimeMappingService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Migrations/20190724201614_AddedMimeTypeToSubscriberFileToHandleResumeDocumentTypes.Designer.cs
  Product/API/Migrations/20190724201614_AddedMimeTypeToSubscriberFileToHandleResumeDocumentTypes.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberFile.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/SubscriberFileDto.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Comments update
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

commit
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/scss/_usmap.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/wwwroot/images/usmap.svg
Due: azure-pipelines.yml

commit
  Product/WebApp/Views/Blog/Partials/_PostItem.cshtml
  Product/WebApp/Views/Blog/Post.cshtml
  Product/WebApp/Views/Blog/Posts.cshtml
  Product/WebApp/client/scss/_blog.scss
Due: azure-pipelines.yml

renaming redis key prefix
  Product/API/appsettings.Staging.json
  Product/WebApp/Startup.cs
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

adding viewbag statements
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Index.cshtml
Due: azure-pipelines.yml

changing redirect url
  Product/WebApp/Views/Home/LoggingIn.cshtml
Due: azure-pipelines.yml

added missing app setting
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

more appsetting changes
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

ready for final dev pull
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/CCProfileService/.env
  Product/WebApp/Views/Admin/ModifyNotification.cshtml
  Product/WebApp/Views/Shared/Admin/_NotificationGrid.cshtml
  Product/WebApp/client/js/core/admin/notifications.js
Due: azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

reverted logging for testing
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Index.cshtml
Due: azure-pipelines.yml

appsetting and redirect changes
  Product/WebApp/Views/Home/LoggingIn.cshtml
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

additional application setting changes
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

undid changes to .env
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

removed the ClientId appsetting from appsettings and put it in Azure configuration settings as a per-slot setting
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

removed logging from SubscriberController
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

added support for disabling notification reminders from email
  Product/API/Controllers/SubscriberController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/DisableEmailReminders.cshtml
  Product/WebApp/Views/Home/LoggingIn.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml
