Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

hotfix: states fix on checkout, braintree scripts update
  Product/WebApp/Views/Course/Checkout.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/js/site.js
Due: azure-pipelines.yml

Bug: SubscriberSkillFactory.AddSkillForSubscriber -> Not adding SubscriberSkillGuid'
  Product/API/Business/Factory/SubscriberSkillFactory.cs
Due: azure-pipelines-api.yml

responsive updates and state --- fix
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/scss/_profile.scss
Due: azure-pipelines.yml

slight fix to the ToTitleCase utility method
  Product/UpDiddyLib.Tests/UtilsTests.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed state dropdown issues (2) on profile page
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/wwwroot/js/site.js
Due: azure-pipelines.yml

hotfix: cors issues on b2c login/signup page fix
  Product/WebApp/Startup.cs
Due: azure-pipelines.yml

SubscriberFactory HotFix for Stripping non-numeric chars from parsed resume phone number
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug fix to course checkout (phone validation)
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/ViewModels/CourseViewModel.cs
  Product/WebApp/Views/Course/Checkout.cshtml
  Product/WebApp/wwwroot/js/site.js
Due: azure-pipelines.yml

initial commit
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_mixins.scss
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

initial validation development done
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

additional onboarding validation
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/css/bundle.css.map
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

cache busting on signup flow and cors change
  Product/WebApp/Startup.cs
  Product/WebApp/Views/Home/SignUp.cshtml
Due: azure-pipelines.yml

temp
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/Views/Home/_ContactInfoModalPartial.cshtml
  Product/WebApp/Views/Home/_ContactInfoPartial.cshtml
  Product/WebApp/Views/Home/_PersonalInfoModalPartial.cshtml
  Product/WebApp/Views/Home/_PersonalInfoPartial.cshtml
  Product/WebApp/Views/Home/_SkillsModalPartial.cshtml
  Product/WebApp/Views/Home/_SkillsPartial.cshtml
  Product/WebApp/Views/Home/_SocialLinksModalPartial.cshtml
  Product/WebApp/Views/Home/_SocialLinksPartial.cshtml
  Product/WebApp/Views/Home/_WorkHistoryModalPartial.cshtml
  Product/WebApp/Views/Home/_WorkHistoryPartial.cshtml
Due: azure-pipelines.yml

generic implementation of skill association with entities
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/SkillController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190111181405_course skill relationship.Designer.cs
  Product/API/Migrations/20190111181405_course skill relationship.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Course.cs
  Product/API/Models/CourseSkill.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/CourseDto.cs
  Product/UpDiddyLib/Dto/EntitySkillDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

styling talent portal subscriber grid (wip)
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/wwwroot/scss/_talent.scss
  Product/WebApp/wwwroot/scss/bundle.scss
Due: azure-pipelines.yml

Push with public/private method header fix
  Product/API/Controllers/ProfileController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/UpDiddyLib/Dto/CompensationTypeDto.cs
  Product/UpDiddyLib/Dto/EducationalDegreeDto.cs
  Product/UpDiddyLib/Dto/EducationalDegreeTypeDto.cs
  Product/UpDiddyLib/Dto/EducationalInstitutionDto.cs
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/UpDiddyLib/Dto/SubscriberEducationHistoryDto.cs
  Product/UpDiddyLib/Dto/SubscriberWorkHistoryDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

task-147: re-organizing files
  Product/API/ApplicationCore/BusinessVendorBase.cs
  Product/API/ApplicationCore/Factory/CompanyFactory.cs
  Product/API/ApplicationCore/Factory/CountryFactory.cs
  Product/API/ApplicationCore/Factory/CourseFactory.cs
  Product/API/ApplicationCore/Factory/EducationalDegreeFactory.cs
  Product/API/ApplicationCore/Factory/EducationalInstitutionFactory.cs
  Product/API/ApplicationCore/Factory/FactoryBase.cs
  Product/API/ApplicationCore/Factory/LinkedInTokenFactory.cs
  Product/API/ApplicationCore/Factory/SkillFactory.cs
  Product/API/ApplicationCore/Factory/StateFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberEducationHistoryFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberProfileStagingStoreFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberSkillFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberWorkHistoryFactory.cs
  Product/API/ApplicationCore/Interfaces/ISovrenAPI.cs
  Product/API/ApplicationCore/Interfaces/IWozInterface.cs
  Product/API/ApplicationCore/LinkedInInterface.cs
  Product/API/ApplicationCore/Services/Sovren.cs
  Product/API/ApplicationCore/Services/WozInterface.cs
  Product/API/Business/LinkedInInterface.cs
  Product/API/Controllers/CourseController.cs
  Product/API/Controllers/EnrollmentController.cs
  Product/API/Controllers/LinkedInController.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/Workflow/WorkflowHelper.cs
  Product/API/Workflow/WozEnrollmentFlow.cs
Due: azure-pipelines-api.yml

subscriber detail page style (wip)
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/SubscriberViewModel.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/wwwroot/scss/_privacy.scss
  Product/WebApp/wwwroot/scss/_talent.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Fixed bugs 123 and 128, along with additional updates to smoothe experience.
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/ViewModels/SignupFlowViewModel.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/js/site.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

fix for bogus subscriber skills data
  Product/API/Migrations/20190103204439_subscriber skills PK and navigation property.cs
Due: azure-pipelines-api.yml

completed phase 1 of style for subscriber talent portal
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/wwwroot/scss/_talent.scss
Due: azure-pipelines.yml

removed ids from sass for talent portal
  Product/WebApp/wwwroot/scss/_talent.scss
Due: azure-pipelines.yml

removed SubscriberSkillId from model snapshot
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

pre-filling slides, fixed toTitleCase function, made parsing add as lowercase
  Product/API/Business/Factory/CompanyFactory.cs
  Product/API/Business/Factory/EducationalDegreeFactory.cs
  Product/API/Business/Factory/EducationalDegreeTypeFactory.cs
  Product/API/Business/Factory/EducationalInstitutionFactory.cs
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/UpDiddyLib.Tests/UtilsTests.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

intermediate
  Product/API/Business/Factory/CompanyFactory.cs
  Product/API/Business/Factory/CompensationTypeFactory.cs
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/API/Business/Factory/SubscriberWorkHistoryFactory.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190114143113_Changed work history start and end dates to nullable.Designer.cs
  Product/API/Migrations/20190114143113_Changed work history start and end dates to nullable.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/SubscriberWorkHistory.cs
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/UpDiddyLib/Dto/CompensationTypeDto.cs
  Product/UpDiddyLib/Dto/SubscriberWorkHistoryDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/_WorkHistoryModalPartial.cshtml
  Product/WebApp/Views/Home/_WorkHistoryPartial.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/js/profile.js
  Product/WebApp/wwwroot/scss/_profile.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

working resume parse populating carousel slides
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Pass To Bill
  Product/API/Controllers/ProfileController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/ProfileViewModel.cs
  Product/WebApp/Views/Home/_WorkHistoryModalPartial.cshtml
  Product/WebApp/wwwroot/js/profile.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

moved some subscriber endpoints to subscriber controller from profile controller
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/wwwroot/js/signup-flow.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed overlay to not show on page load
  Product/WebApp/wwwroot/js/selectize-handling.js
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

cleaned up some responsive styles
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/scss/_signup-flow.scss
Due: azure-pipelines.yml

cascading dropdowns working
  Product/API/Controllers/SkillController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Skills.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added new role to example config
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

refactored subscriber endpoint and contoller,APIUpDiddy logic
  Product/API/Business/Factory/CompanyFactory.cs
  Product/API/Business/Factory/EducationalDegreeFactory.cs
  Product/API/Business/Factory/EducationalDegreeTypeFactory.cs
  Product/API/Business/Factory/EducationalInstitutionFactory.cs
  Product/API/Business/Factory/SubscriberFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/EnrollmentDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Home/SignUp.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
  Product/WebApp/wwwroot/js/career-circle-signalr.js
  Product/WebApp/wwwroot/js/signup-flow.js
  Product/WebApp/wwwroot/lib/signalr/signalr.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

rest updates
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/bundleconfig.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed inclusion of minified signalr js file and added full file to temp.js minified file
  Product/WebApp/bundleconfig.json
Due: azure-pipelines.yml

reverted last change and added a flag to generate a source map
  Product/WebApp/bundleconfig.json
Due: azure-pipelines.yml

fixes for staging
  Product/WebApp/bundleconfig.json
  Product/WebApp/wwwroot/js/career-circle-api.js
  Product/WebApp/wwwroot/js/career-circle-signalr.js
  Product/WebApp/wwwroot/js/site.min.js.map
Due: azure-pipelines.yml

removed map file and added it to gitignore
  .gitignore
  Product/WebApp/wwwroot/js/site.min.js.map
Due: azure-pipelines.yml

added signalR appsettings to environments
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

updated signalR hubUrls
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
