Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

Added private postings
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/Migrations/20190523125135_Added private posting flag.Designer.cs
  Product/API/Migrations/20190523125135_Added private posting flag.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPosting.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/CreateJobPostingViewModel.cs
  Product/WebApp/Views/Talent/CreateJobPosting.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

christ comments
  Product/API/Controllers/SubscriberController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/WebApp/Views/Home/Profile.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

added pagination and further logic fixes
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsLocationViewModel.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: attempt to fix tls for job scrape
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

worrking pagination without caching
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

fixed url issue
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

added working pagination ranges
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsLocationViewModel.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
Due: azure-pipelines.yml

hotfix: parse recruiter name improvement and view bug fix.
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed apiupdiddy endpoint and began styles
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsByTypeViewModel.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/jobs/BrowseJobs.js
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

added industry and category endpoints
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

added browse-jobs page and did valid url check on cities
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsViewModel.cs
  Product/WebApp/Views/Jobs/Browse.cshtml
Due: azure-pipelines.yml

Added guard for draft jobs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

added code to prevent private jobs from being indexed
  Product/API/ApplicationCore/Services/CloudTalent.cs
Due: azure-pipelines-api.yml

added styling and search jobs functionality to browse all jobs page
  Product/WebApp/Views/Jobs/Browse.cshtml
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/jobs/BrowseJobs.js
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

fixed missing web.config entry
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

fixed linkedin info url setting
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

added 'all' buttons to browse pages
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BrowseJobsByTypeViewModel.cs
  Product/WebApp/Views/Jobs/Browse.cshtml
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/react/components/jobs/BrowseJobs.js
Due: azure-pipelines.yml

added pagination limit
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

slight language changes
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Browse.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

fixed map timer
  Product/API/ApplicationCore/Services/CloudTalent.cs
Due: azure-pipelines-api.yml

added back line in csproj
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines.yml

Changes for task-718,724,726,730
  Product/API/ApplicationCore/Interfaces/Business/IJobService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobReferralRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingRepository.cs
  Product/API/ApplicationCore/Repository/JobReferralRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190523162021_Task718_CreateJobReferralTable.Designer.cs
  Product/API/Migrations/20190523162021_Task718_CreateJobReferralTable.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobReferral.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/appsettings.json
  Product/UpDiddyLib/Dto/JobReferralDto.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/BaseController.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/BaseViewModel.cs
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/client/scss/_job-details.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

story-649: task-699, task-694
  Product/API/Controllers/SubscriberController.cs
  Product/API/Models/JobPosting.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/PagingDto.cs
  Product/UpDiddyLib/Dto/User/JobDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Controllers/UserController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
  Product/WebApp/Views/User/MyJobsAsync.cshtml
  Product/WebApp/appsettings.json
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_job-details.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/client/scss/components/_jobCard.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added Recaptcha
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/CreateJobPostingViewModel.cs
  Product/WebApp/Views/Home/ContactUs.cshtml
  Product/WebApp/Views/Home/MessageReceived.cshtml
Due: azure-pipelines.yml

UI chnages for task/697
  Product/API/Helpers/Job/JobMappingHelper.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/UpDiddyLib/Dto/JobQueryFacetItemDto.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

bug-658: check for request id before attempting to record
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines.yml

hotfix: fix to jobs link and route adjustment
  Product/WebApp/Controllers/UserController.cs
  Product/WebApp/Views/User/MyJobsAsync.cshtml
Due: azure-pipelines.yml

Updated PR comments task/718
  Product/API/Controllers/JobController.cs
Due: azure-pipelines-api.yml

added relevant h1 tags
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

hiding categories and industries for now
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

hotfix: adding property back after a merge conflict...
  Product/API/Controllers/JobController.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed pagination
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

fixed enum conversion
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

UI chnages recommended by Jon
  Product/API/ApplicationCore/Services/JobService.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/client/scss/_job-details.scss
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

removed commented code
  Product/API/ApplicationCore/Services/JobService.cs
Due: azure-pipelines-api.yml

Minor UI changes
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/JobDetails.cshtml
Due: azure-pipelines.yml

hotfix: fixing signup
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/ReferralDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

hotfix: adjusting placeholder
  Product/WebApp/Views/Jobs/JobDetails.cshtml
Due: azure-pipelines.yml

irregular results
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines.yml

removed target blank on jobResultsPartial page
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines.yml
