Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

added null check
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

obey logical delete flag for seed emails
  Product/API/Migrations/20190927165602_logical deletes seed emails.Designer.cs
  Product/API/Migrations/20190927165602_logical deletes seed emails.cs
Due: azure-pipelines-api.yml

modified sproc to match production
  Product/API/Migrations/20190930121839_admin dashboard reporting fix.Designer.cs
  Product/API/Migrations/20190930121839_admin dashboard reporting fix.cs
Due: azure-pipelines-api.yml

Removing AADB2C and adding Auth0 to the API
  Product/API/Authorization/HasScopeHandler.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

Removing Career Circle Uesr Administrator policy
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

wip for talent fixes
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

wip on hangfire changes
  Product/API/ApplicationCore/Services/HangfireService.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/Helpers/HangfireServerFilter.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

completed testing of new hangfire environment between 'job', 'pre', and 'normal' instances
  Product/API/ApplicationCore/Services/HangfireService.cs
  Product/API/Startup.cs
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

adding code comment to clarify Hangfire usage
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

removed unused property from json
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

fixing configuration in startup to use key vault
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

commit on story/1272
  Product/WebApp/Views/Services/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Merged PR 528: reverted Startup to be identical to what we had in dev prior to my change
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

wip need to merge for Hangfire upgrade
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/TalentController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/Startup.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Authorization/HasScopedHandler.cs
  Product/WebApp/Controllers/AccountController.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/Authorization/HasScopeHandler.cs
  Product/WebApp/Authorization/HasScopeHandler.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

deleting orphaned subscribers from Google Talent Cloud
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/SubscriberController.cs
  Product/CCProfileService/.env
  Product/UpDiddyLib/Dto/ProfileViewDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Shared/_SubscriberGrid.cshtml
  Product/WebApp/client/js/core/admin/subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixed type - Updated Index.cshtml
  Product/WebApp/Views/Services/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

bug fix for deleting orphaned subscribers in Google
  Product/WebApp/Controllers/TalentController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/UpDiddyLib/Dto/SubscriberSourceDto.cs
  Product/WebApp/Controllers/AccountController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Views/Account/Login.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

consolidated logic for scenarios in which data is out of sync between our db and google
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/client/js/core/admin/subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

reverting to previous settings that Jim had in place
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

include 50 mile radius if job threshold below 10
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

Committing Auth0Service class. Left comments for Bill so he can take over
  Product/API/ApplicationCore/Interfaces/Business/IAuth0Service.cs
  Product/API/ApplicationCore/Services/Auth0Service.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
Due: azure-pipelines-api.yml

Changing access modifier to Auth0Servuce to internal
  Product/API/ApplicationCore/Interfaces/Business/IAuth0Service.cs
  Product/API/ApplicationCore/Services/Auth0Service.cs
Due: azure-pipelines-api.yml

work in progress, does not compile yet
  Product/API/ApplicationCore/Services/Auth0/AuthenticationService.cs
  Product/API/ApplicationCore/Services/Auth0/Interfaces/IAuthenticationService.cs
  Product/API/ApplicationCore/Services/Auth0/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Auth0/Roles.cs
  Product/API/ApplicationCore/Services/Auth0/User.cs
  Product/API/ApplicationCore/Services/Auth0/UserService.cs
  Product/API/ApplicationCore/Services/Auth0Service.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

Committing progress to story 1269
  Product/API/ApplicationCore/Interfaces/Business/IFileDownloadTrackerService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IFileDownloadTrackerRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/FileDownloadTrackerRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/FileDownloadTrackerService.cs
  Product/API/Controllers/FileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20191007164532_FileDownloadTracker.Designer.cs
  Product/API/Migrations/20191007164532_FileDownloadTracker.cs
  Product/API/Models/FileDownloadTracker.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/FileDownloadTrackerDto.cs
  Product/UpDiddyLib/Dto/FileDto.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/FileController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

auth0 work in progress
  Product/API/ApplicationCore/Services/Auth0/Communication/BaseResponse.cs
  Product/API/ApplicationCore/Services/Auth0/Communication/CreateUserResponse.cs
  Product/API/ApplicationCore/Services/Auth0/Interfaces/IUserService.cs
  Product/API/ApplicationCore/Services/Auth0/Roles.cs
  Product/API/ApplicationCore/Services/Auth0/UserService.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Controllers/Resources/UserCredentialsResource.cs
  Product/API/Controllers/Resources/UserResource.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

100819
  Product/API/Controllers/ReportController.cs
  Product/UpDiddyLib/Dto/NewSubscriberCSVDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/Views/Admin/NewSubscriberCSV.cshtml
  Product/WebApp/Views/Admin/NewSubscriberCSV.cshtml.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit progress
  Product/API/ApplicationCore/Interfaces/Business/IFileDownloadTrackerService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Repository/FileDownloadTrackerRepository.cs
  Product/API/ApplicationCore/Services/FileDownloadTrackerService.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/FileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20191007164532_FileDownloadTracker.cs
  Product/API/Migrations/20191008181141_FileDownloadTracker.Designer.cs
  Product/API/Migrations/20191008181141_FileDownloadTracker.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/FileDownloadTracker.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Dto/FileDownloadTrackerDto.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/UpDiddyLib/Dto/SubscriberActionDto.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

switch to dev
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

gonna push:
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

ready for PR
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Controllers/ReportController.cs
  Product/API/Migrations/20191009144216_adding System_Get_New Subscribers SPROC.Designer.cs
  Product/API/Migrations/20191009144216_adding System_Get_New Subscribers SPROC.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/NewSubscriberCSVDto.cs
  Product/UpDiddyLib/Dto/SubscriberInitialSourceDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removed unecessary view
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Admin/NewSubscriberCSV.cshtml
  Product/WebApp/Views/Admin/NewSubscriberCSV.cshtml.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

code cleanup
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/Controllers/ReportController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

wip on auth0 email verification
  Product/API/ApplicationCore/Interfaces/Business/IAuth0Service.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/IdentityController.cs
  Product/API/Controllers/Resources/UserCredentialsResource.cs
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Controllers/AccountController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

sync job posting alerts between hangfire and our db
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none
