Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api-uat.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 2.2.x
    displayName: Specify dotnet core 2.2.x sdk
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines-taccwebapp.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - task: UseNode@1
    inputs:
      version: 10.12.0
  - script: 'npm install gulp@^3.9.1
  
      '
    displayName: Install Gulp
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

Updated the fall back date to the master record create date.
  Product/API/ApplicationCore/Services/CrossChq/CrosschqService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

added replacement value for commute distance, clarified usage of properties for api integration tests
  Product/API.Tests/appsettings.json
Due: none

Commute distance api end-points and code logic.
  Product/API/ApplicationCore/Interfaces/Business/ICommuteDistancesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICommuteDistancesRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/CommuteDistancesRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/CommuteDistancesService.cs
  Product/API/Controllers/V2/CommuteDistancesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/CommuteDistancesDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2482#2517 #2525 Completed repository actions, refactored DTO model to match API gateway model
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/Candidate360RoleDto.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/SocialLinksDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2482 #2517 #2525 Fixes that were discovered through local testing
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/Controllers/V2/CandidatesController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2482 #2517 #2525 Renamed RolePreferenceDto to match Gateway
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/RolePreferenceDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

cleanup employment type values
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/EASiProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20200617201604_cleanup employment type values.Designer.cs
  Product/API/Migrations/20200617201604_cleanup employment type values.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2482 #2517 #2525 Add validation to reject multiple social links of the same type
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Added and wired the candidate personal info endpoints.
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICountryRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStateRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/CountryRepository.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/CandidatePersonalInfoDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

merge conflict - error fix
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2482 #2517 #2525 EF relatred error on dev server
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2482 #2517 #2525 Marking subscriberSkills as undeleted instead of adding duplicates
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

prevented migration from attempting to create duplicate employment types
  Product/API/Migrations/20200617201604_cleanup employment type values.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1097: prevented migration from attempting to create duplicate employment types
  Product/API/Migrations/20200617201604_cleanup employment type values.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2515 Missed a DTO
  Product/UpDiddyLib/Domain/Models/G2/CommentDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Setting the subscriber datemodified.
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1092: Candidate personal data endpoints (GET & UPDATE)
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICountryRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStateRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/CountryRepository.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Domain/Models/CandidatePersonalInfoDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

updated the HTTPPUT response status to 204
  Product/API/Controllers/V2/CandidatesController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1101: Fixing HTTPPUT return status to 204
  Product/API/Controllers/V2/CandidatesController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

removed commute distance of 0 miles
  Product/API/Migrations/20200622141827_remove 0 miles from commute distance.Designer.cs
  Product/API/Migrations/20200622141827_remove 0 miles from commute distance.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1102: removed commute distance of 0 miles
  Product/API/Migrations/20200622141827_remove 0 miles from commute distance.Designer.cs
  Product/API/Migrations/20200622141827_remove 0 miles from commute distance.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

trimmed api names in test filter, corrected status code for role preferences update
  Product/API.Tests/Helpers/AzureApiDataProvider.cs
  Product/API.Tests/appsettings.json
  Product/API/Controllers/V2/CandidatesController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1111: trimmed api names in test filter, corrected status code for role preferences...
  Product/API.Tests/Helpers/AzureApiDataProvider.cs
  Product/API.Tests/appsettings.json
  Product/API/Controllers/V2/CandidatesController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2484 #2601 #2602 Added language and proficiency endpoints; stubbed out service layer
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/LanguageAndProficiencyDto.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/LanguageDto.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/ProficiencyDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2484 #2601 #2602 Corrected "Update" name in stubbed out services
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2484 #2601 #2602 Implement repository methods for retrieving languages and proficiency levels
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/Language.cs
  Product/API/Models/ProficiencyLevel.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/ProficiencyDto.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/ProficiencyLevelDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2484 #2601 #2602 Updated DTOs, Implemented repository actions
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/Language.cs
  Product/API/Models/ProficiencyLevel.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/SubscriberLanguageProficiency.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/LanguageAndProficiencyDto.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/LanguageDto.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/ProficiencyLevelDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

adding support for unverified skills for candidate360
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberSkillRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberSkillRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Migrations/20200626172711_add IsVerified to Skill.Designer.cs
  Product/API/Migrations/20200626172711_add IsVerified to Skill.cs
  Product/API/Models/Skill.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2484 #2601 #2602 Added data migrations
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Migrations/20200628044613_CreateLanguageProficiencies.Designer.cs
  Product/API/Migrations/20200628044613_CreateLanguageProficiencies.cs
  Product/API/Models/SubscriberLanguageProficiency.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

minor adjustments to skills based on regression testing
  Product/API/ApplicationCore/Factory/SkillFactory.cs
  Product/API/Migrations/20200626172711_add IsVerified to Skill.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2484 #2601 #2602 Completed endpoint implementation and added data migrations (proficiency level still stubbed out)
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Migrations/20200628044613_CreateLanguageProficiencies.cs
  Product/API/Migrations/20200629135629_CreateLanguageProficiencies.Designer.cs
  Product/API/Migrations/20200629135629_CreateLanguageProficiencies.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Merged PR 1120: adding support for unverified skills for candidate360
  Product/API/ApplicationCore/Factory/SkillFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberSkillRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberSkillRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Migrations/20200626172711_add IsVerified to Skill.Designer.cs
  Product/API/Migrations/20200626172711_add IsVerified to Skill.cs
  Product/API/Models/Skill.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2484 #2601 #2602 Suggested fixed; added a displayOrder column to proficiencies and added sorting options.
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Models/ProficiencyLevel.cs
  Product/API/Models/SubscriberLanguageProficiency.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

DB changes for candidate360 employment-assessments
  Product/API/Migrations/20200629210400_candidate360 education assessment DB changes.Designer.cs
  Product/API/Migrations/20200629210400_candidate360 education assessment DB changes.cs
  Product/API/Models/EducationalDegreeType.cs
  Product/API/Models/EducationalDegreeTypeCategory.cs
  Product/API/Models/SubscriberEducationHistory.cs
  Product/API/Models/SubscriberTraining.cs
  Product/API/Models/TrainingType.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2484 #2601 #2602 Removed Language List from DB Context; added Guid identifier to languageProficiencyDTO; added sorting for language and proficiency lists
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200629135629_CreateLanguageProficiencies.cs
  Product/API/Migrations/20200629210108_CreateLanguageProficiencies.Designer.cs
  Product/API/Migrations/20200629210108_CreateLanguageProficiencies.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/LanguageAndProficiencyDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

#2484 #2601 #2602 Added official Proficiency Level values
  Product/API/Migrations/20200629210108_CreateLanguageProficiencies.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

#2485 #2628 Added backend support for compensation preferences
  Product/API/ApplicationCore/Interfaces/Business/ICandidatesService.cs
  Product/API/ApplicationCore/Services/Candidate/CandidatesService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Migrations/20200630152835_CompensationPreferences.Designer.cs
  Product/API/Migrations/20200630152835_CompensationPreferences.cs
  Product/API/Models/Subscriber.cs
  Product/UpDiddyLib/Domain/Models/Candidate360/CompensationPreferencesDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

C360 education Assessment lookup data upload scripts.
  Product/API/Migrations/20200629210400_candidate360 education assessment DB changes.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

C360 application code wireframe
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/CandidatesController.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/EducationalDegreeType.cs
  Product/API/Models/EducationalDegreeTypeCategory.cs
  Product/API/Models/SubscriberEducationHistory.cs
  Product/API/Models/SubscriberTraining.cs
  Product/API/Models/TrainingType.cs
  Product/UpDiddyLib/Domain/Models/SubscriberEducationAssessmentsDto.cs
  Product/UpDiddyLib/Domain/Models/SubscriberEducationDto.cs
  Product/UpDiddyLib/Domain/Models/SubscriberEducationHistoryDto.cs
  Product/UpDiddyLib/Domain/Models/SubscriberTrainingDto.cs
  Product/UpDiddyLib/Domain/Models/SubscriberTrainingHistoryDto.cs
  Product/UpDiddyLib/Domain/Models/TrainingTypeDto.cs
  Product/UpDiddyLib/Domain/Models/TrainingTypesDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api-uat.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

cleanup
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api-uat.yml, azure-pipelines-api.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api-uat.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp, Product/CCProfileService
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
