Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

bug fix for seed email logic and enhancement to welcome email suppression for duplicates
  Product/API/Migrations/20190806144338_email suppression and seed email fix.Designer.cs
  Product/API/Migrations/20190806144338_email suppression and seed email fix.cs
Due: azure-pipelines-api.yml

added location search to talent screen
  Product/API/Controllers/SubscriberController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit progress failed subscribers
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/UpDiddyLib/Dto/FailedSubscriberDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
  Product/WebApp/client/react/components/expose-components.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

adding live production settings
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

Sovren skill parsing working
  Product/API/ApplicationCore/Factory/CourseDataMiningFactory.cs
  Product/API/ApplicationCore/Services/CourseDataMining/Common/BaseCourseProcess.cs
  Product/API/ApplicationCore/Services/CourseDataMining/Common/Utils.cs
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTV/ITProTVCategory.cs
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTV/ITProTVCourse.cs
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTV/ITProTVProcess.cs
Due: azure-pipelines-api.yml

done
  Product/API/appsettings.Production.json
Due: azure-pipelines-api.yml

checking in
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

restructuring logic to be part of a UI and not a scheduled job
  Product/API/ApplicationCore/Factory/CourseDataMiningFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ICourseDataMining.cs
  Product/API/ApplicationCore/Services/CourseDataMining/Common/ICourseProcess.cs
  Product/API/ApplicationCore/Services/CourseDataMining/CourseDataMining.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/CourseSiteDto.cs
  Product/UpDiddyLib/Dto/CourseSitePublishResultsDto.cs
  Product/UpDiddyLib/Dto/CourseSiteScrapeResultsDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

styling changes and table title change
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Changing the error message for catch exception to match method name
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

spacing on job detail page
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/package-lock.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

added logic for seo stuff in blog posts
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Controllers/BlogController.cs
  Product/WebApp/ViewComponents/MetaTagsViewComponent.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

changed clientid guid in webapp to old one
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

checking in
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/react/components/reports/JobAppReportTable.js
  Product/WebApp/client/react/components/reports/SATable.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/react/components/reports/JobAppReportTable.js
  Product/WebApp/client/react/components/reports/SATable.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

adding CareerCircle blog to end of title
  Product/WebApp/Controllers/BlogController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

wip
  Product/API/ApplicationCore/Services/CourseDataMining/ITProTV/ITProTVProcess.cs
Due: azure-pipelines-api.yml

added categories
  Product/API/Startup.cs
  Product/WebApp/Controllers/BlogController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 439: Remove Selected Reports from Admin Dashboard
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/react/components/reports/JobAppReportTable.js
  Product/WebApp/client/react/components/reports/SATable.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Intermediate changes for job search
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

min width on info
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Final changes for intellisense
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

check in
  Product/WebApp/client/react/components/dashboard/failed-subscribers.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixing get companies endpoint
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/UpDiddyLib/Dto/CompanyDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

reverted clientid in prod appsettings
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

removed www rewriter
  Product/WebApp/Startup.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

updated api pointers
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

switching b2c client
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

changing redirect url
  Product/WebApp/Startup.cs
  Product/WebApp/appsettings.Production.json
Due: azure-pipelines-1.yml, azure-pipelines.yml

working on front-end admin screen for course site crawling
  Product/API/ApplicationCore/Factory/CourseDataMiningFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ICourseCrawlingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICourseSiteRepository.cs
  Product/API/ApplicationCore/Repository/CourseSiteRepository.cs
  Product/API/ApplicationCore/Services/CourseCrawling/Common/BaseCourseProcess.cs
  Product/API/ApplicationCore/Services/CourseCrawling/Common/ICourseProcess.cs
  Product/API/ApplicationCore/Services/CourseCrawling/Common/Utils.cs
  Product/API/ApplicationCore/Services/CourseCrawling/CourseCrawlingService.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVCategory.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVCourse.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVProcess.cs
  Product/API/ApplicationCore/Services/CourseDataMining/CourseDataMining.cs
  Product/API/Controllers/CourseSiteController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190808202952_last sync and last crawl.Designer.cs
  Product/API/Migrations/20190808202952_last sync and last crawl.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/CourseSite.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/CourseSiteDto.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Courses.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/client/react/components/courses/CoursesGrid.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Added Skills to keyword search
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISkillRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SkillRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Removed recurring job for dev and added a background job which runs once when application starts
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Changes for story/987
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixing bugs related to job crawl and removing legacy code
  Product/API/ApplicationCore/Repository/JobSiteRepository.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Reduce 500 errors on empty space check
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

error fix-1
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

tem p
  Product/WebApp/Models/MSALSessionCache.cs
  Product/WebApp/Models/MSALStaticCache.cs
  Product/WebApp/OpenIdConnectOptionsSetup.cs
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
Due: azure-pipelines-1.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
