Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API

added supporting code for existing user sign up, gated download, waitlist, referral codes
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/FileDownloadTrackerService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V1/SubscriberController.cs
  Product/UpDiddyLib/Dto/User/CreateUserDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixing merge conflicts
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

made groupId nullable for gated download
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/UpDiddyLib/Dto/FileDownloadTrackerDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

pass nullable int for groupid
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Deleted package-lock.json
  package-lock.json
Due: none

Updated azure-pipelines.yml
  azure-pipelines.yml
Due: none

code complete
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/IProfileService.cs
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/SubscriberProfileSocialDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

fixing merge conflicts
  Product/API/ApplicationCore/Factory/SubscriberActionFactory.cs
  Product/API/Controllers/V1/OffersController.cs
Due: azure-pipelines-api.yml

additional bug fixes for Auth0
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/ZeroBounceApi.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/client/js/core/components/authentication/_signin.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

null ref check on auth role
  Product/API/ApplicationCore/Services/Identity/UserService.cs
Due: azure-pipelines-api.yml

bug fixes 1456
  Product/API/ApplicationCore/ExceptionMiddlware.cs
  Product/API/ApplicationCore/Exceptions.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobAlertService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPostingAlertRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberSkillRepository.cs
  Product/API/ApplicationCore/Repository/JobPostingAlertRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberSkillRepository.cs
  Product/API/ApplicationCore/Services/JobAlertService.cs
  Product/API/ApplicationCore/Services/JobFavoriteService.cs
  Product/API/ApplicationCore/Services/JobSearchService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/SkillsController.cs
Due: azure-pipelines-api.yml

interface params needs to be camelcase
  Product/API/ApplicationCore/Interfaces/Business/IJobAlertService.cs
  Product/API/ApplicationCore/Services/JobAlertService.cs
Due: azure-pipelines-api.yml

checking in update job alert needing to also update hangfire
  Product/API/ApplicationCore/Services/JobAlertService.cs
Due: azure-pipelines-api.yml

checking in resume endpoints
  Product/API/ApplicationCore/Interfaces/Business/IResumeService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberFileRepository.cs
  Product/API/ApplicationCore/Repository/CompanyRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberFileRepository.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/FileDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removing unnessary method
  Product/API/ApplicationCore/Repository/CompanyRepository.cs
Due: azure-pipelines-api.yml

multiple bug fixes based on latest round of Auth0 testing
  Product/API/ApplicationCore/Services/Identity/UserService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V1/ServiceOfferingOrderController.cs
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in job search keyword
  Product/API/ApplicationCore/Interfaces/Business/IKeywordService.cs
  Product/API/ApplicationCore/Services/KeywordService.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Startup.cs
Due: azure-pipelines-api.yml

fix for resume upload
  Product/API/ApplicationCore/Interfaces/Business/IResumeService.cs
  Product/API/ApplicationCore/Services/ResumeService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

checking in country endpoints
  Product/API/ApplicationCore/Interfaces/Business/ICountryService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICountryRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/CountryRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/CountryDetailDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in state endpoint
  Product/API/ApplicationCore/Interfaces/Business/IStateService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStateRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/StateRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/ApplicationCore/Services/StateService.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/StateDetailDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

beefing up error checking
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/ApplicationCore/Services/StateService.cs
Due: azure-pipelines-api.yml

fix url route in job application email and null ref for expired jobs search result
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/TalentController.cs
Due: azure-pipelines-1.yml, azure-pipelines.yml

removed unused namespace referenced, tested locally
  Product/API/Controllers/V1/NotificationsController.cs
Due: azure-pipelines-api.yml

checking in skills and social
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IUpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Controllers/V2/SkillsController.cs
  Product/UpDiddyLib/Domain/Models/SocialDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in employment types, compensation types and experience levels
  Product/API/ApplicationCore/Interfaces/Business/ICompensationTypeService.cs
  Product/API/ApplicationCore/Interfaces/Business/IEmploymentTypeService.cs
  Product/API/ApplicationCore/Interfaces/Business/IExperienceLevelService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICompensationTypeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEmploymentTypeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IExperienceLevelRepository.cs
  Product/API/ApplicationCore/Repository/CompensationTypeRepository.cs
  Product/API/ApplicationCore/Repository/EmploymentTypeRepository.cs
  Product/API/ApplicationCore/Repository/ExperienceLevelRepository.cs
  Product/API/ApplicationCore/Services/CompensationTypeService.cs
  Product/API/ApplicationCore/Services/EmploymentTypeService.cs
  Product/API/ApplicationCore/Services/ExperienceLevelService.cs
  Product/API/Controllers/V2/CompensationTypesController.cs
  Product/API/Controllers/V2/EmploymentTypesController.cs
  Product/API/Controllers/V2/ExperienceLevelsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/CompensationTypeDto.cs
  Product/UpDiddyLib/Domain/Models/EmploymentTypeDto.cs
  Product/UpDiddyLib/Domain/Models/ExperienceLevelDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in companies and
  Product/API/ApplicationCore/Interfaces/Business/ICompanyService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICompanyRepository.cs
  Product/API/ApplicationCore/Repository/CompanyRepository.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/ApplicationCore/Services/ProfileService.cs
  Product/API/ApplicationCore/Services/SubscriberWorkHistoryService.cs
  Product/API/Controllers/V2/CompaniesController.cs
  Product/API/Controllers/V2/CompensationTypesController.cs
  Product/API/Controllers/V2/EmploymentTypesController.cs
  Product/UpDiddyLib/Dto/SubscriberWorkHistoryDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

added limit offset sort and order to experience level
  Product/API/Controllers/V2/ExperienceLevelsController.cs
Due: azure-pipelines-api.yml

setting logoUrl to empty string
  Product/API/ApplicationCore/Services/CompanyService.cs
Due: azure-pipelines-api.yml

checking in security clearance
  Product/API/ApplicationCore/Interfaces/Business/ISecurityClearanceService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISecurityClearanceRepository.cs
  Product/API/ApplicationCore/Repository/SecurityClearanceRepository.cs
  Product/API/ApplicationCore/Services/SecurityClearanceService.cs
  Product/API/Controllers/V2/SecurityClearanceController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/SecurityClearanceDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

removing used property from companydto
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

adding back job page boilerplate
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml
