Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: api.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/API/*
    exclude:
      - Product/WebApp/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/API
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/API --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet publish Product/API --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm api.zip *
  displayName: Packaging

- task: AzureKeyVault@1
  inputs:
    azureSubscription: Digital BT (933642d7-459a-499f-acc7-0d9a14ecf604)
    keyVaultName: CareerCircleDev
  displayName: Acquire ConnectionString

- script: |
    cd Product/API
    dotnet ef migrations script -i --output $(Build.ArtifactStagingDirectory)/script.sql
  displayName: Generate SQL Script
  env: { ASPNETCORE_ENVIRONMENT: Staging, CareerCircleSqlConnection: $(CareerCircleSqlConnection) }

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'api'

azure-pipelines.yml:

# Build dotnet core project using Azure Pipelines

# build name format
name: webapp.$(date:yyyyMMdd)$(rev:.r)
pool:
  vmImage: 'ubuntu-16.04'

variables:
  buildConfiguration: 'Release'

# trigger CI build for the following branches
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - Product/UpDiddyLib/*
      - Product/WebApp/*
    exclude:
      - Product/API/*

# disable CI builds for pull requests for now
pr: none

steps:
- script: |
    dotnet restore Product/WebApp
  displayName: Restore NuGet Packages

- script: |
    dotnet build Product/WebApp --configuration $(buildConfiguration)
  displayName: Compile

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/UpDiddyLib.Tests
  displayName: UpDiddyLib Unit Tests

- script: |
    dotnet test --logger trx --results-directory $(Agent.TempDirectory) Product/WebApp.Tests
  displayName: UpDiddy Unit Tests
  
- task: PublishTestResults@2
  inputs: 
    testRunner: VSTest
    testResultsFiles: '**/*.trx' 
    searchFolder: '$(Agent.TempDirectory)'
    
- script: |
    dotnet publish Product/WebApp --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish Files

- script: |
    cd $(Build.ArtifactStagingDirectory)
    zip -rm WebApp.zip *
  displayName: Packaging

- task: PublishBuildArtifacts@1
  displayName: Publish Artifacts
  inputs:
    artifactName: 'webapp'

adding react logic for window re-sizing
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/react/components/dashboard/dashboard.js
Due: azure-pipelines.yml

fixed undo style
  Product/WebApp/client/scss/_job-search.scss
Due: azure-pipelines.yml

Merged PR 328: job posting alert enhancements
  Product/API/ApplicationCore/Factory/JobPostingAlertFactory.cs
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/JobPostingAlertDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/UserController.cs
  Product/WebApp/Views/Home/LoggingIn.cshtml
  Product/WebApp/Views/Session/SignedOut.cshtml
  Product/WebApp/Views/User/MyJobAlertsAsync.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/jobs/JobPostingAlert.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 329: corrected safety check threshold for job data mining
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

removing unneeded import
  Product/WebApp/Views/Shared/_Layout.cshtml
Due: azure-pipelines.yml

make JobDataMining threshold data-driven
  Product/API/Migrations/20190621172726_make JobDataMining threshold data driven.Designer.cs
  Product/API/Migrations/20190621172726_make JobDataMining threshold data driven.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobSite.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

story-822: Job Scrape added for Allegis Group corporate jobs (ICIMS).
  Product/API/ApplicationCore/Factory/JobDataMiningFactory.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/BaseProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupClient.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190620155156_acs_job_datamining_init.Designer.cs
  Product/API/Migrations/20190620155156_acs_job_datamining_init.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

fix 500 error on deleted job page load
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines.yml

added comments and documentation to azure pipelines build
  azure-pipelines-api.yml
  azure-pipelines.yml
Due: none

data driven lead workflow (wip)
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/Controllers/ContactController.cs
  Product/API/Migrations/20190624184335_data-driven lead workflow.Designer.cs
  Product/API/Migrations/20190624184335_data-driven lead workflow.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/CampaignPartner.cs
  Product/API/Models/CampaignPartnerContact.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

06-24-19
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Helpers/GoogleProfile/Address.cs
  Product/API/Helpers/GoogleProfile/GoogleCloudProfile.cs
  Product/API/Helpers/GoogleProfile/PersonName.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Helpers/GoogleProfile/Skill.cs
  Product/API/Migrations/20190624194538_adding google cloud columns to subscriber.Designer.cs
  Product/API/Migrations/20190624194538_adding google cloud columns to subscriber.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/Subscriber.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/CCProfileService/.env
  Product/CCProfileService/server.js
  Product/UpDiddyLib/Dto/SubscriberDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

intermediate
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/GoogleProfile.cs/GoogleProfileInterface.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/GoogleProfile/Address.cs
  Product/API/Helpers/GoogleProfile/EducationRecord.cs
  Product/API/Helpers/GoogleProfile/EmploymentRecord.cs
  Product/API/Helpers/GoogleProfile/GoogleCloudProfile.cs
  Product/API/Helpers/GoogleProfile/PersonName.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Helpers/GoogleProfile/Skill.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/CCProfileService/.env
  Product/CCProfileService/CCProfileService.njsproj
  Product/CCProfileService/Modules/BasicResponse/index.js
  Product/CCProfileService/Modules/BasicResponse/package.json
  Product/CCProfileService/node_modules/basicresponse/index.js
  Product/CCProfileService/node_modules/basicresponse/package.json
  Product/CCProfileService/package-lock.json
  Product/CCProfileService/package.json
  Product/CCProfileService/server.js
  Product/UpDiddyLib/Dto/BasicResponseDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

06-26-19
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Helpers/GoogleProfile/CustomAttribute.cs
  Product/API/Helpers/GoogleProfile/EmailAddress.cs
  Product/API/Helpers/GoogleProfile/GoogleCloudProfile.cs
  Product/API/Helpers/GoogleProfile/PhoneNumber.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/CCProfileService/.env
  Product/CCProfileService/server.js
  Product/UpDiddyLib/Dto/ProfileQueryDto.cs
  Product/UpDiddyLib/Dto/ProfileSearchResultDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

development complete for throttled email delivery, still needs more testing
  Product/API/ApplicationCore/Factory/LeadFactory.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/ContactController.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190624184335_data-driven lead workflow.cs
  Product/API/Migrations/20190626182404_throttled email delivery.Designer.cs
  Product/API/Migrations/20190626182404_throttled email delivery.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_ThrottledLeadEmailDelivery.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/Potato.cshtml
  Product/WebApp/wwwroot/images/potato.jpg
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added recruiter name to notes grid task/862
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/UpDiddyLib/Dto/SubscriberNotesDto.cs
  Product/WebApp/Views/Talent/_SubscriberNotesGrid.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Added a add note button in Notes/Activities section task/863
  Product/WebApp/Views/Talent/Subscriber.cshtml
Due: azure-pipelines.yml

06-27-19
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/GoogleProfile.cs/GoogleProfileInterface.cs
  Product/API/Helpers/GoogleProfile/ApplicationDateFilter.cs
  Product/API/Helpers/GoogleProfile/ApplicationJobFilter.cs
  Product/API/Helpers/GoogleProfile/ApplicationOutcomeNotesFilter.cs
  Product/API/Helpers/GoogleProfile/CandidateAvailabilityFilter.cs
  Product/API/Helpers/GoogleProfile/Date.cs
  Product/API/Helpers/GoogleProfile/DeviceInfo.cs
  Product/API/Helpers/GoogleProfile/Duration.cs
  Product/API/Helpers/GoogleProfile/EducationFilter.cs
  Product/API/Helpers/GoogleProfile/EmployerFilter.cs
  Product/API/Helpers/GoogleProfile/HistogramQuery.cs
  Product/API/Helpers/GoogleProfile/JobTitleFilter.cs
  Product/API/Helpers/GoogleProfile/LatLng.cs
  Product/API/Helpers/GoogleProfile/LocationFilter.cs
  Product/API/Helpers/GoogleProfile/ProfileQuery.cs
  Product/API/Helpers/GoogleProfile/RequestMetaData.cs
  Product/API/Helpers/GoogleProfile/SearchProfilesRequest.cs
  Product/API/Helpers/GoogleProfile/SkillFilter.cs
  Product/API/Helpers/GoogleProfile/TimeFilter.cs
  Product/API/Helpers/GoogleProfile/WorkExperienceFilter.cs
  Product/CCProfileService/server.js
  Product/UpDiddyLib/Dto/ProfileQueryDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

commiting fix for 847
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

devops: added configurable tag option to test slots
  Product/API/Controllers/VersionController.cs
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

clean up 847
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

implemented feedback from Brent
  Product/API/Migrations/20190627163446_modified seed sproc to accept delivery date.Designer.cs
  Product/API/Migrations/20190627163446_modified seed sproc to accept delivery date.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/Views/Campaign/Inspirobot.cshtml
  Product/WebApp/Views/Campaign/Potato.cshtml
  Product/WebApp/wwwroot/images/potato.jpg
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed margin
  Product/WebApp/Views/Campaign/Inspirobot.cshtml
Due: azure-pipelines.yml

fix for duplicate job alerts
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190628151241_remove jobpage applications property.Designer.cs
  Product/API/Migrations/20190628151241_remove jobpage applications property.cs
Due: azure-pipelines-api.yml

Fixed issue with current job position showing 'invalid date range specified'
  Product/WebApp/client/js/modules/profile.js
Due: azure-pipelines.yml

fixing formatting
  Product/WebApp/client/js/modules/profile.js
Due: azure-pipelines.yml

included job alert description in sendgrid template data
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

fixing maxdop for tek
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

story-822: Added migration to add guid to Allegis Group company
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupClient.cs
  Product/API/Migrations/20190620155156_acs_job_datamining_init.cs
Due: azure-pipelines-api.yml

migration was taking too long to run on Azure; will run SQL manually
  Product/API/Migrations/20190628151241_remove jobpage applications property.cs
Due: azure-pipelines-api.yml

intermediate Changes for task/868
  Product/API/ApplicationCore/Interfaces/Business/ICompanyService.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/Controllers/CompanyController.cs
  Product/API/Startup.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/CompanyDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/ViewModels/CompaniesViewModel.cs
  Product/WebApp/Views/Admin/Companies.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
  Product/WebApp/client/react/components/company/CompaniesGrid.js
  Product/WebApp/client/react/components/expose-components.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberActionRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberActionRepository.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/TrackingController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

modified style for job detail page
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/client/scss/_job-details.scss
Due: azure-pipelines.yml

modified style for job detail page
  Product/API/Migrations/20190701142528_add logourl to company.cs
Due: azure-pipelines-api.yml

fixed resume delete functionality
  Product/API/Controllers/ResumeController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/ITrackingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IActionRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IEntityTypeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ActionRepository.cs
  Product/API/ApplicationCore/Repository/EntityTypeRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/TrackingService.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Migrations/20190702140306_JobAbandonment.Designer.cs
  Product/API/Migrations/20190702140306_JobAbandonment.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Startup.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 349: catching deserialization exception in job data mining
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

added group and related models, and began work on express sign up alterrations
  Product/API/ApplicationCore/Interfaces/Repository/IPartnerReferrerRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/PartnerReferrerRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/Migrations/20190702193647_Adding subscriber groups.Designer.cs
  Product/API/Migrations/20190702193647_Adding subscriber groups.cs
  Product/API/Models/Group.cs
  Product/API/Models/GroupPartner.cs
  Product/API/Models/SubscriberGroup.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml
