Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

Task587 complete
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines.yml

Task593 complete
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/CreateJobPostingViewModel.cs
Due: azure-pipelines.yml

added Recruiter and updated references
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterCompanyFactory.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/JobController.cs
  Product/API/Models/JobPosting.cs
  Product/API/Models/Recruiter.cs
  Product/API/Models/RecruiterAction.cs
  Product/API/Models/RecruiterCompany.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

added db migration
  Product/API/Migrations/20190506125526_decouple Recruiter from Subscriber.Designer.cs
  Product/API/Migrations/20190506125526_decouple Recruiter from Subscriber.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

SLight Refactor
  Product/WebApp/Controllers/TalentController.cs
Due: azure-pipelines.yml

working resume attachment
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/JobApplicationFactory.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

task-552: Google Search Feedback integrated with webapp
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/JobController.cs
  Product/UpDiddyLib/Dto/GoogleCloudEventsTrackingDto.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Shared/GoogleJobs/ClientEventType.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobApplicationViewModel.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

able to traverse JobSites to retrieve JobPages
  Product/API/ApplicationCore/Factory/JobDataMiningFactory.cs
  Product/API/ApplicationCore/Interfaces/IJobDataMining.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobSiteRepository.cs
  Product/API/ApplicationCore/Repository/JobSiteRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/BaseProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190506172825_job data mining.Designer.cs
  Product/API/Migrations/20190506172825_job data mining.cs
  Product/API/Migrations/20190506174043_job data mining required fields.Designer.cs
  Product/API/Migrations/20190506174043_job data mining required fields.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobPage.cs
  Product/API/Models/JobPageStatus.cs
  Product/API/Models/JobSite.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

adding attachments correctly
  Product/API/ApplicationCore/JobApplicationFactory.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

05/06/2019
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190506173530_Adding PhoneNumber to Recruiter.Designer.cs
  Product/API/Migrations/20190506173530_Adding PhoneNumber to Recruiter.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Recruiter.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/UpDiddyLib/Dto/RecruiterCompanyDto.cs
  Product/UpDiddyLib/Dto/RecruiterDto.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Changes for story:605, ITProTV course added
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/Views/Course/ITProTVCourse.cshtml
  Product/WebApp/Views/Topics/Index.cshtml
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
  Product/WebApp/wwwroot/images/ITProTV-header-landingPage.jpeg
  Product/WebApp/wwwroot/images/ITProTV-logo.png
  Product/WebApp/wwwroot/images/ITproTV-tile.png
Due: azure-pipelines.yml

hotfix: styling adjustment to itt-pro page
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
Due: azure-pipelines.yml

hotfix: language changes and link change
  Product/WebApp/Controllers/CourseController.cs
  Product/WebApp/ViewModels/Components/Buttons/ActionButtonViewModel.cs
  Product/WebApp/Views/Course/ITProTVCourse.cshtml
  Product/WebApp/Views/Shared/Components/Buttons/_Action.cshtml
Due: azure-pipelines.yml

tek job pages stored successfully
  Product/API/ApplicationCore/Factory/JobDataMiningFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPageRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/JobPageRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Task/575 Complete
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Models/JobPosting.cs
Due: azure-pipelines-api.yml

added job application statuses
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Migrations/20190507135606_Adding job application statuses.Designer.cs
  Product/API/Migrations/20190507135606_Adding job application statuses.cs
  Product/API/Models/JobApplication.cs
  Product/API/Models/JobApplicationStatus.cs
Due: azure-pipelines-api.yml

removed my migration
  Product/API/Migrations/20190507135606_Adding job application statuses.Designer.cs
  Product/API/Migrations/20190507135606_Adding job application statuses.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
Due: azure-pipelines-api.yml

integrating tracking
  Product/API/Controllers/TrackingController.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

fixed issues with duplicate job postings and implemented job page lookup
  Product/API/ApplicationCore/Interfaces/IJobDataMining.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190506172825_job data mining.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/ExtensionMethods.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Job posting Data
  Product/API/Migrations/20190507183926_Add JobPosting Reference Data.Designer.cs
  Product/API/Migrations/20190507183926_Add JobPosting Reference Data.cs
Due: azure-pipelines-api.yml

610 Complete
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterFactory.cs
  Product/API/Controllers/JobController.cs
Due: azure-pipelines-api.yml

added tracking pixel to recruiter emails
  Product/API/ApplicationCore/Interfaces/Repository/IRecruiterActionRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/RecruiterActionRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/TrackingController.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/Constants.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

wrapping up changes to job page discovery and error handling
  Product/API/ApplicationCore/Factory/JobDataMiningFactory.cs
  Product/API/ApplicationCore/Interfaces/IJobDataMining.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPageRepository.cs
  Product/API/ApplicationCore/Repository/JobPageRepository.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/BaseProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190506172825_job data mining.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

merged Task595, corrected typo in migration
  Product/API/Migrations/20190507183926_Add JobPosting Reference Data.cs
Due: azure-pipelines-api.yml

slight comment change
  Product/API/Controllers/TrackingController.cs
Due: azure-pipelines-api.yml

integrating job posting crud operations
  Product/API/ApplicationCore/Factory/RecruiterFactory.cs
  Product/API/ApplicationCore/Interfaces/IJobDataMining.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPageRepository.cs
  Product/API/ApplicationCore/Repository/JobPageRepository.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190506172825_job data mining.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

05/09/2018
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobSiteScrapeStatisticRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/JobSiteScrapeStatisticRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190508211514_Added JobSiteScrapeStatistic.Designer.cs
  Product/API/Migrations/20190508211514_Added JobSiteScrapeStatistic.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/JobSiteScrapeStatistic.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/JobSiteDto.cs
  Product/UpDiddyLib/Dto/JobSiteScrapeStatisticDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/JobScrapeStats.cshtml
  Product/WebApp/Views/Shared/Admin/_AdminNavigation.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

task560: Get an expired job for context to search comparables.
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/Controllers/JobController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed out sendgrid details - initial commit
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/SendGridInterface.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/MarketingController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Startup.cs
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed lead appsetting
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

slight refactor
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Startup.cs
  Product/API/Workflow/BraintreePaymentFlow.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

fix to butter cms service on webapp side
  Product/WebApp/Services/ButterCMS/ButterCMSService.cs
Due: azure-pipelines.yml

able to load tek jobs
  Product/API/ApplicationCore/Factory/JobDataMiningFactory.cs
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterCompanyFactory.cs
  Product/API/ApplicationCore/Interfaces/Repository/IJobPageRepository.cs
  Product/API/ApplicationCore/Repository/JobPageRepository.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/BaseProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190506172825_job data mining.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

webapp updates
  Product/API/appsettings.json
  Product/UpDiddyLib/Helpers/SysEmail.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

added needed values to appsettings.example
  Product/WebApp/appsettings.example.json
Due: azure-pipelines.yml

removed commented out code
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

added line to delete all jobPosting entries
  Product/API/Migrations/20190506125526_decouple Recruiter from Subscriber.cs
Due: azure-pipelines-api.yml

clearing out RecruiterCompany table
  Product/API/Migrations/20190506125526_decouple Recruiter from Subscriber.cs
Due: azure-pipelines-api.yml

task560: Job view changes to display comparables
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
