Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines-taccwebapp.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService

Added Paging to Job Admin List
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200113205302_Adding System_Get_JobCrudBySubscriber sproc.Designer.cs
  Product/API/Migrations/20200113205302_Adding System_Get_JobCrudBySubscriber sproc.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/JobCrudDto.cs
  Product/UpDiddyLib/Domain/Models/JobCrudListDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Updated _Layout.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Updated _LayoutWithAlert.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Updated _SimpleLayout.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Job SKill Admin - Update
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/V2/JobsController.cs
Due: azure-pipelines-api.yml

checking in changes to course get by topic sproc and endpoint
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Migrations/20200114180056_Courses_By_Topic.Designer.cs
  Product/API/Migrations/20200114180056_Courses_By_Topic.cs
Due: azure-pipelines-api.yml

forgot to add file
  Product/API/ApplicationCore/Services/TalentService.cs
Due: azure-pipelines-api.yml

work in progress for supporting totalRecords on all list endpoints
  Product/API/ApplicationCore/Interfaces/Business/ICompanyService.cs
  Product/API/ApplicationCore/Interfaces/Business/ICompensationTypeService.cs
  Product/API/ApplicationCore/Interfaces/Business/ICountryService.cs
  Product/API/ApplicationCore/Interfaces/Business/ICourseFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/Business/ICourseLevelService.cs
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITopicService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberNotificationRepository.cs
  Product/API/ApplicationCore/Services/CompanyService.cs
  Product/API/ApplicationCore/Services/CompensationTypeService.cs
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/ApplicationCore/Services/CourseFavoriteService.cs
  Product/API/ApplicationCore/Services/CourseLevelService.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/ApplicationCore/Services/SubscriberNotificationService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TopicService.cs
  Product/API/Controllers/V1/NotificationsController.cs
  Product/API/Controllers/V2/CompaniesController.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/CourseLevelController.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200114185012_adding total records to list output.Designer.cs
  Product/API/Migrations/20200114185012_adding total records to list output.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Domain/Models/CompensationTypeDto.cs
  Product/UpDiddyLib/Domain/Models/CountryDetailDto.cs
  Product/UpDiddyLib/Domain/Models/CourseDetailDto.cs
  Product/UpDiddyLib/Domain/Models/CourseFavoriteDto.cs
  Product/UpDiddyLib/Domain/Models/CourseLevelDto.cs
  Product/UpDiddyLib/Domain/Models/TopicDto.cs
  Product/UpDiddyLib/Dto/CompanyDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

increase max avatar file size allowed
  Product/API/appsettings.json
Due: azure-pipelines-api.yml

more list endpoints updated to contain pagination information
  Product/API/ApplicationCore/Interfaces/Business/IEducationLevelService.cs
  Product/API/ApplicationCore/Interfaces/Business/IEducationalDegreeTypeService.cs
  Product/API/ApplicationCore/Interfaces/Business/IEmploymentTypeService.cs
  Product/API/ApplicationCore/Interfaces/Business/IExperienceLevelService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/EducationLevelService.cs
  Product/API/ApplicationCore/Services/EducationalDegreeTypeService.cs
  Product/API/ApplicationCore/Services/EmploymentTypeService.cs
  Product/API/ApplicationCore/Services/ExperienceLevelService.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/EASiProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/ICIMS/AllegisGroupProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Controllers/V2/CompaniesController.cs
  Product/API/Controllers/V2/CompensationTypesController.cs
  Product/API/Controllers/V2/CourseLevelController.cs
  Product/API/Controllers/V2/EducationLevelsController.cs
  Product/API/Controllers/V2/EducationalDegreeTypesController.cs
  Product/API/Controllers/V2/EmploymentTypesController.cs
  Product/API/Controllers/V2/ExperienceLevelsController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/OffersController.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Controllers/V2/SecurityClearanceController.cs
  Product/API/Controllers/V2/TalentController.cs
  Product/API/Controllers/V2/TraitifyController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200114185012_adding total records to list output.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/EducationLevelDto.cs
  Product/UpDiddyLib/Domain/Models/EducationalDegreeTypeDto.cs
  Product/UpDiddyLib/Domain/Models/EmploymentTypeDto.cs
  Product/UpDiddyLib/Domain/Models/ExperienceLevelDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

checking in fix for course topic view
  Product/API/Migrations/20200116183210_v_CourseTopicView.Designer.cs
  Product/API/Migrations/20200116183210_v_CourseTopicView.cs
Due: azure-pipelines-api.yml

all endpoints updated for pagination
  Product/API/ApplicationCore/Interfaces/Business/IIndustryService.cs
  Product/API/ApplicationCore/Interfaces/Business/IOfferService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISecurityClearanceService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Business/IStateService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITalentFavoriteService.cs
  Product/API/ApplicationCore/Interfaces/Business/ITalentNoteService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/IndustryService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/OfferService.cs
  Product/API/ApplicationCore/Services/SecurityClearanceService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/ApplicationCore/Services/StateService.cs
  Product/API/ApplicationCore/Services/TalentFavoriteService.cs
  Product/API/ApplicationCore/Services/TalentNoteService.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/EducationLevelsController.cs
  Product/API/Controllers/V2/EducationalDegreeTypesController.cs
  Product/API/Controllers/V2/IndustriesController.cs
  Product/API/Controllers/V2/OffersController.cs
  Product/API/Controllers/V2/SecurityClearanceController.cs
  Product/API/Controllers/V2/SkillsController.cs
  Product/API/Controllers/V2/TalentController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200114185012_adding total records to list output.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/IndustryDto.cs
  Product/UpDiddyLib/Domain/Models/OfferDto.cs
  Product/UpDiddyLib/Domain/Models/SecurityClearanceDto.cs
  Product/UpDiddyLib/Domain/Models/StateDetailDto.cs
  Product/UpDiddyLib/Domain/Models/TalentFavoriteDto.cs
  Product/UpDiddyLib/Domain/Models/TopicDto.cs
  Product/UpDiddyLib/Dto/SubscriberNotesDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Merged PR 688: checking in fix for course topic view
  Product/API/Migrations/20200116183210_v_CourseTopicView.Designer.cs
  Product/API/Migrations/20200116183210_v_CourseTopicView.cs
Due: azure-pipelines-api.yml

011720
  Product/API/ApplicationCore/Interfaces/Business/ISendGridEventService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISendGridEventRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SendGridEventRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/SendgridEventService.cs
  Product/API/Controllers/V2/SendGridController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200115140740_adding sendgrid event.Designer.cs
  Product/API/Migrations/20200115140740_adding sendgrid event.cs
  Product/API/Migrations/20200116132400_adding additional sendgrid event columns.Designer.cs
  Product/API/Migrations/20200116132400_adding additional sendgrid event columns.cs
  Product/API/Migrations/20200116134608_adding additional sendgrid event columns for real this time ;).Designer.cs
  Product/API/Migrations/20200116134608_adding additional sendgrid event columns for real this time ;).cs
  Product/API/Migrations/20200117115028_adding SubscriberSendGridEvent.Designer.cs
  Product/API/Migrations/20200117115028_adding SubscriberSendGridEvent.cs
  Product/API/Migrations/20200117133636_made subscriber optional in subscribersendgridevent.Designer.cs
  Product/API/Migrations/20200117133636_made subscriber optional in subscribersendgridevent.cs
  Product/API/Migrations/20200117134238_making subscriberid nullable.Designer.cs
  Product/API/Migrations/20200117134238_making subscriberid nullable.cs
  Product/API/Models/SendGridEvent.cs
  Product/API/Models/SubscriberSendGridEvent.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/UpDiddyLib/Domain/Models/SendGridEventDto.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

minor fixes for employment service and course sproc
  Product/API/ApplicationCore/Services/EmploymentTypeService.cs
  Product/API/Migrations/20200117143556_updated to courses by topic.Designer.cs
  Product/API/Migrations/20200117143556_updated to courses by topic.cs
Due: azure-pipelines-api.yml

adding stored proc
  Product/API/Migrations/20200117152220_adding [System_Insert_SendGridEvents] sproc.Designer.cs
  Product/API/Migrations/20200117152220_adding [System_Insert_SendGridEvents] sproc.cs
Due: azure-pipelines-api.yml

1-17-20
  Product/API/ApplicationCore/Interfaces/Business/INotificationService.cs
  Product/API/ApplicationCore/Interfaces/Repository/INotificationGroupRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/NotificationGroupRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/API/Migrations/20200117201204_Adding NotificationGroups.Designer.cs
  Product/API/Migrations/20200117201204_Adding NotificationGroups.cs
  Product/API/Migrations/20200117211735_Fixing NotificationGroup Guid Step 1.Designer.cs
  Product/API/Migrations/20200117211735_Fixing NotificationGroup Guid Step 1.cs
  Product/API/Migrations/20200117211855_Fixing NotificationGroup Guid Step 2.Designer.cs
  Product/API/Migrations/20200117211855_Fixing NotificationGroup Guid Step 2.cs
  Product/API/Models/NotificationGroup.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Domain/Models/NotificationCreateDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Simplified notification creation
  Product/API/ApplicationCore/Services/NotificationService.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/API/Migrations/20200120121101_Adding Sent Date to notification.Designer.cs
  Product/API/Migrations/20200120121101_Adding Sent Date to notification.cs
  Product/API/Models/Notification.cs
Due: azure-pipelines-api.yml

fixed course detail stored procedure
  Product/API/Migrations/20200121135057_course detail stored procedure fix.Designer.cs
  Product/API/Migrations/20200121135057_course detail stored procedure fix.cs
Due: azure-pipelines-api.yml

Job Total Count Fix
  Product/API/Migrations/20200121143015_Fix for System_Get_JobCrudBySubscriber.Designer.cs
  Product/API/Migrations/20200121143015_Fix for System_Get_JobCrudBySubscriber.cs
Due: azure-pipelines-api.yml

Merged PR 698: fix random courses stored procedure
  Product/API/Migrations/20200121182715_random courses stored procedure fix.Designer.cs
  Product/API/Migrations/20200121182715_random courses stored procedure fix.cs
Due: azure-pipelines-api.yml

Merged PR 695: countries/states endpoint returns empty array rather than 404 when country
  Product/API/ApplicationCore/Services/StateService.cs
Due: azure-pipelines-api.yml

checking in endpoint for Partners and fix for course search
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Business/IPartnerService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/PartnerService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/PartnersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200121204725_Partners.Designer.cs
  Product/API/Migrations/20200121204725_Partners.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/PartnerDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Group List Endpoint
  Product/API/ApplicationCore/Interfaces/Business/IGroupService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/GroupService.cs
  Product/API/Controllers/V2/GroupsController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20200122131703_Adding System_Get_Groups Sproc.Designer.cs
  Product/API/Migrations/20200122131703_Adding System_Get_Groups Sproc.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Domain/Models/GroupInfoDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

Removing modifyDate in UpDiddyRepsitoryBase
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
Due: azure-pipelines-api.yml

Fix for automapper issue related to partners
  Product/API/Controllers/V2/PartnersController.cs
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

Fix for course purchase email link
  Product/API/Workflow/BraintreePaymentFlow.cs
Due: azure-pipelines-api.yml

switching tasks
  Product/API/Controllers/V2/RecruitersController.cs
  Product/UpDiddyLib/Domain/Models/RecruiterInfoDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

fixed subscriber notes sproc
  Product/API/Migrations/20200122153829_fixing bug in [System_Get_SubscriberNotes] for note dates.Designer.cs
  Product/API/Migrations/20200122153829_fixing bug in [System_Get_SubscriberNotes] for note dates.cs
Due: azure-pipelines-api.yml

Change to status code for PUT requests and refactor of GET request
  Product/API/ApplicationCore/Services/CompensationTypeService.cs
  Product/API/ApplicationCore/Services/CountryService.cs
  Product/API/ApplicationCore/Services/CourseLevelService.cs
  Product/API/ApplicationCore/Services/EducationalDegreeTypeService.cs
  Product/API/ApplicationCore/Services/EmploymentTypeService.cs
  Product/API/ApplicationCore/Services/SecurityClearanceService.cs
  Product/API/ApplicationCore/Services/StateService.cs
  Product/API/Controllers/V2/ButterController.cs
  Product/API/Controllers/V2/CompaniesController.cs
  Product/API/Controllers/V2/CompensationTypesController.cs
  Product/API/Controllers/V2/CountriesController.cs
  Product/API/Controllers/V2/CourseLevelController.cs
  Product/API/Controllers/V2/EducationLevelsController.cs
  Product/API/Controllers/V2/EducationalDegreeTypesController.cs
  Product/API/Controllers/V2/EmploymentTypesController.cs
  Product/API/Controllers/V2/ExperienceLevelsController.cs
  Product/API/Controllers/V2/IndustriesController.cs
  Product/API/Controllers/V2/JobsController.cs
  Product/API/Controllers/V2/NotificationsController.cs
  Product/API/Controllers/V2/OffersController.cs
  Product/API/Controllers/V2/PartnersController.cs
  Product/API/Controllers/V2/ProfilesController.cs
  Product/API/Controllers/V2/SecurityClearanceController.cs
  Product/API/Controllers/V2/SkillsController.cs
  Product/API/Controllers/V2/TraitifyController.cs
Due: azure-pipelines-api.yml

Fix for automapper issue
  Product/API/Helpers/AutoMapperConfig.cs
Due: azure-pipelines-api.yml

implemented course skill endpoint, updated implementation of profile skill to match pattern used everywhere else
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/CoursesController.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

sync Auth0UserId and LastSignIn with CareerCircle db
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/UpDiddyLib/Domain/Models/SubscriberDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

checking in migration for course random sproc
  Product/API/Migrations/20200122221424_Course_Random_IsDeleted.Designer.cs
  Product/API/Migrations/20200122221424_Course_Random_IsDeleted.cs
Due: azure-pipelines-api.yml

checking in fix for subscriber skills - update
  Product/API/ApplicationCore/Interfaces/Business/ISkillService.cs
  Product/API/ApplicationCore/Services/SkillService.cs
  Product/API/Controllers/V2/ProfilesController.cs
Due: azure-pipelines-api.yml

added separate endpoint to capture auth0 user id AFTER user registration has occurred
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/V2/SubscribersController.cs
  Product/UpDiddyLib/Domain/Models/SubscriberDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml

included SentDate in stored procedures
  Product/API/Migrations/20200123151424_add SentDate to notification stored procedures.Designer.cs
  Product/API/Migrations/20200123151424_add SentDate to notification stored procedures.cs
  Product/UpDiddyLib/Domain/Models/NotificationDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines-taccwebapp.yml, azure-pipelines.yml
