Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  name: rc.webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'npm install
  
      '
    displayName: Install Node Package Dependencies
    workingDirectory: Product/WebApp
  ...

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

commit
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUpExistingUser.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

modified subscriber source indexing
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/JobController.cs
  Product/API/Controllers/ProfileController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Migrations/20190827100801_Adding v_SubscriberSourceDetails.Designer.cs
  Product/API/Migrations/20190827100801_Adding v_SubscriberSourceDetails.cs
  Product/API/Migrations/20190827101856_Adding System_Get_SubscriberSources.Designer.cs
  Product/API/Migrations/20190827101856_Adding System_Get_SubscriberSources.cs
  Product/API/Migrations/20190827120424_modified rownum to be int.Designer.cs
  Product/API/Migrations/20190827120424_modified rownum to be int.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

fixed migration mistake
  Product/API/Migrations/20190827100801_Adding v_SubscriberSourceDetails.cs
  Product/API/Migrations/20190827120424_modified rownum to be int.cs
Due: azure-pipelines-api.yml

backed out orderby
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

commit
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/WebApp/Views/Campaign/CampaignLandingPage.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

fixed div issue
  Product/WebApp/Views/User/MyJobsAsync.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

course site sync functional; needs testing
  Product/API/ApplicationCore/Interfaces/Business/ICourseService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ICoursePageRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IStoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/CoursePageRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/StoredProcedureRepository.cs
  Product/API/ApplicationCore/Repository/UpDiddyRepositoryBase.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVProcess.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Migrations/20190827203608_System_Update_Course.Designer.cs
  Product/API/Migrations/20190827203608_System_Update_Course.cs
  Product/API/Models/Course.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/CourseDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/ViewModels/TraitifyResultViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/Controllers/TraitifyController.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/TraitifyAssesmentDto.cs
  Product/UpDiddyLib/Dto/TraitifySlideDto.cs
  Product/WebApp/Controllers/TraitifyController.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Fix to browse by locations, Nebraska state
  Product/API/ApplicationCore/Services/CloudTalent.cs
Due: azure-pipelines-api.yml

corrected ef tracking bug, mismatch on sproc params, removed sensitive data logging, additional testing
  Product/API/ApplicationCore/Repository/CoursePageRepository.cs
  Product/API/ApplicationCore/Services/CourseCrawling/ITProTV/ITProTVProcess.cs
  Product/API/ApplicationCore/Services/CourseService.cs
  Product/API/Migrations/20190827203608_System_Update_Course.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Added Html Decoding
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/WebApp/Views/User/MyJobsAsync.cshtml
  Product/WebApp/client/scss/_job-favorites.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/Controllers/SubscriberController.cs
  Product/UpDiddyLib/Dto/Marketing/SignUpDto.cs
  Product/WebApp/Controllers/CampaignController.cs
  Product/WebApp/ViewModels/ButterCMS/CampaignLandingPageViewModel.cs
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

082819
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/CCProfileService/.env
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/TalentSubscriberViewModel.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

Ready for review
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

updated html view to match job posting view page and remove html raw and decoding
  Product/WebApp/Views/Jobs/Partials/_JobApplication.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

commit
  Product/API/Controllers/TraitifyController.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/Views/Traitify/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ITraitifyRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/TraitifyRepository.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Traitify.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/TraitifyAssesmentDto.cs
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/WebApp/mono_crash.mem.62814.1.blob
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/Controllers/TraitifyController.cs
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/TraitifyAssessmentViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/API/Migrations/20190829182348_Traitify.Designer.cs
  Product/API/Migrations/20190829182348_Traitify.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/ViewModels/TraitifyAssessmentViewModel.cs
  Product/WebApp/ViewModels/TraitifyResultViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/scss/_topics.scss
  Product/WebApp/client/scss/_traitify.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

initial work on career services
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/ViewModels/ButterCMS/ServicesPageViewModel.cs
  Product/WebApp/Views/Services/Index.cshtml
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_services.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

before dev pull
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/Helpers/GoogleProfile/ProfileMappingHelper.cs
  Product/API/Migrations/20190901104532_updating subscriber source views based on bill's sql.Designer.cs
  Product/API/Migrations/20190901104532_updating subscriber source views based on bill's sql.cs
  Product/UpDiddyLib/Dto/SubscriberSourceDto.cs
  Product/WebApp/Views/Talent/Subscribers.cshtml
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

saving to cloue
  Product/API/ApplicationCore/Interfaces/Repository/IServiceOfferingItemRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IServiceOfferingOrderRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IServiceOfferingPromoCodeRedemptionRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IServiceOfferingRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingItemRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingOrderRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingPromoCodeRedemptionRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingRepository.cs
  Product/API/Models/ServiceOffering.cs
  Product/API/Models/ServiceOfferingItem.cs
  Product/API/Models/ServiceOfferingOrder.cs
  Product/API/Models/ServiceOfferingPromoCodeRedemption.cs
  Product/API/Models/UpDiddyDbContext.cs
Due: azure-pipelines-api.yml

initial model complete
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingOrderRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingPromoCodeRedemptionRepository.cs
  Product/API/Controllers/ServiceOfferingController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190902145421_Adding ServiceOffering and ServiceOfferingItem.Designer.cs
  Product/API/Migrations/20190902145421_Adding ServiceOffering and ServiceOfferingItem.cs
  Product/API/Migrations/20190902150110_Adding ServiceOfferingOrder.Designer.cs
  Product/API/Migrations/20190902150110_Adding ServiceOfferingOrder.cs
  Product/API/Migrations/20190902150319_Adding ServiceOfferingPromoCodeRedemption.Designer.cs
  Product/API/Migrations/20190902150319_Adding ServiceOfferingPromoCodeRedemption.cs
  Product/API/Models/ServiceOffering.cs
  Product/API/Models/ServiceOfferingOrder.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/RedemptionStatusDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingItemDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingOrderDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingPromoCodeRedemptionDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

updated cron for CacheKeywordLocationSearchIntelligenceInfo to fix api crashing in prod on startup
  Product/API/Startup.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

09032019
  Product/API/ApplicationCore/Interfaces/Business/IServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Interfaces/Business/IServiceOfferingService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IPromoCodeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IServiceOfferingPromoCodeRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IServiceOfferingRepository.cs
  Product/API/ApplicationCore/Repository/PromoCodeRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingOrderRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingPromoCodeRedemptionRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingPromoCodeRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingRepository.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingService.cs
  Product/API/Controllers/ServiceOfferingOrderController.cs
  Product/API/Migrations/20190903110953_adding sortOrder to service offering and service offering items.Designer.cs
  Product/API/Migrations/20190903110953_adding sortOrder to service offering and service offering items.cs
  Product/API/Migrations/20190903123548_Added promo code to serviceoffering order.Designer.cs
  Product/API/Migrations/20190903123548_Added promo code to serviceoffering order.cs
  Product/API/Migrations/20190903154109_adding service offering promo code.Designer.cs
  Product/API/Migrations/20190903154109_adding service offering promo code.cs
  Product/API/Models/ServiceOffering.cs
  Product/API/Models/ServiceOfferingItem.cs
  Product/API/Models/ServiceOfferingOrder.cs
  Product/API/Models/ServiceOfferingPromoCode.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/ServiceOfferingDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingItemDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingOrderDto.cs
  Product/UpDiddyLib/Dto/ServiceOfferingPromoCodeDto.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ITraitifyService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/API/Helpers/SendGridHelper.cs
  Product/API/appsettings.json
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/ButterCMS/TraitifyLandingPageViewModel.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Assessment.cshtml
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/scss/_traitify.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

Updated 20190901104532_updating subscriber source views based on bill's sql.cs
  Product/API/Migrations/20190901104532_updating subscriber source views based on bill's sql.cs
Due: azure-pipelines-api.yml

checking in progress
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/ApplicationCore/Services/TraitifyService.cs
  Product/API/Controllers/TraitifyController.cs
  Product/API/Migrations/20190904020333_Traitify.Designer.cs
  Product/API/Migrations/20190904020333_Traitify.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Traitify.cs
  Product/UpDiddyLib/Dto/TraitifyDto.cs
  Product/WebApp/Controllers/TraitifyController.cs
  Product/WebApp/ViewModels/TraitifyViewModel.cs
  Product/WebApp/Views/Traitify/Index.cshtml
  Product/WebApp/Views/Traitify/Partials/_SignUpForm.cshtml
  Product/WebApp/client/scss/_traitify.scss
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

saving for now
  Product/API/ApplicationCore/Interfaces/Business/IPromoCodeService.cs
  Product/API/ApplicationCore/Interfaces/Business/IServiceOfferingOrderService.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/PromoCodeRepository.cs
  Product/API/ApplicationCore/Repository/ServiceOfferingRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/PromoCodeService.cs
  Product/API/ApplicationCore/Services/ServiceOfferingOrderService.cs
  Product/API/Controllers/ServiceOfferingOrderController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/ServiceOfferingTransactionDto.cs
  Product/UpDiddyLib/Helpers/Utils.cs
Due: azure-pipelines-1.yml, azure-pipelines-api.yml, azure-pipelines.yml

temp
  Product/API/Migrations/20190904150051_v_subscribersourceDetails update to bill sql.Designer.cs
  Product/API/Migrations/20190904150051_v_subscribersourceDetails update to bill sql.cs
Due: azure-pipelines-api.yml

tested locally
  Product/API/Migrations/20190904160410_bill views hotfixes.Designer.cs
  Product/API/Migrations/20190904160410_bill views hotfixes.cs
  Product/API/UpDiddyApi.csproj
Due: azure-pipelines-api.yml

commit for ethan
  Product/API/ApplicationCore/Interfaces/IBraintreeService.cs
  Product/API/ApplicationCore/Services/BraintreeService.cs
Due: azure-pipelines-api.yml

more work
  Product/WebApp/Controllers/ServicesController.cs
  Product/WebApp/ViewModels/ButterCMS/PackageServiceViewModel.cs
  Product/WebApp/ViewModels/ButterCMS/ServicesPageViewModel.cs
  Product/WebApp/ViewModels/PackageConfirmationViewModel.cs
  Product/WebApp/ViewModels/ServiceCheckoutViewModel.cs
  Product/WebApp/Views/Services/Checkout.cshtml
  Product/WebApp/Views/Services/Confirmation.cshtml
  Product/WebApp/Views/Services/Details.cshtml
  Product/WebApp/Views/Services/Index.cshtml
  Product/WebApp/client/js/core/package-checkout.js
  Product/WebApp/client/scss/_common.scss
  Product/WebApp/client/scss/_services-checkout.scss
  Product/WebApp/client/scss/_services.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated Dashboard.cshtml -remove "3 week review"
  Product/WebApp/Views/Admin/Dashboard.cshtml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API, Product/CCProfileService
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
