Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-3.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '10.0'
        displayName: Install Node.js
      - script: 'cd Product/CCProfileService
  
  ...

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

removing azure-pipelines-3.yml from git as it's replaced byazure-pipelines-ccprofileservice.yml
  azure-pipelines-3.yml
Due: none

integrating additional pr changes
  Product/API/ApplicationCore/Interfaces/Repository/IContactRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ContactRepository.cs
  Product/API/ApplicationCore/Repository/PartnerContactRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

removed dbcontext from repository
  Product/API/ApplicationCore/Repository/PartnerContactRepository.cs
Due: azure-pipelines-api.yml

commit
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
Due: azure-pipelines.yml

User Consent cookie changes story/939
  Product/WebApp/Startup.cs
  Product/WebApp/UpDiddy.csproj
  Product/WebApp/Views/Shared/_CookieConsentPartial.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/bundleconfig.json
  Product/WebApp/client/scss/_cookieConsentPolicy.scss
  Product/WebApp/client/scss/bundle.scss
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines.yml

added subscriber to auto generated group
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/SubscriberController.cs
Due: azure-pipelines-api.yml

commit
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/client/scss/components/bands/_cc-content-band.scss
Due: azure-pipelines.yml

Centered job details error page story/914
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines.yml

updated env file for prod
  Product/CCProfileService/.env
Due: azure-pipelines-3.yml

bs change
  Product/WebApp/package-lock.json
Due: azure-pipelines.yml

added await to subscriberGroup method
  Product/API/ApplicationCore/Services/TaggingService.cs
Due: azure-pipelines-api.yml

additional logging
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/GoogleProfile/GoogleProfileService.cs
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed appsettings issues
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
Due: azure-pipelines-api.yml

Google Tag Manager changes story/937
  .gitignore
  Product/CCProfileService/package-lock.json
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/Views/Shared/_SimpleLayout.cshtml
  Product/WebApp/appsettings.Production.json
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.example.json
  Product/WebApp/package-lock.json
Due: azure-pipelines-3.yml, azure-pipelines.yml

refactored tagging logic to replace PartnerReferrer table
  Product/API/ApplicationCore/Interfaces/Business/ITaggingService.cs
  Product/API/ApplicationCore/Repository/GroupRepository.cs
  Product/API/ApplicationCore/Services/TaggingService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190718144118_adding path to group table.Designer.cs
  Product/API/Migrations/20190718144118_adding path to group table.cs
  Product/API/Models/Group.cs
Due: azure-pipelines-api.yml

added nofollows
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/CCProfileService/package-lock.json
  Product/UpDiddyLib/Helpers/Enums.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/HomeViewModel.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/js/core/mapdata.js
  package-lock.json
Due: azure-pipelines-3.yml, azure-pipelines-api.yml, azure-pipelines.yml

data driven unsubscribe groups for transactional emails
  Product/API/ApplicationCore/Services/JobService.cs
  Product/API/Controllers/JobApplicationController.cs
  Product/API/Controllers/OffersController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190718184152_unsubscribe group for transactional email.Designer.cs
  Product/API/Migrations/20190718184152_unsubscribe group for transactional email.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/CampaignPartner.cs
  Product/API/Models/Views/v_ThrottledLeadEmailDelivery.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Helpers/ISysEmail.cs
  Product/UpDiddyLib/Helpers/SysEmail.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 371: Subscriber Notification Enhancements
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberNotificationService.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/INotificationRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberNotificationRepository.cs
  Product/API/ApplicationCore/Repository/NotificationRepository.cs
  Product/API/ApplicationCore/Repository/SubscriberNotificationRepository.cs
  Product/API/ApplicationCore/Services/SubscriberNotificationService.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/NotificationsController.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190710144228_subscriber notification emails.Designer.cs
  Product/API/Migrations/20190710144228_subscriber notification emails.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Subscriber.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/Models/Views/v_UnreadNotifications.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/API/appsettings.json
  Product/UpDiddyLib/Dto/SubscriberDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/DashboardController.cs
  Product/WebApp/ViewModels/DashboardViewModel.cs
  Product/WebApp/Views/Dashboard/Index.cshtml
  Product/WebApp/client/js/core/career-circle-webapp.js
  Product/WebApp/client/react/components/dashboard/dashboard-helpers.js
  Product/WebApp/client/react/components/dashboard/dashboard.js
  Product/WebApp/client/scss/_dashboard.scss
  Product/WebApp/package-lock.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/JobPostingCompanyCountDto copy.cs
  Product/UpDiddyLib/Dto/JobPostingCountDto.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/HomeViewModel.cs
  Product/WebApp/Views/Home/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

included logical delete in v_ThrottledLeadEmailDelivery view
  Product/API/Migrations/20190718184152_unsubscribe group for transactional email.cs
Due: azure-pipelines-api.yml

Updated Node packages
  Product/WebApp/package-lock.json
  Product/WebApp/package.json
Due: azure-pipelines.yml

commit
  Product/API/ApplicationCore/Interfaces/Business/IJobPostingService.cs
  Product/API/ApplicationCore/Services/JobApplicationService.cs
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/API/Controllers/JobController.cs
  Product/API/Startup.cs
  Product/UpDiddyLib/Dto/JobPostingCountDto.cs
  Product/UpDiddyLib/Helpers/Enums.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/ViewModels/HomeViewModel.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/js/core/mapdata.js
  Product/WebApp/client/js/modules/googlemaps.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

format
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/js/modules/googlemaps.js
Due: azure-pipelines.yml

commit
  Product/WebApp/package-lock.json
Due: azure-pipelines.yml

making variables more readable and added exception handling to the home controller index method
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/WebApp/Controllers/HomeController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

fixed lousiana coordinates
  Product/WebApp/client/js/core/mapdata.js
Due: azure-pipelines.yml

hotfix changes
  Product/WebApp/ViewModels/Components/Authentication/SignUpViewModel.cs
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/Views/Home/Index_retired.cshtml
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_home_retired.scss
Due: azure-pipelines.yml

css changes
  Product/WebApp/client/scss/_home.scss
Due: azure-pipelines.yml

Spelling correction
  Product/WebApp/Views/Home/Index.cshtml
Due: azure-pipelines.yml

navigation fix
  Product/WebApp/Views/Talent/Subscribers.cshtml
  Product/WebApp/client/scss/_admin.scss
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_talent.scss
Due: azure-pipelines.yml

Merged PR 381: Added report for notifications, filterable by date
  Product/API/ApplicationCore/Interfaces/Business/IReportingService.cs
  Product/API/ApplicationCore/Services/ReportingService.cs
  Product/API/Controllers/ReportController.cs
  Product/UpDiddyLib/Dto/Reporting/NotificationCountsReportDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/AdminController.cs
  Product/WebApp/Views/Admin/Dashboard.cshtml
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/expose-components.js
  Product/WebApp/client/react/components/reports/NotificationCountsTable.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/UpDiddyLib/Dto/JobPostingCompanyCountDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/client/js/modules/googlemaps.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

changed appsettings
  Product/WebApp/appsettings.Staging.json
Due: azure-pipelines.yml

Moved navigation to _navigation.scss
  Product/WebApp/client/scss/_home.scss
  Product/WebApp/client/scss/_navigation.scss
Due: azure-pipelines.yml

made application setting changes to support new applications in b2c tenant
  Product/WebApp/Startup.cs
  Product/WebApp/appsettings.Staging.json
  Product/WebApp/appsettings.json
Due: azure-pipelines.yml

commit
  Product/API/ApplicationCore/Services/JobPostingService.cs
  Product/WebApp/client/js/core/mapdata.js
  Product/WebApp/client/js/modules/googlemaps.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

commit
  Product/WebApp/Views/Home/Index.cshtml
  Product/WebApp/client/js/modules/mapdata.js
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-3.yml: any of: Product/CCProfileService, but not: Product/API, Product/UpDiddyLib, Product/WebApp
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
