Repository fasteddys/internal-battery: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines.yml

azure-pipelines-api.yml:
  name: api.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/API
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/API --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

azure-pipelines.yml:
  name: webapp.$(date:yyyyMMdd)$(rev:.r)
  pool:
    vmImage: ubuntu-16.04
  steps:
  - script: 'dotnet restore Product/WebApp
  
      '
    displayName: Restore NuGet Packages
  - script: 'dotnet build Product/WebApp --configuration $(buildConfiguration)
  
      '
    displayName: Compile
  ...

Added avatar to talent profile page
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/SubscriberViewModel.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
Due: azure-pipelines.yml

Some facet fixes
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobResultsPartial.cshtml
Due: azure-pipelines.yml

undo fix
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines.yml

fixed undo on empty query parameters
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines.yml

hotfix: job favorites now redirect to the page you were on
  Product/WebApp/Controllers/SessionController.cs
  Product/WebApp/client/js/core/career-circle-api.js
Due: azure-pipelines.yml

hotfix: styling fix profile page
  Product/WebApp/client/scss/_job-details.scss
Due: azure-pipelines.yml

Sorted the facets based on count
  Product/API/Helpers/Job/JobMappingHelper.cs
Due: azure-pipelines-api.yml

Fixed Min Date on LinkedIn Sync
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
Due: azure-pipelines.yml

added h1s to results pages
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/BrowseByType.cshtml
Due: azure-pipelines.yml

hotfix: remove target=blank for My Job section
  Product/WebApp/Views/User/MyJobsAsync.cshtml
Due: azure-pipelines.yml

another fix
  Product/WebApp/Views/Shared/Components/LinkedInSync/Synced.cshtml
Due: azure-pipelines.yml

hotfix: adjustment to linq query
  Product/API/ApplicationCore/Services/SubscriberService.cs
Due: azure-pipelines-api.yml

hotfix: wording/typo fix for no job applications and favorites screen
  Product/WebApp/Views/User/MyJobsAsync.cshtml
Due: azure-pipelines.yml

fixed issue with regex checking correct cities, and removed ',state' on city listing view
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

Ready for review
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Jobs/Partials/_JobPosting.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 285: Job Data Mining fixes and enhancements
  Product/API/ApplicationCore/Services/CloudTalent.cs
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Startup.cs
  Product/API/Workflow/ScheduledJobs.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

initial work on similar jobs ui
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Jobs/Partials/_SimilarJobs.cshtml
  Product/WebApp/client/scss/_job-details.scss
  Product/WebApp/client/scss/_similar-jobs.scss
  Product/WebApp/client/scss/bundle.scss
Due: azure-pipelines.yml

bug fix for deleted job pages being treated as active job pages
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

fix job pages that are still associated with deleted job postings, prevent this from occurring in the future
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Migrations/20190602154828_fix orphan active job postings.Designer.cs
  Product/API/Migrations/20190602154828_fix orphan active job postings.cs
Due: azure-pipelines-api.yml

prevent the JobPostingId from being saved back to the JobPage
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

Finished
  Product/API/ApplicationCore/Factory/JobPostingFactory.cs
  Product/API/ApplicationCore/Factory/RecruiterCompanyFactory.cs
  Product/API/Controllers/JobController.cs
  Product/API/Migrations/20190603134805_Removed is staff.Designer.cs
  Product/API/Migrations/20190603134805_Removed is staff.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/RecruiterCompany.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/Views/Jobs/JobDetails.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

story-757: signup modal and onboarding custom redirect added
  Product/API/Controllers/SubscriberController.cs
  Product/API/Migrations/20190603074410_partner_webredirects_added.Designer.cs
  Product/API/Migrations/20190603074410_partner_webredirects_added.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Partner.cs
  Product/API/Models/PartnerWebRedirect.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/UpDiddyLib/Dto/RedirectDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/HomeController.cs
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/js/core/components/authentication/_signup.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

logging, retries, and redirect for MSAL errors
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Authentication/LoadSubscriber.cs
Due: azure-pipelines.yml

hotfix: add authorize to user controller
  Product/WebApp/Controllers/UserController.cs
Due: azure-pipelines.yml

wip for global active job count
  Product/API/Controllers/JobController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

intermediate
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ResumeParseRepository.cs
  Product/API/Controllers/ResumeController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190603204025_ResumeParse model.Designer.cs
  Product/API/Migrations/20190603204025_ResumeParse model.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/ResumeParse.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/ResumeParseDto.cs
  Product/WebApp/client/js/core/career-circle-api.js
  Product/WebApp/client/react/components/ResumeUpload.js
Due: azure-pipelines-api.yml, azure-pipelines.yml

06/03/2019
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Workflow/ScheduledJobs.cs
Due: azure-pipelines-api.yml

hotfix: typo fix for meta html for job detail page
  Product/WebApp/Views/Jobs/JobDetails.cshtml
Due: azure-pipelines.yml

Switching to bug
  Product/API/ApplicationCore/Factory/SubscriberFactory.cs
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IResumeParseResultRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/ResumeParseRepository.cs
  Product/API/ApplicationCore/Repository/ResumeParseResultRespository.cs
  Product/API/ApplicationCore/Repository/SubscriberRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Migrations/20190604143653_ResumeParseResult model.Designer.cs
  Product/API/Migrations/20190604143653_ResumeParseResult model.cs
  Product/API/Migrations/20190604155040_Added prompt to resume result parse model.Designer.cs
  Product/API/Migrations/20190604155040_Added prompt to resume result parse model.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/ResumeParseResult.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/API/Workflow/ScheduledJobs.cs
  Product/UpDiddyLib/Dto/ResumeParseDto.cs
Due: azure-pipelines-api.yml, azure-pipelines.yml

Merged PR 292: Less aggressive deletion logic for job data mining process
  Product/API/ApplicationCore/Services/JobDataMining/AerotekProcess.cs
  Product/API/ApplicationCore/Services/JobDataMining/TEKsystemsProcess.cs
Due: azure-pipelines-api.yml

Merged PR 293: hotfix: fixing text color for sign up page modal
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
  Product/WebApp/client/scss/_common.scss
Due: azure-pipelines.yml

Merged PR 294: hotfix: remove button type for consistency of styling button link
  Product/WebApp/Views/Shared/Components/Authentication/_SignUp.cshtml
Due: azure-pipelines.yml

minor change
  Product/WebApp/Controllers/JobsController.cs
Due: azure-pipelines.yml

Add Notes task/796
  Product/API/ApplicationCore/Interfaces/Business/ISubscriberService.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRecruiterRepository.cs
  Product/API/ApplicationCore/Interfaces/Repository/IRepositoryWrapper.cs
  Product/API/ApplicationCore/Interfaces/Repository/ISubscriberNotesRepository.cs
  Product/API/ApplicationCore/Repository/RecruiterRepository.cs
  Product/API/ApplicationCore/Repository/RepositoryWrapper.cs
  Product/API/ApplicationCore/Repository/SubscriberNotesRepository.cs
  Product/API/ApplicationCore/Services/SubscriberService.cs
  Product/API/Controllers/SubscriberController.cs
  Product/API/Helpers/AutoMapperConfig.cs
  Product/API/Migrations/20190604164854_AddSubsriberNotesTableAndUpdateCompanyIdInRecruiterTable.Designer.cs
  Product/API/Migrations/20190604164854_AddSubsriberNotesTableAndUpdateCompanyIdInRecruiterTable.cs
  Product/API/Migrations/UpDiddyDbContextModelSnapshot.cs
  Product/API/Models/Recruiter.cs
  Product/API/Models/SubscriberNotes.cs
  Product/API/Models/UpDiddyDbContext.cs
  Product/API/UpDiddyApi.csproj
  Product/UpDiddyLib/Dto/SubscriberNotesDto.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/TalentController.cs
  Product/WebApp/ViewModels/SubscriberViewModel.cs
  Product/WebApp/Views/Talent/Subscriber.cshtml
  Product/WebApp/Views/Talent/_SubscriberNotes.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added job posting count from db to search results
  Product/API/ApplicationCore/Repository/JobPostingRepository.cs
  Product/API/Controllers/JobController.cs
  Product/WebApp/Api/ApiUpdiddy.cs
  Product/WebApp/Api/IApi.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/Views/Jobs/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

added similar jobs
  Product/API/Controllers/JobController.cs
  Product/API/Helpers/Job/JobQueryHelper.cs
  Product/UpDiddyLib/Dto/JobPostingDto.cs
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobDetailsViewModel.cs
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_SimilarJobs.cshtml
  Product/WebApp/client/scss/_similar-jobs.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

minor fixes
  Product/WebApp/Controllers/JobsController.cs
  Product/WebApp/ViewModels/JobSearchViewModel.cs
  Product/WebApp/Views/Jobs/Partials/_SimilarJobs.cshtml
  Product/WebApp/client/scss/_similar-jobs.scss
Due: azure-pipelines.yml

fixes for pr
  Product/API/Controllers/JobController.cs
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/WebApp/Views/Jobs/Partials/_SimilarJobs.cshtml
Due: azure-pipelines-api.yml, azure-pipelines.yml

appsettings updates and styles
  Product/API/appsettings.Production.json
  Product/API/appsettings.Staging.json
  Product/API/appsettings.example.json
  Product/API/appsettings.json
  Product/WebApp/client/scss/_similar-jobs.scss
Due: azure-pipelines-api.yml, azure-pipelines.yml

story-794: ViewComponent refactored to handle seo meta tags (butter), metatag-inclusion refactor
  Product/UpDiddyLib/Helpers/Constants.cs
  Product/WebApp/Helpers/ExtensionMethods.cs
  Product/WebApp/ViewComponents/MetaTagsViewComponent.cs
  Product/WebApp/ViewComponents/OpenGraphViewComponent.cs
  Product/WebApp/ViewModels/ButterCMS/ButterCMSBaseViewModel.cs
  Product/WebApp/Views/Jobs/JobDetails.cshtml
  Product/WebApp/Views/Shared/Components/MetaTags/Default.cshtml
  Product/WebApp/Views/Shared/Components/OpenGraph/Default.cshtml
  Product/WebApp/Views/Shared/_Layout.cshtml
  Product/WebApp/Views/Shared/_LayoutWithAlert.cshtml
  Product/WebApp/appsettings.json
Due: azure-pipelines-api.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-api.yml: any of: Product/UpDiddyLib, Product/API, but not: Product/WebApp
  azure-pipelines.yml: any of: Product/UpDiddyLib, Product/WebApp, but not: Product/API
